<div class="dashboard grey lighten-3" >
  <div class="row no-gutter">

    <div class="col-sm-12 col-md-12 col-lg-9" style="background:#F9F9F9;">

      <div class="p-20 clearfix">
      
        <h3 class="grey-text">
     
          <span class="hidden-xs">Performance summary and KPI's</span>
        </h3>
      </div>

      <div class="p-20 no-p-t">

   
        <div class="row gutter-14">
            <div class="col-md-4">

            <div class="panel panel-default left">
              <div class="panel-heading">

              

                <h2 class="panel-title grey-text">Term Server load</h2>
                <h1 class="m-t-10 m-b-5 f30" ng-bind="serverLoad">82%</h1>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="progress m-b-5">
                      <div class="progress-bar" style="width: {{serverLoad}}%;"></div>
                    </div>
                  </div>
                </div>
                <p class="small grey-text no-margin">4 of 8 cores used</p>
              </div>
              <div id="server-load-chart"></div>
            </div>

          </div>
   <div class="col-md-8">

            <div class="card">
              <div class="card-header">
                <div class="card-title">My last 5 new tickets</div>
                <div class="small grey-text">Overview of content edits</div>
              </div>

              <div class="table-responsive">
                <table class="table table-full table-full-small table-dashboard-widget-1">
                  <thead>
                  <tr>
                    <th>Project</th>
                    <th>Ticket Number</th>
                    <th>Description</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>A Project Name</td>
                    <td>WRP-123</td>
                    <td>qui ut animal noluisse erroribus.</td>
                  </tr>
                  <tr>
                    <td>A Project Name</td>
                    <td>WRP-124</td>
                    <td>Dicant vituperata consequuntur.</td>
                  </tr>
                  <tr>
                    <td>A Project Name</td>
                    <td>WRP-123</td>
                    <td>In nam sale gubergren.</td>
                  </tr>
                  <tr>
                    <td>A Project Name</td>
                    <td>WRP-123</td>
                    <td>vituperata consequuntur.</td>
                  </tr>
                  <tr>
                    <td>A Project Name</td>
                    <td>WRP-123</td>
                    <td>Per at postea mediocritatem</td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <div class="m-t-20">
                <c3chart bindto-id="chart-area-1" padding-bottom="-8px"  padding-left="-20px" padding-right="-20px">
                  <chart-column
                    column-id="Edits Published"
                    column-values="{{chartData4}}"
                    column-type="area"
                    />
                  <chart-axis-y show="false"  />
                  <chart-axis-x show="false"  />
                  <chart-legend show-legend="false"  />
                  <chart-size chart-height="100px"  />
                  <chart-tooltip show-tooltip="true"  />
                  <chart-colors color-pattern="#EC407A"/>
                </c3chart>
              </div>
            </div>

          </div>
 

          </div>

        <div class="grey-text small p-t-20" ng-cloak>IHTSTO Style Patterns - v{{APP.version}}</div>
      </div>
    </div>

    <div class="col-lg-3 col-md-12">


      <div class="p-h-40">

        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist" ng-init="actionTab=1">
            <li role="presentation" class="active"><a ng-click="actionTab=1" aria-controls="home" role="tab" data-toggle="tab"> Tickets</a></li>
            <li role="presentation" class=""><a ng-click="actionTab=2" aria-controls="home" role="tab" data-toggle="tab">Published</a></li>
            <li role="presentation"><a ng-click="actionTab=3" aria-controls="home" role="tab" data-toggle="tab">Pending</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content m-t-10">
            <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==1}">

              <ul class="timeline">
                <li>
                  <div class="timeline-badge">
                    <i class="icon-circle theme-border"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">A Concept Id</h4>
                    </div>
                    <div class="timeline-body">
                      <p>A Project Name</p>
                      <small class="text-muted"><i class="md md-timer"></i> 1 hour ago</small>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge">
                    <i class="icon-circle theme-secondary-border"></i>
                  </div>
               <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">A Concept Id</h4>
                    </div>
                    <div class="timeline-body">
                      <p>A Project Name</p>
                      <small class="text-muted"><i class="md md-timer"></i> 1 hour ago</small>
                    </div>
                  </div>
                </li>

                <li class="timeline-inverted">
                  <div class="timeline-badge">
                    <i class="icon-circle red-border accent-1"></i>
                  </div>
            <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">A Concept Id</h4>
                    </div>
                    <div class="timeline-body">
                      <p>A Project Name</p>
                      <small class="text-muted"><i class="md md-timer"></i> 1 hour ago</small>
                    </div>
                  </div>
                </li>
            
           
              </ul>

            </div>
            <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==2}">

             <ul class="timeline">
                <li>
                  <div class="timeline-badge">
                    <i class="icon-circle theme-border"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">A Concept Id</h4>
                    </div>
                    <div class="timeline-body">
                      <p>A Project Name</p>
                      <small class="text-muted"><i class="md md-timer"></i> 1 hour ago</small>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge">
                    <i class="icon-circle theme-secondary-border"></i>
                  </div>
               <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">A Concept Id</h4>
                    </div>
                    <div class="timeline-body">
                      <p>A Project Name</p>
                      <small class="text-muted"><i class="md md-timer"></i> 1 hour ago</small>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge">
                    <i class="icon-circle green-border"></i>
                  </div>
                      <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">A Concept Id</h4>
                    </div>
                    <div class="timeline-body">
                      <p>A Project Name</p>
                      <small class="text-muted"><i class="md md-timer"></i> 1 hour ago</small>
                    </div>
                  </div>
                </li>

            
           
              </ul>

            </div>
            <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==3}">

             <ul class="timeline">
                <li>
                  <div class="timeline-badge">
                    <i class="icon-circle theme-border"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">A Concept Id</h4>
                    </div>
                    <div class="timeline-body">
                      <p>A Project Name</p>
                      <small class="text-muted"><i class="md md-timer"></i> 1 hour ago</small>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge">
                    <i class="icon-circle theme-secondary-border"></i>
                  </div>
               <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">A Concept Id</h4>
                    </div>
                    <div class="timeline-body">
                      <p>A Project Name</p>
                      <small class="text-muted"><i class="md md-timer"></i> 1 hour ago</small>
                    </div>
                  </div>
                </li>

                <li class="timeline-inverted">
                  <div class="timeline-badge">
                    <i class="icon-circle red-border accent-1"></i>
                  </div>
            <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">A Concept Id</h4>
                    </div>
                    <div class="timeline-body">
                      <p>A Project Name</p>
                      <small class="text-muted"><i class="md md-timer"></i> 1 hour ago</small>
                    </div>
                  </div>
                </li>
            
           
              </ul>

            </div>
          </div>
        </div>
      </div>

      <div class="p-20">
        <div class="row">
          <div class="col-xs-4">
            <c3chart bindto-id="chart-gauge-1">
              <chart-column
                column-id="Gauge"
                column-type="gauge"
                column-values="80"
                />
              <chart-gauge width="3"/>
              <chart-tooltip show-tooltip="false"  />
              <chart-legend show="false"  />
              <chart-size chart-height="60px"  />
              <chart-colors color-pattern="{{color_pattern}}"/>
            </c3chart>
            <div class="text-center small">New Tickets</div>
          </div>
          <div class="col-xs-4">
            <c3chart bindto-id="chart-gauge-2">
              <chart-column
                column-id="Gauge"
                column-type="gauge"
                column-values="30"
                />
              <chart-gauge width="3"/>
              <chart-tooltip show-tooltip="false"  />
              <chart-size chart-height="60px"  />
              <chart-colors color-pattern="{{color_pattern}}"/>
            </c3chart>
            <div class="text-center small">Another Field</div>
          </div>
          <div class="col-xs-4">
            <c3chart bindto-id="chart-gauge-3">
              <chart-column
                column-id="Gauge"
                column-type="gauge"
                column-values="40"
                />
              <chart-gauge width="3"/>
              <chart-tooltip show-tooltip="false"  />
              <chart-size chart-height="60px"  />
              <chart-colors color-pattern="{{color_pattern}}"/>
            </c3chart>
            <div class="text-center small">Another Field</div>
          </div>
        </div>
      </div>

      <c3chart bindto-id="chart-pagesviews" padding-bottom="-8px">
        <chart-column column-id="Tickets"
                      column-values="3,4,5,10,20,14,18,12,10,20,10,14,15,10,20,14,18,12,10,20"
                      column-type="area"

          />
        <chart-axis-y show="false"  />
        <chart-axis-x show="false"  />
        <chart-legend show-legend="false"  />
        <chart-size chart-height="100px"  />
        <chart-tooltip show-tooltip="true"  />

        <chart-colors color-pattern="#fff"/>
      </c3chart>
    </div>

  </div>


</div>
