<nav class="navbar navbar-default navbar-fixed-top" ng-class="{scroll: (scroll>10)}">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left navbar-left-no-collapse col-md-6 no-padding pull-left">
      <li>
        <div class="brand-logo pull-left">
          <div id="logo">
            <img class="img-responsive" src="images/small_logo.png" alt="IHTSDO" width="40" height="40">
          </div>
          <span>Single Concept Authoring</span>
        </div>
      </li>
      <li>
        <ul class="breadcrumb" style="line-height: 2em;">
          <li><a ng-href="#/">Dashboard</a></li>
          <li ng-repeat = "titleSection in titleSections" ng-bind="titleSection"></li>
        </ul>
      </li>
    </ul>


    <div  ng-show="notification" class="pull-left header-alerts col-md-4 pull-left">

      <div class="bs-component pull-left col-md-12 no-padding" style="margin-left:0px; margin-right:0px">

        <div class="alert saved" ng-class="[{'blue' : notification.type === 'MESSAGE'}, {'orange': notification.type ==='WARNING'}, {'red' : notification.type === 'ERROR'}]" style="padding-right: 8px;">

          <!-- NOTE: currently ::before 'x' icon is included on this button -->
          <button type="button" class="pull-right fa fa-close" ng-class="[{'blue' : notification.type === 'MESSAGE'}, {'orange': notification.type ==='WARNING'}, {'red' : notification.type === 'ERROR'}]" ng-click="clearNotification()"></button>

          <!-- if a link is provided, show it -->
          <a ng-if="notification.url" ng-click="gotoNotificationLink()" class="pull-right">
            <button type="button" ng-class="[{'blue' : notification.type === 'MESSAGE'}, {'orange': notification.type ==='WARNING'}, {'red' : notification.type === 'ERROR'}]"><span class="md md-link"></span></button>
          </a>

          <p>{{notification.time | date: 'short'}} <strong class="green-save">{{notification.message}}</strong>
          </p>
        </div>
      </div>
    </div>


    <ul class="nav navbar-nav navbar-right navbar-right-no-collapse identity-services col-md-2" ng-if="!loggedIn">
     <li class="pull-right">
        <a ng-href="#/login">Login</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right navbar-right-no-collapse  identity-services col-md-2 pull-right" ng-if="loggedIn">

      <li class="pull-right"><button class="dropdown-toggle pointer btn btn-round-sm btn-link withoutripple" ng-click="openSettingsModal()">  <i class="md md-settings f20"></i> </button>
       
      </li>
       <li class="pull-right">
        <a ng-href="#/logout">Logout</a>
      </li>
         <li class="pull-right">
        <a id="profile_not_active" title="display name will link to profile services in later updates">
          <span ng-if="accountDetails == null">Logged in as unknown user</span>
          <span ng-if="accountDetails != null">{{accountDetails.firstName}} {{accountDetails.lastName}}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
