<div>

  <h4>Directive: Isolate Scope</h4>

  <hot-table
    settings="hotSettingsLocal"
    row-headers="false"
    datarows="fullConcepts">
    <!--<hot-column ng-repeat="column in columns" data="column.data" title="column.title"></hot-column>-->
    <hot-column data="id" title="'ID'"></hot-column>
    <hot-column data="fsn.term" title="'FSN'"></hot-column>
    <hot-column data="pt.term" title="'PT'"></hot-column>
    <!--<hot-column data="address" title="'Address'" width="150"></hot-column>
    <hot-column data="product.description" title="'Favorite food'" type="'autocomplete'">
      <hot-autocomplete datarows="description in product.options"></hot-autocomplete>
    </hot-column>
    <hot-column data="price" title="'Price'" type="'numeric'" width="80" format="'$ 0,0.00'"></hot-column>
    <hot-column data="isActive" title="'Is active'" type="'checkbox'" width="65" checked-template="'Yes'"
                unchecked-template="'No'"></hot-column>
  </hot-table>-->
  </hot-table>

  <h4>Directive: Inherit Scope</h4>

  <hot-table
    settings="hotSettings"
    row-headers="false"
    datarows="fullConcepts">
    <!--<hot-column ng-repeat="column in columns" data="column.data" title="column.title"></hot-column>-->
    <hot-column data="id" title="'ID'"></hot-column>
    <hot-column data="fsn.term" title="'FSN'"></hot-column>
    <hot-column data="pt.term" title="'PT'"></hot-column>
    <!--<hot-column data="address" title="'Address'" width="150"></hot-column>
    <hot-column data="product.description" title="'Favorite food'" type="'autocomplete'">
      <hot-autocomplete datarows="description in product.options"></hot-autocomplete>
    </hot-column>
    <hot-column data="price" title="'Price'" type="'numeric'" width="80" format="'$ 0,0.00'"></hot-column>
    <hot-column data="isActive" title="'Is active'" type="'checkbox'" width="65" checked-template="'Yes'"
                unchecked-template="'No'"></hot-column>
  </hot-table>-->
  </hot-table>

</div>
