<nav class="navbar navbar-default">

		<div class="navbar-header">
        
        <a class="navbar-brand" href="#/">
            <span> <img class="img-responsive" src="images/small_logo.png" alt="ihtsdo-logo"></span> 
            <span class="navbar-version">App Template</span>
        </a>
     
		</div>
		<ul id="topNav"  class="nav navbar-nav navbar-right pull-left">
			<li>
				<a href="#/">Home</a>
			</li>
            <li>
                <a href="#/about">About</a>
            </li>
			
		</ul>
        
	<ul id="identity"  class="nav navbar-nav navbar-right pull-right">
			<li>
				<a href="#/register">
					<span>Register</span>
					
				</a>
			</li>
			<li>
				<a href="#/login">
					<span>Login</span>
				</a>
			</li>
		</ul>
        
</nav>