<div class="col-md-12 scroll-if-height  no-padding" ng-controller="taskDetailCtrl"> 
  
  <!-- Timeline formatter and concept ids.extension input -->
  <div class="row no-padding clearfix">
    <div class="col col-md-12">
      <ul class="timeline">
        <li>
          <div class="timeline-badge"> <i class="icon-circle theme-border"></i> </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <label class="control-label">Task Title:</label>
              <h4 class="timeline-title">{{task.summary}}</h4>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"> <i class="icon-circle theme-border"></i> </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <label class="control-label">Task Details:</label>
              <h4 compile-html="task.description" class=" width-fix timeline-title task-detail"></h4>
            </div>
          </div>
        </li>
        <li ng-show="isCrsTask">
          <div class="timeline-badge"> <i class="icon-circle theme-border"></i> </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <label class="control-label">CRS Requests:</label>
              <h4 class=" width-fix timeline-title task-detail">To view content requests please navigate to the Saved
                List.</h4>
            </div>
          </div>
        </li>
       
      </ul>
    </div>
  </div>
  <div class="task-details">
    <div class="p-l-15 p-r-15">
      <button class="btn btn-default cyan darken-1 editingtask" ng-click="updateTask()"
              ng-disabled="task.status === 'Promoted'"> <span class="md md-settings cyan darken-2 iconbase"></span> <span class="button-link">Edit Task Details</span> </button>
    </div>
    <hr>
    <div class="p-l-15 p-r-15" ng-if="role === 'UNDEFINED'">
      <div class="alert alert-danger text-center">
        <div class="row no-padding">
          <p class="md md-warning  "></p>
        </div>
        <div class="row no-padding alert-text">
          <p>Warning! You are not the author or reviewer for this task.</p>
        </div>
      </div>
    </div>
    <div class="p-l-15 p-r-15" ng-if="task.status === 'Promoted'">
      <div class="alert alert-warning">Task has been promoted. No further changes allowed.</div>
    </div>
    <div class="p-l-15 p-r-15" ng-if="branchLocked && automatePromotionStatus === '' && task.status !== 'Promoted'">
      <div class="alert alert-warning">Task branch is locked due to an ongoing rebase, promotion or classification</div>
    </div>
    <div class="p-l-15 p-r-15" ng-if="(automatePromotionStatus === 'Queued'
                                    || automatePromotionStatus === 'Rebasing'
                                    || automatePromotionStatus === 'Classifying'
                                    || automatePromotionStatus === 'Promoting') 
                                    && automatePromotionErrorMsg === ''">
      <div class="alert" ng-class="[{'green' : automatePromotionStatus === 'Classifying'}, 
                {'amber' :  automatePromotionStatus === 'Rebasing'},
                {'blue' : automatePromotionStatus === 'Promoting'},
                {'alert-warning' : automatePromotionStatus !== 'Classifying' && automatePromotionStatus !== 'Rebasing' && automatePromotionStatus !== 'Promoting'}]">Automated promotion in progress. {{automatePromotionStatus !== ''? 'Status: ' + automatePromotionStatus : ''}} </div>
    </div>
    <div class="p-l-15 p-r-15" ng-if="automatePromotionErrorMsg !== ''">
      <div class="alert alert-danger">{{automatePromotionErrorMsg}}
        <div ng-if="automatePromotionStatus === 'Rebased with conflicts'">Click <a ng-click="viewConflicts()">here</a> to redirect to Merge Concepts page.</div>
        <div ng-if="automatePromotionStatus === 'Classified with results'">Click <a ng-click="viewClassification()">here</a> to see the classification results.</div>
      </div>
    </div>
    <div class="p-l-15 p-r-15">
      <button class="btn btn-default green classify" ng-click="classify()"
              ng-disabled="task.status === 'Promoted' || task.latestClassificationJson.status === 'RUNNING' || role === 'REVIEWER' || branchLocked || automatePromotionStatus === 'Rebasing' || automatePromotionStatus === 'Classifying' || automatePromotionStatus === 'Promoting' || role === 'UNDEFINED'"> <span class="md md-notifications green darken-1 iconbase"></span> <span class="button-link">Classify</span> </button>
      <button ng-if="editable !== 'false'" class="btn btn-default deep-purple validate"
              ng-disabled="task.latestValidationStatus === 'SCHEDULED' || task.status === 'Promoted' || task.latestValidationStatus === 'VALIDATING' || task.latestValidationStatus === 'RUNNING' || task.latestValidationStatus === 'BUILDING' || role === 'REVIEWER' || branchLocked || automatePromotionStatus === 'Rebasing' || automatePromotionStatus === 'Classifying' || automatePromotionStatus === 'Promoting' || role === 'UNDEFINED'"
              ng-click="startValidation()"> <span class="md md-school deep-purple darken-2 iconbase"></span> <span class="button-link">Validate</span> </button>
      <div ng-show="task.status !== 'In Review' && role === 'AUTHOR'" ng-if="!reviewChecks">
        <button ng-disabled="task.status !== 'In Progress' || role === 'REVIEWER'" class="btn btn-default pink1 review" ng-click="toggleReview()"> <span class="md md-forum pink darken-2 iconbase"></span> <span class="button-link" ng-if="!unsavedConcepts">Submit For Review</span> </button>
      </div>
      <button ng-show="task.status === 'In Review' && role === 'AUTHOR'" class="btn btn-default pink1 review" ng-click="toggleReview()"><span
        class="md md-forum pink darken-2 iconbase"></span> <span class="button-link">Cancel This Review</span> </button>
      <button ng-if="editable !== 'false'"
              ng-disabled="task.status === 'New' || task.status === 'Promoted' || task.latestClassificationJson.status === 'RUNNING' || role === 'REVIEWER' || branchLocked || promoting || automatePromotionStatus === 'Rebasing' || automatePromotionStatus === 'Classifying' || automatePromotionStatus === 'Promoting' || hasRequestPendingClarification() || role === 'UNDEFINED'"
              class="btn btn-default blue darken-1 promote" ng-click="promote()"> <span class="md md-call-merge blue darken-2 iconbase"></span> <span class="button-link">Promote This Task to the Project</span> </button>
      <button class="btn btn-default purple darken-1 auto-promote" 
              ng-disabled="task.status === 'New' || task.status === 'Promoted' || task.latestClassificationJson.status === 'RUNNING' || role === 'REVIEWER' || branchLocked || automatePromotionStatus === 'Rebasing' || automatePromotionStatus === 'Classifying' || automatePromotionStatus === 'Promoting' || automatePromotionStatus === 'Queued' || isAutomatePromotionRunning || hasRequestPendingClarification() || role === 'UNDEFINED'"
              ng-click="proceedAutomatePromotion()"> <span class="md md-archive purple darken-2 iconbase"></span> <span class="button-link">Begin Promotion Automation</span> </button>
      <button ng-disabled="task.status === 'Promoted' || isAllRequestsPendingClarification() || role === 'UNDEFINED'" 
              ng-if="isCrsTask" 
              class="btn btn-default pink1 review" ng-click="requestClarification()"> <span class="md md-mode-edit pink darken-2 iconbase"></span> <span class="button-link">CRS Pending Clarification</span> </button>     
    </div>
  </div>
</div>
