<!-- Hide container until view is selected -->
<div class="sca-container" ng-if="thisView" style="">

  <!-- Control panel appears when elements are hidden -->
  <div class="button-nav">

    <!-- Inactivation button (shown only if service has concept set) -->
    <!--
        <button
          type="button" ng-click="setView('inactivation')"
          ng-show="isInactivation"
          class="btn btn-default red widget-toolbar tooltips-right tooltips-light normal-case">
          <div class="md fa-sca fa-power-off"></div>
          <span>Inactivation</span></button>
    -->

    <!-- Create new concept -->
    <button ui-on-drop="dropConcept($data)" drop-channel="conceptPropertiesObj" drag-enter-class="sca-drag-target"
            type="button" ng-click="createConcept()"
            ng-disabled="task.status === 'Promoted' || !canCreateConcept"
            class="btn btn-default create-new-concept widget-toolbar tooltips-right tooltips-light normal-case">
      <div class="md fa-sca fa-edit"></div>
      <span>Create New Concept</span></button>

    <button type="button" id="classificationMenuButton"
            class="btn btn-default widget-toolbar tooltips-right classify tooltips-light normal-case"
            ng-class="[{'green darken-1' : task.latestClassificationJson}, {'grey' : !task.latestClassificationJson}]"
            popover-template="'components/edit/edit-classification-menu.html'"
            popover-placement="right"
            popover-trigger="click: click"
            popover-append-to-body="true">
      <div class="md"  ng-class="[{'md-notifications-none' : !task.latestClassificationJson},
            {'md-notifications-off' : task.latestClassificationJson.status === 'FAILED'},
            {'md-notifications' : task.latestClassificationJson.status === 'COMPLETED'},
            {'md-notifications-paused' : task.latestClassificationJson.status === 'RUNNING'}]"
          ></div>
      <span>Click for Classification Options</span>
    </button>



    <!-- Switch to Feedback/Review View -- Task View Only -->
    <button type="button" id="feedbackMenuButton"
            class="btn btn-default widget-toolbar tooltips-right review tooltips-light normal-case"
            ng-class="[{'pink1' : task.status === 'In Review' || task.status === 'Review Completed'}, {'grey' : task.status !== 'In Review' && task.status !== 'Review Completed'}]"
            popover-template="'components/edit/edit-feedback-menu.html'"
            popover-placement="right"
            popover-trigger="click: click"
            popover-append-to-body="true">
      <div class="md md-email"></div>
      <span>Click for Review and Feedback Options</span>
    </button>

    <!-- Switch to Validate View -->
    <button type="button" id="validationMenuButton"
            class="btn btn-default widget-toolbar validate tooltips-right tooltips-light normal-case"
            ng-class="[{'deep-purple lighten-1' : task.latestValidationStatus && task.validationStatus !== 'NOT_TRIGGERED'}, {'grey' : !task.latestValidationStatus || task.latestValidationStatus === 'NOT_TRIGGERED'}]"
            popover-template="'components/edit/edit-validation-menu.html'"
            popover-placement="right"
            popover-trigger="click: click"
            popover-append-to-body="true">
      <div class="md"  ng-class="[{'md-school' : !task.latestValidationStatus || task.latestValidationStatus === 'NOT_TRIGGERED'},
            {'md-school' : task.latestValidationStatus === 'FAILED'},
            {'md-school' : task.latestValidationStatus === 'COMPLETED'},
            {'md-school' : task.latestValidationStatus === 'SCHEDULED' || task.latestValidationStatus === 'BUILDING' || task.latestValidationStatus === 'RUNNING'}]"
      ></div>
      <span>Click for Validation Options</span>
    </button>


  <!--  <button type="button"
            class="btn btn-default widget-toolbar deep-purple lighten-1 validate tooltips-right tooltips-light normal-case"
            ng-click="setView('validation')"
            ng-disabled="task.latestValidationStatus !== 'COMPLETED'">
      <div class="md md-school"></div>
      <span>View the most recent Validation Report</span></button>
-->
    <!-- Switch to Conflict View -->
    <!-- ng-class="[
    {'red' : conflictsContainer.conflicts.concepts.length > 0},
    {'grey lighten-3' : !conflictsContainer.conflicts.concepts || conflictsContainer.conflicts.concepts.length === 0}]"
    -->
    <button type="button"
            class="btn btn-default widget-toolbar amber lighten-1 conflicts tooltips-right tooltips-light normal-case"
            ng-disabled="!canConflict || branchLocked"
            ng-click="goToConflicts()">
      <div class="md md-sync"></div>
      <span>Pull new changes from project</span></button>

    <!-- Promote -- Project only -->
    <button type="button"
            class="btn btn-default widget-toolbar blue lighten-1 conflicts tooltips-right tooltips-light normal-case"
            ng-if="!taskKey"
            ng-disabled="conflictsContainer.conflicts.concepts.length !== 0"


            ng-click="promoteProject()">
      <div class="md md-call-merge"></div>
      <span>Promote this Project</span></button>

    <!-- Edit View: Default -- Task View Only -->
    <button ng-if="taskKey" type="button" ng-class="[{'lighten-2' : thisView === 'edit-default'}]"
            class="btn btn-default widget-toolbar blue tooltips-right tooltips-light normal-case"
            ng-click="setView('edit-default')">
      <div class="md md-dvr"></div>
      <span>Go back to task editing</span></button>

    <!-- Edit View:  No sidebar -- Task View Only -->
    <button ng-if="taskKey" type="button" ng-class="[{'lighten-2' : thisView === 'edit-no-sidebar'}]"
            class="btn btn-default widget-toolbar blue tooltips-right tooltips-light normal-case"
            ng-click="setView('edit-no-sidebar')">
      <div class="md md-web "></div>
      <span>Hide the left sidebar</span></button>

    <!-- Edit View: No model -- Task View Only -->
    <button ng-if="taskKey" type="button" ng-class="[{'lighten-2' : thisView === 'edit-no-model'}]"
            class="btn btn-default widget-toolbar blue tooltips-right tooltips-light normal-case"
            ng-click="setView('edit-no-model')">
      <div class="md md-grid-off"></div>
      <span>Hide all concept models</span></button>
    <!-- Edit View: No model -- Task View Only -->


  </div>
  <style>
    .fixed-height {
      position: fixed !important;
      padding-left: 0px !important;
      margin-left: -1px;
    }

    .scroll-if-height {
      overflow-y: auto;
      overflow-x: hidden;
    }
  </style>
  <!-- Main page content -->
  <div class="row no-gutter main-view-offset">

    <!-- Default edit view -->
    <div ng-if="thisView === 'edit-default'">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <!-- sidebar -->
        <div class="editpanel sca-column no-padding "

             ng-include src="'shared/sidebar-edit/sidebarEdit.html'"></div>

        <!-- models & concepts-->
        <div ng-class="getLayoutWidths('modelsAndConcepts')"
             class="no-padding hide-scroll pull-right" sca-infinite-scroll="addMoreItems()"
             sca-infinite-scroll-disabled="conceptsRendering"
             sca-infinite-scroll-distance="1" sca-infinite-scroll-immediate-check="true">


          <!-- model & concept data-->
          <div class="row-fluid no-gutter" style="display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;"
               ng-repeat-start="concept in concepts | limitTo: conceptsDisplayed track by concept.conceptId"
               ng-class="isLast($last)"
               repeat-complete callback="renderingComplete()">

            <!-- model -->
            <div class="no-gutter " style="height: 100%" ng-class="getLayoutWidths('models')">
              <div draw-model-sca concept="concept" snf-function="getSNF(concept.conceptId)" display-snf="true"></div>
            </div>

            <!-- concept -->
            <div class="no-gutter grey darken-3 panel-height" ng-class="getLayoutWidths('concepts')"
                 style="margin-right:0px;">

              <div concept-edit concept="concepts[$index]" id="height-{{concept.conceptId}}'"
                   branch="targetBranch" static="branchLocked || !isOwnTask"
                   ui-state-update-fn="updateEditListUiState()">
              </div>
            </div>

          </div>
          <div class="row-fluid no-gutter" style="display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; overflow:none;" ng-if="$last" ng-repeat-end>
            <div class="no-gutter" ng-class="getLayoutWidths('models')">
              <div class="modelScrollBox"></div>
            </div>

            <!-- concept -->
            <div class="no-gutter grey darken-3" fill-height ng-class="getLayoutWidths('concepts')"
                 style="margin-right:0px;">
            </div>
          </div>


        </div>
      </div>
    </div>

    <!-- Edit view with no sidebar -->
    <div ng-if="thisView === 'edit-no-sidebar'">

      <!-- models & concepts-->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding ">


        <!-- model & concept data-->
        <div class="row no-padding no-gutter hide-scroll"
             sca-infinite-scroll="addMoreItems()" sca-infinite-scroll-disabled="conceptsRendering"
             sca-infinite-scroll-distance="1" sca-infinite-scroll-immediate-check="true">


          <!-- model & concept data-->
          <div class="row-fluid no-gutter" style="display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;"
               ng-repeat-start="concept in concepts | limitTo: conceptsDisplayed track by concept.conceptId"
               ng-class="isLast($last)"
               repeat-complete callback="renderingComplete()">

            <!-- model -->
            <div class="no-gutter col-md-7" style="height: 100%">
              <div draw-model-sca concept="concept" snf-function="getSNF(concept.conceptId)" display-snf="true"></div>
            </div>

            <!-- concept -->
            <div class="no-gutter grey darken-3 panel-height col-md-5"
                 style="margin-right:0px;">
              <div concept-edit concept="concepts[$index]" id="'height-{{concept.conceptId}}'"
                   branch="targetBranch" static="branchLocked || !isOwnTask"
                   ui-state-update-fn="updateEditListUiState()"
              >
              </div>
            </div>

          </div>
          <div class="row-fluid no-gutter" style="display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; overflow:none;" ng-if="$last" ng-repeat-end>
            <div class="no-gutter col-md-7">
              <div class="modelScrollBox"></div>
            </div>

            <!-- concept -->
            <div class="no-gutter grey darken-3 col-md-5" fill-height
                 style="margin-right:0px;">
            </div>

          </div>
          <div class="row-fluid no-gutter" style="display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; overflow:none;" ng-if="$last" ng-repeat-end>
            <div class="no-gutter col-sm-7 col-md-7 col-lg-7">
              <div class="modelScrollBox"></div>
            </div>

            <!-- concept -->
            <div class="no-gutter col-sm-5 col-md-5 col-lg-5 grey darken-3" fill-height style="margin-right:0px;">
            </div>
          </div>
        </div>


      </div>
    </div>

    <!-- Edit view with no model -->
    <div ng-if="thisView === 'edit-no-model'">

      <!-- sidebar -->
      <div class="editpanel sca-column col-lg-3 col-md-3 col-sm-3 fixed-height no-padding"
           ng-include src="'shared/sidebar-edit/sidebarEdit.html'"></div>

      <!-- concepts-->
      <div class="col-lg-9 col-md-9 col-sm-9 pull-right no-padding hide-scroll"
           sca-infinite-scroll="addMoreItems()"
           sca-infinite-scroll-disabled="conceptsRendering"
           sca-infinite-scroll-distance="1" sca-infinite-scroll-immediate-check="true">


        <!-- concept data-->
        <div class="row-fluid no-gutter" style="display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;"
             ng-repeat-start="concept in concepts | limitTo: conceptsDisplayed track by concept.conceptId"
             ng-class="isLast($last)"
             repeat-complete callback="renderingComplete()">


          <!-- concept -->
          <div class="no-gutter grey darken-3 panel-height col-md-12"
               style="margin-right:0px;">
            <div concept-edit concept="concepts[$index]" id="height-{{concept.conceptId}}'"
                 branch="targetBranch" static="branchLocked || !isOwnTask" ui-state-update-fn="updateEditListUiState()"
            >
            </div>
          </div>

        </div>
        <div class="row-fluid no-gutter" style="display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; overflow:none;" ng-if="$last" ng-repeat-end>
          <!-- concept -->
          <div class="no-gutter grey darken-3 col-md-12" fill-height
               style="margin-right:0px;">
          </div>
        </div>


      </div>

    </div>

    <!-- Validation view -->
    <div ng-if="thisView === 'validation'">

      <!-- validation report -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-padding">
        <div validation validation-container="validationContainer" branch="targetBranch" editable="true"></div>
      </div>

    </div>

    <!-- Inactivation view -->
    <div ng-if="thisView === 'inactivation'">

      <!-- sidebar -->
      <div class="editpanel sca-column no-padding "

           ng-include src="'shared/sidebar-edit/sidebarEdit.html'"></div>

      <div class="row no-padding no-gutter">

        <div class="col-md-3">
          <!-- sidebar -->
          <!--<div class="editpanel sca-column no-padding" ng-include src="'shared/sidebar-edit/sidebarEdit.html'">
          </div>-->
        </div>

        <!-- inactivation screen -->
        <div class="col-md-9">
          <div inactivation inactivation-concept="inactivationConcept" branch="targetBranch"></div>
        </div>
      </div>
    </div>


    <!-- Classification view -->
    <div ng-if="thisView === 'classification'">

      <div class="row no-padding no-gutter">

        <!-- classification report -->
        <div class="col-md-12">
          <div classification classification-container="classificationContainer" branch="targetBranch"
               editable="true"></div>
        </div>
      </div>
    </div>


    <!-- Review/Feedback view -->
    <div ng-if="thisView === 'feedback'">

      <!-- feedback report -->
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-padding">
        <div feedback feedback-container="feedbackContainer" branch="targetBranch" editable="true"></div>
      </div>

    </div>

    <!-- Conflict view -->
    <div ng-if="thisView === 'conflicts'">

      <!-- conflict report -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div conflicts conflicts-container="conflictsContainer" target-branch="targetBranch"
             source-branch="sourceBranch"></div>
      </div>

    </div>

  </div>

</div>
