<div class="deep-purple">

  <!-- Completed/Failed/Not Run indicator -->
  <button class="btn btn-default deep-purple validate"
          ng-if="task.latestValidationStatus === 'COMPLETED'"
          ng-click="viewValidationFromSidebar()">
    <span class="md md-search deep-purple darken-2 iconbase"></span>
    <span class="button-link">View Validation Report</span>
    </span>
  </button>


  <button class="btn btn-default deep-purple validate"
          ng-if="task.latestValidationStatus === 'FAILED'">
      <span class="glyphicon glyphicon-ban-circle deep-purple darken-2 iconbase"></span>
    <span class="button-link">Validation Failed</span>
  </button>

  <button class="btn btn-default deep-purple validate"
          ng-if="task.latestValidationStatus && (task.latestValidationStatus === 'RUNNING' || task.latestValidationStatus === 'BUILDING' || task.latestValidationStatus === 'SCHEDULED')">
    <span class="md md-refresh deep-purple darken-2 iconbase"></span>
    <span class="button-link">Validation Running</span>
  </button>

  <!-- spacer for two buttons only -->
  <br ng-if="task.latestValidationStatus !== 'NOT_TRIGGERED' && task.latestValidationStatus !== 'RUNNING' && task.latestValidationStatus !== 'BUILDING' && task.latestValidationStatus !== 'SCHEDULED'">

  <button class="btn btn-default deep-purple validate ng-scope"
          ng-if="task.latestValidationStatus && (task.latestValidationStatus !== 'RUNNING' && task.latestValidationStatus !== 'BUILDING' && task.latestValidationStatus !== 'SCHEDULED')"
          ng-disabled="task.latestValidationStatus === 'SCHEDULED' || task.status === 'Promoted' || task.latestValidationStatus === 'VALIDATING' || task.latestValidationStatus === 'RUNNING' || task.latestValidationStatus === 'BUILDING' || role === 'REVIEWER' || branchLocked"
          ng-click="validate()" style="text-transform: none">
    <span class="md md-play-arrow deep-purple darken-2 iconbase"></span>
    <span class="button-link">Run New Validation</span>
  </button>
</div>
<!--
   creationDate
:
"2016-10-25T16:52:13Z"
id
:
"c0c6d3c6-7bbd-494a-ae4d-0b655f1e1f70"
reasonerId
:
"org.semanticweb.elk.elk.reasoner.factory"
status
:
"RUNNING"
userId
:
"snowowl"
-->
