<div class="sca-container col-sm-12 no-padding">
  <div ng-include src="'layout/sidebar-edit.html'"></div>
  <div class="sca-content" style="height:100%">
    <div class="row no-gutter" style="height:100%; margin-right:0px;">
      <div class="col-sm-12 col-md-12 col-lg-6" style="background:#F9F9F9;">
        <div class="p-20 clearfix">
          <h3 class="grey-text">
            <span class="hidden-xs">Model</span>
          </h3>
<!--          <div ng-repeat="concept in concepts" ng-if="conceptLoaded" draw-model concept="concept"></div>-->
        </div>

        <div class="p-20 no-p-t">
          <div class="row gutter-14" style="margin-right:0px;">
          </div>
        </div>
      </div>
      <div class="col-lg-6 edit-scroll editing-form" style="height:100%">

        <!-- row: Blue Create New Concept banner -->
        <div class="row clearfix" style="margin-right:0px;">
       
               <button type="button" class="btn-default btn-block create-new-concept" title="Active"><i class="md md-add-circle pull-right"></i> Create New Concept</button>
       
        </div>

        <div ng-repeat="concept in concepts" concept-edit ctrl-fn="showModel(count)" concept="concept" branch="branch">
        </div>


      </div>


    </div>
  </div>
</div>