<div class="pink1">

  <!-- View Review & Feedback -->
  <button class="btn btn-default pink1 review"
          ng-click="viewReviewFromSidebar()">
    <span class="md md-search pink1 darken-2 iconbase"></span>
    <span class="button-link">View Review and Feedback</span>
    </span>
  </button>

  <!-- Spacer always present -- authors can always access traceability from button above-->
  <br>


  <button class="btn btn-default pink1 review"
          ng-if="task.status === 'New' || task.status === 'In Progress'"
          ng-click="toggleReview()">
    <span class="md md-thumb-up pink1 darken-2 iconbase"></span>
    <span ng-if="!unsavedConcepts || unsavedConcepts.length == 0" class="button-link">Submit for Review</span>
    <span ng-if="unsavedConcepts && unsavedConcepts.length == 0" class="button-link">Submit Anyways</span>
  </button>

  <button class="btn btn-default pink1 review"
          ng-if="role === 'AUTHOR'"
          ng-click="toggleReview()">
    <span class="glyphicon glyphicon-ban-circle pink1 darken-2 iconbase"></span>
    <span class="button-link">Cancel Review</span>
  </button>

  <button class="btn btn-default pink1 review ng-scope"
          ng-if="role === 'REVIEWER'"
          ng-click="toggleReview()">
    <span class="glyphicon glyphicon-ban-circle pink1 darken-2 iconbase"></span>
    <span class="button-link">Unclaim Review</span>
  </button>

  <div ng-show="unsavedConcepts.length > 0">
    <h4>You have unsaved content on this task. Save changes first or click "Submit Anyways" to submit for review.</h4>
    <table class="table">
      <tr ng-repeat="uc in unsavedConcepts">
        <td>{{uc.conceptId}}</td><td>{{uc.fsn}}</td>
      </tr>
    </table>
    <h4>C</h4>
  </div>
</div>
