<div class="select-template">
  <div class="col-md-12 row">
      <h3 class="p-5">Select Template</h3>
      <div class="col-md-6">
          <textarea type="text" class="form-control"
                    ng-model="focusConcept"
                    typeahead="suggestion as (suggestion.concept.fsn + ' (' + suggestion.concept.conceptId + ')') for suggestion in getConceptsForTypeahead($viewValue)"
                    typeahead-focus-first="false"
                    typeahead-wait-ms="500"
                    typeahead-editable="false" typeahead-min-length="3"
                    typeahead-on-select="selectFocusForTemplate($item)"
                    placeholder="Type to select a focus concept..."></textarea>

      </div>
      <div class="col-md-6">
              <textarea type="text" ng-model="templateTableParams.filter()['search']" class="form-control"
                     placeholder="Filter by name" autofocus/>
      </div>
  </div>
  <div class="col-md-12 table-container row" ng-if="templateOptions">
      <table ng-table="templateTableParams" template-pagination="utilities/data-table-pager.html"
             class="table table-full p-5">
        <tr ng-repeat="template in $data" class="clickable-row">
          <td data-title="'Name'" sortable="'name'" header-class="'header-tooltips'"
              header-title="'Click to sort'" filter="{ 'name': 'text' }">
            <a ng-if="templateOptions" class="tooltips-right batch-template-selector" ng-click="selectBatchTemplate(template)">
            {{template.name}}<span> Click to select template </span></a>
          </td>
          <td data-title="'Version'" sortable="'version'" header-class="'header-tooltips'"
              header-title="'Click to sort'" filter="{ 'version': 'number' }">
            {{template.version}}
          </td>
        </tr>
      </table>
  </div>
  <div class="col-md-12 table-container row" ng-if="!templateOptions">
      <table ng-table="templateTableParams" template-pagination="utilities/data-table-pager.html"
             class="table table-full p-5">
        <tr ng-repeat="template in $data" class="clickable-row">
          <td data-title="'Name'" sortable="'name'" header-class="'header-tooltips'"
              header-title="'Click to sort'" filter="{ 'name': 'text' }"><a ng-if="!concept && !templateOptions" class="tooltips-right edit-template-selector" ng-click="selectTemplate(template, createOnSelectTemplate)">
            {{template.name}}<span> Click to select template </span></a>

            <a class="tooltips-right concept-template-selector" ng-if="concept" ng-click="applyTemplate(template)">
            {{template.name}}<span> Click to select template </span></a>
          </td>
          <td data-title="'Version'" sortable="'version'" header-class="'header-tooltips'"
              header-title="'Click to sort'" filter="{ 'version': 'number' }">
            {{template.version}}
          </td>
        </tr>
      </table>
  </div>
  <br>
  
</div>