 .btn[disabled] {
     pointer-events: visibleFill;
     opacity: 1.0
 }
 .addButton.btn-round {
     width: 20px;
     height: 20px;
     font-size: 14px !important;
     line-height: 20px;
     position: relative;
 }
 .dashboard-sidebar {
     background-color: #474747;
 }
 .dashboard-sidebar button {
     width: 100%;
     padding: 15px;
     font-size: 15px;
     text-transform: none;
     color: #fff;
     text-align: left
 }
 .small-buttons {
     text-align: center;
 }
 .primitive-buttons,
 .primitive-buttons:hover,
 .primitive-buttons[disabled],
 .primitive-buttons:focus,
 .primitive-buttons:active {
     padding: 0px!important;
     background-color: transparent!important;
 }
 button.fsn-title-button {
     width: 100%;
     padding-top: 7px!important;
 }
 .editpanel .darkbuttons {
     font-size: 20px;
     padding: 10px 10px 5px 3px !important;
     box-shadow: none !important;
     line-height: 1.8 !important;
 }
 .editpanel .icon-color {
     width: 35px;
     height: 35px;
     font-size: 20px !important;
     line-height: 35px !important;
 }
 .editpanel .btn:hover {
     box-shadow: none;
 }
 .editbuttons {
     font-size: 14px;
     padding: 0px 2px;
     box-shadow: none !important;
 }
 .edits button {
     font-size: 14px;
     padding: 5px 4px;
     box-shadow: none !important;
 }
 .morebuttons {
     font-size: 20px;
     box-shadow: none !important;
     margin-right: 0px!important;
 }
 .task-details .btn {
     padding: 0px;
     margin: 0px;
     width: 100%;
     margin-bottom: 10px;
     text-transform: none
 }
 .inactivation-button-modal {
     padding: 5px 5px;
     margin: 0px;
     width: 100%;
     margin-bottom: 10px;
     text-transform: none;
     color: #fff;
     text-align: center!important;
 }
 .task-details .iconbase,
 .inactivation-button-modal .iconbase {
     width: 40px;
     height: 40px;
     padding: 6px 8px;
     float: left;
     font-size: 18px;
 }
 .inactivation-button-modal:hover,
 .inactivation-button-modal:focus {
     background-color: #388E3C;
     color: #fff;
 }
 .inactivation-button-modal .button-link {
     padding: 8px 15px;
     float: left;
     font-weight: 500;
 }
 .review.btn-default:hover {
     background-color: #c2185b;
     color: #fff;
 }
 .task-details .button-link[disabled] {
     background-color: rgb(233, 30, 99);
 }
 .button-nav .review.btn-default[disabled],
 .button-nav .btn-default[disabled] {
     background-color: #424249!important;
     color: #76747c;
     border-bottom: 1px #76747c solid;
 }
 .Classify.btn-default[disabled] {
     background-color: rgb(76, 175, 80);
 }
 .validate.btn-default[disabled] {
     background-color: rgb(103, 58, 183);
 }

 .validate.btn-default:hover {
     background-color: #512da8;
     color: #fff;
 }
 .promote.btn-default:hover {
     background-color: #1976D2;
     color: #fff;
 }
 .editingtask.btn-default:hover {
     background-color: #0097a7;
     color: #fff;
 }
 .task-details .button-link {
     padding: 8px 15px;
     float: left;
     font-weight: 500
 }
  .md-forum.pink.darken-3.iconbase:hover,
  .md-forum.pink.darken-3.iconbase:focus
 {background-color: #ad1457;}
 .md-forum.pink.darken-3.iconbase:hover,
  .md-forum.pink.darken-3.iconbase:focus
 {background-color: #ad1457;}
 .btn-default .iconbase[disabled] {
     background-color: #d8d8d8 !important;
     border-color: #d8d8d8 !important;
     color: #737373 !important;
 }
 .description .form-control[disabled] {
     cursor: default!important;
     overflow: hidden!important;
     max-height: 60px;
     height: auto;
     word-wrap: break-word!important;
 }
.review-columns {
     background-color: #f2f2f2;
     border-top-color: #e3e3e3!important;
 }
.indicator_grey {
     background-color: #f2f2f2!important;
     color: #666!important;
 }
 .indicator_grey:hover {
     background-color: #dddddd!important;
     color: #666!important;
 }
 .indicator_green {
     background-color: #4CAF50!important;
     color: #fff!important;
 }
 .indicator_green:hover {
     background-color: #66BB6A!important;
     color: #fff!important;
 }
 .indicator_red {
     background-color: #EF5350!important;
     color: #fff;
 }
 .indicator_red:hover {
     background-color: #d44a47!important;
     color: #fff;
 }
 .indicator_grey.indicator_grey {
     background-color: #f2f2f2!important;
     color: #666!important;
 }
 .indicator_grey.indicator_grey:hover {
     background-color: #dddddd!important;
     color: #666!important;
 }
 .indicator_grey.indicator_red {
     background-color: #f2f2f2!important;
     color: #666!important;
 }
 .indicator_grey.indicator_red:hover {
     background-color: #dddddd!important;
     color: #666!important;
 }
 .indicator_grey.indicator_grey {
     background-color: #f2f2f2!important;
     color: #666!important;
 }
 .indicator_grey.indicator_grey:hover {
     background-color: #dddddd!important;
     color: #666!important;
 }
 .indicator_grey.indicator_amber {
     background-color: #f2f2f2!important;
     color: #666!important;
 }
 .indicator_grey.indicator_amber:hover {
     background-color: #dddddd!important;
     color: #666!important;
 }
 .indicator_blue {
     background-color: #00a4e4!important;
     color: #fff!important;
 }
 .indicator_blue:hover {
     background-color: #0d8aee!important;
     color: #fff!important;
 }
 .indicator_amber {
     background-color: #ffca28;
     color: #fff;
 }
 .indicator_amber:hover {
     background-color: #ff8f00;
     color: #fff;
 }
 .tasks-bubble {
     background-color: #00a4e4!important;
     color: #fff!important;
 }
 .message_validation_COMPLETED::before {
     content: "Validation successfully completed";
 }
 .message_validation_VALIDATING::before {
     content: "Validation is in progress";
 }
 .message_validation_FAILED::before {
     content: "Validation has failed";
 }
 .message_validation_SCHEDULED::before {
     content: "Validation has been scheduled";
 }
 .message_validation_BUILDING::before {
     content: "Validation Report is building";
 }
 .message_classification_SAVE_FAILED {
     content: "Classification successfully completed but save has failed";
 }
 .message_classification_COMPLETED::before {
     content: "Classification successfully completed";
 }
 .message_classification_RUNNING::before {
     content: "Classification is in progress";
 }
 .message_classification_FAILED::before {
     content: "classification has failed";
 }
 .message_classification_SCHEDULED::before {
     content: "Classification has been scheduled";
 }
 .message_classification_BUILDING::before {
     content: "Classification Report is building";
 }
 .message_classification_SAVED::before {
     content: "Classification has been saved";
 }
 .message_classification_STALE::before {
     content: "Classification has gone stale";
 }
 .badge {
     display: inline-block;
     min-width: 10px;
     color: #FFF;
     vertical-align: center;
     white-space: nowrap;
     text-align: center;
     border-radius: 10px;
     font-weight: normal;
     font-size: 13px;
     padding: 6px 10px;
     margin: 0px;
     line-height: 13px;
 }
 .In.Progress.badge {
     background-color: #8bc34a;
 }
 .Promoted.badge {
     background-color: #0091d7;
 }
 .New.badge {
     background-color: #F3CB67;
 }
 .In.Review.badge {
     background-color: #e55f88;
 }
 .Review.Completed.badge {
     background-color: #7e57c2;
 }
 .Available.badge {
     background-color: #00b0ff;
 }
 .Claimed.badge {
     background-color: grey;
 }
 .btn-default:focus,
 .btn-default:active,
 .btn-default:hover,
 .btn-default:visited,
 .btn-default {
     outline-offset: 0px!important;
     box-shadow: none!important;
 }
 .btn-default.blue:hover,
 .btn-default.blue:active {
     background-color: #097fda;
     color: #fff;
 }
 .btn-default.green.base:hover,
 .btn-default.green.base:active {
     background-color: #388E3C;
     color: #fff;
 }
 .btn-default.indigo.lighten-2:hover,
 .btn-default.indigo.lighten-2:active {
     background-color: #3f51b5;
     color: #fff;
 }
 .btn-default.pink.lighten-2:hover,
 .btn-default.pink.lighten-2:active {
     background-color: #e94281;
     color: #fff;
 }
 .btn-round.pink.darken-1:hover {
     background-color: #c2476f;
     color: #fff;
 }
 button.tooltips-left.normal-case span,
 button.tooltips-right.normal-case span {
     text-transform: none!important
 }
 .tab-pane .btn-round.btn[disabled] {
     pointer-events: visibleFill!important;
     opacity: 1.0;
 }
 .tab-pane .btn-round.btn[disabled] {
     pointer-events: visibleFill;
     opacity: 1.0;
 }
 .tab-pane .btn-round.btn[disabled]:hover {
     background-color: #EF5350;
     color: #fff;
 }
 /*pagination */

 .paging .btn.more-pager,
 .more-pager:hover,
 .more-pager:focus,
 .more-pager:active {
     background-color: transparent!important;
     box-shadow: none!important
 }

  .sca-light .navigation-link.green.darken-1.classify {
    color: #d33c75
  }


  ul.review-nav li ul li {
    color: #fff;
    background: #e94281
  }



 
.sub-navigation-link-list .btn:hover {
   
    color: #fff;
}




    .new-concept .concept-headers:first-child {
      padding-top: 3px !important
    }

    .template-term {
      background-color: red !important;
    }

    .template-slot {
      background-color: red !important;
    }
/*left nav */

.snodragon-templates{    padding: 4px 0px;
    font-size: 13px;
	background-color:#009cd7;
	color:#fff;
}
.snodragon-templates:hover, 
.snodragon-templates:active  {background:#0082b3; color:#fff}


.dark-button {background-color: rgba(0, 0, 0, 0.2)!important; color:#fff!important;}
.dark-button:hover,
.dark-button:active {background-color: rgba(0, 0, 0, 0.3) !important; color:#fff!important;}