.red.lighten-5{background-color:#FFEBEE;color:#666}
.red-text.lighten-5{color:#FFEBEE}
.red-border.lighten-5{border-color:#FFEBEE}
.red.lighten-4{background-color:#FFCDD2;color:#666}
.red-text.lighten-4{color:#FFCDD2}
.red-border.lighten-4{border-color:#FFCDD2}
.red.lighten-3{background-color:#EF9A9A;color:#666}
.red-text.lighten-3{color:#EF9A9A}
.red-border.lighten-3{border-color:#EF9A9A}
.page-header h1 i.red,.red.lighten-2{background-color:#E57373;color:#fff}
.page-header h1 i.red-text,.red-text.lighten-2{color:#E57373}
.page-header h1 i.red-border,.red-border.lighten-2{border-color:#E57373}
.red.lighten-1{background-color:#db5760;color:#fff}
.red-text.lighten-1{color:#db5760}
.red-border.lighten-1{border-color:#db5760}
.red{background-color:#c13244;color:#fff}
.red-text{color:#e92848}
.red-border{border-color:#e92848}
.red.darken-1{background-color:#E53935;color:#fff}
.red-text.darken-1{color:#E53935}
.red-border.darken-1{border-color:#E53935}
.red.darken-2{background-color:#D32F2F;color:#fff}
.red-text.darken-2{color:#D32F2F}
.red-border.darken-2{border-color:#D32F2F}
.red.darken-3{background-color:#C62828;color:#fff}
.red-text.darken-3{color:#C62828}
.red-border.darken-3{border-color:#C62828}
.red.darken-4{background-color:#B71C1C;color:#fff}
.red-text.darken-4{color:#B71C1C}
.red-border.darken-4{border-color:#B71C1C}
.red.accent-1{background-color:#FF8A80;color:#fff}
.red-text.accent-1{color:#FF8A80}
.red-border.accent-1{border-color:#FF8A80}
.red.accent-2{background-color:#FF5252;color:#fff}
.red-text.accent-2{color:#FF5252}
.red-border.accent-2{border-color:#FF5252}
.red.accent-3{background-color:#FF1744;color:#fff}
.red-text.accent-3{color:#FF1744}
.red-border.accent-3{border-color:#FF1744}
.red.accent-4{background-color:#D50000;color:#fff}
.red-text.accent-4{color:#D50000}
.red-border.accent-4{border-color:#D50000}
.pink.lighten-5{background-color:#fce4ec;color:#666}
.pink-text.lighten-5{color:#fce4ec}
.pink-border.lighten-5{border-color:#fce4ec}
.pink.lighten-4{background-color:#f8bbd0;color:#666}
.pink-text.lighten-4{color:#f8bbd0}
.pink-border.lighten-4{border-color:#f8bbd0}
.pink.lighten-3{background-color:#e0e0e0;color:#fff}
.pink-text.lighten-3{color:#e0e0e0}
.pink-border.lighten-3{border-color:#e0e0e0}
.page-header h1 i.pink,.pink.lighten-2{background-color:#f06292;color:#fff}
.page-header h1 i.pink-text,.pink-text.lighten-2{color:#f06292}
.page-header h1 i.pink-border,.pink-border.lighten-2{border-color:#f06292}
.pink.lighten-1{background-color:#ec407a;color:#fff}
.pink-text.lighten-1{color:#ec407a}
.pink-border.lighten-1{border-color:#ec407a}
.pink{background-color:#009cd7;color:#fff}
.pink-text{color:#009cd7}
.pink-border{border-color:#009cd7}
.pink.darken-1{background-color:#e55f88;color:#fff}
.pink-text.darken-1{color:#d81b60}
.pink-border.darken-1{border-color:#d81b60}
.pink.darken-2{background-color:#c2185b;color:#fff}
.pink-text.darken-2{color:#c2185b}
.pink-border.darken-2{border-color:#c2185b}
.pink.darken-3{background-color:#ad1457;color:#fff}
.pink-text.darken-3{color:#ad1457}
.pink-border.darken-3{border-color:#ad1457}
.pink.darken-4{background-color:#880e4f;color:#fff}
.pink-text.darken-4{color:#880e4f}
.pink-border.darken-4{border-color:#880e4f}
.pink.accent-1{background-color:#ff80ab;color:#fff}
.pink-text.accent-1{color:#ff80ab}
.pink-border.accent-1{border-color:#ff80ab}
.pink.accent-2{background-color:#ff4081;color:#fff}
.pink-text.accent-2{color:#ff4081}
.pink-border.accent-2{border-color:#ff4081}
.pink.accent-3{background-color:#f50057;color:#fff}
.pink-text.accent-3{color:#f50057}
.pink-border.accent-3{border-color:#f50057}
.pink.accent-4{background-color:#c51162;color:#fff}
.pink-text.accent-4{color:#c51162}
.pink-border.accent-4{border-color:#c51162}
.purple.lighten-5{background-color:#f3e5f5;color:#666}
.purple-text.lighten-5{color:#f3e5f5}
.purple-border.lighten-5{border-color:#f3e5f5}
.purple.lighten-4{background-color:#e1bee7;color:#666}
.purple-text.lighten-4{color:#e1bee7}
.purple-border.lighten-4{border-color:#e1bee7}
.purple.lighten-3{background-color:#ce93d8;color:#fff}
.purple-text.lighten-3{color:#ce93d8}
.purple-border.lighten-3{border-color:#ce93d8}
.page-header h1 i.purple,.purple.lighten-2{background-color:#ba68c8;color:#fff}
.page-header h1 i.purple-text,.purple-text.lighten-2{color:#ba68c8}
.page-header h1 i.purple-border,.purple-border.lighten-2{border-color:#ba68c8}
.purple.lighten-1{background-color:#ab47bc;color:#fff}
.purple-text.lighten-1{color:#ab47bc}
.purple-border.lighten-1{border-color:#ab47bc}
.purple{background-color:#9c27b0;color:#fff}
.purple-text{color:#9c27b0}
.purple-border{border-color:#9c27b0}
.purple.darken-1{background-color:#8e24aa;color:#fff}
.purple-text.darken-1{color:#8e24aa}
.purple-border.darken-1{border-color:#8e24aa}
.purple.darken-2{background-color:#7b1fa2;color:#fff}
.purple-text.darken-2{color:#7b1fa2}
.purple-border.darken-2{border-color:#7b1fa2}
.purple.darken-3{background-color:#6a1b9a;color:#fff}
.purple-text.darken-3{color:#6a1b9a}
.purple-border.darken-3{border-color:#6a1b9a}
.purple.darken-4{background-color:#4a148c;color:#fff}
.purple-text.darken-4{color:#4a148c}
.purple-border.darken-4{border-color:#4a148c}
.purple.accent-1{background-color:#ea80fc;color:#fff}
.purple-text.accent-1{color:#ea80fc}
.purple-border.accent-1{border-color:#ea80fc}
.purple.accent-2{background-color:#e040fb;color:#fff}
.purple-text.accent-2{color:#e040fb}
.purple-border.accent-2{border-color:#e040fb}
.purple.accent-3{background-color:#d500f9;color:#fff}
.purple-text.accent-3{color:#d500f9}
.purple-border.accent-3{border-color:#d500f9}
.purple.accent-4{background-color:#a0f;color:#fff}
.purple-text.accent-4{color:#a0f}
.purple-border.accent-4{border-color:#a0f}
.deep-purple.lighten-5{background-color:#ede7f6;color:#666}
.deep-purple-text.lighten-5{color:#ede7f6}
.deep-purple-border.lighten-5{border-color:#ede7f6}
.deep-purple.lighten-4{background-color:#d1c4e9;color:#666}
.deep-purple-text.lighten-4{color:#d1c4e9}
.deep-purple-border.lighten-4{border-color:#d1c4e9}
.deep-purple.lighten-3{background-color:#b39ddb;color:#fff}
.deep-purple-text.lighten-3{color:#b39ddb}
.deep-purple-border.lighten-3{border-color:#b39ddb}
.deep-purple.lighten-2,.page-header h1 i.deep-purple{background-color:#9575cd;color:#fff}
.deep-purple-text.lighten-2,.page-header h1 i.deep-purple-text{color:#9575cd}
.deep-purple-border.lighten-2,.page-header h1 i.deep-purple-border{border-color:#9575cd}
.deep-purple.lighten-1{background-color:#7e57c2;color:#fff}
.deep-purple-text.lighten-1{color:#7e57c2}
.deep-purple-border.lighten-1{border-color:#7e57c2}
.deep-purple{background-color:#673ab7;color:#fff}
.deep-purple-text{color:#673ab7}
.deep-purple-border{border-color:#673ab7}
.deep-purple.darken-1{background-color:#5e35b1;color:#fff}
.deep-purple-text.darken-1{color:#5e35b1}
.deep-purple-border.darken-1{border-color:#5e35b1}
.deep-purple.darken-2{background-color:#512da8;color:#fff}
.deep-purple-text.darken-2{color:#512da8}
.deep-purple-border.darken-2{border-color:#512da8}
.deep-purple.darken-3{background-color:#4527a0;color:#fff}
.deep-purple-text.darken-3{color:#4527a0}
.deep-purple-border.darken-3{border-color:#4527a0}
.deep-purple.darken-4{background-color:#311b92;color:#fff}
.deep-purple-text.darken-4{color:#311b92}
.deep-purple-border.darken-4{border-color:#311b92}
.deep-purple.accent-1{background-color:#b388ff;color:#fff}
.deep-purple-text.accent-1{color:#b388ff}
.deep-purple-border.accent-1{border-color:#b388ff}
.deep-purple.accent-2{background-color:#7c4dff;color:#fff}
.deep-purple-text.accent-2{color:#7c4dff}
.deep-purple-border.accent-2{border-color:#7c4dff}
.deep-purple.accent-3{background-color:#651fff;color:#fff}
.deep-purple-text.accent-3{color:#651fff}
.deep-purple-border.accent-3{border-color:#651fff}
.deep-purple.accent-4{background-color:#6200ea;color:#fff}
.deep-purple-text.accent-4{color:#6200ea}
.deep-purple-border.accent-4{border-color:#6200ea}
.indigo.lighten-5{background-color:#e8eaf6;color:#666}
.indigo-text.lighten-5{color:#e8eaf6}
.indigo-border.lighten-5{border-color:#e8eaf6}
.indigo.lighten-4{background-color:#c5cae9;color:#666}
.indigo-text.lighten-4{color:#c5cae9}
.indigo-border.lighten-4{border-color:#c5cae9}
.indigo.lighten-3{background-color:#9fa8da;color:#fff}
.indigo-text.lighten-3{color:#9fa8da}
.indigo-border.lighten-3{border-color:#9fa8da}
.indigo.lighten-2,.page-header h1 i.indigo{background-color:#7986cb;color:#fff}
.indigo-text.lighten-2,.page-header h1 i.indigo-text{color:#7986cb}
.indigo-border.lighten-2,.page-header h1 i.indigo-border{border-color:#7986cb}
.indigo.lighten-1{background-color:#5c6bc0;color:#fff}
.indigo-text.lighten-1{color:#5c6bc0}
.indigo-border.lighten-1{border-color:#5c6bc0}
.indigo{background-color:#3f51b5;color:#fff}
.indigo-text{color:#3f51b5}
.indigo-border{border-color:#3f51b5}
.indigo.darken-1{background-color:#3949ab;color:#fff}
.indigo-text.darken-1{color:#3949ab}
.indigo-border.darken-1{border-color:#3949ab}
.indigo.darken-2{background-color:#303f9f;color:#fff}
.indigo-text.darken-2{color:#303f9f}
.indigo-border.darken-2{border-color:#303f9f}
.indigo.darken-3{background-color:#283593;color:#fff}
.indigo-text.darken-3{color:#283593}
.indigo-border.darken-3{border-color:#283593}
.indigo.darken-4{background-color:#1a237e;color:#fff}
.indigo-text.darken-4{color:#1a237e}
.indigo-border.darken-4{border-color:#1a237e}
.indigo.accent-1{background-color:#8c9eff;color:#666}
.indigo-text.accent-1{color:#8c9eff}
.indigo-border.accent-1{border-color:#8c9eff}
.indigo.accent-2{background-color:#536dfe;color:#fff}
.indigo-text.accent-2{color:#536dfe}
.indigo-border.accent-2{border-color:#536dfe}
.indigo.accent-3{background-color:#3d5afe;color:#fff}
.indigo-text.accent-3{color:#3d5afe}
.indigo-border.accent-3{border-color:#3d5afe}
.indigo.accent-4{background-color:#304ffe;color:#fff}
.indigo-text.accent-4{color:#304ffe}
.indigo-border.accent-4{border-color:#304ffe}
.blue.lighten-5{background-color:#2196F3;color:#fff}
.blue-text.lighten-5{color:#2196F3}
.blue-border.lighten-5{border-color:#2196F3}
.blue.lighten-4{background-color:#BBDEFB;color:#666}
.blue-text.lighten-4{color:#BBDEFB}
.blue-border.lighten-4{border-color:#BBDEFB}
.blue.lighten-3{background-color:#90CAF9;color:#666}
.blue-text.lighten-3{color:#90CAF9}
.blue-border.lighten-3{border-color:#90CAF9}
.blue.lighten-2,.page-header h1 i.blue{background-color:#64B5F6;color:#fff}
.blue-text.lighten-2,.page-header h1 i.blue-text{color:#64B5F6}
.blue-border.lighten-2,.page-header h1 i.blue-border{border-color:#64B5F6}
.blue.lighten-1{background-color:#42A5F5;color:#fff}
.blue-text.lighten-1{color:#42A5F5}
.blue-border.lighten-1{border-color:#42A5F5}
.blue{background-color:#00a4e4;color:#fff}
.blue-text{color:#009cd7}
.blue-border{border-color:#009cd7}
.blue.darken-1{background-color:#009cd7;color:#fff}
.blue-text.darken-1{color:#009cd7}
.blue-border.darken-1{border-color:#009cd7}
.blue.darken-2{background-color:#0090c6;color:#fff}
.blue-text.darken-2{color:#0090c6}
.blue-border.darken-2{border-color:#0090c6}
.blue.darken-3{background-color:#007ead;color:#fff}
.blue-text.darken-3{color:#007ead}
.blue-border.darken-3{border-color:#007ead}
.blue.darken-4{background-color:#2c2d2f;color:#fff}
.blue-text.darken-4{color:#2c2d2f}
.blue-border.darken-4{border-color:#2c2d2f}
.blue.accent-1{background-color:#66d0f9;color:#fff}
.blue-text.accent-1{color:#66d0f9}
.blue-border.accent-1{border-color:#66d0f9}
.blue.accent-2{background-color:#448AFF;color:#fff}
.blue-text.accent-2{color:#448AFF}
.blue-border.accent-2{border-color:#448AFF}
.blue.accent-3{background-color:#8de0ff;color:#666}
.blue-text.accent-3{color:#8de0ff}
.blue-border.accent-3{border-color:#8de0ff}
.blue.accent-4{background-color:#d6f4ff;color:#666}
.blue-text.accent-4{color:#d6f4ff}
.blue-border.accent-4{border-color:#d6f4ff}
.light-blue.lighten-5{background-color:#e1f5fe;color:#666}
.light-blue-text.lighten-5{color:#e1f5fe}
.light-blue-border.lighten-5{border-color:#e1f5fe}
.light-blue.lighten-4{background-color:#b3e5fc;color:#666}
.light-blue-text.lighten-4{color:#b3e5fc}
.light-blue-border.lighten-4{border-color:#b3e5fc}
.light-blue.lighten-3{background-color:#81d4fa;color:#fff}
.light-blue-text.lighten-3{color:#81d4fa}
.light-blue-border.lighten-3{border-color:#81d4fa}
.light-blue.lighten-2,.page-header h1 i.light-blue{background-color:#4fc3f7;color:#fff}
.light-blue-text.lighten-2,.page-header h1 i.light-blue-text{color:#4fc3f7}
.light-blue-border.lighten-2,.page-header h1 i.light-blue-border{border-color:#4fc3f7}
.light-blue.lighten-1{background-color:#29b6f6;color:#fff}
.light-blue-text.lighten-1{color:#29b6f6}
.light-blue-border.lighten-1{border-color:#29b6f6}
.light-blue{background-color:#03a9f4;color:#fff}
.light-blue-text{color:#03a9f4}
.light-blue-border{border-color:#03a9f4}
.light-blue.darken-1{background-color:#039be5;color:#fff}
.light-blue-text.darken-1{color:#039be5}
.light-blue-border.darken-1{border-color:#039be5}
.light-blue.darken-2{background-color:#0288d1;color:#fff}
.light-blue-text.darken-2{color:#0288d1}
.light-blue-border.darken-2{border-color:#0288d1}
.light-blue.darken-3{background-color:#0277bd;color:#fff}
.light-blue-text.darken-3{color:#0277bd}
.light-blue-border.darken-3{border-color:#0277bd}
.light-blue.darken-4{background-color:#01579b;color:#fff}
.light-blue-text.darken-4{color:#01579b}
.light-blue-border.darken-4{border-color:#01579b}
.light-blue.accent-1{background-color:#80d8ff;color:#fff}
.light-blue-text.accent-1{color:#80d8ff}
.light-blue-border.accent-1{border-color:#80d8ff}
.light-blue.accent-2{background-color:#40c4ff;color:#fff}
.light-blue-text.accent-2{color:#40c4ff}
.light-blue-border.accent-2{border-color:#40c4ff}
.light-blue.accent-3{background-color:#00b0ff;color:#fff}
.light-blue-text.accent-3{color:#00b0ff}
.light-blue-border.accent-3{border-color:#00b0ff}
.light-blue.accent-4{background-color:#0091ea;color:#fff}
.light-blue-text.accent-4{color:#0091ea}
.light-blue-border.accent-4{border-color:#0091ea}
.cyan.lighten-5{background-color:#e0f7fa;color:#666}
.cyan-text.lighten-5{color:#e0f7fa}
.cyan-border.lighten-5{border-color:#e0f7fa}
.cyan.lighten-4{background-color:#b2ebf2;color:#666}
.cyan-text.lighten-4{color:#b2ebf2}
.cyan-border.lighten-4{border-color:#b2ebf2}
.cyan.lighten-3{background-color:#80deea;color:#fff}
.cyan-text.lighten-3{color:#80deea}
.cyan-border.lighten-3{border-color:#80deea}
.cyan.lighten-2,.page-header h1 i.cyan{background-color:#4dd0e1;color:#fff}
.cyan-text.lighten-2,.page-header h1 i.cyan-text{color:#4dd0e1}
.cyan-border.lighten-2,.page-header h1 i.cyan-border{border-color:#4dd0e1}
.cyan.lighten-1{background-color:#26c6da;color:#fff}
.cyan-text.lighten-1{color:#26c6da}
.cyan-border.lighten-1{border-color:#26c6da}
.cyan{background-color:#2196F3;color:#fff}
.cyan-text{color:#2196F3}
.cyan-border{border-color:#2196F3}
.cyan.darken-1{background-color:#00acc1;color:#fff}
.cyan-text.darken-1{color:#00acc1}
.cyan-border.darken-1{border-color:#00acc1}
.cyan.darken-2{background-color:#0097a7;color:#fff}
.cyan-text.darken-2{color:#0097a7}
.cyan-border.darken-2{border-color:#0097a7}
.cyan.darken-3{background-color:#00838f;color:#fff}
.cyan-text.darken-3{color:#00838f}
.cyan-border.darken-3{border-color:#00838f}
.cyan.darken-4{background-color:#006064;color:#fff}
.cyan-text.darken-4{color:#006064}
.cyan-border.darken-4{border-color:#006064}
.cyan.accent-1{background-color:#84ffff;color:#fff}
.cyan-text.accent-1{color:#84ffff}
.cyan-border.accent-1{border-color:#84ffff}
.cyan.accent-2{background-color:#18ffff;color:#fff}
.cyan-text.accent-2{color:#18ffff}
.cyan-border.accent-2{border-color:#18ffff}
.cyan.accent-3{background-color:#00e5ff;color:#fff}
.cyan-text.accent-3{color:#00e5ff}
.cyan-border.accent-3{border-color:#00e5ff}
.cyan.accent-4{background-color:#00b8d4;color:#fff}
.cyan-text.accent-4{color:#00b8d4}
.cyan-border.accent-4{border-color:#00b8d4}
.teal.lighten-5{background-color:#e0f2f1;color:#666}
.teal-text.lighten-5{color:#e0f2f1}
.teal-border.lighten-5{border-color:#e0f2f1}
.teal.lighten-4{background-color:#b2dfdb;color:#666}
.teal-text.lighten-4{color:#b2dfdb}
.teal-border.lighten-4{border-color:#b2dfdb}
.teal.lighten-3{background-color:#80cbc4;color:#fff}
.teal-text.lighten-3{color:#80cbc4}
.teal-border.lighten-3{border-color:#80cbc4}
.page-header h1 i.teal,.teal.lighten-2{background-color:#4db6ac;color:#fff}
.page-header h1 i.teal-text,.teal-text.lighten-2{color:#4db6ac}
.page-header h1 i.teal-border,.teal-border.lighten-2{border-color:#4db6ac}
.teal.lighten-1{background-color:#26a69a;color:#fff}
.teal-text.lighten-1{color:#26a69a}
.teal-border.lighten-1{border-color:#26a69a}
.teal{background-color:#009688;color:#fff}
.teal-text{color:#009688}
.teal-border{border-color:#009688}
.teal.darken-1{background-color:#00897b;color:#fff}
.teal-text.darken-1{color:#00897b}
.teal-border.darken-1{border-color:#00897b}
.teal.darken-2{background-color:#00796b;color:#fff}
.teal-text.darken-2{color:#00796b}
.teal-border.darken-2{border-color:#00796b}
.teal.darken-3{background-color:#00695c;color:#fff}
.teal-text.darken-3{color:#00695c}
.teal-border.darken-3{border-color:#00695c}
.teal.darken-4{background-color:#004d40;color:#fff}
.teal-text.darken-4{color:#004d40}
.teal-border.darken-4{border-color:#004d40}
.teal.accent-1{background-color:#a7ffeb;color:#666}
.teal-text.accent-1{color:#a7ffeb}
.teal-border.accent-1{border-color:#a7ffeb}
.teal.accent-2{background-color:#64ffda;color:#fff}
.teal-text.accent-2{color:#64ffda}
.teal-border.accent-2{border-color:#64ffda}
.teal.accent-3{background-color:#1de9b6;color:#fff}
.teal-text.accent-3{color:#1de9b6}
.teal-border.accent-3{border-color:#1de9b6}
.teal.accent-4{background-color:#00bfa5;color:#fff}
.teal-text.accent-4{color:#00bfa5}
.teal-border.accent-4{border-color:#00bfa5}
.green.lighten-5{background-color:#E8F5E9;color:#666}
.green-text.lighten-5{color:#E8F5E9}
.green-border.lighten-5{border-color:#E8F5E9}
.green.lighten-4{background-color:#C8E6C9;color:#666}
.green-text.lighten-4{color:#C8E6C9}
.green-border.lighten-4{border-color:#C8E6C9}
.green.lighten-3{background-color:#A5D6A7;color:#fff}
.green-text.lighten-3{color:#A5D6A7}
.green-border.lighten-3{border-color:#A5D6A7}
.green.lighten-2,.page-header h1 i.green{background-color:#81C784;color:#fff}
.green-text.lighten-2,.page-header h1 i.green-text{color:#81C784}
.green-border.lighten-2,.page-header h1 i.green-border{border-color:#81C784}
.green.lighten-1{background-color:#66BB6A;color:#fff}
.green-text.lighten-1{color:#66BB6A}
.green-border.lighten-1{border-color:#66BB6A}
.green{background-color:#4CAF50;color:#fff}
.green-text{color:#4CAF50}
.green-border{border-color:#4CAF50}
.green.darken-1{background-color:#43A047;color:#fff}
.green-text.darken-1{color:#43A047}
.green-border.darken-1{border-color:#43A047}
.green.darken-2{background-color:#388E3C;color:#fff}
.green-text.darken-2{color:#388E3C}
.green-border.darken-2{border-color:#388E3C}
.green.darken-3{background-color:#2E7D32;color:#fff}
.green-text.darken-3{color:#2E7D32}
.green-border.darken-3{border-color:#2E7D32}
.green.darken-4{background-color:#1B5E20;color:#fff}
.green-text.darken-4{color:#1B5E20}
.green-border.darken-4{border-color:#1B5E20}
.green.accent-1{background-color:#B9F6CA;color:#666}
.green-text.accent-1{color:#B9F6CA}
.green-border.accent-1{border-color:#B9F6CA}
.green.accent-2{background-color:#69F0AE;color:#fff}
.green-text.accent-2{color:#69F0AE}
.green-border.accent-2{border-color:#69F0AE}
.green.accent-3{background-color:#00E676;color:#fff}
.green-text.accent-3{color:#00E676}
.green-border.accent-3{border-color:#00E676}
.green.accent-4{background-color:#1ED068;color:#fff}
.green-text.accent-4{color:#1ED068}
.green-border.accent-4{border-color:#1ED068}
.light-green.lighten-5{background-color:#f1f8e9;color:#666}
.light-green-text.lighten-5{color:#f1f8e9}
.light-green-border.lighten-5{border-color:#f1f8e9}
.light-green.lighten-4{background-color:#dcedc8;color:#666}
.light-green-text.lighten-4{color:#dcedc8}
.light-green-border.lighten-4{border-color:#dcedc8}
.light-green.lighten-3{background-color:#c5e1a5;color:#fff}
.light-green-text.lighten-3{color:#c5e1a5}
.light-green-border.lighten-3{border-color:#c5e1a5}
.light-green.lighten-2,.page-header h1 i.light-green{background-color:#aed581;color:#fff}
.light-green-text.lighten-2,.page-header h1 i.light-green-text{color:#aed581}
.light-green-border.lighten-2,.page-header h1 i.light-green-border{border-color:#aed581}
.light-green.lighten-1{background-color:#9ccc65;color:#fff}
.light-green-text.lighten-1{color:#9ccc65}
.light-green-border.lighten-1{border-color:#9ccc65}
.light-green{background-color:#8bc34a;color:#fff}
.light-green-text{color:#8bc34a}
.light-green-border{border-color:#8bc34a}
.light-green.darken-1{background-color:#7cb342;color:#fff}
.light-green-text.darken-1{color:#7cb342}
.light-green-border.darken-1{border-color:#7cb342}
.light-green.darken-2{background-color:#689f38;color:#fff}
.light-green-text.darken-2{color:#689f38}
.light-green-border.darken-2{border-color:#689f38}
.light-green.darken-3{background-color:#558b2f;color:#fff}
.light-green-text.darken-3{color:#558b2f}
.light-green-border.darken-3{border-color:#558b2f}
.light-green.darken-4{background-color:#33691e;color:#fff}
.light-green-text.darken-4{color:#33691e}
.light-green-border.darken-4{border-color:#33691e}
.light-green.accent-1{background-color:#ccff90;color:#666}
.light-green-text.accent-1{color:#ccff90}
.light-green-border.accent-1{border-color:#ccff90}
.light-green.accent-2{background-color:#b2ff59;color:#fff}
.light-green-text.accent-2{color:#b2ff59}
.light-green-border.accent-2{border-color:#b2ff59}
.light-green.accent-3{background-color:#76ff03;color:#fff}
.light-green-text.accent-3{color:#76ff03}
.light-green-border.accent-3{border-color:#76ff03}
.light-green.accent-4{background-color:#64dd17;color:#fff}
.light-green-text.accent-4{color:#64dd17}
.light-green-border.accent-4{border-color:#64dd17}
.lime.lighten-5{background-color:#f9fbe7;color:#666}
.lime-text.lighten-5{color:#f9fbe7}
.lime-border.lighten-5{border-color:#f9fbe7}
.lime.lighten-4{background-color:#f0f4c3;color:#666}
.lime-text.lighten-4{color:#f0f4c3}
.lime-border.lighten-4{border-color:#f0f4c3}
.lime.lighten-3{background-color:#e6ee9c;color:#666}
.lime-text.lighten-3{color:#e6ee9c}
.lime-border.lighten-3{border-color:#e6ee9c}
.lime.lighten-2,.page-header h1 i.lime{background-color:#dce775;color:#fff}
.lime-text.lighten-2,.page-header h1 i.lime-text{color:#dce775}
.lime-border.lighten-2,.page-header h1 i.lime-border{border-color:#dce775}
.lime.lighten-1{background-color:#d4e157;color:#fff}
.lime-text.lighten-1{color:#d4e157}
.lime-border.lighten-1{border-color:#d4e157}
.lime{background-color:#cddc39;color:#fff}
.lime-text{color:#cddc39}
.lime-border{border-color:#cddc39}
.lime.darken-1{background-color:#c0ca33;color:#fff}
.lime-text.darken-1{color:#c0ca33}
.lime-border.darken-1{border-color:#c0ca33}
.lime.darken-2{background-color:#afb42b;color:#fff}
.lime-text.darken-2{color:#afb42b}
.lime-border.darken-2{border-color:#afb42b}
.lime.darken-3{background-color:#9e9d24;color:#fff}
.lime-text.darken-3{color:#9e9d24}
.lime-border.darken-3{border-color:#9e9d24}
.lime.darken-4{background-color:#827717;color:#fff}
.lime-text.darken-4{color:#827717}
.lime-border.darken-4{border-color:#827717}
.lime.accent-1{background-color:#f4ff81;color:#fff}
.lime-text.accent-1{color:#f4ff81}
.lime-border.accent-1{border-color:#f4ff81}
.lime.accent-2{background-color:#eeff41;color:#fff}
.lime-text.accent-2{color:#eeff41}
.lime-border.accent-2{border-color:#eeff41}
.lime.accent-3{background-color:#c6ff00;color:#fff}
.lime-text.accent-3{color:#c6ff00}
.lime-border.accent-3{border-color:#c6ff00}
.lime.accent-4{background-color:#aeea00;color:#fff}
.lime-text.accent-4{color:#aeea00}
.lime-border.accent-4{border-color:#aeea00}
.yellow.lighten-5{background-color:#fffde7;color:#666}
.yellow-text.lighten-5{color:#fffde7}
.yellow-border.lighten-5{border-color:#fffde7}
.yellow.lighten-4{background-color:#fff9c4;color:#666}
.yellow-text.lighten-4{color:#fff9c4}
.yellow-border.lighten-4{border-color:#fff9c4}
.yellow.lighten-3{background-color:#fff59d;color:#666}
.yellow-text.lighten-3{color:#fff59d}
.yellow-border.lighten-3{border-color:#fff59d}
.page-header h1 i.yellow,.yellow.lighten-2{background-color:#fff176;color:#fff}
.page-header h1 i.yellow-text,.yellow-text.lighten-2{color:#fff176}
.page-header h1 i.yellow-border,.yellow-border.lighten-2{border-color:#fff176}
.yellow.lighten-1{background-color:#ffee58;color:#fff}
.yellow-text.lighten-1{color:#ffee58}
.yellow-border.lighten-1{border-color:#ffee58}
.yellow{background-color:#ffeb3b;color:#fff}
.yellow-text{color:#ffeb3b}
.yellow-border{border-color:#ffeb3b}
.yellow.darken-1{background-color:#fdd835;color:#fff}
.yellow-text.darken-1{color:#fdd835}
.yellow-border.darken-1{border-color:#fdd835}
.yellow.darken-2{background-color:#fbc02d;color:#fff}
.yellow-text.darken-2{color:#fbc02d}
.yellow-border.darken-2{border-color:#fbc02d}
.yellow.darken-3{background-color:#f9a825;color:#fff}
.yellow-text.darken-3{color:#f9a825}
.yellow-border.darken-3{border-color:#f9a825}
.yellow.darken-4{background-color:#f57f17;color:#fff}
.yellow-text.darken-4{color:#f57f17}
.yellow-border.darken-4{border-color:#f57f17}
.yellow.accent-1{background-color:#ffff8d;color:#666}
.yellow-text.accent-1{color:#ffff8d}
.yellow-border.accent-1{border-color:#ffff8d}
.yellow.accent-2{background-color:#ff0;color:#fff}
.yellow-text.accent-2{color:#ff0}
.yellow-border.accent-2{border-color:#ff0}
.yellow.accent-3{background-color:#ffea00;color:#fff}
.yellow-text.accent-3{color:#ffea00}
.yellow-border.accent-3{border-color:#ffea00}
.yellow.accent-4{background-color:#ffd600;color:#fff}
.yellow-text.accent-4{color:#ffd600}
.yellow-border.accent-4{border-color:#ffd600}
.amber.lighten-5{background-color:#fff8e1;color:#666}
.amber-text.lighten-5{color:#fff8e1}
.amber-border.lighten-5{border-color:#fff8e1}
.amber.lighten-4{background-color:#ffecb3;color:#666}
.amber-text.lighten-4{color:#ffecb3}
.amber-border.lighten-4{border-color:#ffecb3}
.amber.lighten-3{background-color:#ffe082;color:#fff}
.amber-text.lighten-3{color:#ffe082}
.amber-border.lighten-3{border-color:#ffe082}
.amber.lighten-2,.page-header h1 i.amber{background-color:#ffd54f;color:#fff}
.amber-text.lighten-2,.page-header h1 i.amber-text{color:#ffd54f}
.amber-border.lighten-2,.page-header h1 i.amber-border{border-color:#ffd54f}
.amber.lighten-1{background-color:#ffca28;color:#fff}
.amber-text.lighten-1{color:#ffca28}
.amber-border.lighten-1{border-color:#ffca28}
.amber{background-color:#ffc107;color:#fff}
.amber-text{color:#ffc107}
.amber-border{border-color:#ffc107}
.amber.darken-1{background-color:#ffb300;color:#fff}
.amber-text.darken-1{color:#ffb300}
.amber-border.darken-1{border-color:#ffb300}
.amber.darken-2{background-color:#ffa000;color:#fff}
.amber-text.darken-2{color:#ffa000}
.amber-border.darken-2{border-color:#ffa000}
.amber.darken-3{background-color:#ff8f00;color:#fff}
.amber-text.darken-3{color:#ff8f00}
.amber-border.darken-3{border-color:#ff8f00}
.amber.darken-4{background-color:#ff6f00;color:#fff}
.amber-text.darken-4{color:#ff6f00}
.amber-border.darken-4{border-color:#ff6f00}
.amber.accent-1{background-color:#ffe57f;color:#fff}
.amber-text.accent-1{color:#ffe57f}
.amber-border.accent-1{border-color:#ffe57f}
.amber.accent-2{background-color:#ffd740;color:#fff}
.amber-text.accent-2{color:#ffd740}
.amber-border.accent-2{border-color:#ffd740}
.amber.accent-3{background-color:#ffc400;color:#fff}
.amber-text.accent-3{color:#ffc400}
.amber-border.accent-3{border-color:#ffc400}
.amber.accent-4{background-color:#ffab00;color:#fff}
.amber-text.accent-4{color:#ffab00}
.amber-border.accent-4{border-color:#ffab00}
.orange.lighten-5{background-color:#fff3e0;color:#666}
.orange-text.lighten-5{color:#fff3e0}
.orange-border.lighten-5{border-color:#fff3e0}
.orange.lighten-4{background-color:#ffe0b2;color:#666}
.orange-text.lighten-4{color:#ffe0b2}
.orange-border.lighten-4{border-color:#ffe0b2}
.orange.lighten-3{background-color:#ffcc80;color:#fff}
.orange-text.lighten-3{color:#ffcc80}
.orange-border.lighten-3{border-color:#ffcc80}
.orange.lighten-2,.page-header h1 i.orange{background-color:#ffb74d;color:#fff}
.orange-text.lighten-2,.page-header h1 i.orange-text{color:#ffb74d}
.orange-border.lighten-2,.page-header h1 i.orange-border{border-color:#ffb74d}
.orange.lighten-1{background-color:#ffa726;color:#fff}
.orange-text.lighten-1{color:#ffa726}
.orange-border.lighten-1{border-color:#ffa726}
.orange{background-color:#ff9800;color:#fff}
.orange-text{color:#ff9800}
.orange-border{border-color:#ff9800}
.orange.darken-1{background-color:#fb8c00;color:#fff}
.orange-text.darken-1{color:#fb8c00}
.orange-border.darken-1{border-color:#fb8c00}
.orange.darken-2{background-color:#f57c00;color:#fff}
.orange-text.darken-2{color:#f57c00}
.orange-border.darken-2{border-color:#f57c00}
.orange.darken-3{background-color:#ef6c00;color:#fff}
.orange-text.darken-3{color:#ef6c00}
.orange-border.darken-3{border-color:#ef6c00}
.orange.darken-4{background-color:#e65100;color:#fff}
.orange-text.darken-4{color:#e65100}
.orange-border.darken-4{border-color:#e65100}
.orange.accent-1{background-color:#ffd180;color:#fff}
.orange-text.accent-1{color:#ffd180}
.orange-border.accent-1{border-color:#ffd180}
.orange.accent-2{background-color:#ffab40;color:#fff}
.orange-text.accent-2{color:#ffab40}
.orange-border.accent-2{border-color:#ffab40}
.orange.accent-3{background-color:#ff9100;color:#fff}
.orange-text.accent-3{color:#ff9100}
.orange-border.accent-3{border-color:#ff9100}
.orange.accent-4{background-color:#ff6d00;color:#fff}
.orange-text.accent-4{color:#ff6d00}
.orange-border.accent-4{border-color:#ff6d00}
.deep-orange.lighten-5{background-color:#fbe9e7;color:#666}
.deep-orange-text.lighten-5{color:#fbe9e7}
.deep-orange-border.lighten-5{border-color:#fbe9e7}
.deep-orange.lighten-4{background-color:#ffccbc;color:#666}
.deep-orange-text.lighten-4{color:#ffccbc}
.deep-orange-border.lighten-4{border-color:#ffccbc}
.deep-orange.lighten-3{background-color:#ffab91;color:#666}
.deep-orange-text.lighten-3{color:#ffab91}
.deep-orange-border.lighten-3{border-color:#ffab91}
.deep-orange.lighten-2,.page-header h1 i.deep-orange{background-color:#ff8a65;color:#fff}
.deep-orange-text.lighten-2,.page-header h1 i.deep-orange-text{color:#ff8a65}
.deep-orange-border.lighten-2,.page-header h1 i.deep-orange-border{border-color:#ff8a65}
.deep-orange.lighten-1{background-color:#ff7043;color:#fff}
.deep-orange-text.lighten-1{color:#ff7043}
.deep-orange-border.lighten-1{border-color:#ff7043}
.deep-orange{background-color:#ff5722;color:#fff}
.deep-orange-text{color:#ff5722}
.deep-orange-border{border-color:#ff5722}
.deep-orange.darken-1{background-color:#f4511e;color:#fff}
.deep-orange-text.darken-1{color:#f4511e}
.deep-orange-border.darken-1{border-color:#f4511e}
.deep-orange.darken-2{background-color:#e64a19;color:#fff}
.deep-orange-text.darken-2{color:#e64a19}
.deep-orange-border.darken-2{border-color:#e64a19}
.deep-orange.darken-3{background-color:#d84315;color:#fff}
.deep-orange-text.darken-3{color:#d84315}
.deep-orange-border.darken-3{border-color:#d84315}
.deep-orange.darken-4{background-color:#bf360c;color:#fff}
.deep-orange-text.darken-4{color:#bf360c}
.deep-orange-border.darken-4{border-color:#bf360c}
.deep-orange.accent-1{background-color:#ff9e80;color:#fff}
.deep-orange-text.accent-1{color:#ff9e80}
.deep-orange-border.accent-1{border-color:#ff9e80}
.deep-orange.accent-2{background-color:#ff6e40;color:#fff}
.deep-orange-text.accent-2{color:#ff6e40}
.deep-orange-border.accent-2{border-color:#ff6e40}
.deep-orange.accent-3{background-color:#ff3d00;color:#fff}
.deep-orange-text.accent-3{color:#ff3d00}
.deep-orange-border.accent-3{border-color:#ff3d00}
.deep-orange.accent-4{background-color:#dd2c00;color:#fff}
.deep-orange-text.accent-4{color:#dd2c00}
.deep-orange-border.accent-4{border-color:#dd2c00}
.brown.lighten-5{background-color:#efebe9;color:#666}
.brown-text.lighten-5{color:#efebe9}
.brown-border.lighten-5{border-color:#efebe9}
.brown.lighten-4{background-color:#d7ccc8;color:#666}
.brown-text.lighten-4{color:#d7ccc8}
.brown-border.lighten-4{border-color:#d7ccc8}
.brown.lighten-3{background-color:#bcaaa4;color:#fff}
.brown-text.lighten-3{color:#bcaaa4}
.brown-border.lighten-3{border-color:#bcaaa4}
.brown.lighten-2,.page-header h1 i.brown{background-color:#a1887f;color:#fff}
.brown-text.lighten-2,.page-header h1 i.brown-text{color:#a1887f}
.brown-border.lighten-2,.page-header h1 i.brown-border{border-color:#a1887f}
.brown.lighten-1{background-color:#8d6e63;color:#fff}
.brown-text.lighten-1{color:#8d6e63}
.brown-border.lighten-1{border-color:#8d6e63}
.brown{background-color:#795548;color:#fff}
.brown-text{color:#795548}
.brown-border{border-color:#795548}
.brown.darken-1{background-color:#6d4c41;color:#fff}
.brown-text.darken-1{color:#6d4c41}
.brown-border.darken-1{border-color:#6d4c41}
.brown.darken-2{background-color:#5d4037;color:#fff}
.brown-text.darken-2{color:#5d4037}
.brown-border.darken-2{border-color:#5d4037}
.brown.darken-3{background-color:#4e342e;color:#fff}
.brown-text.darken-3{color:#4e342e}
.brown-border.darken-3{border-color:#4e342e}
.brown.darken-4{background-color:#3e2723;color:#fff}
.brown-text.darken-4{color:#3e2723}
.brown-border.darken-4{border-color:#3e2723}
.blue-grey.lighten-5{background-color:#eceff1;color:#666}
.blue-grey-text.lighten-5{color:#eceff1}
.blue-grey-border.lighten-5{border-color:#eceff1}
.blue-grey.lighten-4{background-color:#cfd8dc;color:#666}
.blue-grey-text.lighten-4{color:#cfd8dc}
.blue-grey-border.lighten-4{border-color:#cfd8dc}
.blue-grey.lighten-3{background-color:#b0bec5;color:#fff}
.blue-grey-text.lighten-3{color:#b0bec5}
.blue-grey-border.lighten-3{border-color:#b0bec5}
.blue-grey.lighten-2,.page-header h1 i.blue-grey{background-color:#90a4ae;color:#fff}
.blue-grey-text.lighten-2,.page-header h1 i.blue-grey-text{color:#90a4ae}
.blue-grey-border.lighten-2,.page-header h1 i.blue-grey-border{border-color:#90a4ae}
.blue-grey.lighten-1{background-color:#78909c;color:#fff}
.blue-grey-text.lighten-1{color:#78909c}
.blue-grey-border.lighten-1{border-color:#78909c}
.blue-grey{background-color:#607d8b;color:#fff}
.blue-grey-text{color:#607d8b}
.blue-grey-border{border-color:#607d8b}
.blue-grey.darken-1{background-color:#546e7a;color:#fff}
.blue-grey-text.darken-1{color:#546e7a}
.blue-grey-border.darken-1{border-color:#546e7a}
.blue-grey.darken-2{background-color:#455a64;color:#fff}
.blue-grey-text.darken-2{color:#455a64}
.blue-grey-border.darken-2{border-color:#455a64}
.blue-grey.darken-3{background-color:#37474f;color:#fff}
.blue-grey-text.darken-3{color:#37474f}
.blue-grey-border.darken-3{border-color:#37474f}
.blue-grey.darken-4{background-color:#263238;color:#fff}
.blue-grey-text.darken-4{color:#263238}
.blue-grey-border.darken-4{border-color:#263238}
.grey.lighten-5{background-color:#fafafa;color:#666}
.grey-text.lighten-5,.page-header h1 i.lighten-5{color:#fafafa}
.grey-border.lighten-5{border-color:#fafafa}
.grey.lighten-4{background-color:#f5f5f5;color:#666}
.grey-text.lighten-4,.page-header h1 i.lighten-4{color:#f5f5f5}
.grey-border.lighten-4{border-color:#f5f5f5}
.grey.lighten-3{background-color:#eee;color:#666}
.grey-text.lighten-3,.page-header h1 i.lighten-3{color:#eee}
.grey-border.lighten-3{border-color:#eee}
.grey.lighten-2,.page-header h1 i.grey{background-color:#e0e0e0;color:#666}
.grey-text.lighten-2,.page-header h1 i{color:#e0e0e0}
.grey-border.lighten-2,.page-header h1 i.grey-border{border-color:#e0e0e0}
.grey.lighten-1{background-color:#bdbdbd;color:#fff}
.grey-text.lighten-1,.page-header h1 i.lighten-1{color:#bdbdbd}
.grey-border.lighten-1{border-color:#bdbdbd}
.grey{background-color:#9e9e9e;color:#fff}
.grey-text,.page-header h1 i{color:#9e9e9e}
.grey-border{border-color:#9e9e9e}
.grey.darken-1{background-color:#757575;color:#fff}
.grey-text.darken-1,.page-header h1 i.darken-1{color:#757575}
.grey-border.darken-1{border-color:#757575}
.grey.darken-2{background-color:#616161;color:#fff}
.grey-text.darken-2,.page-header h1 i.darken-2{color:#616161}
.grey-border.darken-2{border-color:#616161}
.grey.darken-3{background-color:#424242;color:#fff}
.grey-text.darken-3,.page-header h1 i.darken-3{color:#424242}
.grey-border.darken-3{border-color:#424242}
.grey.darken-4{background-color:#212121;color:#fff}
.grey-text.darken-4,.page-header h1 i.darken-4{color:#212121}
.grey-border.darken-4{border-color:#212121}
.shades.black{background-color:#000;color:#fff}
.shades-text.black{color:#000}
.shades-border.black{border-color:#000}
.shades.white{background-color:#FFF;color:#666}
.shades-text.white{color:#FFF}
.shades-border.white{border-color:#FFF}
.black{background-color:#000;color:#fff}
.black-text{color:#000}
.white{background-color:#FFF;color:#666}
.white-text{color:#FFF}
.theme-blue .theme-lighten-5{background-color:#2196F3;color:#fff}
.theme-blue .theme-text-lighten-5{color:#2196F3}
.theme-blue .theme-bg-lighten-5{background-color:#2196F3}
.theme-blue .theme-border-lighten-5{border-color:#2196F3}
.theme-blue .theme-fill-lighten-5{fill:#2196F3}
.theme-blue .theme-box-inset-lighten-5{-webkit-box-shadow:inset 0 -2px 0 #2196F3;box-shadow:inset 0 -2px 0 #2196F3}
.theme-blue .theme-lighten-4{background-color:#BBDEFB;color:#666}
.theme-blue .theme-text-lighten-4{color:#BBDEFB}
.theme-blue .theme-bg-lighten-4{background-color:#BBDEFB}
.theme-blue .theme-border-lighten-4{border-color:#BBDEFB}
.theme-blue .theme-fill-lighten-4{fill:#BBDEFB}
.theme-blue .theme-box-inset-lighten-4{-webkit-box-shadow:inset 0 -2px 0 #BBDEFB;box-shadow:inset 0 -2px 0 #BBDEFB}
.theme-blue .theme-lighten-3{background-color:#90CAF9;color:#666}
.theme-blue .theme-text-lighten-3{color:#90CAF9}
.switch label .theme-blue input[type=checkbox]:checked + .lever{background-color:#90CAF9}
.theme-blue .btn-primary.disabled,.theme-blue .switch label input[type=checkbox]:checked + .lever,.theme-blue .theme-bg-lighten-3{background-color:#90CAF9}
.theme-blue .theme-border-lighten-3{border-color:#90CAF9}
.theme-blue .theme-fill-lighten-3{fill:#90CAF9}
.theme-blue .theme-box-inset-lighten-3{-webkit-box-shadow:inset 0 -2px 0 #90CAF9;box-shadow:inset 0 -2px 0 #90CAF9}
.theme-blue .theme-lighten-2{background-color:#64B5F6;color:#fff}
.theme-blue .theme-text-lighten-2{color:#64B5F6}
.theme-blue .theme-bg-lighten-2{background-color:#64B5F6}
.theme-blue .theme-border-lighten-2{border-color:#64B5F6}
.theme-blue .theme-fill-lighten-2{fill:#64B5F6}
.theme-blue .theme-box-inset-lighten-2{-webkit-box-shadow:inset 0 -2px 0 #64B5F6;box-shadow:inset 0 -2px 0 #64B5F6}
.theme-blue .theme-lighten-1{background-color:#42A5F5;color:#fff}
.theme-blue .theme-text-lighten-1,.theme-blue aside.sidebar a.collapsible-header:after{color:#42A5F5}
aside.sidebar .theme-blue a.collapsible-header:after{color:#42A5F5}
.theme-blue .theme-bg-lighten-1{background-color:#42A5F5}
#loading-bar .theme-blue .bar{background-color:#00a6e5}
#logo .theme-blue .foot2,#logo .theme-blue .foot4{background-color:#00a6e5}
.noUi-range .theme-blue .noUi-origin:first-child,.switch label .theme-blue input[type=checkbox]:checked + .lever:after{background-color:#00a6e5}
.theme-blue #loading-bar .bar{background-color:#00a6e5}
.theme-blue #logo .foot2,.theme-blue #logo .foot4{background-color:#00a6e5}
.theme-blue .btn-primary,.theme-blue .noUi-base{background-color:#00a6e5}
.theme-blue .noUi-handle{background-color:#00a6e5}
.theme-blue .noUi-handle:before{background-color:#00a6e5}
.theme-blue .noUi-range .noUi-origin:first-child,.theme-blue .switch label input[type=checkbox]:checked + .lever:after,.theme-blue .theme,.theme-blue .theme-bg{background-color:#00a6e5}
.theme-blue input[type=checkbox]:checked:after,.theme-blue input[type=radio]:before{background-color:#00a6e5}
.theme-blue .theme-border-lighten-1{border-color:#42A5F5}
.theme-blue .theme-fill-lighten-1{fill:#42A5F5}
.theme-blue .theme-box-inset-lighten-1{-webkit-box-shadow:inset 0 -2px 0 #42A5F5;box-shadow:inset 0 -2px 0 #42A5F5}
.theme-blue .theme{color:#fff}
.dashboard .table-dashboard-widget-1 .theme-blue td:first-child,.page-header .theme-blue h1{color:#00a6e5}
.theme-blue .btn-link,.theme-blue .dashboard .table-dashboard-widget-1 td:first-child{color:#00a6e5}
.theme-blue .nav-tabs > li.active > a{color:#00a6e5}
.theme-blue .nav-tabs > li.active > a:focus:hover{color:#00a6e5}
.theme-blue .nav-tabs > li > a:hover{color:#00a6e5}
.theme-blue .page-header h1,.theme-blue .theme-text{color:#00a6e5}
.theme-blue .todo-app .filters .filter{color:#00a6e5}
.theme-blue .todo-app .filters .filter.active:hover,.theme-blue .todo-app .filters .filter:focus:hover{color:#00a6e5}
.todo-app .filters .theme-blue .filter{color:#00a6e5}
.todo-app .filters .theme-blue .filter.active:hover,.todo-app .filters .theme-blue .filter:focus:hover{color:#00a6e5}
.theme-blue .theme-border{border-color:#00a6e5}
.theme-blue input[type=checkbox]:checked:after,.theme-blue input[type=radio]:checked:after{border-color:#00a6e5}
.theme-blue .theme-fill{fill:#00a6e5}
.focussed .theme-blue .ta-bind{-webkit-box-shadow:inset 0 -2px 0 #00a6e5;box-shadow:inset 0 -2px 0 #00a6e5}
.theme-blue .focussed .ta-bind{-webkit-box-shadow:inset 0 -2px 0 #00a6e5;box-shadow:inset 0 -2px 0 #00a6e5}
.theme-blue .nav-tabs > li.active > a,.theme-blue .nav-tabs > li > a:hover{-webkit-box-shadow:inset 0 -2px 0 #00a6e5;box-shadow:inset 0 -2px 0 #00a6e5}
.theme-blue .theme-box-inset{-webkit-box-shadow:inset 0 -2px 0 #00a6e5;box-shadow:inset 0 -2px 0 #00a6e5}
.theme-blue .todo-app .filters .filter.active,.theme-blue .todo-app .filters .filter:hover{-webkit-box-shadow:inset 0 -2px 0 #00a6e5;box-shadow:inset 0 -2px 0 #00a6e5}
.theme-blue [contenteditable].form-control:focus,.theme-blue [type=email].form-control:focus,.theme-blue [type=password].form-control:focus,.theme-blue [type=tel].form-control:focus,.theme-blue [type=text].form-control:focus{-webkit-box-shadow:inset 0 -2px 0 #00a6e5;box-shadow:inset 0 -2px 0 #00a6e5}
.theme-blue input.form-control:focus,.theme-blue input[type=email]:focus,.theme-blue input[type=number]:focus,.theme-blue input[type=password]:focus,.theme-blue input[type=text]:focus{-webkit-box-shadow:inset 0 -2px 0 #00a6e5;box-shadow:inset 0 -2px 0 #00a6e5}
.theme-blue select:focus,.theme-blue textarea:focus{-webkit-box-shadow:inset 0 -2px 0 #00a6e5;box-shadow:inset 0 -2px 0 #00a6e5}
.todo-app .filters .theme-blue .filter.active,.todo-app .filters .theme-blue .filter:hover{-webkit-box-shadow:inset 0 -2px 0 #00a6e5;box-shadow:inset 0 -2px 0 #00a6e5}
.theme-blue .theme-darken-1{background-color:#009cd7;color:#fff}
.theme-blue .btn-link:focus,.theme-blue .btn-link:hover{color:#009cd7}
.theme-blue .theme-text-darken-1{color:#009cd7}
#logo .theme-blue .foot1,#logo .theme-blue .foot3{background-color:#009cd7}
.theme-blue #logo .foot1,.theme-blue #logo .foot3{background-color:#009cd7}
.theme-blue .btn-primary:hover,.theme-blue .theme-bg-darken-1{background-color:#009cd7}
.theme-blue .theme-border-darken-1{border-color:#009cd7}
.theme-blue .theme-fill-darken-1{fill:#009cd7}
.theme-blue .theme-box-inset-darken-1{-webkit-box-shadow:inset 0 -2px 0 #009cd7;box-shadow:inset 0 -2px 0 #009cd7}
.theme-blue .theme-darken-2{background-color:#0090c6;color:#fff}
.theme-blue .theme-text-darken-2{color:#0090c6}
.theme-blue .theme-bg-darken-2{background-color:#0090c6}
.theme-blue .theme-border-darken-2{border-color:#0090c6}
.theme-blue .theme-fill-darken-2{fill:#0090c6}
.theme-blue .theme-box-inset-darken-2{-webkit-box-shadow:inset 0 -2px 0 #0090c6;box-shadow:inset 0 -2px 0 #0090c6}
.theme-blue .theme-darken-3{background-color:#007ead;color:#fff}
.theme-blue .theme-text-darken-3{color:#007ead}
.theme-blue .theme-bg-darken-3{background-color:#007ead}
.theme-blue .theme-border-darken-3{border-color:#007ead}
.theme-blue .theme-fill-darken-3{fill:#007ead}
.theme-blue .theme-box-inset-darken-3{-webkit-box-shadow:inset 0 -2px 0 #007ead;box-shadow:inset 0 -2px 0 #007ead}
.theme-blue .theme-darken-4{background-color:#2c2d2f;color:#fff}
.theme-blue .theme-text-darken-4{color:#2c2d2f}
.theme-blue .theme-bg-darken-4{background-color:#2c2d2f}
.theme-blue .theme-border-darken-4{border-color:#2c2d2f}
.theme-blue .theme-fill-darken-4{fill:#2c2d2f}
.theme-blue .theme-box-inset-darken-4{-webkit-box-shadow:inset 0 -2px 0 #2c2d2f;box-shadow:inset 0 -2px 0 #2c2d2f}
.theme-blue .theme-accent-1{background-color:#66d0f9;color:#fff}
.theme-blue .theme-text-accent-1{color:#66d0f9}
.theme-blue .theme-bg-accent-1{background-color:#66d0f9}
.theme-blue .theme-border-accent-1{border-color:#66d0f9}
.theme-blue .theme-fill-accent-1{fill:#66d0f9}
.theme-blue .theme-box-inset-accent-1{-webkit-box-shadow:inset 0 -2px 0 #66d0f9;box-shadow:inset 0 -2px 0 #66d0f9}
.theme-blue .theme-accent-2{background-color:#448AFF;color:#fff}
.theme-blue .theme-text-accent-2{color:#448AFF}
.theme-blue .theme-bg-accent-2{background-color:#448AFF}
.theme-blue .theme-border-accent-2{border-color:#448AFF}
.theme-blue .theme-fill-accent-2{fill:#448AFF}
.theme-blue .theme-box-inset-accent-2{-webkit-box-shadow:inset 0 -2px 0 #448AFF;box-shadow:inset 0 -2px 0 #448AFF}
.theme-blue .theme-accent-3{background-color:#8de0ff;color:#666}
.theme-blue .theme-text-accent-3{color:#8de0ff}
.theme-blue .theme-bg-accent-3{background-color:#8de0ff}
.theme-blue .theme-border-accent-3{border-color:#8de0ff}
.theme-blue .theme-fill-accent-3{fill:#8de0ff}
.theme-blue .theme-box-inset-accent-3{-webkit-box-shadow:inset 0 -2px 0 #8de0ff;box-shadow:inset 0 -2px 0 #8de0ff}
.theme-blue .theme-accent-4{background-color:#d6f4ff;color:#666}
.theme-blue .theme-text-accent-4{color:#d6f4ff}
.theme-blue .btn-primary:focus,.theme-blue .theme-bg-accent-4{background-color:#d6f4ff}
.theme-blue .theme-border-accent-4{border-color:#d6f4ff}
.theme-blue .theme-fill-accent-4{fill:#d6f4ff}
.theme-blue .theme-box-inset-accent-4{-webkit-box-shadow:inset 0 -2px 0 #d6f4ff;box-shadow:inset 0 -2px 0 #d6f4ff}
.theme-blue .theme-secondary-lighten-5{background-color:#e0f7fa;color:#666}
.theme-blue .theme-secondary-text-lighten-5{color:#e0f7fa}
.card .list-group .theme-blue .list-group-item:hover{background-color:#e0f7fa}
.theme-blue .card .list-group .list-group-item:hover,.theme-blue .theme-secondary-bg-lighten-5{background-color:#e0f7fa}
.theme-blue .theme-secondary-border-lighten-5{border-color:#e0f7fa}
.theme-blue .theme-secondary-fill-lighten-5{fill:#e0f7fa}
.theme-blue .theme-secondary-box-inset-lighten-5{-webkit-box-shadow:inset 0 -2px 0 #e0f7fa;box-shadow:inset 0 -2px 0 #e0f7fa}
.theme-blue .theme-secondary-lighten-4{background-color:#b2ebf2;color:#666}
.theme-blue .theme-secondary-text-lighten-4{color:#b2ebf2}
.theme-blue .theme-secondary-bg-lighten-4{background-color:#b2ebf2}
.theme-blue .theme-secondary-border-lighten-4{border-color:#b2ebf2}
.theme-blue .theme-secondary-fill-lighten-4{fill:#b2ebf2}
.theme-blue .theme-secondary-box-inset-lighten-4{-webkit-box-shadow:inset 0 -2px 0 #b2ebf2;box-shadow:inset 0 -2px 0 #b2ebf2}
.theme-blue .theme-secondary-lighten-3{background-color:#80deea;color:#fff}
.theme-blue .theme-secondary-text-lighten-3,.theme-blue .theme-template-dark .sidebar .user-logged-in a{color:#80deea}
.theme-template-dark .sidebar .user-logged-in .theme-blue a{color:#80deea}
.theme-blue .theme-secondary-bg-lighten-3{background-color:#80deea}
.theme-blue .theme-secondary-border-lighten-3{border-color:#80deea}
.theme-blue .theme-secondary-fill-lighten-3{fill:#80deea}
.theme-blue .theme-secondary-box-inset-lighten-3{-webkit-box-shadow:inset 0 -2px 0 #80deea;box-shadow:inset 0 -2px 0 #80deea}
.theme-blue .theme-secondary-lighten-2{background-color:#4dd0e1;color:#fff}
.theme-blue .theme-secondary-text-lighten-2{color:#4dd0e1}
.theme-blue .theme-secondary-bg-lighten-2{background-color:#4dd0e1}
.theme-blue .theme-secondary-border-lighten-2{border-color:#4dd0e1}
.theme-blue .theme-secondary-fill-lighten-2{fill:#4dd0e1}
.theme-blue .theme-secondary-box-inset-lighten-2{-webkit-box-shadow:inset 0 -2px 0 #4dd0e1;box-shadow:inset 0 -2px 0 #4dd0e1}
.theme-blue .theme-secondary-lighten-1{background-color:#26c6da;color:#fff}
.theme-blue .theme-secondary-text-lighten-1{color:#26c6da}
.theme-blue .theme-secondary-bg-lighten-1{background-color:#26c6da}
.theme-blue .theme-secondary-border-lighten-1{border-color:#26c6da}
.theme-blue .theme-secondary-fill-lighten-1{fill:#26c6da}
.theme-blue .theme-secondary-box-inset-lighten-1{-webkit-box-shadow:inset 0 -2px 0 #26c6da;box-shadow:inset 0 -2px 0 #26c6da}
.jvectormap-container .theme-blue .jvectormap-zoomin,.jvectormap-container .theme-blue .jvectormap-zoomout{background-color:#2196F3;color:#fff}
.theme-blue .alert.alert-theme{background-color:#2196F3;color:#fff}
.theme-blue .jvectormap-container .jvectormap-zoomin,.theme-blue .jvectormap-container .jvectormap-zoomout{background-color:#2196F3;color:#fff}
.theme-blue .theme-secondary{background-color:#2196F3;color:#fff}
.theme-blue .theme-secondary-text,.theme-blue a{color:#2196F3}
.c3 .c3-tooltip .theme-blue th,.card .list-group .theme-blue .list-group-item.active{background-color:#2196F3}
.theme-blue .c3 .c3-tooltip th,.theme-blue .card .list-group .list-group-item.active,.theme-blue .theme-secondary-bg{background-color:#2196F3}
.theme-blue .theme-secondary-border{border-color:#2196F3}
.theme-blue .theme-secondary-fill{fill:#2196F3}
.theme-blue .theme-secondary-box-inset{-webkit-box-shadow:inset 0 -2px 0 #2196F3;box-shadow:inset 0 -2px 0 #2196F3}
.theme-blue .theme-secondary-darken-1{background-color:#00acc1;color:#fff}
.theme-blue .theme-secondary-text-darken-1{color:#00acc1}
.theme-blue .theme-secondary-bg-darken-1{background-color:#00acc1}
.theme-blue .theme-secondary-border-darken-1{border-color:#00acc1}
.theme-blue .theme-secondary-fill-darken-1{fill:#00acc1}
.theme-blue .theme-secondary-box-inset-darken-1{-webkit-box-shadow:inset 0 -2px 0 #00acc1;box-shadow:inset 0 -2px 0 #00acc1}
.theme-blue .theme-secondary-darken-2{background-color:#0097a7;color:#fff}
.theme-blue .theme-secondary-text-darken-2{color:#0097a7}
.theme-blue .theme-secondary-bg-darken-2{background-color:#0097a7}
.theme-blue .theme-secondary-border-darken-2{border-color:#0097a7}
.theme-blue .theme-secondary-fill-darken-2{fill:#0097a7}
.theme-blue .theme-secondary-box-inset-darken-2{-webkit-box-shadow:inset 0 -2px 0 #0097a7;box-shadow:inset 0 -2px 0 #0097a7}
.theme-blue .theme-secondary-darken-3{background-color:#00838f;color:#fff}
.theme-blue .theme-secondary-text-darken-3{color:#00838f}
.theme-blue .theme-secondary-bg-darken-3{background-color:#00838f}
.theme-blue .theme-secondary-border-darken-3{border-color:#00838f}
.theme-blue .theme-secondary-fill-darken-3{fill:#00838f}
.theme-blue .theme-secondary-box-inset-darken-3{-webkit-box-shadow:inset 0 -2px 0 #00838f;box-shadow:inset 0 -2px 0 #00838f}
.theme-blue .theme-secondary-darken-4{background-color:#006064;color:#fff}
.theme-blue .theme-secondary-text-darken-4{color:#006064}
.theme-blue .theme-secondary-bg-darken-4{background-color:#006064}
.theme-blue .theme-secondary-border-darken-4{border-color:#006064}
.theme-blue .theme-secondary-fill-darken-4{fill:#006064}
.theme-blue .theme-secondary-box-inset-darken-4{-webkit-box-shadow:inset 0 -2px 0 #006064;box-shadow:inset 0 -2px 0 #006064}
.theme-blue .theme-secondary-accent-1{background-color:#84ffff;color:#fff}
.theme-blue .theme-secondary-text-accent-1{color:#84ffff}
.theme-blue .theme-secondary-bg-accent-1{background-color:#84ffff}
.theme-blue .theme-secondary-border-accent-1{border-color:#84ffff}
.theme-blue .theme-secondary-fill-accent-1{fill:#84ffff}
.theme-blue .theme-secondary-box-inset-accent-1{-webkit-box-shadow:inset 0 -2px 0 #84ffff;box-shadow:inset 0 -2px 0 #84ffff}
.theme-blue .theme-secondary-accent-2{background-color:#18ffff;color:#fff}
.theme-blue .theme-secondary-text-accent-2{color:#18ffff}
.theme-blue .theme-secondary-bg-accent-2{background-color:#18ffff}
.theme-blue .theme-secondary-border-accent-2{border-color:#18ffff}
.theme-blue .theme-secondary-fill-accent-2{fill:#18ffff}
.theme-blue .theme-secondary-box-inset-accent-2{-webkit-box-shadow:inset 0 -2px 0 #18ffff;box-shadow:inset 0 -2px 0 #18ffff}
.theme-blue .theme-secondary-accent-3{background-color:#00e5ff;color:#fff}
.theme-blue .theme-secondary-text-accent-3{color:#00e5ff}
.theme-blue .theme-secondary-bg-accent-3{background-color:#00e5ff}
.theme-blue .theme-secondary-border-accent-3{border-color:#00e5ff}
.theme-blue .theme-secondary-fill-accent-3{fill:#00e5ff}
.theme-blue .theme-secondary-box-inset-accent-3{-webkit-box-shadow:inset 0 -2px 0 #00e5ff;box-shadow:inset 0 -2px 0 #00e5ff}
.theme-blue .theme-secondary-accent-4{background-color:#00b8d4;color:#fff}
.theme-blue .theme-secondary-text-accent-4{color:#00b8d4}
.theme-blue .theme-secondary-bg-accent-4{background-color:#00b8d4}
.theme-blue .theme-secondary-border-accent-4{border-color:#00b8d4}
.theme-blue .theme-secondary-fill-accent-4{fill:#00b8d4}
.theme-blue .theme-secondary-box-inset-accent-4{-webkit-box-shadow:inset 0 -2px 0 #00b8d4;box-shadow:inset 0 -2px 0 #00b8d4}