  .sca-compact {
      font-size: 11px;
  }
  .sca-compact .table > tbody > tr > td,
  .sca-compact .table > tbody > tr > th {
      padding: 3px;
  }
  .sca-compact .table-full-small tbody > tr > td:first-child,
  .sca-compact .table-full-small thead tr > th:first-child {
      padding-left: 10px;
  }
  .sca-compact .editing-form input,
  .sca-compact .editing-form textarea,
  .sca-compact .editing-form select,
  .sca-compact .button-width-acceptability,
  .sca-compact .button-width {
      padding: 2px 2px ;
      font-size: 10px ;
      min-height: 25px;
      line-height: 12px;
  }
  .sca-compact .text-center,
  .sca-compact .edits button,
  .sca-compact .model-header h4,
  .sca-compact .table-full thead tr > th {
      font-size: 10px;
  }
  .sca-compact .main-view-offset {
      padding-left: 35px;
  }
  /*Dashboard */
   .sca-compact .feedback-icon-link {
    min-width: 120px;
}
  .sca-compact .logo .img-responsive {
      height: 35px;
      width: 35px
  }
  .sca-compact .header-settings {
      margin-top: 4px;
  }
  .sca-compact .brand-logo {
      font-size: 13px;
      line-height: 48px;
  }
  .sca-compact .header-settings.btn-round{
      margin-top: 9px;
  }
  .sca-compact .navbar {
      min-height: 48px;
  }
  .sca-compact .brand-logo {
      min-height: 48px;
  }
  .sca-compact .dashboard-sidebar button {
      padding: 10px;
      font-size: 12px;
      text-transform: none;
  }
  .sca-compact .breadcrumb {
      padding: 2px 10px;
  }
  .sca-compact ul.dashboard-link-list {
      padding: 10px 0 0 0;
  }
  .sca-compact .promoted-check-box {
      padding-top: 2px;
  }
  .sca-compact .table-search input {
      height: 25px;
      font-size: 12px;
      min-height: 25px
  }
  .sca-compact ul.dashboard-link-list li ul {
      top: 45px;
      left: -25px;
      width: 90px;
  }

  .sca-compact ul.dashboard-link-list li{
      padding: 2px 10px 0px 10px;
  }
  .sca-compact .navbar .navbar-right-no-collapse {
      float: right ;
      margin: 5px 0 0;
  }
  /* alerts*/
  
  .sca-compact .saved {
    
      margin: 5px;
      line-height: 14px;
      font-weight: 400;
  }
  .sca-compact .alert {
      font-size: 10px;
  }
  .sca-compact .dashboard-sidebar {
      top: 58px;
  }
  .sca-compact .btn-round-sm {
      font-size: 18px;
  }
  .sca-compact .angular-ui-tree-nodes .angular-ui-tree-nodes {
      padding-left: 7px;
  }
  .sca-compact .btn-round-sm {
      width: 20px !important;
      height: 20px !important;
      line-height: 20px !important;
  }
  .sca-compact ul.dashboard-link-list li ul {
      font-size: 11.5px ;
  }
  .sca-compact ul.dashboard-link-list li ul li {
      padding: 5px 10px;
  }
  /*edit view */
  
  .sca-compact .editing-form button,
  .sca-compact .editing-form .btn {
      line-height: 1;
  }
  .sca-compact .fsn {
      padding-bottom: 0px;
      font-size: 10px;
      line-height: 11px;
  }
  .sca-compact .sca-container {
      padding-top: 48px;
  }
  .sca-compact .badge.alert-warning {
      font-size: 15px ;
      padding: 0px 0px 7px 3px;
      width: 16px;
      height: 16px;
      line-height: 17px;
      margin: 0px 0px 0px 0px;
      color: #fff;
  }
  .sca-compact .navbar-nav.nav > li > a {
      font-size: 11px;
      padding: 5px 3px;
      line-height: 30px;
  }
  .sca-compact .breadcrumb {
      font-size: 11px;
  }
  .sca-compact .sidebar-tabs.nav > li > a {
      font-size: 14px;
  }
  .sca-compact .classification-report .nav-tabs li a {
      padding: 0px 15px;
  }
  .sca-compact .tab-content {
      font-size: 11px;
  }
  .sca-compact .classification-header {
      max-height: 35px;
  }
  .sca-compact .classification-header .btn {
      font-size: 11px;
      line-height: 12px;
  }
  /* widget toolbar */
  
  .sca-compact .button-nav {
      width: 35px;
      top: 48px;
  }
  .sca-compact .button-nav .md {
      font-size: 17px;
  }
  .sca-compact .create-new-concept {
      padding: 10px ;
  }
  .sca-compact button.widget-toolbar {
      width: 35px;
      height: 35px;
  }
  /* task details */
  
  .sca-compact .task-details .iconbase,
  .sca-compact .inactivation-button-modal .iconbase {
      width: 30px;
      height: 30px;
      padding: 3px 8px;
      font-size: 14px;
  }
  .sca-compact .task-details .button-link {
      padding: 4px 15px;
      float: left;
      font-weight: 500;
  }
  .sca-compact .btn {
      font-size: 12px;
  }
  /*padding*/
  
  .sca-compact .p-20 {
      padding-top: 10px;
      padding-left: 10px;
      padding-bottom: 0px;
  }
  .sca-compact .btn-round {
      width: 20px;
      height: 20px;
      font-size: 12px;
      line-height: 20px;
  }
  .sca-compact .alert > p {} .sca-compact .timeline-title,
  .sca-compact .timeline-title p,
  .sca-compact .timeline-title i,
  .sca-compact .timeline-title em,
  .sca-compact .timeline-title span,
  .sca-compact .alert > p,
  .sca-compact .alert > ul .sca-compact .table-title {
      font-size: 11px;
  }
  .sca-compact .alert button {
      padding-top: 0px;
  }
  .sca-compact .table-search {
      padding: 5px 20px;
  }
  .sca-compact .p-t-20 {
      padding-top: 5px;
  }
  .sca-compact .drag-button-width {
      min-height: 25px;
  }
  .sca-compact .taxonomy-chevron {
      font-size: 10px;
  }
  .sca-compact .badge {
      font-size: 10px;
  }
  .sca-compact .header-nav-button {
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 16px;
  }
  .sca-compact .header-alerts div .alert {
      min-height: 40px;
  }
  .sca-compact .alert .fa-sca.fa-close {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 7px;
      margin-right: -7px
  }
  .sca-compact section.tables-data > div.card div.table-responsive > table.table-full > tbody > tr > td {
      height: 35px;
  }
  
  .sca-compact .sub-navigation-link-list .btn {
    padding: 1px 0px;
    font-size: 13px;
    width: 35px;
    height: 35px;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
}
 .sca-compact .navigation-link {
    width: 35px;
    height: 35px;
}

.sca-compact ul.button-sub-nav {
    margin-left: 35px;
    margin-top: -35px;
}
.sca-compact ul.sub-navigation-link-list li ul li {
   
    padding: 8px 8px;
	font-size:12px;

}