 .loading{background-color:#f5f5f5; border-radius:3px;color:#1565C0; text-align:center}
.fading-circle {
  margin: 10px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #1565C0;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}
.conflicts .editbuttons.fa-sitemap, 
.conflicts .concept-headers .drag-button-width {display:none;}
.btn[disabled].btn-round.lighten-2{color:#7c7c7c;background-color:#494949}
.yellowhl {
	border-bottom: 5px solid #0091d7
}
.yellowhl .grey.darken-3 {
	background-color: #0091d7
}
.redhl {
	border-style: solid;
	border-width: 5px;
	border-color: red;
}
.orangehl {
	border-bottom: 5px solid #00a39b
}
.orangehl .grey.darken-3 {
	background-color: #00a39b
}
.greenhl .grey.darken-3 {
	background-color: #ff6755
}
.conflicts .small-buttons {
	padding: .45% !important;
	font-size: 13px !important;
	line-height: 13px!important;
}
.conflicts .text-center {
	text-align: center;
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
}
.conflicts-report-header {
}
.conflicts .small-buttons {
	padding: 0% !important;
}
.conflicts .button-width-plus, .conflicts .add-buttons {
	width: 12px;
	padding: 0px!important;
	float: left;
	height: 100%;
	min-height: 30px;
	font-size: 10px !important;
	margin-left: 0px;
	margin-right: 1px;
	color: #fff!important
}
.conflicts .editing-form .description {
	width: 46%;
}
.conflicts #select-primitive-choice {
	width: 25px!important
}
.conflicts concept-headers.col-md-6 {
	width: 58.33333%;
}
.merged-version .col-md-6 {
	width: 45%;
}
.conflicts .concept-title.col-md-4 {
	width: 16.66667%;
}
.merged-version .concept-title.col-md-4 {
	width: 31.33333%;
}
.conflicts .col-md-1.filled {
	width: 16.66667%;
}
.merged-version .col-md-1.filled {
	width: 11%;
}
.merged-version, .task-version {
	border-left: 1px solid #474747;
	-webkit-box-shadow: -5px 0px 5px -3px #3a3840;
	box-shadow: -5px 0px 5px -3px #3a3840;
}
.conflicts-report .checkbox input[type=checkbox]:after, .conflicts-report .checkbox-inline input[type=checkbox]:after, .conflicts-report input[type=checkbox]:after {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	margin-top: -2px;
	margin-right: 5px;
	border: 1px solid #DBDBDB;
	border-radius: 2px;
	transition: 240ms;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], label input[type=checkbox] {
	margin-left: -33px;
}
.col-checkbox {
	width: 10%;
}
.col-concept {
	width: 80%;
}
.col-controls {
	width: 10%;
	padding-right: 0px;
}
.h-45 {
	height: 45px;
}
.conflicts table {
	min-height: 300px;
}
.add-shadow {
	box-shadow: inset 12px 0px 22px -14px #ABABAB;
	-webkit-box-shadow: inset 12px 0px 22px -14px #ABABAB;
	-moz-box-shadow: inset 12px 0px 22px -14px #ABABAB;
	-o-box-shadow: inset 12px 0px 22px -14px #ABABAB;
	background-color: #fff;
	padding: 5px !important;
}
input.conflicts-search {
	margin: 0px 4%;
	padding: 5px 0px;
	width: 92%;
}
.conflicts .btn-group, .conflicts .btn-toolbar {
	margin-left: 0px;
}
.conflicts .ta-scroll-window {
	margin-left: 0px;
}
.conflicts-header {
	background-color: #fbfbfb;
	border-top: solid 1px #ececec;
	border-bottom: solid 1px #ececec;
}
.conflicts-tabs {
	background-color: #fafafa;
}
.conflicts-tabs .nav-tabs ul {
	padding: 0px;
	box-shadow: inset 0 -2px 0 #dcdcdc !important;
	width: 100%;
}
.conflicts-window {
	background-color: #E7E7E7;
	height: 100%;
}
section thead input {
	background-color: #fff;
}
.conflicts .col-md-9 .fsn,  .conflicts .col-md-9 .is_a textarea,  .conflicts .col-md-9 .editing-form textarea,  .conflicts .col-md-9 .description input,  .conflicts .col-md-9 .description textarea {
	font-size: 10px!important
}
.conflicts .more-button-width {
	width: 9px;
	margin: 0px !important;
	padding: 0px 0px !important;
	float: left;
	height: 100%;
	min-height: 30px;
	font-size: 12px !important;
	line-height: 30px;
}
.conflicts .drag-button-width {
	width: 17px;
	padding: 0% !important;
	float: left;
	height: 100%;
	min-height: 30px;
	font-size: 11px !important;
	line-height: 30px;
}
.conflicts .fa.fa-power-off.green, .conflicts .fa.fa-power-off.red {
	font-size: 12px!important
}
.col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12 {
	padding-left: 0px;
	padding-right: 0px;
}
.merged-header {
	background-color: #ff6755
}
.merged-header h4, .project-header h4, .task-header h4, .conflicts-list-header h4 {
	color: #fff;
	font-size: 13px;
}
.project-header {
	background-color: #0091d7
}
.task-header {
	background-color: #00a39b
}
.conflicts-list-header {
	background-color: #253a4e
}
.conflicts .table-full input[type=checkbox] {
	margin: 2px 0 0;
}
.conflicts-list-header button {
	background-color: transparent!important;
	color: #0091d7!important;
	font-size: 16px!important;
	margin-top: 0px;
	margin-right: 10px;
	line-height: 14px;
}
.show-conflict-list {
	background-color: transparent!important;
	color: #fff!important;
	font-size: 16px!important;
	margin-top: 0px;
	margin-right: 10px;
	line-height: 14px;
}
.conflist-list-check input[type=checkbox]:after {
	height: 18px!important;
	width: 18px;
}
.concepts-in-conflict {
	font-size: 12px!important
}
.concepts-in-conflict.table-full .btn-round {
	width: 21px;
	height: 21px;
	font-size: 15px;
	line-height: 21px;
}
.editing-form{height:100vh;background-color: #424242;}