.clearfix{clear:both;}
body {
	color: rgba(0,0,0,.87);

	background-color: #f0f0f0;
	color: #34343b;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
#title-text {
	font-size: 18px;
}
#main {
	-webkit-font-smoothing: antialiased;
	color: #696c74;
	background-color: #d8dce3;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: 600;
	letter-spacing: .2px;
	color: inherit;
	margin-bottom: 5px;
	
}
.h1, h1 {
	font-size: 2.5rem;
}
.h2, h2 {
	font-size: 2rem;
}
.h5, h5 {
	font-size: 1.25rem;
}
.h3, h3 {
	font-size: 1.75rem;
}
.h4, h4 {
	font-size: 1.5rem;
}
.acs-side-bar {
	background-color: #fff;
}
.acs-side-bar a {
	color: #505b72;
}
.acs-side-bar .name a {
	color: rgba(255, 255, 255, 0.9);
}
.acs-nav {
	margin: 0px 0px 10px;
}
.acs-nav h5 {
	margin: 10px 0 0 10px;
	text-transform: none;
	font-size: 16px;
	font-weight: 700;
	color: #9fa8bc;
}
li.acs-nav-item .acs-nav-item-link {
	background-color: #fff;
	line-height: 25px;
	padding: 5px 10px;
	border-bottom: 1px solid #eaecf0;
}
.acs-nav .current-item {
	color: #eee
}
.wiki-content .confluence-embedded-file-wrapper .confluence-embedded-image, .confluence-information-macro-information, .blog-home {
	border-radius: 2px;
	border-color: transparent;
background-color:#fff;
}
.blog-post-list li.blog-item {
	width: 30%;
	margin-right: 1.5%;
	margin-bottom: 10px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,.15), 0 -1px 0 rgba(0,0,0,.02);
	border: none;
	background: #fff;
	float: left;
	min-height: 80px;
}
.wiki-content h3, .confluence-information-macro .confluence-information-macro-icon.aui-iconfont-info  {
color: #d9534f;
	font-weight: 600;
}

/*hiding icons*/
.blog-post-list .icon {
	display: none;
}
.blog-title {
	font-size: 12px;
}
.blog-title a {
	display: block;
	width: 100%;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 500
}
#logo > a > img {
	padding-top: 10px
}
#header .aui-header {
	height: 64px;
	padding: 0px;
	margin: 0px;
	background-color: #262b36;
	color: #fff;
}
#header .aui-header a, .aui-header .aui-header-logo .aui-header-logo-text, .aui-header .aui-dropdown2-trigger {
	color: #d8dce3;
	padding: 0px 10px;
	margin: 0px;
	line-height: 64px
}
.aui-avatar-small .aui-avatar-inner {
	padding-top: 25px
}
#header .aui-header .aui-icon-small {
	padding-top: 45px
}
#header .aui-header .aui-nav .aui-button-primary {
	height: 100%;
	border-radius: 0px;
	background-color: #3b4354;
	;
}
.aui-header .aui-dropdown2-trigger, #header .aui-header .aui-nav-link, #header .aui-header .aui-nav-imagelink, #header .aui-header a {
	color: #d8dce3;
}
.acs-side-bar-space-info {
	background-color: #3b4354;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.acs-side-bar-space-info .avatar-img-container {
	padding: 3px;
	width: 48px;
	border: 2px solid #657390;
	border-radius: 50%;
	background-color: transparent;
}
.aui-header .aui-quicksearch input[type='text'], .aui-header .aui-quicksearch input[type='text'], .aui-header .aui-quicksearch input[type='text'][type='text']:focus {
	background-color: #3b4354;
	margin-top: 15px
}
.aui-header .aui-quicksearch:after {
	margin-top: 20px;
}
#breadcrumb-navigation-bar {
	border: none;
	background-color: #3b4354;
	color: #fff;
	padding: 8px 10px;
	font-size: 14px;
	vertical-align: bottom;
}
#breadcrumb-navigation-bar li a {
	color: rgba(255, 255, 255, 0.5);
}
.ia-splitter-handle-highlight {
	border: none
}

.panel-heading {
    margin-bottom: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    color: #d9534f;
    background-color: #d9534f;
    border-color: #c9302c;
padding: 15px;

}
.panel-heading h4{color:#fff}
.panel-body{padding:20px}
.panel-body.inverse {
	background-color: #3b4354;
    color: rgba(255, 255, 255, 0.8);
}
.home-search > div.panel-body.inverse > div > form{
margin: 0px 0 0 0; color:#fff}

.panel-body.inverse input{   background-color: #505b72; border:none; color:#fff;border-radius:0px;}

.search-macro .search-macro-button {
    float: left;
    margin-left: 0px;
border-radius:0px;
    width: 38px;
    height: 30px;
    background-color: #505b72; border:none; color:#fff;
}
.panel,
.panelHeader, 
.menuheading, 
.pageheader, 
.sectionbottom {
border:none
}

.panelHeader{color: #ffffff;
    background-color: #2574ab;}
.panelContent ul{padding:0px}
.panelContent {    background-color: #fff;}
.panelContent li:first-child{    padding-top: 0;
}
.panelContent li{    margin: 0;
    border-top: 1px solid #eaecf0;
    padding: 12px 0;
list-style:none;
font-style:normal;
text-decoration:none;

}
.panelContent li a{text-decoration:none!important;  font-size: 12px;
    font-weight: 600;font-style:normal;
    color: #3b4354 !important;}
	.ia-fixed-sidebar div.plugin_pagetree ul.plugin_pagetree_children_list .plugin_pagetree_children_span{text-wrap:normal!important}

