/* color codes 
darkest #1f2731
next darkest #262e39
third #2d3743
grey lines #514b45
lightest bg #525463

#1f2731
262e39
*/

.sca-dark .add-shadow,
.sca-dark input.feedback-search,
.sca-dark .feedback .btn-group button{background-color:transparent!important}
.sca-dark .feedback .btn-group button{color:#fff!important}
 .sca-dark .project-page{background-color: #525463}
.sca-dark{background-color: #525463;text-shadow:none!important; border-color:#414548}
.sca-dark .saved-list, .sca-dark .saved-list .btn-default, .sca-dark, .sca-dark .model-header h4 {color:#eee}
.sca-dark .button-nav .btn-default[disabled]{color:#bdbdbd!important;    border-top: 1px #1f2731 solid !important;}

.sca-dark .create-new-concept{background-color: #262e39!important; color:#00a6e5!important;}
.sca-dark .create-new-concept:hover{color:#eee!important;}
.sca-dark .editpanel {
    color: #eee!important ;
}
.sca-dark .page-header h1, .theme-text {
    color: #fff;
}

.sca-dark .card .card-header {
   
    background-color: #1f2731;
}
.sca-dark .card {
    position: relative;
    background-color: #262e39;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 0px;
	color:#fff;
	border-color:#4F4F4F;
	box-shadow: none!important;
}
.sca-dark .project-buttons {
    color: #fff!important}
.sca-dark .saved-list-buttons{color:#bdbdbd!important}
.sca-dark .editing-form button:active, .sca-dark .editing-form button:focus, {background-color:transparent!important;}
.sca-dark .small-buttons.btn-default[disabled], .sca-dark .small-buttons.btn-default[disabled]:hover{color:#D0D0D0}
/*tables */
/*tooltips*/
.sca-dark .paging .btn{    background: #1f2731; color: #9B9B9B;box-shadow: 1px 1px 2px #000 !important;}
.sca-dark .tooltips-left span.green {
    background-color: #5b5b5b!important;
    color: #fff
}
.sca-dark .tooltips-left span.red {
    background-color: #5b5b5b!important;
    color: #fff
}
.sca-dark a.tooltips-left span:after,
.sca-dark button.tooltips-left span:after {
    border-left: 8px solid #5b5b5b;
  
}
.sca-dark a.tooltips-dark.tooltips-left span:after,
.sca-dark button.tooltips-dark.tooltips-left span:after {
    border-left: 8px solid #5b5b5b;

}
.sca-dark a.tooltips-left span,
.sca-dark button.tooltips-right span {
    color: #fff;
    background: #5b5b5b;
}

.sca-dark a.tooltips-dark.tooltips-left span,
.sca-dark button.tooltips-dark.tooltips-right span {
   color: #fff;
    background: #5b5b5b;
}
.sca-dark a.tooltips-light.tooltips-left span,
.sca-dark button.tooltips-light.tooltips-left span {
    color: #fff;
    background: #5b5b5b;
}
.sca-dark .tooltips-left span.green:after {
    border-left: 8px solid #5b5b5b!important;
}
.sca-dark .tooltips-left span.red:after {
    border-left: 8px solid #5b5b5b!important;
}
.sca-dark a.tooltips-right span {
    color: #fff;
    background: #5b5b5b;
}
.sca-dark a.tooltips-right span:after {
    border-right: 8px solid #5b5b5b;
}
.sca-dark a.tooltips-right.tooltips-dark light:after,
.sca-dark button.tooltips-right.tooltips-light span:after,
 {
    border-right: 8px solid #5b5b5b;
}
/*button colors */
a.tooltips-left span, button.tooltips-left span {
color:#fff;
    background: #5b5b5b; }
/* CSS Document */


.sca-dark .table-search {
    padding: 0px;
}
.sca-dark .table-search [type=text].form-control{    
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    box-shadow: inset 0 -1px 0 #1f2731;
    font-size: 13px;
    background-color: #2d3743;
    padding: 20px 10px;
    margin-top: 10px;
}
.sca-dark .theme-secondary-text, a {
    color: #5cbaff;
}
.sca-dark .table-full thead {
    background: #262e39;
	color:#eee;
}
.sca-dark .table > thead > tr > th{border-bottom: 2px solid #262e39;text-shadow:none!important}
.sca-dark .white {
    color: #FFF !important;
    background: #262e39!important;
}
.sca-light .saved, .sca-light .fa-close {color:#fff;}

.sca-dark .project-icon.deep-purple.lighten-1{    background-color: #ba68c8;
    color: #fff;}
	
	.sca-dark .project-icon.green {
    background-color: #4CAF50;
    color: #fff;
}
	
	.sca-dark .project-icon.red {
    background-color: #ff5555;
    color: #fff;
}
	
	.sca-dark .project-icon.blue {
    background-color: #00a6e5;
    color: #fff;
}
.sca-dark .project-main-buttons button {
    background-color: #1f2731 !important;
    border: 1px solid #1f2731 !important;
    border-radius: 4px;
    text-transform: none;
    color: #fff;
    padding: 0px 10px 0px 0px !important;
    line-height: 30px;
}
.sca-dark .project-main-buttons button:disabled {
    background-color: #383a48 !important;
    border: 1px solid #383a48 !important;
    border-radius: 4px;
    text-transform: none;
    color: #23252e !important;
    padding: 0px 10px 0px 0px !important;
    line-height: 30px;
}
.sca-dark .table-full{background:#2d3743}
.sca-dark table {
    border-color:#525463;
	margin-bottom:10px;
}
.sca-dark .table > tbody > tr > td, .sca-dark .table > tbody > tr > th {
  
    border-top: 1px solid #2d3743;
}
.sca-dark .navbar-default{background: #1f2731; border-bottom: 1px rgba(0, 0, 0, .07)solid;}
.sca-dark .dashboard-sidebar button {
    width: 100%;
    padding: 15px;
    font-size: 15px;
    text-transform: none;
    color: #fff;
    text-align: left
}
.sca-dark .dashboard-sidebar {
    background-color: #262e39!important;
    border-right: 1px rgba(0, 0, 0, .07)solid;
}
.sca-dark .dashboard-sidebar button {
    margin: 0;
    padding: 15px;
    color: #eeeeee;
    width: 100%;
    background: #1f2731;
}
.sca-dark .dashboard-sidebar button a {
    margin: 0;
    color: #737373;
}
.sca-dark .dashboard-sidebar button:hover,
.sca-dark .dashboard-sidebar button:active,
{
    background: #1f2731!important;
}
/*button colors */
.sca-dark .grey.darken-3{background-color: #262e39 !important;}
.sca-dark .amber {
    color: #ffc107;
   background-color: transparent;
}
.sca-dark .red {
    color: #ff5555;
    background-color: transparent;
}
.sca-dark .green.lighten-2 {
    background-color: transparent;
    color: #81C784;
}
.sca-dark .pink.darken-2 {
    background-color: transparent;
    color: #f9428b
}
.sca-dark .deep-purple {
    color: #8b72b7;
    background-color: transparent;
}
.sca-dark .pink.darken-1 {
    background-color: transparent;
    color: #f9428b
}
.sca-dark .red.lighten-2 {
    background-color: transparent;
    color: #d01c3e
}
.sca-dark .grey {
    background-color: #262e39;
    color: #eee
}
.sca-dark .New.badge {
    color: #F3CB67;
	 background-color: transparent;
}
.sca-dark .Review.Completed.badge {
    background-color: transparent;
    
    color: #01A2E1
}
.sca-dark .In.Progress.badge {
    background-color: transparent;
   
    color: #f06292;
}
.sca-dark .In.Review.badge {
    background-color: transparent;
    color: #32ae1a;
}
.sca-dark .Available.badge {
    background-color: transparent;
    color: #00b0ff;
}
.sca-dark .Claimed.badge {
    background-color: transparent;
    color: #eee;
}

/* Edit View */

.sca-dark .button-nav {
    border-right: 1px #1f2731 solid!important;
    background-color: #262e39;
}
.sca-dark .button-nav .blue.darken-2,
.sca-dark .button-nav .yellow.darken-2 {
    border-bottom: 1px #1f2731 solid!important;
    border-top: 1px #1f2731 solid!important;
    border-right: 1px #1f2731 solid!important
}
.sca-dark .button-nav .blue.darken-3,
.sca-dark .button-nav .blue.darken-4,
.sca-dark .button-nav .pink1,
.sca-dark .button-nav .deep-purple.lighten-1,
.sca-dark .button-nav .green.darken-1 {
    border-top: 1px #1f2731 solid!important;
    border-right: 1px #1f2731 solid!important
}
.sca-dark .blue.darken-2 {
    color: #1976D2;
    background-color: transparent;
}
/*widget buttons */

.sca-dark .widget-toolbar:hover {
    background-color: transparent!important;
    color: #eee!important
}
.sca-dark .classification-btn .btn-default:hover,
.sca-dark .classification-btn .btn-default span:hover {
    color: #eee!important
}
.sca-dark .task-details .green {
    background-color: #262e39;
}
.sca-dark .classification-btn .btn-default {
   border: 1px #262e39 solid !important;
}
.sca-dark .classification-btn .btn-default:hover {
    color: #eee;
    background-color: transparent;
    border: 1px #1f2731 solid!important;
}
/*edit buttons */

.sca-dark .small-buttons {
    padding: 0px 1% !important;
    font-size: 16px !important;
}
.sca-dark .small-buttons:hover {
    color: #fff !important;
    background-color: transparent !important;
}
.sca-dark .morebuttons {
    color: #00a6e5;
    background-color: transparent
}
/*colors */

.sca-dark .blue {
    color: #00a6e5;
    background-color: transparent;
}
.sca-dark .orange.darken-3 {
    color: #ef6c00;
    background-color: transparent;
}
.sca-dark .light-blue {
    color: #03a9f4;
    background-color: transparent;
}
.sca-dark .blue.darken-3 {
    color: #1565C0;
    background-color: transparent;
}
.sca-dark .blue.darken-4 {
    color: #0D47A1;
    background-color: transparent;
}
.sca-dark .yellow.darken-2 {
    color: #ffcc00;
    background-color: transparent;
}
.sca-dark .deep-purple.lighten-1 {
    color: #7e6ecd;
    background-color: transparent;
}
.sca-dark .pink1 {
    color: #e91e63;
    background-color: transparent;
}
.sca-dark .green.darken-1 {
    color: #43A047;
    background-color: transparent;
}
.sca-dark .editpanel {
    background-color: #2d3743;
	color:#aeb2b5;
}
.sca-dark .green {
    color: #4CAF50;
    background-color: transparent;
}

.sca-dark .blue.darken-1 {
    color: #009cd7;
    background-color: #262e39;
}
.sca-dark .blue.darken-1 {
    color: #009cd7;
    background-color: #262e39;
}
.sca-dark .navbar-default .btn-link {
    color: #737373;
}
.sca-dark .navbar-default .btn-link:hover {
    background-color: #eee;
}
.sca-dark .task-details button {
    background-color: #262e39!important;
}
.sca-dark .task-details button:hover {
    background-color: #1f2731!important;
}
/*nav Tabs*/
.sca-dark .sidebar-bg {
    background-color: #2d3743;
}
.sca-dark .nav-tabs > li > a {
    margin-right: 0;
    background-color: #262e39!important;
    border: none;
    color: #eee;
    box-shadow: inset 0 -1px 0 #414548;
    transition: all .2s;
}
.sca-dark .sidebar-tabs.nav > li.active > a, .sca-dark .sidebar-tabs.nav > li > a:hover {
    width: 100%;
    padding: 0px;
    text-align: center;
    font-size: 18px;
    background-color: #2d3743!important;
    color: #bebebe;
    box-shadow: none;
    color: #00a6e5;
}
.sca-dark .control-label {
    font-weight: 400;
    width: 100%;
    padding-bottom: 3px;
    margin-bottom: 3px;
    color:#babec1;
    transition: all .2s ease-out;
    box-shadow: inset 0 -1px 0 #2d3743 !important;
}
.sca-dark .timeline-title {
    font-size: 13px;
    margin: 0;
    font-weight: 400;
    color: #eee!important;
}
.sca-dark .timeline-title p{ color: #eee!important;}
.sca-dark .classification-report, .sca-dark .feedback-header {
   
    background-color: #262e39;
    margin-top: 5px;
    border-top: 1px solid #262e39;
}
.sca-dark .classification-btn .btn-default[disabled] span {
    color: #262e39 !important;
       background-color: #525463!important;
}
.sca-dark .classification-btn .btn-default[disabled] {
    border-color: #525463 !important;
   color: #262e39 !important;
       background-color: #525463!important;
}
/*model box*/
.sca-dark .modelScrollBox {background-color:#3e4142}
.sca-dark .saved, .sca-dark .fa-close {color:#fff;}

.sca-dark .feedback-view .table > thead > tr > th, .sca-dark .feedback-view .table > thead > tr > td {
 
    border-color:#414548;
 
}
.sca-dark .pink1.feedback-header-main {
    background-color: #f9428b;
    color: #fff;
}
.sca-dark .feedback-header-main .pink.darken-2 {

    background-color: #880e4f;
    color: #fff;
}
.sca-dark .sidebar-bg .sidebar-grey {
       background-color: #2d3743 !important;
}
.sca-dark .sidebar-bg .control-label {

    color: #fff;
  
}
.sca-dark .green.btn-round, {background-color: transparent!important; color:#4CAF50}
.sca-dark .green.btn-round:hover {color: #fff!important; background-color:#4CAF50!important}
.sca-dark .blue.btn-round, {background-color: transparent!important; color:#42A5F5}
.sca-dark .blue.btn-round:hover {color: #fff!important; background-color:#42A5F5!important}

.sca-dark .blue.green.btn-round, {background-color: transparent!important; color:#42A5F5}
.sca-dark .blue.green.btn-round:hover {color: #fff!important; background-color:#42A5F5!important}
.sca-dark .red.btn-round {background-color: transparent; color:#ff5555}
.sca-dark .red.btn-round:hover {color: #fff; background-color:#ff5555}
.sca-dark .amber.btn-round {background-color: transparent; color:#ffca28}
.sca-dark .amber.btn-round:hover {color: #fff; background-color:#ffca28}
.sca-dark .pink.darken-1.btn-round {background-color: transparent; color:#f9428b}
.sca-dark .pink.darken-1.btn-round:hover {color: #fff; background-color:#f9428b}
.sca-dark .pink.lighten-2.btn-round {background-color: transparent; color:#f06292}
.sca-dark .pink.lighten-2.btn-round:hover {color: #fff; background-color:#f06292}
.sca-dark .purple.lighten-1.btn-round {background-color:transparent; color:#ba68c8}
.sca-dark .purple.lighten-1.btn-round:hover {color: #fff; background-color:#ba68c8}

.sca-dark .purple.lighten-2.btn-round {background-color:transparent; color:#ba68c8}
.sca-dark .purple.lighten-2.btn-round:hover {color: #fff; background-color:#ba68c8}
.sca-dark .purple.darken-1.btn-round {background-color:transparent; color:#ba68c8}
.sca-dark .purple.darken-1.btn-round:hover {color: #fff; background-color:#ba68c8}
.sca-dark a .side-text {
    color: #eee;
}

.sca-dark section thead input{background-color: transparent!important;}
.sca-dark .highlight{color:#474747}
.sca-dark .taxonomy-list h4{color:#fff;}