/* color codes
darkest #1f2731
next darkest #262e39
third #2d3743
grey lines #514b45
lightest bg #525463

#1f2731
262e39
*/
/* scolll bars */
h4.timeline-title {
    overflow-x: auto;
}
.hideme{display:none}
.sca-dark .navbar .dashboard-link-list li:hover .btn-link {
    background-color: #525463
}
.sca-dark .sca-container::-webkit-scrollbar-thumb:hover,
.ta-scroll-window.form-control::-webkit-scrollbar-thumb:hover {
    background: #57a5cc;
}
.sca-dark input.form-control
 {
    box-shadow: inset 0 -1px 0 #1f2731;
}
.sca-dark .border-right {
    border-right: #1f2731 1px solid ;
}
.sca-dark .no-border-bottom-search{
  box-shadow: inset 0 -1px 0 #1f2731 !important;
}
.sca-dark .sca-container::-webkit-scrollbar-thumb:active,
.ta-scroll-window.form-control::-webkit-scrollbar-thumb:active {
    background: #525463;
}
.sca-dark .sca-container::-webkit-scrollbar-track,
.ta-scroll-window.form-control::-webkit-scrollbar-track {
    background: #525463;
    border: 0px none #ffffff;
    border-radius: 50px;
}
.sca-dark .sca-container::-webkit-scrollbar-track:hover,
.ta-scroll-window.form-control::-webkit-scrollbar-track:hover {
    background: #414548;
}
.sca-dark .sca-container::-webkit-scrollbar-track:active,
.ta-scroll-window.form-control::-webkit-scrollbar-track:active {
    background: #414548;
}
.sca-dark .sca-container::-webkit-scrollbar-corner,
.ta-scroll-window.form-control::-webkit-scrollbar-corner {
    background: transparent;
}
.sca-dark .add-shadow,
.sca-dark input.feedback-search,
.sca-dark .feedback .btn-group button {
    background-color: transparent
}
.sca-dark .feedback .btn-group button {
    color: #fff
}
.sca-dark .project-page {
    background-color: #525463
}
.sca-dark {
    background-color: #525463;
    text-shadow: none;
    border-color: #414548
}
.sca-dark .saved-list,
.sca-dark .saved-list .btn-default,
.sca-dark,
.sca-dark .model-header h4 {
    color: #eee
}
.sca-dark .button-nav .btn-default[disabled] {
    color: #bdbdbd;
    border-top: 1px #1f2731 solid ;
    background-color: #424249;
}
.sca-dark .create-new-concept {
    background-color: #262e39;
    color: #56b8e7;
}
.sca-dark .create-new-concept:hover {
    color: #eee;
}
.sca-dark .editpanel {
    color: #eee;
}
.sca-dark .page-header h1,
.theme-text {
    color: #fff;
}
.sca-dark .card .card-header {
    background-color: #1f2731;
}
.sca-dark .card {
    position: relative;
    background-color: #525463;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 0px;
    color: #fff;
    border-color: #4F4F4F;
    box-shadow: none;
}
.sca-dark .promoted-check-box,
.sca-dark .project-subtitle {
    color: #fff;
}
.sca-dark .project-buttons {
    color: #fff
}
.sca-dark .saved-list-buttons {
    color: #bdbdbd
}
.sca-dark .editing-form button:active,
.sca-dark .editing-form button:focus
{
    background-color: transparent;
}
.sca-dark .small-buttons.btn-default[disabled],
.sca-dark .small-buttons.btn-default[disabled]:hover {
    color: #D0D0D0
}
/*tables */
/*tooltips*/
.sca-dark .promoted-check-box .md-check-box-outline-blank:before,
.sca-dark .promoted-check-box .md-check-box:before {
  color: #f5f5f5;
}
.sca-dark .paging .btn {
    background: #1f2731;
    color: #9B9B9B;
    box-shadow: 1px 1px 2px #000 ;
}
.sca-dark button[disabled] .project-icon {
    background-color: #262e39;
    color: #828396 ;
}
/*button colors */

.sca-dark .table-search [type=text].form-control {
    box-shadow: inset 0 -1px 0 #1f2731;
    background-color: #2d3743;
    color: #eee;
}
.sca-dark .theme-secondary-text,
 a {
   color: #5cbaff;
 }
.sca-dark .ng-table tbody a {
  color: #4fc3f7;
}
.sca-dark .table-full thead {
    background: #262e39;
    color: #eee;
}
.sca-dark .table > thead > tr > th {
    border-bottom: 2px solid #262e39;
    text-shadow: none
}
.sca-dark .white {
    color: #FFF ;
    background: #262e39;
}
.sca-light .saved,
.sca-light .fa-close {
    color: #fff;
}
.sca-dark .project-icon.deep-purple.lighten-1 {
    background-color: #ba68c8;
    color: #fff;
}
.sca-dark .project-icon.green {
    background-color: #4CAF50;
    color: #fff;
}
.sca-dark .project-icon.yellow.darken-2 {
    background-color: #fc0;
    color: #fff;
}
.sca-dark .project-icon.amber {
    background-color: #fc0;
    color: #fff;
}
.sca-dark .project-icon.red {
    background-color: #ff5555;
    color: #fff;
}
.sca-dark .project-icon.blue {
    background-color: #00a6e5;
    color: #fff;
}
.sca-dark .project-main-buttons button {
    background-color: #1f2731 ;
    border: 1px solid #1f2731 ;
    color: #fff;
}
.sca-dark .project-main-buttons button:disabled {
    background-color: #383a48 ;
    border: 1px solid #383a48 ;
    border-radius: 4px;
    text-transform: none;
    color: #828396 ;
}
.sca-dark .table-full {
    background: #2d3743
}
.sca-dark table {
    border-color: #525463;
}
.sca-dark .table > tbody > tr > td,
.sca-dark .table > tbody > tr > th {
    border-top: 1px solid #2d3743;
}
.sca-dark .navbar-default {
    background: #1f2731;
    border-bottom: 1px rgba(0, 0, 0, .07)solid;
}
.sca-dark .dashboard-sidebar button {
    width: 100%;
    text-transform: none;
    color: #fff;
    text-align: left
}
.sca-dark .dashboard-sidebar {
    background-color: #262e39;
    border-right: 1px rgba(0, 0, 0, .07)solid;
}
.sca-dark .dashboard-sidebar button {
    color: #eeeeee;
    width: 100%;
    background: #1f2731;
}
.sca-dark .dashboard-sidebar button a {
    color: #737373;
}
.sca-dark .dashboard-sidebar button:hover,
.sca-dark .dashboard-sidebar button:active
{
    background: #1f2731;
}
/*button colors */

.sca-dark .grey.darken-3 {
    background-color: #262e39;
}
.sca-dark .amber {
    color: #ffc107;
    background-color: transparent;
}
.sca-dark .red {
    color: #ff5555;
    background-color: transparent;
}
.sca-dark .green.lighten-2 {
    background-color: transparent;
    color: #4CAF50;
}
.sca-dark .pink.darken-2 {
    background-color: transparent;
    color: #f9428b
}
.sca-dark .deep-purple {
    color: #8b72b7;
    background-color: transparent;
}
.sca-dark .pink.darken-1 {
    background-color: transparent;
    color: #f9428b
}
.sca-dark .red.lighten-2 {
    background-color: transparent;
    color: #d01c3e
}
.sca-dark .grey {
    background-color: #262e39;
    color: #eee !important;
}
.sca-dark .New.badge {
    color: #F3CB67;
    background-color: transparent;
}
.sca-dark .Review.Completed.badge {
    background-color: transparent;
    color: #01A2E1
}
.sca-dark .In.Progress.badge {
    background-color: transparent;
    color: #f06292;
}
.sca-dark .In.Review.badge {
    background-color: transparent;
    color: #32ae1a;
}
.sca-dark .Available.badge {
    background-color: transparent;
    color: #00b0ff;
}
.sca-dark .Claimed.badge {
    background-color: transparent;
    color: #eee;
}
/* Edit View */

.sca-dark .button-nav {
    border-right: 1px #1f2731 solid;
    background-color: #262e39;
}
.sca-dark .button-nav .blue.darken-2,
.sca-dark .button-nav .yellow.darken-2 {
    border-bottom: 1px #1f2731 solid;
    border-top: 1px #1f2731 solid;
    border-right: 1px #1f2731 solid
}
.sca-dark .button-nav .blue.darken-3,
.sca-dark .button-nav .blue.darken-4,
.sca-dark .button-nav .pink1,
.sca-dark .button-nav .deep-purple.lighten-1,
.sca-dark .button-nav .green.darken-1 {
    border-top: 1px #1f2731 solid;
    border-right: 1px #1f2731 solid
}
.sca-dark .blue.darken-2 {
    color: #1976D2;
    background-color: transparent;
}

.sca-dark .purple.darken-2 {
    color: #7b1fa2;
    background-color: transparent;
}

/*widget buttons */

.sca-dark .widget-toolbar:hover,
.sca-dark .navigation-link.green.classify .btn:hover,
.sca-dark .navigation-link.deep-purple.darken-2.validate .btn:hover,
.sca-dark .widget-toolbar.blue.btn:hover {
    background-color: transparent;
    color: #eee
}
.sca-dark .classification-btn .btn-default:hover,
.sca-dark .classification-btn .btn-default span:hover {
    color: #eee
}
.sca-dark .task-details .green {
    background-color: #262e39;
}
.sca-dark .classification-btn .btn-default {
    border: 1px #262e39 solid ;
}
.sca-dark .classification-btn .btn-default:hover {
    color: #eee;
    background-color: transparent;
    border: 1px #1f2731 solid;
}

/*colors */

.sca-dark .blue {
    color: #00a6e5;
    background-color: transparent;
}
.sca-dark .orange.darken-3 {
    color: #ef6c00;
    background-color: transparent;
}
.sca-dark .light-blue {
    color: #03a9f4;
    background-color: transparent;
}
.sca-dark .blue.darken-3 {
    color: #1565C0;
    background-color: transparent;
}
.sca-dark .blue.darken-4 {
    color: #0D47A1;
    background-color: transparent;
}
.sca-dark .yellow.darken-2 {
    color: #ffcc00;
    background-color: transparent;
}
.sca-dark .deep-purple.lighten-1 {
    color: #7e6ecd;
    background-color: transparent;
}
.sca-dark .pink1 {
    color: #e94281;
    background-color: transparent;
}
.sca-dark .green.darken-1 {
    color: #4CAF50;
    background-color: transparent;
}
.sca-dark .editpanel {
    background-color: #2d3743;
    color: #aeb2b5;
}
.sca-dark .green {
    color: #4CAF50;
    background-color: transparent;
}
.sca-dark .blue.darken-1 {
    color: #009cd7;
    background-color: #262e39;
}
.sca-dark .blue.darken-1 {
    color: #009cd7;
    background-color: #262e39;
}
.sca-dark .navbar-default .btn-link {
    color: #737373;
}
.sca-dark .navbar-default .btn-link:hover {
    background-color: #525463;
}
.sca-dark .task-details button {
    background-color: #262e39;
}
.sca-dark .task-details button:hover {
    background-color: #1f2731;
}
/*nav Tabs*/

.sca-dark .sidebar-bg {
    background-color: #2d3743;
}
.sca-dark .nav-tabs > li > a {
    margin-right: 0;
    background-color: #262e39;
    border: none;
    color: #eee;
    box-shadow: inset 0 -1px 0 #414548;
    transition: all .2s;
}
.sca-dark .sidebar-tabs.nav > li.active > a,
.sca-dark .sidebar-tabs.nav > li > a:hover {
    background-color: #2d3743;
    color: #bebebe;
    box-shadow: none;
    color: #00a6e5;
}
.sca-dark .control-label {
    color: #babec1;
    box-shadow: inset 0 -1px 0 #2d3743 ;
}
.sca-dark .timeline-title {
    color: #eee;
}
.sca-dark .timeline-title p {
    color: #eee;
}
.sca-dark .classification-report,
.sca-dark .feedback-header {
    background-color: #262e39;
    border-top: 1px solid #262e39;
}
.sca-dark .classification-btn .btn-default[disabled] span {
    color: #262e39 ;
    background-color: #525463;
}
.sca-dark .project-page .classification-btn .btn-default[disabled] span {
    color: #fff ;
}

.sca-dark .classification-btn .btn-default[disabled] {
    border-color: #525463 ;
    color: #262e39 ;
    background-color: #525463;
}
/*model box*/
.sca-dark .modelViewContainer {
    background: #ffffff !important;
}

.sca-dark .modelScrollBox {
    background-color: #ffffff;
}
.sca-dark .saved,
.sca-dark .fa-close {
    color: #fff;
}
.sca-dark .feedback-view .table > thead > tr > th,
.sca-dark .feedback-view .table > thead > tr > td {
    border-color: #414548;
}
.sca-dark .pink1.feedback-header-main {
    background-color: #f9428b;
    color: #fff;
}
.sca-dark .feedback-header-main .pink.darken-2 {
    background-color: #880e4f;
    color: #fff;
}
.sca-dark .sidebar-bg .sidebar-grey {
    background-color: #2d3743 ;
}
.sca-dark .sidebar-bg .control-label {
    color: #fff;
}
.sca-dark .green.btn-round
{
    background-color: transparent;
    color: #4CAF50
}
.sca-dark .green.btn-round:hover {
    color: #fff;
    background-color: #4CAF50
}
.sca-dark .blue.btn-round
{
    background-color: transparent;
    color: #42A5F5
}
.sca-dark .blue.btn-round:hover {
    color: #fff;
    background-color: #42A5F5
}
.sca-dark .blue.green.btn-round
{
    background-color: transparent;
    color: #42A5F5
}
.sca-dark .blue.green.btn-round:hover {
    color: #fff;
    background-color: #42A5F5
}
.sca-dark .red.btn-round {
    background-color: transparent;
    color: #ff5555
}
.sca-dark .red.btn-round:hover {
    color: #fff;
    background-color: #ff5555
}
.sca-dark .amber.btn-round {
    background-color: transparent;
    color: #ffca28
}
.sca-dark .amber.btn-round:hover {
    color: #fff;
    background-color: #ffca28
}
.sca-dark .pink.darken-1.btn-round {
    background-color: transparent;
    color: #f9428b
}
.sca-dark .pink.darken-1.btn-round:hover {
    color: #fff;
    background-color: #f9428b
}
.sca-dark .pink.lighten-2.btn-round {
    background-color: transparent;
    color: #f06292
}
.sca-dark .pink.lighten-2.btn-round:hover {
    color: #fff;
    background-color: #f06292
}
.sca-dark .purple.lighten-1.btn-round {
    background-color: transparent;
    color: #ba68c8
}
.sca-dark .purple.lighten-1.btn-round:hover {
    color: #fff;
    background-color: #ba68c8
}
.sca-dark .purple.lighten-2.btn-round {
    background-color: transparent;
    color: #ba68c8
}
.sca-dark .purple.lighten-2.btn-round:hover {
    color: #fff;
    background-color: #ba68c8
}
.sca-dark .purple.darken-1.btn-round {
    background-color: transparent;
    color: #ba68c8
}
.sca-dark .purple.darken-1.btn-round:hover {
    color: #fff;
    background-color: #ba68c8
}
.sca-dark a .side-text {
    color: #eee;
}
.sca-dark section thead input {
    background-color: transparent;
}
.sca-dark .highlight {
    color: #474747
}
.sca-dark .taxonomy-list h4 {
    color: #fff;
}
.sca-dark .work-list-tabs {
    border: 1px #1f2731 solid ;
    background-color: #262e39;
}
.sca-dark .light_greys {
    background-color: #1f2731;
}
.sca-dark .role_group_divider_top_1,
.sca-dark .role_group_divider_top_3,
.sca-dark .role_group_divider_top_5,
.sca-dark .role_group_divider_top_7 {
    border-bottom: 6px solid #1f2731;
    border-top: 1px solid #13181e;
}
.sca-dark .role_group_divider_bottom_1,
.sca-dark .role_group_divider_bottom_3,
.sca-dark .role_group_divider_bottom_5,
.sca-dark .role_group_divider_bottom_6 {
    border-top: 6px solid #1f2731;
    border-bottom: 1px solid #13181e;
}
.sca-dark .role_group_divider_bottom_0,
.sca-dark .role_group_divider_bottom_2,
.sca-dark .role_group_divider_bottom_4,
.sca-dark .role_group_divider_bottom_5 {
    border-top: 6px solid #3c3d48;
    border-bottom: 1px solid #3c3d48;
}
.sca-dark .role_group_divider_top_0,
.sca-dark .role_group_divider_top_2,
.sca-dark .role_group_divider_top_4,
.sca-dark .role_group_divider_top_6 {
    border-bottom: 6px solid #3c3d48;
    border-top: 1px solid #3c3d48;
}
.sca-dark .color_0.role-group-drag,
.sca-dark .color_2.role-group-drag,
.sca-dark .color_4.role-group-drag,
.sca-dark .color_6.role-group-drag {
    background-color: #303039;
}
.sca-dark .color_1.role-group-drag,
.sca-dark .color_3.role-group-drag,
.sca-dark .color_5.role-group-drag,
.sca-dark .color_7.role-group-drag {
    background-color: #1f2731;
}
.sca-dark .edits-row.color_0,
.sca-dark .edits-row.color_2,
.sca-dark .edits-row.color_4,
.sca-dark .edits-row.color_6 {
    background-color: #3c3d48;
}
.sca-dark .edits-row.color_1,
.sca-dark .edits-row.color_3,
.sca-dark .edits-row.color_5,
.sca-dark .edits-row.color_7 {
    background-color: #1f2731;
}

.sca-dark .edits-row.color_1.tealhl,
.sca-dark .edits-row.color_3.tealhl,
.sca-dark .edits-row.color_5.tealhl,
.sca-dark .edits-row.color_7.tealhl {
    background-color: #00a39b;
    border-top: 1px solid #00a39b;
}

.row.darken-3.edits-row.tealhl{
    background-color: #00a39b;
    border-top: 1px solid #00a39b;
}

.sca-dark.row.darken-3.edits-row.tealhl{
    background-color: #00a39b;
    border-top: 1px solid #00a39b;
}

.sca-dark .bluehl {
    background-color: #01579b ;
    border-top: 2px solid #01579b;
    border-bottom: 5px solid #01579b;
}
.sca-dark .bluehl .grey.darken-3 {
    background-color: #01579b
}
.sca-dark .bluehl .grey.darken-3 {
    border-bottom: 5px solid #01579b
}
.sca-dark .bluehl .grey.darken-3 {
    background-color: #01579b
}
.sca-dark .bluehl .grey.darken-3 {
    border-bottom: 5px solid #01579b
}
.sca-dark .tealhl .grey.darken-3 {
    background-color: #25444a
}
.sca-dark .tealhl {
    background-color: #25444a ;
    border-top: 2px solid #25444a;
    border-bottom: 5px solid #25444a;
}
.sca-dark .redhl .grey.darken-3 {
    background-color: #B71C1C
}
.sca-dark .redlhl {
    background-color: #B71C1C ;
    border-top: 2px solid #B71C1C;
    border-bottom: 2px solid #B71C1C;
}
.sca-dark .morebuttons {
    color: #00a6e5;
    background-color: transparent;
}
.sca-dark .ta-toolbar .btn-group button,
sca-dark .pull-left.follow-up {
    color: #3c3d48
}
.sca-dark .cyan.darken-2.iconbase {
    background-color: transparent;
    color: #0097a7;
}
.sca-dark .cyan.darken-2.iconbase:hover {
    background-color: transparent;
    color: #fff;
}
.sca-dark .table tr.clickable-row:hover {
    background-color: #262e39 ;
}
.sca-dark .table tr.clickable-row td {
    border-top: 1px solid #262e39
}
.sca-dark .table-title {
    color: #eee
}
.sca-dark .arrow-purple {
    width: 0;
    height: 0;
    margin-top: 22px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #ba68c8;
}
.sca-dark .arrow-blue {
    width: 0;
    height: 0;
    margin-top: 22px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #00a6e5;
}

.sca-dark .indigo.lighten-2{
    color: rgb(121, 134, 203);
    background-color: transparent;
}

.sca-dark .indigo.lighten-2:hover {
    color: #3f51b5;
    background-color: transparent;
}
.sca-dark .loading-merges.blue.darken-1 {background-color:#00a6e5}
.sca-dark .loading-merges.green {background-color:rgb(50, 174, 26)}
.sca-dark .loading-merges.amber {background-color:rgb(255, 202, 40); color:#fff}

.sca-dark .scroll-if-height::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background-color: #2d3743
}
.sca-dark .scroll-if-height::-webkit-scrollbar-button{
    width: 7px;
    height: 7px;
}
.sca-dark .scroll-if-height::-webkit-scrollbar-thumb
{
    background: #262e39;
    border: 0px none #ffffff;
    border-radius: 62px;
}
.sca-dark .scroll-if-height::-webkit-scrollbar-thumb:hover{
    background: #262e39;
}
.sca-dark .scroll-if-height::-webkit-scrollbar-thumb:active{
    background: #262e39;
}
.sca-dark .scroll-if-height::-webkit-scrollbar-track{
    background: #2d3743;
    border: 0px none #ffffff;
    border-radius: 50px;
}
.sca-dark .scroll-if-height::-webkit-scrollbar-track:hover{
    background: #2d3743;
}
.sca-dark .scroll-if-height::-webkit-scrollbar-track:active{
    background: #2d3743;
}
.sca-dark .scroll-if-height::-webkit-scrollbar-corner{
    background: transparent;
}
.sca-dark .task-detail div{color:#fff}


/* header alert fix */
.sca-dark .header-alerts a,
.sca-dark .header-alerts div a,
.sca-dark .navbar-fixed-top .btn,
.sca-dark .header-alerts .blue,
.sca-dark .search-scroll input[type=search],
.sca-dark .white-text a,
.sca-dark .classification-header .btn[disabled],
.sca-dark .dark-centured-text{
    color:#fff;
}

.sca-dark .dark-fix{color:#00adee}
/*left nav */

.sca-dark .blue.search-type{background-color:#00a6e5; color:#fff;}
.sca-dark .blue.search-type:hover{background-color:#448AFF; color:#fff;}
.sca-dark .navigation-link.deep-purple.darken-2.validate .btn {color :#8b72b7}
.sca-dark .navigation-link.green.darken-1.classify .btn {color :#4CAF50}
.sca-dark .widget-toolbar.review.btn {color :#e94281}
.sca-dark .widget-toolbar.blue.btn{color:#5fc1e6}
.sca-dark .new-concept-button{
    background-color:transparent; 
    color:#00adee;
}
.sca-dark .create-template{
    background-color:transparent; 
    color:#009cd7;
}

.sca-dark .new-concept-button,
.sca-dark .create-template,
.sca-dark .navigation-link.deep-purple.darken-2.validate,
.sca-dark .navigation-link.green.classify,
.sca-dark .navigation-link.pink1.darken-2.review
{
    border-top: 1px #1f2731 solid ;
    border-right: 1px #1f2731 solid ;
}
.sca-dark .widget-toolbar.review.btn,
.sca-dark .sub-navigation-link-list.review-nav .btn   {
    color: #e94281;
}
.sca-dark .btn[disabled] {color:#666;}

.sca-dark .report-header-main {

    background-color: #262e39;

}

.sca-dark .classification-header {
    color: #fff;
    background-color: #4cb476;
}
.sca-dark .dash-tables .page-header .lead {
    color: #fff;
}
.sca-dark  .green-text {
    color: #4cb476;
}
.sca-dark .classification-report {
    border-bottom: #262e39 solid 2px;
}
.sca-dark .classification-report.empty-report{
  border-bottom : none;
  background-color: #525463;
}
.sca-dark .validation-header{background-color:#4527a0}

/*tbba*/

  /* classification */
.sca-dark .navigation-link.green.darken-1
{color:#4CAF50;
background-color: #262e39;}
.sca-dark .navigation-link.green.darken-1:hover
{color:#fff;
background-color: #262e39;}
.sca-dark  .green.darken-1.iconbase{
  color:#4CAF50;
}
 .sca-dark  ul.classification-nav .btn:hover,
.sca-dark .navigation-link.green.darken-1:hover,
.sca-dark .navigation-link.green.darken-1:focus,
.sca-dark .navigation-link.green.darken-1:active
 .sca-dark  ul.classification-nav li ul li:focus,
 .sca-dark  ul.classification-nav li ul li:active,
 .sca-dark  ul.classification-nav li ul li:hover {
    color: #fff;
	  background-color: #262e39;
  }

 .sca-dark  ul.classification-nav li ul li {
   background-color: #262e39;
    color: #4CAF50
  }
  /*validation*/
   .sca-dark  .navigation-link.deep-purple.darken-2.validate
  {color:#673ab7;
  background-color: #262e39;
	  }
  .sca-dark .deep-purple.darken-2.validate:hover,
  .sca-dark .deep-purple.darken-2.validate:focus,
  .sca-dark  .deep-purple.darken-2.validate:active,
   .sca-dark  ul.validation-nav .btn:hover,
	.sca-dark ul.validation-nav .btn:focus,
	.sca-dark ul.validation-nav .btn:active,
  .sca-dark ul.validation-nav li ul li:focus,
  .sca-dark ul.validation-nav li ul li:active,
  .sca-dark ul.validation-nav li ul li:hover {
    color: #fff;
	 background-color: #262e39;
  }

  .sca-dark ul.validation-nav li ul li {
     background-color:  #262e39;
    color: #ab47bc;
  }

   /* review */

.sca-dark .navigation-link.pink.darken-2.review > ul > li > a > div{
    border-top: 1px #1f2731 solid;
    border-right: 1px #1f2731 solid;
}
.sca-dark .button-nav .conflicts,
.sca-dark .button-nav .new-concept-button
{
    border-right: 1px #1f2731 solid;
}
 .sca-dark  ul.review-nav li ul li,
 .sca-dark  div.navigation-link.pink1.darken-2.review > ul > li > ul > li,
 .sca-dark .pink1.darken-2 .sub-navigation-link-list .btn,
 .sca-dark .navigation-link.pink.darken-2.review > ul > li > a > div
 {
    background-color: #262e39;
    color: #e91e63;
  }
.sca-dark .navigation-link.pink.darken-2.review > ul > li > a  > div:hover,
  .sca-dark ul.review-nav  li ul li:focus,
  .sca-dark ul.review-nav li ul li:active,
  .sca-dark ul.review-nav li ul li:hover,
 .sca-dark ul.review-nav .btn:hover,
.sca-dark .navigation-link.pink.darken-2:hover,
.sca-dark .navigation-link.pink.darken-2:active,
.sca-dark .navigation-link.pink.darken-2:focus{
	background-color:#262e39;
	color:#fff
}
def_PRIMITIVE textarea, .def_PRIMITIVE select, .def_PRIMITIVE .custom-button, .def_PRIMITIVE .form-control[disabled], .def_PRIMITIVE [type=text].form-control[disabled], .def_PRIMITIVE [type=text].form-control[readonly] {
    font-size: 11px;
    height: 30px;
    background-color: #b7dbff;
    color: #474747;
    box-shadow: none;
}
.def_FULLY_DEFINED textarea, .def_FULLY_DEFINED select, .def_FULLY_DEFINED .custom-button, .def_FULLY_DEFINED .form-control[disabled], .def_FULLY_DEFINED [type=text].form-control[disabled], .def_FULLY_DEFINED [type=text].form-control[readonly] {
    background-color: #dbdbff;
    color: #474747;
    font-size: 11px;
    height: 30px;
}
.sca-dark .sca-batch-table .table-full{background-color:#fff;}

.sca-dark .header-alerts div .saved.red {
   background-color: #c13244;
}
.sca-dark .header-alerts div .saved.blue {
   background-color: #00a6e5;
}

.sca-dark .header-alerts div .saved.orange {
   background-color: #ff9800;
}

.sca-dark .btn-default.cancel-action-btn:disabled,
.sca-dark .btn-default.complete-action-btn:disabled,
.sca-dark .btn-default.primary-action-btn:disabled {

    color: #7c7c7c;
    pointer-events: none;

}
/*edit buttons */

.sca-dark .small-buttons:hover {
    color: #fff ;
    background-color: transparent ;
}
.sca-dark .morebuttons {
    color: #fff;
    background-color: transparent
}

.sca-dark .morebuttons:hover{color:#00a6e5}



.sca-dark .validation.red{
    background-color: #c13244;
    color: #FFF;
}

.sca-dark .validation.orange{
}

.sca-dark .nav-tabs>li>a {
    margin-right: 0;
    background-color: #525463;
    border: none;
    color: #eee;
    box-shadow: inset 0 -1px 0 #414548;
    transition: all .2s;
}
.sca-dark .work-list-tabs .nav-tabs>li.active>a {
    box-shadow: none;
    color: #f9428b;
    background-color: #fff;
}
.sca-dark .work-list-tabs .nav-tabs>li>a {
    background-color: transparent;
}
.sca-dark .tab-content {
    font-size: 12px;
    color: #fff;
    box-shadow: none;

}

.sca-dark .ng-table th.sortable.sort-asc,
.sca-dark .ng-table th.sortable.sort-desc {
    text-shadow: 0 1px 1px rgba(0,0,0,.75);
}
.sca-dark .ng-table th.sortable .sort-indicator:after{
    border-color: #fff transparent;
}
.sca-dark .ng-table th.sortable .sort-indicator:before {
    border-top: 4px solid #fff;
}

.sca-dark .tab-content .form-control {
    display: block;
    font-size: 14px;
    line-height: 1.428571429;
    color: #fff;
}

  .sca-dark .feedback-chat::-webkit-scrollbar-thumb,
.sca-dark .ta-scroll-window.form-control::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 62px;
}

.sca-dark feedback-chat::-webkit-scrollbar-thumb:active,
.sca-dark .ta-scroll-window.form-control::-webkit-scrollbar-thumb:active {
    background: #3e3e42;
}
.sca-dark .feedback-chat::-webkit-scrollbar-track,
.sca-dark .ta-scroll-window.form-control::-webkit-scrollbar-track {
    background: #3e3e42;
    border: 0px none #3e3e42;
    border-radius: 50px;
}
.sca-dark .feedback-chat::-webkit-scrollbar-track:hover,
.sca-dark .ta-scroll-window.form-control::-webkit-scrollbar-track:hover {
    background: #3e3e42;
}
.sca-dark .feedback-chat::-webkit-scrollbar-track:active,
.sca-dark .ta-scroll-window.form-control::-webkit-scrollbar-track:active {
    background: #3e3e42;
}
.sca-dark .feedback-header {

    color: #fff;
}

.sca-dark .inactivation-report.classification-report ~ .table-responsive select {
  background-color: #2d3743;
}
.sca-dark .inactivation-report.classification-report ~ .table-responsive textarea {
  color: #fff;
}
.sca-dark .inactivation-report.classification-report .nav input{
  color: #262e39;
}
.sca-dark .navigation-link.green.classify .btn {
  color: #4caf50;
}
.sca-dark .create-template[disabled]:hover{
  border-right: 1px #1f2731 solid;
}