.angular-ui-tree-node .badge {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.main-view-offset {
    padding-left: 50px;
}
.m-t-7 {
	margin-top:7px;
}

.tab-content > .active{margin-top:5px}
.ta-editor p,
.ta-editor p span,
.ta-editor p strong {
    color: #666;
    line-height: 1.3;
    font-size: 12px;
}
.concept-headers:first-child {
    padding-top: 15px;
}
a .side-text {
    color: #666
}
.side-text {
    line-height: 22px;
    margin-left: 4px;
    font-size: 11px;
}
.green.btn-default:active {
    background-color: #43A047;
    color: #474747;
}
.deep-purple.btn-default:active {
    background-color: #512da8;
    color: #474747;
}
.pink1.btn-default:active {
    background-color: #c2185b;
    color: #474747;
}
.blue.darken-1.btn-default:active {
    background-color: #1976D2;
    color: #474747
}
.amber.btn-default:active,
.amber.btn-default:hover {
    background-color: #ff8f00;
}
.lower-case {
    text-transform: lowercase
}
.description textarea,
.description input,
.edits-row textarea,
.edits-row input {
    word-wrap: normal;
    max-height: 260px;
    word-break: normal;
}
.table-full-small .badge {
    font-weight: normal;
    font-size: 13px;
    padding: 5px 7px;
    margin: 3px;
    line-height: 12px;
}
.pager {
    padding: 0;
    margin: 0
}
textarea {
    resize: vertical;
}
.table > thead > tr > th {
    padding: 4px 2px;
    line-height: 14px;
    vertical-align: top;
    border-top: 1px solid #F0F0F0;
    vertical-align: bottom;
    border-bottom: 2px solid #F0F0F0;
}
.table > tbody > tr > td,
.table > tbody > tr > th {
    line-height: 12px;
    vertical-align: middle;
}
.dashboard-links a {
    color: #fff;
}
.navbar-default {
    color: #EDEDED
}
.small-buttons.btn-default[disabled],
.small-buttons.btn-default[disabled]:hover{
    background-color: transparent ;
    color: #444 ;
}
/*model bg */

button.widget-toolbar {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.task-details .alert.alert-danger a {
    color: #ffc107;
}

/*disabled buttons*/

.classification-btn .btn-default[disabled],
.task-details .editingtask.btn-default[disabled],
.task-details .classify.btn-default[disabled],
.task-details .validate.btn-default[disabled],
.task-details .review.btn-default[disabled],
.task-details .promote.btn-default[disabled],
.task-details .auto-promote.btn-default[disabled] {
    background-color: #d8d8d8 ;
    border-color: #d8d8d8 ;
    color: #737373
}
.classification-btn .btn-default[disabled] span {
    color: #737373 ;
    background-color: #d8d8d8
}
.widget-toolbar .green.darken-1 {}
/* widget buttons*/

.modelScrollBox {
    background-color: #fff;
}
.modelViewContainer {
    background: #ffffff;
}
.concept-bg {
    background-color: #424242
}
.edit-bar{
    float: right;
    width: 10px;
    color: red
}
.fixed-height {
  position: fixed;
  padding-left: 0px;
  margin-left: -1px;
}
.tooltip {
    top: 0px ;
}
.popover select.form-control {
    margin: 0px ;
}
button,
.btn {
    border: none ;
}
.model-header h4 {
    margin-left: 10px;
    font-size: 12px;
}
.darkbuttons:active,
.darkbuttons:focus {
    background-color: #212121 ;
    color: #66bbfd ;
}
.toggle-buttons {
    background-color: transparent ;
    padding: 0px ;
    color: #009cd7 ;
}
.toggle-buttons:hover {
    color: #2196F3 ;
}
h1,
h1 {
    font-size: 16px;
}
.project-buttons {
    background-color: transparent ;
    padding: 0px ;
    color: #424242 ;
    font-size: 18px;
}
.project-buttons[disabled] {
    background-color: transparent ;
    padding: 0px ;
    color: #BEBEBE ;
    font-size: 18px;
}
.project-buttons:hover {
    color: #1269c3 ;
}
.green.darken-1:hover,
.green.darken-1:focus,
.green.darken-1:active {
    background-color: #2d7130;
    color: #fff;
    border-color: transparent;
}
.card .card-title {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    line-height: 14px;
}
.project-subtitle {
    font-size: 16px;
}
.add-buttons {
    background-color: transparent ;
    padding: 1px 3px ;
    color: #dcdcdc ;
    font-size: 12px;
}
.add-buttons:hover {
    color: #000 ;
}

.saved-list-buttons:hover {
    color: #009cd7 ;
}
.create-new-concept {
    background-color: #00adee ;
    text-align: center ;
    color: #fff ;
    font-size: 14px ;
    padding: 13px ;
    line-height: 1 ;
}
.create-new-concept:hover,
.create-new-concept:active {
    background: #0082b3;
    color: #fff
}
.create-new-concept i {
    font-size: 17px ;
}
.savedlist-buttons {
    width: 75px;
}
.no-padding-left {
    padding-left: 0px ;
}
.no-padding-right {
    padding-right: 0px ;
}
.create-links:after {
    color: #4fc3f7;
    display: inline-block;
    font: normal normal normal 14px/1 'Material Design Iconic Font';
    speak: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 5px;
    top: 18px;
    font-size: 22px;
}
.fsn {
    padding-bottom: 3px;
    font-size: 12px;
    float: left;
}
.saved-list-title {
    font-size: 12px ;
    text-transform: none ;
    background-color: transparent ;
}
.saved {
    padding: 8px 30px 8px 8px;
    margin: 10px 10px;
    line-height: 16px;
    font-weight: 400;
}

textarea.form-control.inactivation-value{
    padding-top:14px;
}
.purple-darken-1 .btn-default[disabled] .btn-default{
    background-color: #8e24aa;
}
.green-save {
    font-weight: 400;
}
.alert {
    font-size: 12px;
}
.model-header h4 {
    font-size: 12px;
    font-weight: 500;
    margin: 0px;
}
.model-header {
    font-size: 12px;
}
.model-header input {
    height: 10px ;
}
.model-header label {
    margin-bottom: 0px;
}
.timeline-heading .control-label {
    box-shadow: none ;
    padding-bottom: 0px ;
}
#top > main > div > div:nth-child(2) > div > div.sca-column.col-lg-9.col-md-9.col-sm-9 > div.row.project-page > div:nth-child(2) > div:nth-child(2) > div > div > div > div:nth-child(1) > div.pull-right {
    display: none;
}
.editing-form .amber.btn-default:hover {
    background-color: transparent;
}
.editing-form .orange.btn-default:hover  {
    color: #fff;
}
@media screen and (max-width:1400px) {
    .editing-form .add-buttons {
        padding: 4px 2px;
        min-height : 10px;
        height : 15px;
    }

    .editing-form .add-buttons.button-width-plus,
    .editing-form .add-buttons.button-width-minus {
        padding: 1px 2px;
    }
}
@media screen and (max-width: 1850px) {
    .editing-form button:not(.add-buttons),
    .editing-form .btn:not(.add-buttons) {
        border: 0px;
        font-size: 14px;
        padding: 1px 1px;
        line-height: 1.346;
    }
    .editing-form input,
    .editing-form textarea,
    .editing-form select {
        font-size: 11px ;
    }
    .form-control {
        height: 30px;
    }
    .title-text {
        font-size: 11px;
        max-width: 200px;
        text-align: left;
    }
    .fsn {
        text-align: left;
    }
}
@media screen and (min-width: 1851px) {
    .editing-form button,
    .editing-form .btn:not(.add-buttons) {
        border: 0px;
        font-size: 15px;
        padding: 1px 4px;
        line-height: 1.346;
    }
    .editing-form input,
    .editing-form textarea,
    .editing-form select {
        font-size: 12px ;
    }
    .form-control {
        height: 30px;
    }
    .title-text {
        font-size: 12px;
        line-height: 1.7;
        max-width: 200px;
        text-align: left;
    }
    .fsn {
        text-align: left;
    }
}
.popover select.form-control {
    background-color: #fff;
    padding: 5px 20px 5px 15px;
    font-size: 12px;
    margin: 5px;
}
.editform .row {
    margin: 0px;
}

.edit-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.formcontrol {
    font-size: 12px;
}
.widget-toolbar {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    box-shadow: none;
    width: 38px;
    line-height: 35px;
}
.widget-toolbar:hover {
    background-color: transparent;
    color: #424242;
}
/* taxonomy */

.taxonomy-chevron {
    color: #428bca;
}
#bp-taxonomy_canvas-panelBody {
    height: 100%;
}
#bp-taxonomy_canvas-panelBody ul {
    padding: 0;
}
#bp-taxonomy_canvas-mainPanel {
    height: 100%;
    margin: 5px 5px 5px 0;
    padding: 5px;
    overflow: auto;
    box-shadow: none;
}
#bp-taxonomy_canvas-mainPanel ul ul a {
    padding: 0;
    font-weight: 400;
}
#bp-taxonomy_canvas-mainPanel ul ul a:hover {
    font-weight: 500;
}
#bp-taxonomy_canvas-mainPanel ul a {
    display: inline;
    padding: 0;
}
#bp-taxonomy_canvas-mainPanel i {
    color: #00a4e4;
    font-size: 10px;
}
.alert-warning {
    background-color: #ffd54f;
    border-color: none;
    color: #8A6D3B;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
}
.search-button {
    font-size: 18px;
    box-shadow: none;
}
.search-button:hover {
    font-size: 18px;
    box-shadow: none;
    background-color: transparent;
    color: #ffc107;
}
.alert-warning {
    color: black;
    background-image: linear-gradient(to bottom, #ffecb3 0px, #ffe082 100%);
    background-repeat: repeat-x;
    border-color: #F5E79E;
}
#bp-taxonomy_canvas-mainPanel .treeButton {
    height: 20px;
    font-size: 12px;
    vertical-align: middle;
}
#bp-taxonomy_canvas-mainPanel .treeButton:hover {
    background-color: #e6e6e6;
    color: #424242;
    text-transform: none;
}
#bp-taxonomy_canvas-mainPanel .treeLabel {
    font-size: 12px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.widget-button {
    font-size: 18px;
    box-shadow: none;
}
.widget-button:hover {
    font-size: 18px;
    box-shadow: none;
    background-color: #424242;
    color: #fff;
}
.text-center {
    text-align: center;
    font-size: 13px;
}
input:focus.color_even,
textarea:focus.color_even,
select:focus.color_even,
input:active.color_even,
textarea:active.color_even,
select:active.color_even {
    box-shadow: inset 0 -2px 0 #E0299B ;
}
.row {
    border: none ;
}
input:focus.color_odd,
textarea:focus.color_odd,
select:focus.color_odd,
input:active.color_odd,
textarea:active.color_odd,
select:active.color_odd {
    box-shadow: inset 0 -2px 0 #ffd306 ;
}

select.primitive {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff ;
    font-size: 12px ;
    padding: 4px ;
    background-color: #474747;
    border: 1px #363636 solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-font-smoothing: antialiased ;
}
.edit-scroll {
    overflow-y: scroll;
    top: 0;
    right: 0;
}
.form-control:disabled {
    color: white;
}
.projecttasks .btn-success.btn-border {
    border-color: #11c78e ;
    color: #11c78e ;
}
.projecttasks .btn-border {
    -webkit-box-shadow: none ;
    box-shadow: none ;
    border: 1.5px solid ;
    border-color: rgba(0, 0, 0, 0.1) ;
    border-radius: 3px ;
    background-color: transparent ;
}
.projecttasks .btn-success.btn-border:hover {
    color: #fff ;
    background-color: #11c78e ;
}
.projecttasks .btn-disabled.btn-border {
    border-color: #8e8e8e ;
    color: #8e8e8e ;
}
.projecttasks .btn-disabled.btn-border:hover {
    color: #fff ;
    background-color: #8e8e8e ;
}
.paging .btn {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) ;
}
.badge {
    display: inline-block;
    min-width: 10px;
    color: #FFF;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
}
.badge {
    font-weight: normal;
    font-size: 13px;
    padding: 6px 10px;
    margin: 0px;
    line-height: 13px;
}
.In.Progress.badge {
    background-color: #E68FBB;
}
.Promoted.badge {
    background-color: #0091d7;
}
.New.badge {
    background-color: #F3CB67;
}
.In.Review.badge {
    background-color: #8bc34a;
}
.Review.Completed.badge {
    background-color: #610a98;
}
.dashboard-sidebar::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
}
.sidebar-tabs.nav > li > a {
    width: 100%;
    padding: 0px;
    text-align: center;
    font-size: 18px;
    background-color: #d1d1d1;
    color: #737373;
}
.nav > li > a {
    line-height: 30px;
}
.sidebar-tabs.nav > li.active > a,
.sidebar-tabs.nav > li > a:hover {
    width: 100%;
    padding: 0px;
    text-align: center;
    background-color: #ececec;
    color: #bebebe;
    box-shadow: none;
    color: #009cd7;
    margin-top: 0px;
}
.sidebar-tabs.nav > li {
    width: 16.66%;
    margin-bottom: -5px;
}

/* 5 tabs displayed (templates disabled) - Lea Verou method described at http://lea.verou.me/2011/01/styling-children-based-on-their-number-with-css3/*/
.sidebar-tabs.nav > li:first-child:nth-last-child(5),
.sidebar-tabs.nav > li:first-child:nth-last-child(5) ~ li {
    width: 20%;
}

/* 6 tabs displayed (templates enabled) */
.sidebar-tabs.nav > li:first-child:nth-last-child(6),
.sidebar-tabs.nav > li:first-child:nth-last-child(6) ~ li {
    width: 16.66%;
}

.sidebar-tabs.nav-tabs > li > a {
    border-radius: 0px;
}
.sidebar-bg {
    background-color: #ececec;
}
.sidebar-tabs a.tooltips-btm span,
.sidebar-tabs button.tooltips-btm span {
    min-width: 80px;
}
.sidebar-tabs a.tooltips-btm span,
.sidebar-tabs button.tooltips-btm span {
    min-width: 80px;
}
sca-column .hasSVG {
    background-color: #fff;
}
.classification-btn .Classify {
    background-color: #4CAF50;
    color: #fff;
}
.classification-btn .Running {
    background-color: #424242;
    color: #fff;
}
.classification-btn .Failed {
    background-color: #D32F2F;
    color: #fff;
}

.task-details .classify.btn-default:hover,
.classification-btn .btn-default:hover {
    background-color: #43A047;
    color: #fff;
}
.task-details .validate.btn-default:hover {
    background-color: #512da8;
    color: #fff;
}
.classification-btn .btn-default:focus {
    background-color: #43A047;
    color: #fff;
}
.classification-btn .ng-click-active.amber {
    background-color: #424242;
}
.search-snomed {
    width: 90%;
}
.concept-headers {
    padding-bottom: 5px;
}
.classify-buttons {
    border: 1.5px solid ;
    border-radius: 3px ;
    background-color: transparent ;
}
.classify-buttons[disabled] {
    border-color: #bbb ;
    color: #bbb ;
}

.conceptFocus{
}
.accept-classification {
    border-color: #00bcd4 ;
    color: #00bcd4 ;
    background-color: transparent ;
}
.download-classification {
    color: #009cd7 ;
    border-color: #009cd7 ;
}
.download-classification:active,
.download-classification:hover {
    background-color: #009cd7 ;
    color: #fff ;
}
.submit-validation {
    color: #7e57c2 ;
    border-color: #7e57c2 ;
}
.submit-validation:active,
.submit-validation:hover {
    background-color: #7e57c2 ;
    color: #fff ;
}
.submit-review {
    color: #ff0990 ;
    border-color: #ff0990 ;
}
.submit-review:active,
.submit-review:hover {
    background-color: #ff0990 ;
    color: #fff ;
}
.page-header {
    margin: 0px;
}
/*projects page*/

.arrow-purple {
    width: 0;
    height: 0;
    margin-top: 22px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #7e57c2;
}
.arrow-green {
    width: 0;
    height: 0;
    margin-top: 22px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #4CAF50;
}
.arrow-blue {
    width: 0;
    height: 0;
    margin-top: 22px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #009cd7;
}
.arrow-red {
    width: 0;
    height: 0;
    margin-top: 22px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #c13244;
}
.arrow-amber {
    width: 0;
    height: 0;
    margin-top: 22px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #FFC107;
}
.project-icon {
    height: 60px;
    width: 60px;
    float: right;
    border-radius: 0px 4px 4px 0px;
}
button[disabled] .project-icon {
    background-color: #7c7c7c
}
.card-title .project-icon .md {
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    width: 100%;
    float: left;
}
.card-header button[disabled]:hover {
    color: #7c7c7c
}
.project-page .card {
    margin: 10px;
}
.sidebar-bg {
    height: 100vh
}
.project-page .card .card-header {
    padding: 0px;
    border-radius: 4px;
}
.project-page .card .card-header button {
    padding-left: 20px ;
    padding-top: 20px ;
}
.card,
.panel,
.theme-picker .theme-item:hover,
.well,
.z-depth-0 {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.07), 1px 2px 5px 1px rgba(0, 0, 0, 0.06);
}
.project-main-buttons {
    text-align: center;
    .btn-group {
        display: inline-block;
    }
}
.project-main-buttons button {
    background-color: #fff ;
    border: 1px solid #eee ;
    border-radius: 4px;
    text-transform: none;
    color: #424242;
    padding: 0px 10px 0px 0px ;
    line-height: 30px;
}
.project-main-buttons button:hover {
    color: #009cd7
}
.project-main-buttons button:disabled {
    background-color: #fff ;
    border: 1px solid #eee ;
    border-radius: 4px;
    text-transform: none;
    color: #7c7c7c ;
    padding: 0px 10px 0px 0px ;
    line-height: 30px;
}
.project-main-buttons .project-icon {
    height: 30px;
    width: 30px;
    float: right;
    border-radius: 4px 0px 0px 4px;
    margin-right: 10px;
}
.promotion-box {
    margin-bottom: 0px;
}
.sidebar-tabs.nav-tabs > li > a .project-main-buttons .project-icon .md {
    line-height: 30px;
    font-size: 16px;
}
.popover {
    color: #353535;
    line-height: 1;
}
.popover-content {
    padding: 3px 7px ;
    max-height: 40px;
}
.switch label input[type=checkbox][disabled]+.lever:after,
.switch label input[type=checkbox][disabled]:checked+.lever:after {
    cursor:not-allowed;
    background-color: #e0e0e0;
}
.close {
    font-size: 28px;
    padding-top: 5px;
}
 .highlight {
      background-color: #ffeb3b; padding:1px 4px;

	color:#474747;}
	.m-t-3{margin-top:5px;}
	.angular-ui-tree-node span{display:inline-block; max-width:83%; vertical-align: top;line-height:13px;}
	.angular-ui-tree-node .small-size-tooltip span{max-width: 90px;
    width: 90px;
    vertical-align: baseline;}

.sca-colours ul.classification-nav:hover .btn {
background: #43A047;
}

.m-t-negative {
    margin-top: -22px;
}
.z-index-1 {
    z-index: 1
}
.search-filter .filter-label {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 5px;
    font-size: 13px;
}
.search-filter .filter-input {
    padding-right: 0px;
    padding-left: 10px;
}
.search-filter select {
    height: 30px;
    font-size: 14px;
}
