.table {
    width: 100%;
    margin-bottom: 0px;
}
.p-l-3 {
    padding-left: 3px;
}
.keep.switch {
    width: 100%;
}
.fsn,
.title-text {
    width: 100%;
}
.editpanel {
    color: #737373;
}
.model-header label {
    margin-bottom: 0px;
    width: 100%;
}
tab-pane.active .no-padding.col-md-9 {
    line-height: 12px;
    font-size: 12px;
    padding-bottom: 3px;
}
.angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 8px;
}
.angular-ui-tree-node {
    font-size: 11.5px;
    line-height: 13px;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.angular-ui-tree.p-10 {
    padding: 0px 5px;
}
.saved-list {
    font-size: 12px;
}
.saved-list .fa-sca.fa-power-off {
    margin-right: .3em;
    width: 18px;
}
.editpanel a {
    color: #666;
}
.editpanel a.white-icon {
    color: white;
}
.editpanel
aside.editpanel ul a {
    padding: 12px;
    color: #737373;
}
.editing-form {
    -webkit-text-size-adjust: 100%;
    padding-bottom: 5px;
    z-index: inherit;
}
.editing-form a {
    text-decoration: none;
    color: #33a4fd;
}
.editing-form input,
.editing-form textarea,
.editing-form select {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #474747;
    margin-bottom: 0px;
    padding: 2px 4px;
    background-color: #e0f7fa;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
select.primitive {
    color: #fff;
}
.editing-form input:focus,
.editing-form textarea:focus,
.editing-form select:focus,
.editing-form input:active,
.editing-form textarea:active,
.editing-form select:active {
    outline: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.editing-form input:last-child,
.editing-form textarea:last-child,
.editing-form select:last-child {
    margin-bottom: 0;
}
.editing-form input[type=button]:focus,
.editing-form input[type=submit]:focus,
.editing-form input[type=reset]:focus {
    background-color: #66bbfd;
    border-color: transparent;
}
 .editbuttons.deep-purple.btn-default:active{background-color:transparent; color:#fff;}
.editing-form button:focus,
.editing-form button:active {
    background-color: transparent;
    border-color: transparent;
}
.editing-form input[type=button]:active,
.editing-form input[type=submit]:active,
.editing-form input[type=reset]:active {
    background-color: #66bbfd;
    border-color: transparent;
}
.editing-form button:active {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.editing-form input[type=submit] {
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.editing-form input[type=submit].state-success {
    background-color: #66bbfd;
    border-color: transparent;
    width: 130px;
}
.editing-form input[type=submit].state-error {
    background-color: #66bbfd;
    border-color: transparent;
    width: 120px;
}
.editing-form input[type=submit].state-initial {
    width: 100px;
}
.editing-form input[type=radio],
.editing-form input[type=checkbox] {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    margin: 0;
    padding: 0;
    height: 10px;
}
.editing-form input[type=radio] + span,
.editing-form input[type=checkbox] + span {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 1px solid #cecece;
    text-align: center;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.editing-form input[type=radio] + span::after,
.editing-form input[type=checkbox] + span::after {
    content: "";
    display: inline-block;
    opacity: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
.editing-form input[type=radio]:focus + span,
.editing-form input[type=checkbox]:focus + span,
.editing-form input[type=radio]:active + span,
.editing-form input[type=checkbox]:active + span {
    border-color: #33a4fd;
}
.editing-form input[type=radio]:checked + span::after,
.editing-form input[type=checkbox]:checked + span::after {
    opacity: 1;
}
.editing-form input[type=radio].error + span,
.editing-form input[type=checkbox].error + span {
    border-color: #e2513f;
    border-width: 2px;
}
.editing-form input[type=radio] + span {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    -moz-box-shadow: 0 0 5px #ddd;
    -webkit-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd;
}
.editing-form input[type=radio] + span::after {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background-color: #33a4fd;
}
.editing-form input[type=radio]:checked + span::after {
    border: 0.2em solid #fff;
}
.editing-form input[type=checkbox] + span {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 0 5px #ddd;
    -webkit-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd;
}
.editing-form input[type=checkbox] + span::after {
    height: 45%;
    width: 75%;
    background-color: transparent;
    border: 0 solid #33a4fd;
    vertical-align: bottom;
    -webkit-transform: rotate(-45deg) translate(50%, -75%);
    -moz-transform: rotate(-45deg) translate(50%, -75%);
    -ms-transform: rotate(-45deg) translate(50%, -75%);
    -o-transform: rotate(-45deg) translate(50%, -75%);
    transform: rotate(-45deg) translate(50%, -75%);
}
.editing-form input[type=checkbox]:checked + span::after {
    border-left-width: .2em;
    border-bottom-width: 0.2em;
}
.editing-form label.custom-select {
    position: relative;
    display: block;
}
.editing-form label.custom-select span {
    position: absolute;
    display: inline-block;
    text-align: center;
    right: 0;
    top: 0;
    height: 100%;
    width: 3.5rem;
    pointer-events: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e8e8e8;
    border: none;
}
.editing-form label.custom-select span::after {
    content: "";
    display: inline-block;
    width: 20%;
    height: 20%;
    -webkit-transform: rotate(-45deg) translate(-80%, 80%);
    -moz-transform: rotate(-45deg) translate(-80%, 80%);
    -ms-transform: rotate(-45deg) translate(-80%, 80%);
    -o-transform: rotate(-45deg) translate(-80%, 80%);
    transform: rotate(-45deg) translate(-80%, 80%);
    border: 0 solid #fff;
    border-left-width: .25em;
    border-bottom-width: 0.25em;
}
.editing-form label.custom-select select:active + span,
.editing-form label.custom-select select:focus + span {
    background-color: #66bbfd;
    border: 1px solid #33a4fd;
}
.editing-form label.custom-select select.error + span,
.editing-form label.custom-select select.error:active + span,
.editing-form label.custom-select select.error:focus + span {
    background-color: #e9796b;
    border: 1px solid #e2513f;
}
.editing-form .notification-box {
    display: block;
    padding: 1rem;
    margin: 0 1rem 1rem;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    color: #fff;
    text-align: center;
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -ms-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
}
.editing-form .notification-box.show-error,
.editing-form .notification-box.show-success {
    border: 1px solid #e2513f;
    background-color: #e9796b;
    max-height: 50vh;
    overflow: auto;
    opacity: 1;
}
.editing-form .notification-box.show-error {
    border-color: #e2513f;
    background-color: #e9796b;
}
.editing-form .notification-box.show-success {
    border-color: #2fa94f;
    background-color: #41ca65;
}
.editing-form .alert.alert-danger.validation a {
    color: #ffab40;
}
.editing-form .unpublished-concept {
    color: yellow;
    position: absolute;
    margin-left: 5px;
    margin-top: 2px;
    transform: none;
}
textarea,
input,
select {
    resize: none;
    min-height: 30px;
    max-height: 60px;
    line-height: 1.1;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    text-rendering: optimizeLegibility;
}
.button-width {
    width: 4.5%;
    margin-right: .5%;
    padding: 0% .5%;
    float: left;
    height: 100%;
    min-height: 30px;
    font-size: 14px;
}
.concept-headers > div:first-child{
    width: 80px;
}
.concept-headers .dropdown-menu {
    top: unset;
}
.concept-headers > div:first-child button {
    padding-left: 0px;
}
/* Global form widths */

.concept-headers .col-md-1 {
    width: 9.33333%;
}
.concept-headers .col-md-13 {
    width: 23%;
}
.editing-form .rolegroup {
    width: 3.0%;
    padding-left: 0px;
}
.editing-form .is_a {
    width: 25.5%;
}
.editing-form .attr {
    width: 25%;
    padding-left: .5%;
}
.editing-form .sourcename {
    width: 47%;
}
.editing-form .relations {
    width: 55%;
    padding-left: .5%;
}
.sca-top {
    z-index: 999;
}
.revert-button {
    color: white;
    background-color: red;
    border-radius: 10px;
    padding: 15px;
    margin-right: 10px;
    text-transform: none;
}
.button-width-acceptability {
    width: 7%;
    margin-left: 0.5%;
    padding: 0% 0.5%;
    float: left;
    height: 100%;
    min-height: 30px;
    font-size: 14px;
}
.small-buttons:hover {
    background: transparent;
    color: #eee;
}
.small-buttons.green {
    color: #4CAF50;
    background-color: transparent;
}
.small-buttons.orange.darken-3 {
    color: #ef6c00;
    background-color: transparent;
}
.small-buttons.blue {
    color: #00a6e5;
    background-color: transparent;
}
.small-buttons.red {
    color: #e92848;
    background-color: transparent;
}
.small-buttons.purple.darken-1 {
    color: #8e24aa;
    background-color: transparent;
}
.small-buttons.lighten-2 {
    color: #9575cd;
    background-color: transparent;
}
.small-buttons.save-button {
    height: 20px;
    font-size: 15px;
}
.small-buttons.amber {
    color: #ffc107;
    background-color: transparent;
}
.more-button-width {
    width: 13px;
    margin: 0px;
    padding: 0px 3px;
    float: left;
    height: 100%;
    min-height: 30px;
    background-color: transparent;
    font-size: 13px;
}
.drag-button-width {
    width: 16px;
    background-color: transparent;
    padding: 0%;
    float: left;
    height: 100%;
    min-height: 30px;
    font-size: 13px;
}
.button-width-plus {
    width: 12px;
    padding: 5px 3px;
    float: left;
    height: 100%;
    min-height: 30px;
    font-size: 12px;
}
.button-width-minus {
    min-height: 30px;
}
.editing-form .is_a textarea {
    width: 80%;
    float: left;
}
.editing-form .sourcename textarea {
    width: 80%;
    float: left;
    height: 30px;
    line-height: 1.2;
}
.is_a .drag-button-width {
    background-color: #ffffdb;
    color: #474747;
    width: 18%;
    float: left;
    padding: 0% 1%;
    margin: 0%;
    text-align: center;
}
.editing-form .sourcename .drag-button-width {
    color: #474747;
    width: 8.75%;
    float: left;
    padding: 0% 0.25%;
    margin: 0%;
    text-align: center;
    line-height: 25px;
}
.editing-form .sourcename textarea {
    width: 90.5%;
    float: left;
}
@media (max-width: 1380px) {
    .title-text {
        font-size: 11px;
    }
    .small-buttons {
        padding: .75%;
        font-size: 15px;
    }
    .snomed-clear {
        margin-top: 5px;
    }
}
@media (max-width: 1793px) {
    .fsn {
        padding-bottom: 3px;
        font-size: 11.5px;
    }
    .snomed-clear {
        margin-top: 5px;
    }
    select.primitive {
        font-size: 10px;
        height: 24px;
    }
    .editing-form .col-md-9 {
        width: 77%;
    }
    .editing-form .col-md-3 {
        width: 23%;
    }
    .editing-form select {
        font-size: 10px;
    }
    .editing-form .typeid {
        width: 12%;
        padding-left: 1%;
    }
    .editing-form .description {
        width: 47%;
    }
    .editing-form .description.lang-ref-set-1 {
        width: 54%;
    }
    .editing-form .description.lang-ref-set-3 {
        width: 39%;
    }
    .editing-form .acceptability {
        width: 22%;
    }
    .white-text {
        color: #fff
    }
    .nav > li > a {
        position: relative;
        display: block;
        font-size: 12px;
        padding: 10px 5px;
    }
    .small-buttons {
        padding: .75%;
        font-size: 15px;
    }
    .concept-headers {
        padding-bottom: 0px;
    }
}
@media (min-width: 1701px) {
    .small-buttons {
        margin-top: 5px;
    }
    .snomed-clear {
        margin-top: 10px;
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 12px;
    }
    .concept-headers {
        padding-bottom: 0px;
    }
}
@media (min-width: 1794px) {
    .editing-form .acceptability {
        width: 15%;
        padding-left: .5%;
    }
    .editing-form .col-md-3 {
        width: 20%;
    }
    .editing-form .col-md-9 {
        width: 80%;
    }
    /* form widths */

    .editing-form .rolegroup {
        width: 3.0%;
        padding-left: 0px;
    }
    .editing-form .language {
        width: 7%;
        padding-left: .5%;
    }
    .editing-form .typeid {
        width: 8%;
        padding-left: .5%;
    }
    .editing-form .description {
        width: 55.25%;
        padding-left: 0px;
    }
    .editing-form .description.lang-ref-set-1 {
        width: 62%;
    }
    .editing-form .description.lang-ref-set-3 {
        width: 47%;
    }

    .editing-form .characteristictype {
        width: 10.5%;
        padding-left: .5%;
    }
    .editing-form .sourceid {
        width: 12.5%;
        padding-left: .5%;
    }
}
/* form widths */

select.form-control {
    background-size: 10px;
}
button.fsn-title-button {
    padding: 0px;
    color: #eee;
    font-size: 11.5px;
}
/* Colours */
/* colors */

.color_ input,
.color_ textarea,
.color_ select,
.color_ .custom-button,
.color_ .sourcename,
.color_even input,
.color_even textarea,
.color_even select,
.color_even .custom-button,
.color_even .sourcename,
.color_odd input,
.color_odd textarea,
.color_odd select,
.color_odd .custom-button,
.color_odd .sourcename {
    background-color: #dbdbff;
    color: #474747;
}

.color_.def_FULLY_DEFINED input,
.color_.def_FULLY_DEFINED textarea,
.color_.def_FULLY_DEFINED select,
.color_.def_FULLY_DEFINED .custom-button,
.color_.def_FULLY_DEFINED .sourcename {
    background-color: #dbdbff;
    color: #474747;
}

.is_a input,
.is_a textarea,
.is_a select,
.is_a_bg {
    background-color: #ffffdb;
}
.is_a_bg {
    margin-left: .5%;
}
.attr input,
.attr textarea,
.attr select {
    background-color: #ffffdb;
}
/* edit panel buttons */

.blue.darken-2 {
    background-color: #1976D2;
    color: #fff;
}
.blue.darken-3 {
    background-color: #1565C0;
    color: #fff;
}
.blue.darken-4 {
    background-color: #0D47A1;
    color: #fff;
}
.nav-tabs li.redundant a:focus:hover,
.nav-tabs li.redundant a:hover,
.nav-tabs li.redundant.active a {
    color: #FF69B4;
    box-shadow: inset 0 -2px 0 #FF69B4;
}
.nav-tabs li.ienp a:focus:hover,
.nav-tabs li.ienp a:hover,
.nav-tabs li.ienp.active a {
    color: #ef9800;
    box-shadow: inset 0 -2px 0 #ef9800;
}
.nav-tabs li.equivalency a:focus:hover,
.nav-tabs li.equivalency a:hover,
.nav-tabs li.equivalency.active a {
    color: #ce394a;
    box-shadow: inset 0 -2px 0 #ce394a;
}
/* button nav*/

.button-nav {
    position: fixed;
    top: 64px;
    bottom: 0px;
    background-color: grey;
    width: 50px;
    z-index: 101;
}
.button-nav .md {
    font-size: 22px;
}
.button-nav .validate:hover {
    background-color: #4527a0;
    color: #fff
}
.pink1 {
    background-color: #e91e63;
    color: #fff;
}
.CASE_INSENSITIVE::before {
    content: "Case Insensitive";
}
.ENTIRE_TERM_CASE_SENSITIVE::before {
    content: " Entire Term Case Insensitive";
}
.INITIAL_CHARACTER_CASE_INSENSITIVE::before {
    content: "Initial Character Case Insensitive";
}
.case-s .md-radio-button-off,
.case-s .md-radio-button-on {
    font-size: 18px
}
/* screenshots colours
.color_even input, .color_even textarea, .color_even select,
.color_odd input, .color_odd textarea, .color_odd select  {
    background-color: #303030 ;  color: #dbdbff ;
}

.is_a input, .is_a textarea, .is_a select{
    background-color: #303030 ; color: #ffffdb ;
}
.attr input, .attr textarea, .attr select{
    background-color: #303030 ; color: #ffffdb ;
}
.green {
    background-color: #303030 ;
    color: #4db46a ;
}
.blue {
    background-color: #303030 ;
    color: #00a6e5 ;
}
*/

.case-s {
    max-width: 300px;
    font-size: 12px;
    padding: 0px
}
.case-s span {
    padding: 9px 14px;
}
.case-s li {
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    float: left;
    padding: 5px 10px;
    line-height: 24px;
}
.case-s .ng-click-active {
    background-color: #f7f7f7;
}
.case-s li:nth-child(3) {
    border-color: transparent
}
/* fix on type ahead */
.relationship-type > .dropdown-menu::-webkit-scrollbar-thumb,
.relationship-target > .dropdown-menu::-webkit-scrollbar-thumb {
    background: #b8dbff;
}
.relationship-type > .dropdown-menu::-webkit-scrollbar-thumb:hover,
.relationship-target > .dropdown-menu::-webkit-scrollbar-thumb:hover {
    background: #57a5cc;
}
.relationship-type > .dropdown-menu {
    max-height: 471px;
}
.relationship-target.sourcename > .dropdown-menu {
    margin-left: 0px;
    max-height: 471px;
}
.sourcename .dropdown-menu {
    margin-left: -70px;
}
.dropdown-menu {
    font-size: 12px;
    max-width: 360px;
    max-height: 250px;
    overflow-y: auto;
}
.dropdown-menu > li {
    width: 100%;
    word-wrap: normal;
    white-space: normal
}
.dropdown-menu > li > a {
    padding: 3px 5px;
    color: #474747;
    word-wrap: normal;
    white-space: normal
}
.dropdown-menu::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.dropdown-menu::-webkit-scrollbar-track {
  background-color: transparent;
}
.dropdown-menu-total {
  padding: 3px 5px;
  text-align: center;
  font-size: 10px;

}
/* popover */

.popover.left > .arrow:after {} .alert-danger.validation {
    margin: 0px;
    border-radius: 0px;
}
.alert-warning.validation {
    margin: 0px;
    border-radius: 0px;
}
.popover .dropdowns {
    background-color: #fff;
}
.popover .fields {
    font-size: 10px;
}
.description-popover .SCTID {
    width: 100px;
}
.description-popover .moduleId {
    width: 170px;
}
.description-popover .lang {
    width: 45px;
    margin-right: 10px;
}
.description-popover .case {
    width: 251px;
    margin-right: 10px;
}
.popover {
    margin-top: 1px;
    z-index: 1070;
    max-width: inherit !important;
}
#wrap {
    display: inline-block;
}
#wrap .popover {
    margin-top: 1px;
    min-width: 250px;
    z-index: 1070;
}
.pop-edit {
    font-size: 11px;
    margin: 0px;
}
.popover select {
    margin-bottom: 0px;
    padding: 0px;
    min-height: 19px;
    color: #474747;
    border-radius: 3px;
    padding-left: 5px;
}
.task-details hr {
    margin-top: 1px;
    margin-bottom: -2px;
}
.popover .control-label {
    font-weight: 400;
    width: 100%;
    font-size: 11px;
    padding-bottom: 3px;
    margin-bottom: 3px;
    color: rgba(0, 0, 0, .4);
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    box-shadow: inset 0 -1px 0 #ddd;
}
/* Concept level */

.popover select {
    height: 10px;
}
.popover-content {
    padding: 0px 3px !important;
}
button.fsn-title-button {
    width: 100%;
}
.concept-more > *,
.description-more > *,
.relationship-more > * {
    min-width: 3em;
    margin: 2px 2px;
    min-height: 11px;
    max-width: 98%;
    margin-bottom: 0px;
    margin-top: 0px;
}
.concept-more select,
.description-more select,
.relationship-more select {
    height: 15px;
    min-height: 11px;
    padding-bottom: 0px;
}

.concept-more .control-label,
.description-more .control-label,
.relationship-more .control-label {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.popover .editing-form {
    padding-bottom: 0;
}
/* slider*/

.sca-layout-elem {
    background-color: #c9cccd;
    text-align: center;
    color: white;
    height: 20px;
}
.layout-slider.sidebar,
.sca-layout-elem.concepts {
    background-color: #7a7c7c
}
.btn-default.minus,
.btn-default.plus {
    background-color: #505252;
    margin-top: -4px;
    margin-right: 0px;
    padding: 0px;
    width: 20px;
    float: right;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}
.btn-default.minus:hover,
.btn-default.plus:hover {
    background-color: #676a6a
}
.layout-slider {
    width: 100%;
    text-align: center
}
.slider-title {
    padding: 1px 8px;
    font-size: 10px;
    text-transform: uppercase
}
#layoutGrid {
    margin-bottom: 15px;
}
.role-group-drag {
    min-height: 35px;
    padding: 0px
}
.role-group-buttons {
    height: 100%;
    width: 80%;
    background-color: transparent;
    color: #fff;
    pading-left: 20%;
}
.fa.pull-right {
    margin: 0px;
}
.fa.pull-right.m-l-5 {
  margin-left: 5px;
}
.col-md-1.role-group-drag {
    float: right
}
.left-of-edit.col-md-11 {
    width: 94.66667%;
    padding: 2px 0px;
}
.edits-row .col-md-1 {
    width: 4.33333%;
}
.role_group_divider_top_even {
    border-bottom: 6px solid #2d2d2d;
    border-top: 1px solid #464646
}
.role_group_divider_bottom_even {
    border-top: 6px solid #2d2d2d;
    border-bottom: 1px solid #464646
}
.role_group_divider_top_odd {
    border-bottom: 6px solid #757575;
    border-top: 1px solid #8e8e8e
}
.role_group_divider_bottom_odd {
    border-top: 6px solid #757575;
    border-bottom: 1px solid #8e8e8e
}
/* role groups highlighting */

.edits-row.color_even {
    background-color: #2d2d2d;
}
.edits-row.color_odd {
    background-color: #757575;
}
.color_even.role-group-drag {
    background-color: #212121;
}
.color_odd.role-group-drag {
    background-color: #616161;
}
.tealhl .color_even.role-group-drag,
.tealhl .color_odd.role-group-drag {
    background-color: #00695c;
}
.bluehl .color_even.role-group-drag,
.bluehl .color_odd.role-group-drag {
    background-color: #1565C0;
}
.redhl .color_even.role-group-drag,
.redhl .color_odd.role-group-drag {
    background-color: transparent;
}
.bluehl .grey.darken-3,
.bluehl .row.edits-row {
    background-color: #0091d7;
    border-top: 2px solid #0091d7;
    border-bottom: 2px solid #0091d7;
}
.conflicts .nav-tabs > li {
    width: 50%;
    text-align: center;
}
.conflicts .edits button {
    font-size: 12px;
    text-align: left;
}
button-link .bluehl .grey.darken-3 {
    background-color: #0091d7;
    border-top: 2px solid #0091d7;
    border-bottom: 2px solid #0091d7;
}
.merges-button .button-link {
    font-size: 12px;
}
.tealhl .grey.darken-3,
.tealhl .row.edits-row {
    background-color: #00a39b;
    border-top: 2px solid #00a39b;
    border-bottom: 2px solid #00a39b;
}
.ng-scope.tealhl {
    background-color: #00a39b;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    margin-top: 3px;
}
.ng-scope.bluehl {
    background-color: #0091d7;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    margin-top: 3px;
}
.ng-scope.redhl {
    background-color: #ff6755;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    margin-top: 3px;
}

.row.tealhl {
    background-color: #00a39b;
    border-top: 1px solid #00a39b;
    border-bottom: 0px solid #00a39b;
    margin-top: 0px;
}
.tealhl .p-t-5,
.bluehl .p-t-5,
.redhl .p-t-5{
    padding-top: 0px
}
.tealhl .grey.darken-2,
.tealhl .grey.darken-4 {
    background-color: transparent;
}
.redhl .grey.darken-3,
.redhl .row.edits-row {
    background-color: #ff6755;
    border-top: 2px solid #ff6755;
    border-bottom: 2px solid #ff6755;
}
.redlhl {
    border-top: 2px solid #ff6755;
    border-bottom: 2px solid #ff6755;
}
.p-4 {
    padding: 4px;
}
.btn-round {
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
}
.model-header-sca {
    min-height: 32px;
}
.model-header-sca .btn.btn-default.model-buttons-toggle{
    font-weight: bold;
}
.editing-form button.red:focus,
.editing-form button.red:active {
    background-color:transparent;
}
.editing-form button.green:focus,
.editing-form button.green:active {
    background-color: transparent;
}
.editing-form button.concept-edit-button.green:focus,
.editing-form button.concept-edit-button.green:active {
    background-color: #4CAF50;
}
.editing-form button.concept-edit-button.red:focus,
.editing-form button.concept-edit-button.red:active {
    background-color: #c13244;
}
.editing-form button.concept-edit-button.green:active {
     color: #474747;
}
.editing-form .relationship-target .small-size-tooltip.tooltips-bottom:hover span {
    margin-left: -185px;
}
.color_ .custom-button:focus {
    background-color: #b7dbff;
}
.color_.def_FULLY_DEFINED .custom-button:focus,
.color_.def_FULLY_DEFINED .custom-button:active {
    background-color: #dbdbff;
}
.color_.def_FULLY_DEFINED .custom-button:active,
.color_.def_PRIMITIVE .custom-button:active {
    color: #fff;
}

.color_.def_PRIMITIVE .custom-button:focus,
.color_.def_PRIMITIVE .custom-button:active {
     background-color: #b7dbff;
}
.PRIMITIVE .color_even input,
.PRIMITIVE .color_even textarea,
.PRIMITIVE .color_even select,
.PRIMITIVE .color_even .custom-button {
    background-color: #b7dbff;
}
.p-t-3 {
    padding-top: 3px;
}
.FULLY_DEFINED .color_ input,
.FULLY_DEFINED .color_ textarea,
.FULLY_DEFINED .color_ select,
.FULLY_DEFINED .color_ .custom-button .FULLY_DEFINED .sourcename,
.FULLY_DEFINED textarea.rg,
.NONE_SPECIFIED textarea.rg{
    background-color: #dbdbff;
    color: #474747;
}
.sourcename {
    margin-left: .5%
}
.PRIMITIVE textarea.relationship,
.PRIMITIVE textarea.rg,
.PRIMITIVE select,
.PRIMITIVE .custom-button,
.PRIMITIVE .sourcename {
    background-color: #b7dbff;
    color: #474747;
}
.def_PRIMITIVE textarea,
.def_PRIMITIVE select,
.def_PRIMITIVE .custom-button,
.def_PRIMITIVE .form-control[disabled],
.def_PRIMITIVE [type=text].form-control[disabled],
.def_PRIMITIVE [type=text].form-control[readonly] {
    font-size: 11px;
    height: 30px;
    background-color: #b7dbff;
    color: #474747;
    box-shadow: none;
}
.def_FULLY_DEFINED textarea,
.def_FULLY_DEFINED select,
.def_FULLY_DEFINED .custom-button,
.def_FULLY_DEFINED .form-control[disabled],
.def_FULLY_DEFINED [type=text].form-control[disabled],
.def_FULLY_DEFINED [type=text].form-control[readonly] {
    background-color: #dbdbff;
    color: #474747;
    font-size: 11px;
    height: 30px;
}
.is_a input,
.is_a textarea,
.is_a select,
.is_a [type=text].form-control[disabled],
.is_a [type=text].form-control[readonly] {
    font-size: 11px;
    background-color: #ffffdb;
    box-shadow: none;
    height: 30px;
}
.PRIMITIVE .is_a input,
.PRIMITIVE .is_a textarea,
.PRIMITIVE .is_a [type=text].form-control[disabled],
.PRIMITIVE .is_a [type=text].form-control[readonly] {
    font-size: 11px;
    background-color: #ffffdb;
    box-shadow: none;
}
.INFERRED_RELATIONSHIP {
    background-color: #afa77d;
}
.INFERRED_RELATIONSHIP .btn-default[disabled] {
    background-color: transparent;
}

.INFERRED_RELATIONSHIP .btn-default[disabled]:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: transparent;
}
.editing-form button.stated-inferred-view {
    width: 14px;
    height: 16px;
    background-color: #03a4e4;
    color: white;
    font-family: initial;
    padding-top: 0px;
    text-align: center;
    line-height: 16px;
    padding-left: 3px;
    margin-top: 0px;
}
.conflict-concept-column .editing-form button.stated-inferred-view {
    width: 12px;
    height: 13px;
    padding-left: 0px;
    line-height: 14px;
}
@media (max-width: 1380px) {
    .editing-form button.stated-inferred-view {
        height: 14px;
        width: 14px;
        padding-left: 1px;
    }
    .conflict-concept-column .editing-form button.stated-inferred-view {
       width: 11px;
        padding-left: 1px;
    }
}
.sidebar-tabs.nav > li > a {
    line-height: 35px;
}
.rolegroup [type=text].form-control,
.rolegroup [type=text].form-control[disabled],
.rolegroup [type=text].form-control[readonly] {
    max-height: 30px;
	    overflow: hidden;
}
.morebuttons.more-button-width,
.morebuttons.drag-button-width{background-color:transparent}

.ng-table textarea, .ng-table input, .ng-table select {
    resize: none;
    min-height: 40px;

    line-height: 1.0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    text-rendering: optimizeLegibility;
}

.ng-table ::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.ng-table ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.ng-table ::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.ng-table ::-webkit-scrollbar-thumb:hover {
  background: #009cd7;
}
.ng-table ::-webkit-scrollbar-thumb:active {
  background: #009cd7;
}
.ng-table ::-webkit-scrollbar-track {
  background: #eee;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.ng-table ::-webkit-scrollbar-track:hover {
  background: #eee;
}
.ng-table ::-webkit-scrollbar-track:active {
  background: #eee;
}
.ng-table ::-webkit-scrollbar-corner {
  background: transparent;
}
.editpanel .feedback-lists .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}
.editpanel input#select_all_to_review {
    min-height : 10px;
}
.editpanel .saved-list .saved-list-buttons.btn-reject,
.editpanel .saved-list .saved-list-buttons.btn-checked {
    margin-left: .3em;
}
.result-width {
  width: calc(100% - 125px);
}
