.editpanel {
  background-color: #eee !important;
  color: #737373 !important;
  a {
    color: #666;
  }
}

aside.editpanel ul a {
  padding: 12px;
  color: #737373 !important;
}

.editpanel {
  .icon-color {
    width: 35px;
    height: 35px;
    font-size: 20px !important;
    line-height: 35px !important;
  }
  .btn {
    
  }
}
.editpanel .btn:hover {
  box-shadow:none;
}

.editbuttons {
  font-size: 20px;
  padding: 0px 7px;
  box-shadow:none!important;
}

.popover {
  select.form-control {
    background-color: #fff;
    padding: 5px 20px 5px 15px;
    font-size: 12px;
    margin: 5px;
  }
  max-width: 400px;
  min-width: 350px;
}

.editform .row {
  margin: 0px;
}
.formcontrol{font-size:12px;}

.editpanel .btn {

}
//Taxonomy tab button styling
.widget-toolbar {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  box-shadow: none;
  width: 38px;
  line-height: 35px;
  &:hover {
    background-color: transparent;
    color: #424242;
  }
}
//Taxonomy Styling

#bp-taxonomy_canvas-panelBody {
  height: 100%;
}

#bp-taxonomy_canvas-panelBody ul {
  padding: 0;
}


#bp-taxonomy_canvas-mainPanel {
  height:100%;
  margin: 5px 5px 5px 0;
  padding: 5px;
  overflow:auto;
  box-shadow:none;
}

#bp-taxonomy_canvas-mainPanel ul ul a {
  padding: 0;
  font-weight: 400;
}

#bp-taxonomy_canvas-mainPanel ul ul a:hover{
  font-weight:500
}

#bp-taxonomy_canvas-mainPanel ul a {
  display: inline;
  padding: 0;
}

#bp-taxonomy_canvas-mainPanel i {
  color: #00a4e4;
  font-size: 10px;
}

.alert-warning {
    background-color: #ffd54f;
    border-color: none;
    color: #8A6D3B;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
}
.search-button {
  font-size: 18px;
  box-shadow: none;
  &:hover {
    font-size: 18px;
    box-shadow: none;
    background-color: transparent;
    color: #ffc107;
  }
}
.alert-warning {
    color: black;
    background-image: linear-gradient(to bottom, #ffecb3 0px, #ffe082 100%);
    background-repeat: repeat-x;
    border-color: #F5E79E;
}

#bp-taxonomy_canvas-mainPanel .treeButton {
    height: 20px;
    font-size: 12px;
    vertical-align: middle;
}

#bp-taxonomy_canvas-mainPanel .treeButton:hover {
    background-color: #e6e6e6;
    color:#424242;
    text-transform: none;
}

#bp-taxonomy_canvas-mainPanel .treeLabel {
  font-size: 12px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.widget-button {
  font-size: 18px;
  box-shadow: none;
  &:hover {
    font-size: 18px;
    box-shadow: none;
    background-color: #424242;
    color: #fff;
  }
}
