.editpanel {
  background-color: #eee !important;
  color: #737373 !important;
  a {
    color: #666;
  }
}

aside.editpanel ul a {
  padding: 12px;
  color: #737373 !important;
}

.editpanel {
  .icon-color {
    width: 35px;
    height: 35px;
    font-size: 20px !important;
    line-height: 35px !important;
  }
  .btn {
    width: 100%;
  }
}