.editpanel {
    background-color: #eee !important;
    color: #737373 !important;
}
.editpanel a {
    color: #666;
}
.editpanel .darkbuttons {
    font-size: 20px;
    padding: 10px 10px 5px 3px !important;
    box-shadow: none !important;
    line-height: 1.8 !important;
}
aside.editpanel ul a {
    padding: 12px;
    color: #737373 !important;
}
.editpanel .icon-color {
    width: 35px;
    height: 35px;
    font-size: 20px !important;
    line-height: 35px !important;
}
.editpanel .btn:hover {
    box-shadow: none;
}
.editbuttons {
    font-size: 14px;
    padding: 0px 2px;
    box-shadow: none !important;
}
.edits button {
    font-size: 14px;
    padding: 5px 4px;
    line-height: 14px;
    box-shadow: none !important;
	
}
.morebuttons {
    font-size: 20px;
    box-shadow: none !important;
}
.editing-form {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
}
.editing-form a {
    text-decoration: none;
    color: #33a4fd;
}
.editing-form input,
.editing-form textarea,
.editing-form select {
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #474747 !important;
    margin-bottom: 1rem;
    padding: 2px 4px !important;
    background-color: #e0f7fa;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none !important;
   
}
.editing-form input:focus,
.editing-form textarea:focus,
.editing-form select:focus,
.editing-form input:active,
.editing-form textarea:active,
.editing-form select:active {
    outline: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.editing-form input:last-child,
.editing-form textarea:last-child,
.editing-form select:last-child {
    margin-bottom: 0;
}
.editing-form input[type=button]:focus,
.editing-form input[type=submit]:focus,
.editing-form input[type=reset]:focus {
    background-color: #66bbfd;
    border-color: transparent;
}
.editing-form button:focus {
    background-color: #66bbfd;
    border-color: transparent;
}
.editing-form input[type=button]:active,
.editing-form input[type=submit]:active,
.editing-form input[type=reset]:active {
    background-color: #66bbfd;
    border-color: transparent;
}
.editing-form button:active {
    background-color: #66bbfd;
    border-color: transparent;
}
.editing-form input[type=submit] {
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.editing-form input[type=submit].state-success {
    background-color: #66bbfd;
    border-color: transparent;
    width: 130px;
}
.editing-form input[type=submit].state-error {
    background-color: #66bbfd;
    border-color: transparent;
    width: 120px;
}
.editing-form input[type=submit].state-initial {
    width: 100px;
}
.editing-form textarea {
    height: 200px;
    resize: vertical;
}
.editing-form input[type=radio],
.editing-form input[type=checkbox] {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    margin: 0;
    padding: 0;
    height: 10px;
}
.editing-form input[type=radio] + span,
.editing-form input[type=checkbox] + span {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 1px solid #cecece;
    text-align: center;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.editing-form input[type=radio] + span::after,
.editing-form input[type=checkbox] + span::after {
    content: "";
    display: inline-block;
    opacity: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
.editing-form input[type=radio]:focus + span,
.editing-form input[type=checkbox]:focus + span,
.editing-form input[type=radio]:active + span,
.editing-form input[type=checkbox]:active + span {
    border-color: #33a4fd;
}
.editing-form input[type=radio]:checked + span::after,
.editing-form input[type=checkbox]:checked + span::after {
    opacity: 1;
}
.editing-form input[type=radio].error + span,
.editing-form input[type=checkbox].error + span {
    border-color: #e2513f;
    border-width: 2px;
}
.editing-form input[type=radio] + span {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    -moz-box-shadow: 0 0 5px #ddd;
    -webkit-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd;
}
.editing-form input[type=radio] + span::after {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background-color: #33a4fd;
}
.editing-form input[type=radio]:checked + span::after {
    border: 0.2em solid #fff;
}
.editing-form input[type=checkbox] + span {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 0 5px #ddd;
    -webkit-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd;
}
.editing-form input[type=checkbox] + span::after {
    height: 45%;
    width: 75%;
    background-color: transparent;
    border: 0 solid #33a4fd;
    vertical-align: bottom;
    -webkit-transform: rotate(-45deg) translate(50%, -75%);
    -moz-transform: rotate(-45deg) translate(50%, -75%);
    -ms-transform: rotate(-45deg) translate(50%, -75%);
    -o-transform: rotate(-45deg) translate(50%, -75%);
    transform: rotate(-45deg) translate(50%, -75%);
}
.editing-form input[type=checkbox]:checked + span::after {
    border-left-width: .2em;
    border-bottom-width: 0.2em;
}
.editing-form label.custom-select {
    position: relative;
    display: block;
}
.editing-form label.custom-select span {
    position: absolute;
    display: inline-block;
    text-align: center;
    right: 0;
    top: 0;
    height: 100%;
    width: 3.5rem;
    pointer-events: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e8e8e8;
    border: none;
}
.editing-form label.custom-select span::after {
    content: "";
    display: inline-block;
    width: 20%;
    height: 20%;
    -webkit-transform: rotate(-45deg) translate(-80%, 80%);
    -moz-transform: rotate(-45deg) translate(-80%, 80%);
    -ms-transform: rotate(-45deg) translate(-80%, 80%);
    -o-transform: rotate(-45deg) translate(-80%, 80%);
    transform: rotate(-45deg) translate(-80%, 80%);
    border: 0 solid #fff;
    border-left-width: .25em;
    border-bottom-width: 0.25em;
}
.editing-form label.custom-select select:active + span,
.editing-form label.custom-select select:focus + span {
    background-color: #66bbfd;
    border: 1px solid #33a4fd;
}
.editing-form label.custom-select select.error + span,
.editing-form label.custom-select select.error:active + span,
.editing-form label.custom-select select.error:focus + span {
    background-color: #e9796b;
    border: 1px solid #e2513f;
}
.editing-form .notification-box {
    display: block;
    padding: 1rem;
    margin: 0 1rem 1rem;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    color: #fff;
    text-align: center;
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -ms-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
}
.editing-form .notification-box.show-error,
.editing-form .notification-box.show-success {
    border: 1px solid #e2513f;
    background-color: #e9796b;
    max-height: 50vh;
    overflow: auto;
    opacity: 1;
}
.editing-form .notification-box.show-error {
    border-color: #e2513f;
    background-color: #e9796b;
}
.editing-form .notification-box.show-success {
    border-color: #2fa94f;
    background-color: #41ca65;
}
/* form widths */
.editing-form .acceptability {
    width: 15%;
    padding-left: .5%;
}
.editing-form .col-md-3 {
    width: 20%;
}
.editing-form .col-md-9 {
    width: 80%;
}
.editing-form .language {
    width: 7%;
    padding-left: .5%;
}
.editing-form .typeid {
    width: 8%;
    padding-left: .5%;
}
.editing-form .description {
    width: 40%;
    padding-left: 0px;
}
.editing-form .is_a {
    width: 25%;
    padding-left: 0px;
}
.editing-form .attr {
    width: 25%;
    padding-left: .5%;
}
.editing-form .rolegroup {
    width: 3%;
    padding-left: 0px;
}
.editing-form .characteristictype {
    width: 10%;
    padding-left: 1%;
}
.editing-form .sourceid {
    width: 12%;
    padding-left: 1%;
}
.editing-form .sourcename {
    width: 50%;
    padding-left: .5%;
}
.editing-form .relations {
    width: 47%;
    padding-left: .5%;
}
.resizable-text textarea{min-height: 30px!important; height: 30px!important; resize:none; line-height:12px; font-family: 'Open Sans Condensed', sans-serif;}
		
		.button-width{width:4.5%; margin-right:.5%; padding:0% .5%!important; float:left; height:100%; min-height:30px; font-size:14px!important;}
/* form widths */
select.form-control {

    background-size: 10px;
   
}
.fsn-title-button {padding:0px;}