.angular-ui-tree-node .badge {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif!important;
}
.main-view-offset {
    padding-left: 50px!important;
}
.m-t-7 {
	margin-top:7px;
}

.tab-content > .active{margin-top:5px!important}
.ta-editor p,
.ta-editor p span,
.ta-editor p strong {
    color: #666!important;
    line-height: 1.3;
    font-size: 12px;
}
.concept-headers:first-child {
    padding-top: 15px;
}
a .side-text {
    color: #666
}
.side-text {
    line-height: 22px;
    margin-left: 4px;
    font-size: 11px;
}
.green.btn-default:active {
    background-color: #43A047;
    color: #474747;
}
.deep-purple.btn-default:active {
    background-color: #512da8;
    color: #474747;
}
.pink1.btn-default:active {
    background-color: #c2185b;
    color: #474747;
}
.blue.darken-1.btn-default:active {
    background-color: #1976D2;
    color: #474747
}
.amber.btn-default:active,
.amber.btn-default:hover {
    background-color: #ff8f00;
}
.lower-case {
    text-transform: lowercase
}
.description textarea,
.description input,
.edits-row textarea,
.edits-row input {
    word-wrap: normal!important;
    max-height: 260px;
    word-break: normal;
}
.table-full-small .badge {
    font-weight: normal;
    font-size: 13px;
    padding: 5px 7px;
    margin: 3px;
    line-height: 12px;
}
.pager {
    padding: 0;
    margin: 0
}
textarea {
    resize: vertical!important;
}
.table > thead > tr > th {
    padding: 4px 2px;
    line-height: 14px;
    vertical-align: top;
    border-top: 1px solid #F0F0F0;
    vertical-align: bottom;
    border-bottom: 2px solid #F0F0F0;
}
.table > tbody > tr > td,
.table > tbody > tr > th {
    line-height: 12px!important;
    vertical-align: middle!important;
}
.dashboard-links a {
    color: #fff;
}
.navbar-default {
    color: #EDEDED
}
.small-buttons.btn-default[disabled],
.small-buttons.btn-default[disabled]:hover,
{
    background-color: transparent !important;
    color: #444 !important;
}
/*model bg */

button.widget-toolbar {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}
.model-buttons-toggle {
    padding: 2px 4px!important;
    font-size: 11px!important
}
/*disabled buttons*/

.classification-btn .btn-default[disabled] {
    background-color: #d8d8d8 !important;
    border-color: #d8d8d8 !important;
    color: #737373 !important
}
.classification-btn .btn-default[disabled] span {
    color: #737373 !important;
    background-color: #d8d8d8 !important
}
.widget-toolbar .green.darken-1 {}
/* widget buttons*/

.modelScrollBox {
    background-color: #fff;
}
.concept-bg {
    background-color: #424242
}
.tooltip {
    top: 0px !important;
}
.popover select.form-control {
    margin: 0px !important;
}
button,
.btn {
    border: none !important;
}
.model-header h4 {
    margin-left: 10px;
    font-size: 12px;
}
.darkbuttons:active,
.darkbuttons:focus {
    background-color: #212121 !important;
    color: #66bbfd !important;
}
.toggle-buttons {
    background-color: transparent !important;
    padding: 0px !important;
    color: #009cd7 !important;
}
.toggle-buttons:hover {
    color: #2196F3 !important;
}
h1,
h1 {
    font-size: 16px;
}
.project-buttons {
    background-color: transparent !important;
    padding: 0px !important;
    color: #424242 !important;
    font-size: 18px;
}
.project-buttons[disabled] {
    background-color: transparent !important;
    padding: 0px !important;
    color: #BEBEBE !important;
    font-size: 18px;
}
.project-buttons:hover {
    color: #1269c3 !important;
}
.green.darken-1:hover,
.green.darken-1:focus,
.green.darken-1:active {
    background-color: #2d7130;
    color: #fff;
    border-color: transparent;
}
.card .card-title {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    line-height: 14px;
}
.project-subtitle {
    font-size: 16px;
}
.add-buttons {
    background-color: transparent !important;
    padding: 1px 3px !important;
    color: #dcdcdc !important;
    font-size: 12px!important;
}
.add-buttons:hover {
    color: #000 !important;
}
.saved-list-buttons {
    background-color: transparent !important;
    padding: 0px 1px !important;
    color: #424242 !important;
    font-size: 13px !important;
    line-height: 1 !important;
}
.saved-list-buttons:hover {
    color: #009cd7 !important;
}
.create-new-concept {
    background-color: #00adee !important;
    text-align: left !important;
    color: #fff !important;
    font-size: 14px !important;
    padding: 13px !important;
    line-height: 1 !important;
}
.create-new-concept:hover {
    background-color: #039be5 !important;
    text-align: left !important;
    color: #fff !important;
    font-size: 14px !important;
}
.create-new-concept i {
    font-size: 17px !important;
}
.savedlist-buttons {
    width: 75px;
}
.color_[disabled] {
    border-bottom: none !important;
}
.color_0[disabled] {
    border-bottom: none !important;
}
.no-padding-left {
    padding-left: 0px !important;
}
.no-padding-right {
    padding-right: 0px !important;
}
.create-links:after {
    color: #4fc3f7;
    display: inline-block;
    font: normal normal normal 14px/1 'Material Design Iconic Font';
    speak: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 5px;
    top: 18px;
    font-size: 22px;
}
.fsn {
    padding-bottom: 3px;
    font-size: 12px;
    float: left;
}
.saved-list-title {
    font-size: 12px !important;
    text-transform: none !important;
    background-color: transparent !important;
}
.saved {
    padding: 8px 30px 8px 8px;
    margin: 10px 10px;
    line-height: 16px;
    font-weight: 400;
}
.green-save {
    font-weight: 400;
}
.alert {
    font-size: 12px;
}
.model-header h4 {
    font-size: 12px;
    font-weight: 500;
    margin: 0px;
}
.model-header {
    font-size: 12px;
}
.model-header input {
    height: 10px !important;
}
.model-header label {
    margin-bottom: 0px;
}
.timeline-heading .control-label {
    box-shadow: none !important;
    padding-bottom: 0px !important;
}
#top > main > div > div:nth-child(2) > div > div.sca-column.col-lg-9.col-md-9.col-sm-9 > div.row.project-page > div:nth-child(2) > div:nth-child(2) > div > div > div > div:nth-child(1) > div.pull-right {
    display: none;
}
@media screen and (max-width: 1850px) {
    .editing-form button,
    .editing-form .btn {
        border: 0px;
        font-size: 15px;
        padding: 1px 4px;
        line-height: 1.346;
    }
    .editing-form input,
    .editing-form textarea,
    .editing-form select {
        font-size: 11px !important;
    }
    .form-control {
        height: 30px;
    }
    .title-text {
        font-size: 11px;
        max-width: 200px;
        text-align: left;
    }
    .fsn {
        text-align: left;
    }
}
@media screen and (min-width: 1851px) {
    .editing-form button,
    .editing-form .btn {
        border: 0px;
        font-size: 15px;
        padding: 1px 4px;
        line-height: 1.346;
    }
    .editing-form input,
    .editing-form textarea,
    .editing-form select {
        font-size: 12px !important;
    }
    .form-control {
        height: 30px;
    }
    .title-text {
        font-size: 12px;
        line-height: 1;
        max-width: 200px;
        text-align: left;
    }
    .fsn {
        text-align: left;
    }
}
.popover select.form-control {
    background-color: #fff;
    padding: 5px 20px 5px 15px;
    font-size: 12px;
    margin: 5px;
}
.editform .row {
    margin: 0px;
}
.formcontrol {
    font-size: 12px;
}
.widget-toolbar {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    box-shadow: none;
    width: 38px;
    line-height: 35px;
}
.widget-toolbar:hover {
    background-color: transparent;
    color: #424242;
}
/* taxonomy */

.taxonomy-chevron {
    color: #428bca;
}
#bp-taxonomy_canvas-panelBody {
    height: 100%;
}
#bp-taxonomy_canvas-panelBody ul {
    padding: 0;
}
#bp-taxonomy_canvas-mainPanel {
    height: 100%;
    margin: 5px 5px 5px 0;
    padding: 5px;
    overflow: auto;
    box-shadow: none;
}
#bp-taxonomy_canvas-mainPanel ul ul a {
    padding: 0;
    font-weight: 400;
}
#bp-taxonomy_canvas-mainPanel ul ul a:hover {
    font-weight: 500;
}
#bp-taxonomy_canvas-mainPanel ul a {
    display: inline;
    padding: 0;
}
#bp-taxonomy_canvas-mainPanel i {
    color: #00a4e4;
    font-size: 10px;
}
.alert-warning {
    background-color: #ffd54f;
    border-color: none;
    color: #8A6D3B;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
}
.search-button {
    font-size: 18px;
    box-shadow: none;
}
.search-button:hover {
    font-size: 18px;
    box-shadow: none;
    background-color: transparent;
    color: #ffc107;
}
.alert-warning {
    color: black;
    background-image: linear-gradient(to bottom, #ffecb3 0px, #ffe082 100%);
    background-repeat: repeat-x;
    border-color: #F5E79E;
}
#bp-taxonomy_canvas-mainPanel .treeButton {
    height: 20px;
    font-size: 12px;
    vertical-align: middle;
}
#bp-taxonomy_canvas-mainPanel .treeButton:hover {
    background-color: #e6e6e6;
    color: #424242;
    text-transform: none;
}
#bp-taxonomy_canvas-mainPanel .treeLabel {
    font-size: 12px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.widget-button {
    font-size: 18px;
    box-shadow: none;
}
.widget-button:hover {
    font-size: 18px;
    box-shadow: none;
    background-color: #424242;
    color: #fff;
}
.text-center {
    text-align: center;
    font-size: 13px;
}
input:focus.color_0,
textarea:focus.color_0,
select:focus.color_0,
input:active.color_0,
.color_0 textarea:active.color_0,
select:active.color_0 {
    box-shadow: inset 0 -2px 0 #E0299B !important;
}
.row {
    border: none !important;
}
input:focus.color_1,
textarea:focus.color_1,
select:focus.color_1,
input:active.color_1,
.color_1 textarea:active.color_1,
select:active.color_1 {
    box-shadow: inset 0 -2px 0 #ffd306 !important;
}
input:focus.color_3,
textarea:focus.color_3,
select:focus.color_3,
input:active.color_3,
.color_3 textarea:active.color_3 {
    box-shadow: inset 0 -2px 0 #ff602e !important;
}
select:active.color_3 {
    box-shadow: inset 0 -2px 0 #ff602e !important;
}
select.primitive {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff !important;
    font-size: 12px !important;
    padding: 4px !important;
    background-color: #474747;
    border: 1px #363636 solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-font-smoothing: antialiased !important;
}
.edit-scroll {
    overflow-y: scroll;
    top: 0;
    right: 0;
}
.form-control:disabled {
    color: white;
}
.projecttasks .btn-success.btn-border {
    border-color: #11c78e !important;
    color: #11c78e !important;
}
.projecttasks .btn-border {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1.5px solid !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
    border-radius: 3px !important;
    background-color: transparent !important;
}
.projecttasks .btn-success.btn-border:hover {
    color: #fff !important;
    background-color: #11c78e !important;
}
.projecttasks .btn-disabled.btn-border {
    border-color: #8e8e8e !important;
    color: #8e8e8e !important;
}
.projecttasks .btn-disabled.btn-border:hover {
    color: #fff !important;
    background-color: #8e8e8e !important;
}
.paging .btn {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) !important;
}
.badge {
    display: inline-block;
    min-width: 10px;
    color: #FFF;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
}
.badge {
    font-weight: normal;
    font-size: 13px;
    padding: 6px 10px;
    margin: 0px;
    line-height: 13px;
}
.In.Progress.badge {
    background-color: #E68FBB;
}
.Promoted.badge {
    background-color: #0091d7;
}
.New.badge {
    background-color: #F3CB67;
}
.In.Review.badge {
    background-color: #8bc34a;
}
.Review.Completed.badge {
    background-color: #610a98;
}
.dashboard-sidebar::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
}
.sidebar-tabs.nav > li > a {
    width: 100%;
    padding: 0px;
    text-align: center;
    font-size: 18px;
    background-color: #d1d1d1;
    color: #737373;
}
.nav > li > a {
    line-height: 30px;
}
.sidebar-tabs.nav > li.active > a,
.sidebar-tabs.nav > li > a:hover {
    width: 100%;
    padding: 0px;
    text-align: center;
    background-color: #ececec;
    color: #bebebe;
    box-shadow: none;
    color: #009cd7;
    margin-top: 0px;
}
.sidebar-tabs.nav > li {
    width: 20%;
    margin-bottom: -5px;
}
.sidebar-tabs.nav-tabs > li > a {
    border-radius: 0px;
}
.sidebar-bg {
    background-color: #ececec;
}
.sidebar-tabs a.tooltips-btm span,
.sidebar-tabs button.tooltips-btm span {
    min-width: 80px;
}
.sidebar-tabs a.tooltips-btm span,
.sidebar-tabs button.tooltips-btm span {
    min-width: 80px;
}
sca-column .hasSVG {
    background-color: #fff;
}
.classification-btn .Classify {
    background-color: #4CAF50;
    color: #fff;
}
.classification-btn .Running {
    background-color: #424242;
    color: #fff;
}
.classification-btn .Failed {
    background-color: #D32F2F;
    color: #fff;
}
.classification-btn .btn-default:hover {
    background-color: #2E7D32;
    color: #fff;
}
.classification-btn .ng-click-active.amber {
    background-color: #424242;
}
.search-snomed {
    width: 90%;
}
.concept-headers {
    padding-bottom: 5px;
}
.classify-buttons {
    border: 1.5px solid !important;
    border-radius: 3px !important;
    background-color: transparent !important;
}
.classify-buttons[disabled] {
    border-color: #bbb !important;
    color: #bbb !important;
}
.accept-classification {
    border-color: #00bcd4 !important;
    color: #00bcd4 !important;
    background-color: transparent !important;
}
.download-classification {
    color: #009cd7 !important;
    border-color: #009cd7 !important;
}
.download-classification:active,
.download-classification:hover {
    background-color: #009cd7 !important;
    color: #fff !important;
}
.submit-validation {
    color: #7e57c2 !important;
    border-color: #7e57c2 !important;
}
.submit-validation:active,
.submit-validation:hover {
    background-color: #7e57c2 !important;
    color: #fff !important;
}
.submit-review {
    color: #ff0990 !important;
    border-color: #ff0990 !important;
}
.submit-review:active,
.submit-review:hover {
    background-color: #ff0990 !important;
    color: #fff !important;
}
.page-header {
    margin: 0px;
}
/*projects page*/

.arrow-purple {
    width: 0;
    height: 0;
    margin-top: 22px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #7e57c2;
}
.arrow-green {
    width: 0;
    height: 0;
    margin-top: 22px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #4CAF50;
}
.arrow-blue {
    width: 0;
    height: 0;
    margin-top: 22px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #009cd7;
}
.arrow-red {
    width: 0;
    height: 0;
    margin-top: 22px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #c13244;
}
.arrow-amber {
    width: 0;
    height: 0;
    margin-top: 22px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #FFC107;
}
.project-icon {
    height: 60px;
    width: 60px;
    float: right;
    border-radius: 0px 4px 4px 0px;
}
button[disabled] .project-icon {
    background-color: #7c7c7c
}
.card-title .project-icon .md {
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    width: 100%;
    float: left;
}
.card-header button[disabled]:hover {
    color: #7c7c7c
}
.project-page .card {
    margin: 10px;
}
.sidebar-bg {
    height: 100vh!important
}
.project-page .card .card-header {
    padding: 0px;
    border-radius: 4px;
}
.project-page .card .card-header button {
    padding-left: 20px !important;
    padding-top: 20px !important;
}
.card,
.panel,
.theme-picker .theme-item:hover,
.well,
.z-depth-0 {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.07), 1px 2px 5px 1px rgba(0, 0, 0, 0.06);
}
.project-main-buttons button {
    background-color: #fff !important;
    border: 1px solid #eee !important;
    border-radius: 4px;
    text-transform: none;
    color: #424242;
    padding: 0px 10px 0px 0px !important;
    line-height: 30px;
}
.project-main-buttons button:hover {
    color: #009cd7
}
.project-main-buttons button:disabled {
    background-color: #fff !important;
    border: 1px solid #eee !important;
    border-radius: 4px;
    text-transform: none;
    color: #7c7c7c !important;
    padding: 0px 10px 0px 0px !important;
    line-height: 30px;
}
.project-main-buttons .project-icon {
    height: 30px;
    width: 30px;
    float: right;
    border-radius: 4px 0px 0px 4px;
    margin-right: 10px;
}
.sidebar-tabs.nav-tabs > li > a .project-main-buttons .project-icon .md {
    line-height: 30px;
    font-size: 16px;
}
.popover {
    color: #353535;
    line-height: 1;
}
.popover-content {
    padding: 3px 7px !important;
    max-height: 40px;
}
.switch label input[type=checkbox][disabled]+.lever:after,
.switch label input[type=checkbox][disabled]:checked+.lever:after {
    background-color: #4CAF50;
}
.close {
    font-size: 28px!important;
    padding-top: 5px!important;
}
 .highlight {
      background-color: #ffeb3b; padding:1px 4px; 
    
	color:#474747;}
	.m-t-3{margin-top:5px;}
	.angular-ui-tree-node span{display:inline-block; max-width:83%; vertical-align: top;line-height:13px;}
	.angular-ui-tree-node .small-size-tooltip span{max-width: 90px;
    width: 90px;
    vertical-align: baseline;}