.table {
    width: 100%;
    margin-bottom: 0px;
}
.p-l-3 {
    padding-left: 3px;
}
.keep.switch {
    width: 100%!important;
}
.fsn,
.title-text {
    width: 100%;
}
.editpanel {
    color: #737373 !important;
}
.model-header label {
    margin-bottom: 0px;
    width: 100%;
}
tab-pane.active .no-padding.col-md-9 {
    line-height: 12px;
    font-size: 12px;
    padding-bottom: 3px;
}
.angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 8px;
}
.angular-ui-tree-node {
    font-size: 11.5px;
    line-height: 13px;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.angular-ui-tree.p-10 {
    padding: 0px 5px!important;
}
.saved-list {
    font-size: 12px;
}
.editpanel a {
    color: #666;
}
aside.editpanel ul a {
    padding: 12px;
    color: #737373 !important;
}
.editing-form {
    -webkit-text-size-adjust: 100%;
    padding-bottom: 5px;
    z-index: inherit;
}
.editing-form a {
    text-decoration: none;
    color: #33a4fd;
}
.editing-form input,
.editing-form textarea,
.editing-form select {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #474747 !important;
    margin-bottom: 0px;
    padding: 2px 4px !important;
    background-color: #e0f7fa;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none !important;
}
select.primitive {
    color: #fff !important;
}
.editing-form input:focus,
.editing-form textarea:focus,
.editing-form select:focus,
.editing-form input:active,
.editing-form textarea:active,
.editing-form select:active {
    outline: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.editing-form input:last-child,
.editing-form textarea:last-child,
.editing-form select:last-child {
    margin-bottom: 0;
}
.editing-form input[type=button]:focus,
.editing-form input[type=submit]:focus,
.editing-form input[type=reset]:focus {
    background-color: #66bbfd;
    border-color: transparent;
}
.editing-form button:focus,
.editing-form button:active {
    background-color: transparent!important;
    border-color: transparent;
}
.editing-form input[type=button]:active,
.editing-form input[type=submit]:active,
.editing-form input[type=reset]:active {
    background-color: #66bbfd;
    border-color: transparent;
}
.editing-form button:active {
    color: #66bbfd;
    background-color: transparent!important;
    border-color: transparent;
}
.editing-form input[type=submit] {
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.editing-form input[type=submit].state-success {
    background-color: #66bbfd;
    border-color: transparent;
    width: 130px;
}
.editing-form input[type=submit].state-error {
    background-color: #66bbfd;
    border-color: transparent;
    width: 120px;
}
.editing-form input[type=submit].state-initial {
    width: 100px;
}
.editing-form input[type=radio],
.editing-form input[type=checkbox] {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    margin: 0;
    padding: 0;
    height: 10px;
}
.editing-form input[type=radio] + span,
.editing-form input[type=checkbox] + span {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 1px solid #cecece;
    text-align: center;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.editing-form input[type=radio] + span::after,
.editing-form input[type=checkbox] + span::after {
    content: "";
    display: inline-block;
    opacity: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
.editing-form input[type=radio]:focus + span,
.editing-form input[type=checkbox]:focus + span,
.editing-form input[type=radio]:active + span,
.editing-form input[type=checkbox]:active + span {
    border-color: #33a4fd;
}
.editing-form input[type=radio]:checked + span::after,
.editing-form input[type=checkbox]:checked + span::after {
    opacity: 1;
}
.editing-form input[type=radio].error + span,
.editing-form input[type=checkbox].error + span {
    border-color: #e2513f;
    border-width: 2px;
}
.editing-form input[type=radio] + span {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    -moz-box-shadow: 0 0 5px #ddd;
    -webkit-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd;
}
.editing-form input[type=radio] + span::after {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background-color: #33a4fd;
}
.editing-form input[type=radio]:checked + span::after {
    border: 0.2em solid #fff;
}
.editing-form input[type=checkbox] + span {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 0 5px #ddd;
    -webkit-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd;
}
.editing-form input[type=checkbox] + span::after {
    height: 45%;
    width: 75%;
    background-color: transparent;
    border: 0 solid #33a4fd;
    vertical-align: bottom;
    -webkit-transform: rotate(-45deg) translate(50%, -75%);
    -moz-transform: rotate(-45deg) translate(50%, -75%);
    -ms-transform: rotate(-45deg) translate(50%, -75%);
    -o-transform: rotate(-45deg) translate(50%, -75%);
    transform: rotate(-45deg) translate(50%, -75%);
}
.editing-form input[type=checkbox]:checked + span::after {
    border-left-width: .2em;
    border-bottom-width: 0.2em;
}
.editing-form label.custom-select {
    position: relative;
    display: block;
}
.editing-form label.custom-select span {
    position: absolute;
    display: inline-block;
    text-align: center;
    right: 0;
    top: 0;
    height: 100%;
    width: 3.5rem;
    pointer-events: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e8e8e8;
    border: none;
}
.editing-form label.custom-select span::after {
    content: "";
    display: inline-block;
    width: 20%;
    height: 20%;
    -webkit-transform: rotate(-45deg) translate(-80%, 80%);
    -moz-transform: rotate(-45deg) translate(-80%, 80%);
    -ms-transform: rotate(-45deg) translate(-80%, 80%);
    -o-transform: rotate(-45deg) translate(-80%, 80%);
    transform: rotate(-45deg) translate(-80%, 80%);
    border: 0 solid #fff;
    border-left-width: .25em;
    border-bottom-width: 0.25em;
}
.editing-form label.custom-select select:active + span,
.editing-form label.custom-select select:focus + span {
    background-color: #66bbfd;
    border: 1px solid #33a4fd;
}
.editing-form label.custom-select select.error + span,
.editing-form label.custom-select select.error:active + span,
.editing-form label.custom-select select.error:focus + span {
    background-color: #e9796b;
    border: 1px solid #e2513f;
}
.editing-form .notification-box {
    display: block;
    padding: 1rem;
    margin: 0 1rem 1rem;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    color: #fff;
    text-align: center;
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -ms-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
}
.editing-form .notification-box.show-error,
.editing-form .notification-box.show-success {
    border: 1px solid #e2513f;
    background-color: #e9796b;
    max-height: 50vh;
    overflow: auto;
    opacity: 1;
}
.editing-form .notification-box.show-error {
    border-color: #e2513f;
    background-color: #e9796b;
}
.editing-form .notification-box.show-success {
    border-color: #2fa94f;
    background-color: #41ca65;
}
.editing-form textarea,
.editing-form input,
.editing-form select {
    resize: none!important;
    min-height: 30px!important;
    max-height: 60px;
    line-height: 1.1!important;
    font-weight: 400!important;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    text-rendering: optimizeLegibility;
}
.button-width {
    width: 4.5%;
    margin-right: .5%;
    padding: 0% .5%!important;
    float: left;
    height: 100%;
    min-height: 30px;
    font-size: 14px!important;
}
/* Global form widths */

.concept-headers .col-md-1 {
    width: 9.33333%;
}
.concept-headers .col-md-13 {
    width: 23%;
}
.editing-form .rolegroup {
    width: 3.0%;
    padding-left: 0px;
}
.editing-form .is_a {
    width: 25.5%;
    padding-left: .5%;
}
.editing-form .attr {
    width: 25%;
    padding-left: .5%;
}
.editing-form .sourcename {
    width: 49%;
    padding-left: .5%;
}
.editing-form .relations {
    width: 55%;
    padding-left: .5%;
}
.sca-top {
    z-index: 999;
}
.revert-button {
    color: white;
    background-color: red;
    border-radius: 10px;
    padding: 15px;
    margin-right: 10px;
    text-transform: none;
}
.button-width-acceptability {
    width: 7%;
    margin-left: 0.5%;
    padding: 0% 0.5% !important;
    float: left;
    height: 100%;
    min-height: 30px;
    font-size: 14px !important;
}
.small-buttons:hover {
    background: transparent !important;
    color: #eee !important;
}
.small-buttons.green {
    color: #4CAF50;
    background-color: transparent;
}
.small-buttons.orange.darken-3 {
    color: #ef6c00;
    background-color: transparent;
}
.small-buttons.blue {
    color: #00a6e5;
    background-color: transparent;
}
.small-buttons.red {
    color: #e92848;
    background-color: transparent;
}
.small-buttons.purple.darken-1 {
    color: #8e24aa;
    background-color: transparent;
}
.small-buttons.lighten-2 {
    color: #9575cd;
    background-color: transparent;
}
.small-buttons.save-button {
    height: 20px;
    font-size: 15px !important;
}
.small-buttons.amber {
    color: #ffc107;
    background-color: transparent;
}
.more-button-width {
    width: 13px;
    margin: 0px !important;
    padding: 0px 3px !important;
    float: left;
    height: 100%;
    min-height: 30px;
    background-color: transparent!important;
    font-size: 13px !important;
}
.drag-button-width {
    width: 16px;
    background-color: transparent!important;
    padding: 0% !important;
    float: left;
    height: 100%;
    min-height: 30px;
    font-size: 13px !important;
}
.button-width-plus {
    width: 12px;
    padding: 5px 3px !important;
    float: left;
    height: 100%;
    min-height: 30px;
    font-size: 12px !important;
}
.button-width-minus {
    min-height: 30px;
}
.editing-form .is_a textarea {
    width: 80% !important;
    float: left;
}
.editing-form .sourcename textarea {
    width: 80% !important;
    float: left;
}
.is_a .drag-button-width {
    background-color: #ffffdb !important;
    color: #474747;
    width: 18% !important;
    float: left;
    padding: 0% 1% !important;
    margin: 0% !important;
    text-align: center;
}
.editing-form .sourcename .drag-button-width {
    background-color: #dbdbff !important;
    color: #474747 !important;
    width: 8.75% !important;
    float: left;
    padding: 0% 0.25% !important;
    margin: 0% !important;
    text-align: center;
    line-height: 25px;
}
.editing-form .sourcename textarea {
    width: 90.5% !important;
    float: left;
}
@media (max-width: 1380px) {
    .title-text {
        font-size: 11px !important;
    }
    .small-buttons {
        padding: .75% !important;
        font-size: 15px !important;
    }
    .snomed-clear {
        margin-top: 5px;
    }
}
@media (max-width: 1793px) {
    .fsn {
        padding-bottom: 3px;
        font-size: 11.5px;
    }
    .snomed-clear {
        margin-top: 5px;
    }
    select.primitive {
        font-size: 10px !important;
        height: 24px !important;
    }
    .editing-form .col-md-9 {
        width: 77%;
    }
    .editing-form .col-md-3 {
        width: 23%;
    }
    .editing-form select {
        font-size: 10px !important;
    }
    .editing-form .typeid {
        width: 12%;
        padding-left: 1%;
    }
    .editing-form .description {
        width: 47%;
    }
    .editing-form .acceptability {
        width: 22%;
    }
    .white-text {
        color: #fff
    }
    .nav > li > a {
        position: relative;
        display: block;
        font-size: 12px;
        padding: 10px 5px;
    }
    .small-buttons {
        padding: .75% !important;
        font-size: 15px !important;
    }
    .concept-headers {
        padding-bottom: 0px;
    }
}
@media (min-width: 1701px) {
    .small-buttons {
        margin-top: 5px;
    }
    .snomed-clear {
        margin-top: 10px;
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 12px;
    }
    .concept-headers {
        padding-bottom: 0px;
    }
}
@media (min-width: 1794px) {
    .editing-form .acceptability {
        width: 15%;
        padding-left: .5%;
    }
    .editing-form .col-md-3 {
        width: 20%;
    }
    .editing-form .col-md-9 {
        width: 80%;
    }
    /* form widths */

    .editing-form .rolegroup {
        width: 3.0%;
        padding-left: 0px;
    }
    .editing-form .language {
        width: 7%;
        padding-left: .5%;
    }
    .editing-form .typeid {
        width: 8%;
        padding-left: .5%;
    }
    .editing-form .description {
        width: 56.25%;
        padding-left: 0px;
    }
    .editing-form .characteristictype {
        width: 10.5%;
        padding-left: .5%;
    }
    .editing-form .sourceid {
        width: 12.5%;
        padding-left: .5%;
    }
}
/* form widths */

select.form-control {
    background-size: 10px;
}
button.fsn-title-button {
    padding: 0px!important;
    color: #eee;
    font-size: 11.5px;
}
/* Colours */
/* colors */

.color_ input,
.color_ textarea,
.color_ select,
.color_ .custom-button {
    background-color: #b7dbff !important;
    color: #474747 !important;
}
.color_0 input,
.color_0 textarea,
.color_0 select,
.color_0 .custom-button,
.PRIMITIVE .color_0 .sourcename,
.color_0 .sourcename {
    background-color: #dbdbff;
    color: #474747 !important;
}
.color_1 input,
.color_1 textarea,
.color_1 select,
.color_1 .custom-button,
.color_1 .sourcename {
    background-color: #dbdbff !important;
    color: #474747 !important;
}
.color_2 input,
.color_2 textarea,
.color_2 select,
.color_2 .custom-button,
.color_2 .sourcename {
    background-color: #dbdbff !important;
    color: #474747 !important;
}
.color_3 input,
.color_3 textarea,
.color_3 select,
.color_3 .sourcename {
    background-color: #dbdbff !important;
    color: #474747 !important;
}
.color_4 input,
.color_4 textarea,
.color_4 select,
.color_4 .sourcename {
    background-color: #dbdbff !important;
}
.color_5 input,
.color_5 textarea,
.color_5 select,
.color_5 .sourcename {
    background-color: #dbdbff !important;
    color: #474747 !important;
}
.color_6 {
    background-color: #f1f8e9 !important;
    color: #474747 !important;
}
.color_7 {
    background-color: #e0f2f1 !important;
}
.color_8 {
    background-color: #FFEBEE !important;
}
.color_9 {
    background-color: #e8eaf6 !important;
}
.is_a input,
.is_a textarea,
.is_a select,
.is_a_bg {
    background-color: #ffffdb !important;
}
.is_a_bg {
    margin-left: .5% !important;
}
.attr input,
.attr textarea,
.attr select {
    background-color: #ffffdb !important;
}
/* edit panel buttons */

.blue.darken-2 {
    background-color: #1976D2;
    color: #fff;
}
.blue.darken-3 {
    background-color: #1565C0;
    color: #fff;
}
.blue.darken-4 {
    background-color: #0D47A1;
    color: #fff;
}
.nav-tabs li.redundant a:focus:hover,
.nav-tabs li.redundant a:hover,
.nav-tabs li.redundant.active a {
    color: #b3168c;
    box-shadow: inset 0 -2px 0 #b3168c;
}
.nav-tabs li.ienp a:focus:hover,
.nav-tabs li.ienp a:hover,
.nav-tabs li.ienp.active a {
    color: #ef9800;
    box-shadow: inset 0 -2px 0 #ef9800;
}
.nav-tabs li.equivalency a:focus:hover,
.nav-tabs li.equivalency a:hover,
.nav-tabs li.equivalency.active a {
    color: #ce394a;
    box-shadow: inset 0 -2px 0 #ce394a;
}
/* button nav*/

.button-nav {
    position: fixed;
    top: 64px;
    bottom: 0px;
    background-color: grey;
    width: 50px;
    z-index: 101;
}
.button-nav .md {
    font-size: 22px;
}
.button-nav .validate:hover {
    background-color: #4527a0;
    color: #fff
}
.pink1 {
    background-color: #e91e63;
    color: #fff;
}
.CASE_INSENSITIVE::before {
    content: "Case Insensitive";
}
.ENTIRE_TERM_CASE_SENSITIVE::before {
    content: " Entire Term Case Insensitive";
}
.INITIAL_CHARACTER_CASE_INSENSITIVE::before {
    content: "Initial Character Case Insensitive";
}
.case-s .md-radio-button-off,
.case-s .md-radio-button-on {
    font-size: 18px
}
/* screenshots colours


.color_ input, .color_ textarea, .color_ select {
    background-color: #303030 !important;  color: #b7dbff !important;
}

.color_0 input, .color_0 textarea, .color_0 select {
    background-color: #303030 !important;  color: #dbdbff !important;
}
.color_1 input, .color_1 textarea, .color_1 select{
    background-color: #303030 !important;  color: #dbdbff !important;
}

.color_2 input, .color_2 textarea, .color_2 select{
    background-color: #303030 !important;  color: #dbdbff !important;
}
.color_3 input, .color_3 textarea, .color_3 select{
    background-color: #303030 !important; color: #dbdbff !important;
}
.is_a input, .is_a textarea, .is_a select{
    background-color: #303030 !important; color: #ffffdb !important;
}
.attr input, .attr textarea, .attr select{
    background-color: #303030 !important; color: #ffffdb !important;
}
.green {
    background-color: #303030 !important;
    color: #4CAF50 !important;
}
.blue {
    background-color: #303030 !important;
    color: #00a6e5 !important;
}
*/

.case-s {
    max-width: 300px;
    font-size: 12px;
    padding: 0px
}
.case-s span {
    padding: 9px 14px;
}
.case-s li {
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    float: left;
    padding: 5px 10px;
    line-height: 24px;
}
.case-s .ng-click-active {
    background-color: #f7f7f7;
}
.case-s li:nth-child(3) {
    border-color: transparent
}
/* fix on type ahead */

.sourcename .dropdown-menu {
    margin-left: -70px;
}
.dropdown-menu {
    font-size: 12px;
    max-width: 350px;
}
.dropdown-menu > li {
    width: 100%;
    word-wrap: normal!important;
    white-space: normal!important
}
.dropdown-menu > li > a {
    padding: 3px 5px;
    color: #474747;
    word-wrap: normal!important;
    white-space: normal!important
}
/* popover */

.popover.left > .arrow:after {} .alert-danger.validation {
    margin: 0px;
    border-radius: 0px;
}
.alert-warning.validation {
    margin: 0px;
    border-radius: 0px;
}
.popover .dropdowns {
    background-color: #fff !important;
}
.popover .fields {
    font-size: 10px;
}
.description-popover .SCTID {
    width: 100px;
}
.description-popover .moduleId {
    width: 170px;
}
.description-popover .lang {
    width: 45px;
    margin-right: 10px;
}
.description-popover .case {
    width: 251px;
    margin-right: 10px;
}
.popover {
    margin-top: 1px;
    min-width: 650px;
    z-index: 1070;
}

.pop-edit {
    font-size: 11px;
    margin: 0px !important;
}
.popover select {
    margin-bottom: 0px!important;
    padding: 0px!important;
    min-height: 11px!important;
    color: #474747!important;
}
.task-details hr {
    margin-top: 1px;
    margin-bottom: -2px;
}
.popover .control-label {
    font-weight: 400;
    width: 100%;
    font-size: 11px;
    padding-bottom: 3px;
    margin-bottom: 3px;
    color: rgba(0, 0, 0, .4);
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    box-shadow: inset 0 -1px 0 #ddd!important;
}
/* Concept level */

.popover select {
    height: 10px !important;
}
.popover-content {
    padding: 0px 3px !important;
}
button.fsn-title-button {
    width: 100%;
}
.concept-more > *,
.description-more > *,
.relationship-more > * {
    min-width: 3em;
    margin: 2px 2px;
    min-height: 11px;
    max-width: 98%;
}

.popover .editing-form {
  padding-bottom: 0;
}

/* slider*/

.sca-layout-elem {
    background-color: #c9cccd;
    text-align: center;
    color: white;
    height: 20px;
}
.layout-slider.sidebar,
.sca-layout-elem.concepts {
    background-color: #7a7c7c
}
.btn-default.minus,
.btn-default.plus {
    background-color: #505252;
    margin-top: -4px;
    margin-right: 0px;
    padding: 0px;
    width: 20px;
    float: right;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}
.btn-default.minus:hover,
.btn-default.plus:hover {
    background-color: #676a6a
}
.layout-slider {
    width: 100%;
    text-align: center
}
.slider-title {
    padding: 1px 8px;
    font-size: 10px;
    text-transform: uppercase
}
#layoutGrid {
    margin-bottom: 15px;
}
.role-group-drag {
    min-height: 35px!important;
    padding: 0px
}
.role-group-buttons {
    height: 100%;
    width: 80%;
    background-color: transparent!important;
    color: #fff!important;
    pading-left: 20%;
}
.fa.pull-right {
    margin: 0px;
}
.col-md-1.role-group-drag {
    float: right
}
.left-of-edit.col-md-11 {
    width: 94.66667%;
    padding: 2px 0px!important;
}
.edits-row .col-md-1 {
    width: 4.33333%;
}
.role_group_divider_top_0 {
    margin-top: 3px;
}
.role_group_divider_top_0,
.role_group_divider_top_2,
.role_group_divider_top_4,
.role_group_divider_top_6 {
    border-bottom: 6px solid #2d2d2d;
    border-top: 1px solid #464646
}
.role_group_divider_bottom_0,
.role_group_divider_bottom_2,
.role_group_divider_bottom_4,
.role_group_divider_bottom_5 {
    border-top: 6px solid #2d2d2d;
    border-bottom: 1px solid #464646
}
.role_group_divider_top_1,
.role_group_divider_top_3,
.role_group_divider_top_5,
.role_group_divider_top_7 {
    border-bottom: 6px solid #757575;
    border-top: 1px solid #8e8e8e
}
.role_group_divider_bottom_1,
.role_group_divider_bottom_3,
.role_group_divider_bottom_5,
.role_group_divider_bottom_6 {
    border-top: 6px solid #757575;
    border-bottom: 1px solid #8e8e8e
}
/* role groups highlighting */

.edits-row.color_0,
.edits-row.color_2,
.edits-row.color_4,
.edits-row.color_6 {
    background-color: #2d2d2d;
}
.edits-row.color_1,
.edits-row.color_3,
.edits-row.color_5,
.edits-row.color_7 {
    background-color: #757575;
}
.color_0.role-group-drag,
.color_2.role-group-drag,
.color_4.role-group-drag,
.color_6.role-group-drag {
    background-color: #212121;
}
.color_1.role-group-drag,
.color_3.role-group-drag,
.color_5.role-group-drag,
.color_7.role-group-drag {
    background-color: #616161;
}
.tealhl .color_0.role-group-drag,
.tealhl .color_2.role-group-drag,
.tealhl .color_4.role-group-drag,
.tealhl .color_6.role-group-drag {
    background-color: #00695c;
}
.tealhl .color_1.role-group-drag,
.tealhl .color_3.role-group-drag,
.tealhl .color_5.role-group-drag,
.tealhl .color_7.role-group-drag {
    background-color: #00695c;
}
.bluehl .color_0.role-group-drag,
.bluehl .color_2.role-group-drag,
.bluehl .color_4.role-group-drag,
.bluehl .color_6.role-group-drag {
    background-color: #1565C0;
}
.bluehl .color_1.role-group-drag,
.bluehl .color_3.role-group-drag,
.bluehl .color_5.role-group-drag,
.bluehl .color_7.role-group-drag {
    background-color: #1565C0;
}
.redhl .color_0.role-group-drag,
.redhl .color_2.role-group-drag,
.redhl .color_4.role-group-drag,
.redhl .color_6.role-group-drag {
    background-color: #C62828;
}
.redhl .color_1.role-group-drag,
.redhl .color_3.role-group-drag,
.redhl .color_5.role-group-drag,
.redhl .color_7.role-group-drag {
    background-color: #C62828;
}
.bluehl .grey.darken-3,
.bluehl .edits-row {
    background-color: #0091d7!important
}
.conflicts .nav-tabs > li {
    width: 50%!important;
    text-align: center;
}
.conflicts .edits button {
    font-size: 12px;
    text-align: left;
}
button-link .bluehl .grey.darken-3 {
    background-color: #0091d7!important;
    border-top: 2px solid #0091d7!important;
    border-bottom: 2px solid #0091d7!important;
}
.merges-button .button-link {
    font-size: 12px;
}
.tealhl .grey.darken-3 {
    background-color: #00a39b!important
}

.ng-scope.tealhl{
    background-color: #00a39b!important;
    border-top: 2px solid #00a39b!important;
    border-bottom: 2px solid #00a39b!important;
	margin-top:3px;
}
.row.tealhl
{
    background-color: #00a39b!important;
    border-top: 1px solid #00a39b!important;
    border-bottom: 0px solid #00a39b!important;
	margin-top:0px;
}
.tealhl .p-t-5{
  padding-top:0px!important
	
}
.tealhl .grey.darken-4{background-color:transparent!important;}

.redhl .grey.darken-3,
.redhl .grey.darken-3 .redhlrow, {
    background-color: #ff6755!important
}
.tealh1 .redhlrow,
.redlhl {
    border-top: 2px solid #ff6755!important;
    border-bottom: 2px solid #ff6755!important;
}
.p-4 {
    padding: 4px;
}
.btn-round {
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
}
.model-header-sca {
    min-height: 32px!important;
}
.editing-form button.red:focus,
.editing-form button.red:active {
    background-color: #e92848;
}
.editing-form button.green:focus,
.editing-form button.green:active {
    background-color: #4CAF50;
}
.color_ .custom-button:focus {
    background-color: #b7dbff !important;
}
.PRIMITIVE .color_0 input,
.PRIMITIVE .color_0 textarea,
.PRIMITIVE .color_0 select,
.PRIMITIVE .color_0 .custom-button {
    background-color: #b7dbff;
}
.p-t-3 {
    padding-top: 3px!important;
}
.editing-form .PRIMITIVE .sourcename .drag-button-width {
    background-color: #b7dbff !important;
}
.FULLY_DEFINED .color_ input,
.FULLY_DEFINED .color_ textarea,
.FULLY_DEFINED .color_ select,
.FULLY_DEFINED .color_ .custom-button .FULLY_DEFINED .sourcename {
    background-color: #dbdbff !important;
    color: #474747 !important;
}
.sourcename {
    margin-left: .5%
}
.PRIMITIVE textarea.relationship,
.PRIMITIVE textarea.rg,
.PRIMITIVE select,
.PRIMITIVE .custom-button,
.PRIMITIVE .sourcename {
    background-color: #b7dbff !important;
    color: #474747 !important;
}
.is_a input,
.is_a textarea,
.is_a select {
    background-color: #ffffdb !important;
}
.def_PRIMITIVE textarea,
.def_PRIMITIVE select,
.def_PRIMITIVE .custom-button {
    background-color: #b7dbff !important;
    color: #474747 !important;
}
.def_FULLY_DEFINED textarea,
.def_FULLY_DEFINED select,
.def_FULLY_DEFINED .custom-button {
    background-color: #dbdbff !important;
    color: #474747 !important;
}
.sidebar-tabs.nav > li > a {
    line-height: 35px;
}
