.feedback-report .checkbox input[type=checkbox]:after,
.feedback-report .checkbox-inline input[type=checkbox]:after,
.feedback-report input[type=checkbox]:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 5px;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    transition: 240ms;
}
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
label input[type=checkbox] {
    margin-left: -33px;
}
.feedback .col-checkbox {
    width: 10%;
}
.feedback .col-concept {
    width: 60%;
}
.feedback .col-controls{
    width: 30%;
    padding-right: 0px;
}
.h-45 {
    height: 45px;
}
.feedback table {
   
}
.add-shadow {
     box-shadow: 
	0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 2px 16px 1px rgba(0, 0, 0, 0.10);
    background-color: #fff;
    padding: 5px !important;
    display: inline-block;
    height: 100%;
    min-height: 500px;
}
input.feedback-search {
    margin: 0px 4%;
    padding: 5px 0px;
    width: 92%;
}
.feedback .btn-group,
.feedback .btn-toolbar {
    margin-left: 0px;
}
.feedback .ta-scroll-window {
    margin-left: 0px;
}
.feedback-header {
    background-color: #eee;
    border:none;
    color:#474747
}
.feedback-tabs {
    background-color: #fafafa;
}
.feedback-tabs .nav-tabs ul {
    padding: 0px;
    box-shadow: inset 0 -2px 0 #dcdcdc!important;
    width: 100%;
}
.feedback-window {
    background-color: #E7E7E7;
    height: 100%;
}
section thead input {
    background-color: #fff;
}
.feedback-view .nav-tabs a {
    font-size: 12px!important;
}
.feedback-view .btn-round {
    width: 25px;
    height: 25px;
    font-size: 14px;
    line-height: 23px;
    position: relative;
}
.feedback-view input[type=checkbox]:after {
    width: 16px!important;
    height: 16px!important;
    margin: 0px!important;
    font-size: 14px!important;
}
.feedback-view .table > thead > tr > th,
.feedback-view .table > thead > tr > td {
    padding: 5px;
    line-height: 12px;
    vertical-align: middle;
    border-top: 1px solid #F0F0F0;
    vertical-align: middle !important;
    border-bottom: 2px solid #F0F0F0;
    margin: 5px;
}
.feedback-view .table > tbody > tr > td {
    line-height: 14px;
	font-size:12px;
    vertical-align: middle;
    
    padding: 5px;
}
.feedback-table input[type="checkbox"]{
    height: auto!important;
      margin: 5px;
    font-size: 14px!important;
    min-height:15px!important
}
.ta-scroll-window > .ta-bind {
    min-height: 250px;
}
.ta-editor.ta-html,
.ta-scroll-window.form-control {
    min-height: 250px;
}
.follow-up input[type=checkbox]:after {
    width: 16px!important;
    height: 16px!important;
    margin: 0px!important;
    font-size: 14px!important;
}
.follow-up {
    font-size: 11px;
}
.follow-up-right .btn {
    padding: 3px 8px;
    font-size: 12px;
}
.feedback-chat{overflow-x:hidden; overflow-y: scroll;}

.feedback-chat::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.feedback-chat::-webkit-scrollbar-button {
  width: 7px;
  height: 7px;
}
.feedback-chat::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 62px;
}
.feedback-chat::-webkit-scrollbar-thumb:hover {
  background: #57a5cc;
}
.feedback-chat::-webkit-scrollbar-thumb:active {
  background: #e7e7e7;
}
.feedback-chat::-webkit-scrollbar-track {
  background: #edecee;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.feedback-chat::-webkit-scrollbar-track:hover {
  background: #e5e6e8;
}
.feedback-chat::-webkit-scrollbar-track:active {
  background: #d8d7d9;
}
.feedback-chat::-webkit-scrollbar-corner {
  background: transparent;
}

.feedback-table thead{display:none}
.feedback-lists .table > tbody > tr > td, 
.feedback-lists .table > tbody > tr > th{
	padding:0px!important;
	line-height:14px!important
}


.feedback .nav > li > a {
 
    padding: 9px 5px 5px 5px;
}
.feedback-chat{padding:10px!important}
.white{background-color:#fff;}
.feedback-header-main {color:#fff;max-height: 48px;margin:0px;padding:0px;border:none}
.feedback-header-main label {color:#fff!important; font-weight:400; margin-top:-5px;}
.feedback-header-main input{height: 24px!important}
.review-button-list{background-color:#880e4f; border-radius:2px}
.review-button-list[disabled], .review-button-list[disabled]:hover{background-color:#880e4f; border-radius:2px}
.review-button-list:hover{background-color:#ad1457}

.transparent,
.transparent:hover,
.transparent:active,
.transparent:focus
{background-color:transparent!important; color:#fff; background:none!important;}
