.saved.blue{background-color: #00a4e4!important;}
.saved.orange{background-color: #eea633!important;}
.saved.red{background-color: #c13244!important;}

.validation {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    padding: 5px;
    line-height: 13px;
    font-size: 12px;
}
.red {
    background-color: #c13244;
    color: #fff;
}
.tab-content>.active,
.sca-column,
.dashboard-sidebar{height:100vh!important;}