.modal-body {
    position: relative;
    padding: 15px;
    float: left;
    display: block;
    width: 100%;
}
.modal-footer {
    float: left;
    display: block;
    width: 100%;
}
html {
    height: 100%;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.timeline-title p {
    font-size: 13px;
    margin: 0;
    font-weight: 400;
    color: #444 ;
    background-color: transparent ;
    padding-bottom: 6px;
}
.timeline-title p a {
    color: #444 ;
    background-color: transparent ;
    text-decoration: none ;
    font-weight: 500;
}
.project-main-buttons .btn-group .btn {
    margin-left: 5px ;
}
.m-r-2 {
    margin-righ: 2px;
}


.project-subtitle {
    font-family: Roboto, sans-serif ;
    color: #666 ;
}
.promoted-check-box .md-check-box-outline-blank:before,
.promoted-check-box .md-check-box:before
{color: #666 ;}
.table-full thead tr > th {
    font-size: 11px;
}
form-control hover-fix:hover{
    background:transparent;
}
.classification-header .btn[disabled],
.tab-content .btn[disabled] {
    cursor: not-allowed ;
    pointer-events: none ;
    opacity: .65;
    filter: alpha(opacity=65);
    box-shadow: none;
}
.sidebar-bg .sidebar-grey {
    background-color: #ececec;
}
.saved.blue {
    background-color: #00a4e4 ;
}
.saved.orange {
    background-color: #eea633 ;
}
.saved.red {
    background-color: #c13244 ;
}
.saved {
    padding: 8px 20px 8px 0px;

}
.sca-default .theme-secondary-text,
a {
    color: #009cd7;
}
.small-header {
    font-size: 11.5px;
    line-height: 13px;
}
.view-height-100 {
    height: 100vh
}
.hide-scroll::-webkit-scrollbar {
    display: none;
}
.modal-body .ta-scroll-window.form-control {
    min-height: 150px
}
html::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #3e3e42;
}
html::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 12px;
    background-color: #474747;
}
html::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #009cd7;
}
.checkbox input[type=checkbox]:after,
.checkbox-inline input[type=checkbox]:after,
input[type=checkbox]:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    margin-top: -2px;
    margin-right: 5px;
    border: 1px solid #666;
    border-radius: 2px;
    transition: 240ms;
}

td input,
td select {
    height: 14px;
}
.validation {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    ping: 5px;
    line-height: 13px;
    font-size: 12px;
}
.breadcrumb {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.taxonomy-list h4 {
    font-size: 12px ;
}
.taxonomy-panel .filter-input {
    box-shadow: inset 0 -1px 0 #ddd;
}
.taxonomy-panel .filter-input  select {
    width: 90px; 
    background-color: transparent; 
    box-shadow: none;
}
.taxonomy-panel .second-taxonomy {
    min-height : 250px;
}
.taxonomy-panel .control-label {
    margin-bottom: 0px;
    margin-top: 8px;
}
.table-full .btn-round {
    width: 24px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
}
.identity-services {
    ping-left: 5px;
    ping-right: 5px;
}
.navbar-nav.navbar-left .small-buttons {
    ping: 0% ;
    font-size: 25px ;
    margin-top: 10px;
}
.modal-body .tab-content > .active {
    height: 50vh ;
}
.tab-content > .active,
.dashboard-sidebar,
.full-height {
    height: 100vh ;
}
.sidebar-spacer {
    height: 100vh ;
}
.dashboard-sidebar {
    position: fixed ;
    top: 64px;
    height: 100%;
    width: 21%;
	margin-top:-64px;
}
.alert-warning {
    color: #fff;
    font-weight: 500;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #ffab40;
    line-height: 18px;
    background-color: #ffab40;
}
.alert-info,
.alert-success {
    color: #fff;
    font-weight: 500;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #ffab40;
    line-height: 18px;
    background-color: #2196F3;
}
.alert-danger {
    color: #fff;
    font-weight: 500;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #ffab40;
    line-height: 18px;
    background-color: #F44336;
}
.validation {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    ping: 5px;
}
.md-playlist-[disabled] {
    color: #76747c ;
    background-color: #424249 ;
}
/* drag targets */

.sca-relgroup-drag-hover {
    border: 1px dashed #fff ;
    background: #00a6e5 ;
    color: #fff ;
    visibility: visible;
}
.sca-relgroup-drag-target textarea {
    border: 1px dashed #9f9f9f ;
    background: #dedede ;
    visibility: visible;
}
/* HR styles */

.top-modal {
    background: #fff;
    position: relative;
    padding: 20px 0px
}
.top-modal::before,
.top-modal::after {
    position: absolute;
    content: '';
    pointer-events: none;
}
/* Triangles */

.add-color {
    background: #f5f5f5;
}
.add-triangles-top,
.add-triangles-bottom {
    position: relative;
    padding: 20px 0px ;
}
.add-triangles-top::before,
.add-triangles-bottom::after,
.add-triangles-top::after,
.add-triangles-bottom::before {
    left: 50%;
    width: 16px;
    height: 16px;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}
.add-triangles-top::before {
    top: -8px;
    background: #fff;
}
.add-triangles-bottom::after {
    bottom: -8px;
    z-index: 10;
    background: inherit;
}
.rolegroup textarea {
    height: 30px
}
.md-playlist-add.btn-round[disabled] {
    color: #76747c ;
    cursor: not-allowed ;
    pointer-events: none ;
    background-color: #424249 ;
}
/* temp for wrp-2269 */
.sca-scheduled-rebase {
    i {
        font-size: 25px;
    }
    p {
        position: absolute; 
        right: 50px;
    }
    i.active {
        color: #5cb85c;
    }
    i.inactive {
        color: #d9534f;
    }
}
.dashboard-sidebar button {
    width: 100%;
    padding: 15px;
    font-size: 14px;
    text-transform: none;
    color: #fff;
    text-align: left;
}
.dashboard-sidebar {
    width: 9% ;
}
.dash-tables {
    width: 90.5% ;
}
.dash-tables .table-search .btn.md-close {
    position: absolute; 
    right: 35px;
    top: 12px;
}
.pager .btn {
    padding: 1px 8px;
}
.task-detail div,
.task-detail span,
.task-detail h1,
.task-detail h2,
.task-detail h3,
.task-detail h4,
.task-detail h5,
.task-detail h6,
.task-detail a,
.task-detail table,
.task-detail tr,
.task-detail th,
.task-detail small {
    font-size: 12px ;
    color: #444 ;
    background-color: transparent
}
.header-alerts {
    position: absolute;
    top: 0;
    left: 54%;
    width: 30%;
    z-index: 1000;
}
.header-alerts div .alert {
    min-height: 45px;
    display: table;
    width: 100%;
}
.header-alerts div .alert p {
    display: table-cell;
    vertical-align:  middle;
    min-height: 44px;
    width: 98%;
	margin-left:-10px;

    text-align: left;
}
.alert .fa-sca.fa-close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 12px;

    margin-right: -10px
}
.header-alerts button,
.header-alerts button:hover,
.header-alerts button:focus {
    background-color: transparent
}
.header-alerts strong {
    white-space: pre-wrap;
}
section.tables-data > div.card div.table-responsive > table.table-full > tbody > tr > td {
    height: 45px;
}

.appbar{width:100%;clear:both;}
#slim_appbar{height:auto;}

h4.timeline-title td,
h4.timeline-title table,
h4.timeline-title tr,
h4.timeline-title div
{
	background-color:transparent;
	font-size:12px;
	color:#444 ;
	}

h4.timeline-title{    overflow-x: scroll;}
h4.timeline-title::-webkit-scrollbar

{
    width: 7px;
    height: 7px;
    background-color: #fff
}
h4.timeline-title::-webkit-scrollbar-button{
    width: 7px;
    height: 7px;
}
h4.timeline-title::-webkit-scrollbar-thumb
{
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 62px;
}
h4.timeline-title::-webkit-scrollbar-thumb:hover{
    background: #57a5cc;
}
h4.timeline-title::-webkit-scrollbar-thumb:active{
    background: #e7e7e7;
}
h4.timeline-title::-webkit-scrollbar-track{
    background: #edecee;
    border: 0px none #ffffff;
    border-radius: 50px;
}
h4.timeline-title::-webkit-scrollbar-track:hover{
    background: #e5e6e8;
}
h4.timeline-title::-webkit-scrollbar-track:active{
    background: #d8d7d9;
}
h4.timeline-title::-webkit-scrollbar-corner{
    background: transparent;
}

.scroll-if-height{
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll-if-height::-webkit-scrollbar

{
    width: 7px;
    height: 7px;
    background-color: #fff
}
.scroll-if-height::-webkit-scrollbar-button{
    width: 7px;
    height: 7px;
}
.scroll-if-height::-webkit-scrollbar-thumb
{
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 62px;
}
.scroll-if-height::-webkit-scrollbar-thumb:hover{
    background: #57a5cc;
}
.scroll-if-height::-webkit-scrollbar-thumb:active{
    background: #e7e7e7;
}
.scroll-if-height::-webkit-scrollbar-track{
    background: #edecee;
    border: 0px none #ffffff;
    border-radius: 50px;
}
.scroll-if-height::-webkit-scrollbar-track:hover{
    background: #e5e6e8;
}
.scroll-if-height::-webkit-scrollbar-track:active{
    background: #d8d7d9;
}
.scroll-if-height::-webkit-scrollbar-corner{
    background: transparent;
}
.disabled{
  opacity: 0.5;
  pointer-events: none;

  > * {
    opacity: 0.5;
    pointer-events: none;
  }
}
.cfp-hotkeys-close {    
    top: 67px;
    right: 14px;    
}
.icon-spin {
    animation: 1.5s linear 0s normal none infinite spin;
    -webkit-animation: 1.5s linear 0s normal none infinite spin;
    display: inline-block;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to {transform: rotate(359deg); }
}