.feedback-icon-link {
	min-width: 150px;
}

.feedback-message-date {
	letter-spacing: -.5px;
}

.blue.green {
	background-color: #42A5F5 ;
}

.dashboard-links {
	font-family: 'Roboto', sans-serif;
	box-shadow: none;
	text-align: left;
	border: none;
	box-shadow: none;
}

.dashboard-links i {
	font-size: 20px;
	line-height: 23px;
	margin-right: 5px;
	color: #BEBEBE;
}

.dashboard-links:hover {
	box-shadow: none;
	background-color: #3b3b3b;
    color: #fff;
}

.dashboard-links:after {
	color: #4fc3f7;
	display: inline-block;
	font: normal normal normal 14px/1 'Material Design Iconic Font';
	speak: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	right: 5px;
	top: 18px;
	font-size: 22px;
}

.btn-reg {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	white-space: nowrap;
	padding: 6px 12px;
	line-height: 1.846;
	border-radius: 0px;
	-webkit-user-select: none;
}

.modal-body .ta-scroll-window .ta-bind {
	min-height: 150px;
	max-height: 150px;
	box-shadow: none ;
	outline: none;
	border: 1px #ddd solid;
}

.timeline-heading ol {
	margin-top: 0;
	margin-bottom: 10px;
	-webkit-padding-start: 0px;
	margin-left: 20px;
}

.feedback ol {
	margin-top: 0;
	margin-bottom: 10px;
	-webkit-padding-start: 0px;
	margin-left: 15px;
}

.timeline-heading ul, .feedback-chat ul {
	list-style: none;
  /* Remove list bullets */
	padding: 0;
	margin: 0;
	margin-left: 0px;
}

.timeline-heading ul li:before, .feedback-chat ul li:before {
	content: "•";
  /* Insert content that looks like bullets */
	padding-right: 4px;
	color: #009cd7;
	font-size: 28px;
	line-height: 14px;
	vertical-align: middle;
  /* Or a color you prefer */;
}

.timeline-heading li, .feedback-chat li {
	display: list-item;
	text-align: -webkit-match-parent;
	line-height: 14px;
}

.timeline-heading ul ul,
.timeline-heading ol ul {
	list-style-type: circle;
}

.no-shadows:focus, .modal-body .ta-scroll-window .ta-bind:focus, .modal-body .ta-scroll-window .ng-touched {
	box-shadow: none ;
	outline: none ;
	border: 1px #fff solid ;
}

.sca-colours .dashboard-links:hover {
	background-color: #121212 ;
}
/* dashboard and review section title classes */
.card-title .table-search input{font-size:14px; font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;}
.card-title .promoted-check-box{font-family: Roboto;}
.card-title .promoted-check-box .btn-default,
.card-title .promoted-check-box .btn-default:active,
.card-title .promoted-check-box .btn-default:focus
 {border-color:transparent;}
 
 /* review badges */
   .promoted-check-box {
    background: transparent;
    color: #9B9B9B;
    padding-top: 15px;
  }

  .Available.badge {
    margin: 3px 3px 3px 3px;
  }

  .not_in_review {
    background-color: #e5e5e5;
    color: #a3a3a3;
  }

  .sca-light .not_in_review {
    background-color: #fff;
    color: #a3a3a3;
  }

  .not_in_review.btn-round {
    background-color: #eeeeee;
    color: #cdcdcd;
  }

  .btn-center {
    margin: 0 auto;
    list-style: none;
  }

  .review-checkbox {
    text-align: center;
  }
  /* forms in dialog boxes */
  .modal-body .input.form-control {font-size:13px;}