.sca-light .btn-default, 
.sca-light .pager .btn-default.blue {
    color: #474747;
}

.sca-light .navbar .dashboard-link-list li:hover .btn-link {
    background-color: #eee
}
.sca-light .role_group_divider_top_1,
.sca-light .role_group_divider_top_3,
.sca-light .role_group_divider_top_5,
.sca-light .role_group_divider_top_7 {
    border-bottom: 6px solid #eee;
    border-top: 1px solid #e2e2e2;
}
.sca-light .role_group_divider_bottom_1,
.sca-light .role_group_divider_bottom_3,
.sca-light .role_group_divider_bottom_5,
.sca-light .role_group_divider_bottom_6 {
    border-top: 6px solid #eee;
    border-bottom: 1px solid #e2e2e2;
}
.sca-light .role_group_divider_bottom_0,
.sca-light .role_group_divider_bottom_2,
.sca-light .role_group_divider_bottom_4,
.sca-light .role_group_divider_bottom_5 {
    border-top: 6px solid #fafafa;
    border-bottom: 1px solid #efefef;
}
.sca-light .role_group_divider_top_0,
.sca-light .role_group_divider_top_2,
.sca-light .role_group_divider_top_4,
.sca-light .role_group_divider_top_6 {
    border-bottom: 6px solid #fafafa;
    border-top: 1px solid #efefef;
}
.sca-light .color_0.role-group-drag,
.sca-light .color_2.role-group-drag,
.sca-light .color_4.role-group-drag,
.sca-light .color_6.role-group-drag {
    background-color: #f5f5f5;
}
.sca-light .color_1.role-group-drag,
.sca-light .color_3.role-group-drag,
.sca-light .color_5.role-group-drag,
.sca-light .color_7.role-group-drag {
    background-color: #e0e0e0;
}
.sca-light .edits-row.color_0,
.sca-light .edits-row.color_2,
.sca-light .edits-row.color_4,
.sca-light .edits-row.color_6 {
    background-color: #fafafa;
}
.sca-light .edits-row.color_1,
.sca-light .edits-row.color_3,
.sca-light .edits-row.color_5,
.sca-light .edits-row.color_7 {
    background-color: #eee;
}
.sca-light .grey.darken-4,
.sca-light .model-header-sca {
    background-color: #f0f0f0;
}

.sca-light .cyan.darken-1 {
    color: #00acc1;
    background-color: #fff;
}
.sca-light .cyan.darken-2 {
    color: #0097a7;
    background-color: #fff;
}
.sca-light .classification-btn .btn-default[disabled] span {
    background-color: transparent;
}
.sca-light .role-group-buttons {
    color: #474747
}
.sca-light .dashboard-sidebar {
    background-color: #fff;
    border-right: 1px rgba(0, 0, 0, .07)solid;
}
.sca-light .dashboard-sidebar button {
    color: #474747;
    background: #fff;
}
.sca-light .dashboard-sidebar button a {
    color: #474747;
}
.sca-light .dashboard-sidebar button:hover,
.sca-light .dashboard-sidebar button:active {
    background: #e6e6e6;
}
/*navbar*/

.sca-light .navbar-default {
    background: #fff;
    background-color: #fff;
    color: #474747;
    border-bottom: 1px rgba(0, 0, 0, 0.07) solid;
}
.sca-light .navbar-default .navbar-nav li a {
    color: #00a6e5;
}
.sca-light .green.classification-header {
    background-color: #4CAF50;
    color: #fff;
}
.sca-light .green.darken-1.classification-header {
    background-color: #4CAF50;
    color: #fff;
}
.sca-light .button-nav .review.btn-default[disabled],
.sca-light .button-nav .btn-default[disabled] {
    background-color: #d1d1d1;
    color: #474747;
    border-bottom: 1px #e6e6e6 solid;
}

/*button colors */

.sca-light .green.lighten-2 {
    background-color: transparent;
    color: #4CAF50;
}
.sca-light .pink.darken-1 {
    background-color: transparent;
    color: #d81b60
}
.sca-light .pink.darken-1 {
    background-color: transparent;
    color: #d81b60
}
.sca-light .red.lighten-2 {
    background-color: transparent;
    color: #d01c3e
}
.sca-light .grey {
    background-color: transparent;
    color: #313131
}
.sca-light .Promoted.badge {
    color: #0091d7;
    background-color: transparent;
}
.sca-light .New.badge {
    background-color: transparent;
    color: #4CAF50;
}
.sca-light .Review.Completed.badge {
    background-color: transparent;
    color: #7e57c2
}
.sca-light .In.Progress.badge {
    background-color: transparent;
    color: #8bc34a;
}
.sca-light .In.Review.badge {
    background-color: transparent;
    color: #e55f88;
}
.sca-light .Available.badge {
    background-color: transparent;
    color: #00b0ff;
}
.sca-light .Claimed.badge {
    background-color: white;
    color: gray;
}
/* Edit View */

.sca-light .button-nav {
    border-right: 1px #e6e6e6 solid;
    background-color: transparent;
}
.sca-light .button-nav .blue.darken-2,
.sca-light .button-nav .yellow.darken-2 {
    border-bottom: 1px #e6e6e6 solid;
    border-top: 1px #e6e6e6 solid;
    border-right: 1px #e6e6e6 solid
}
.sca-light .button-nav .blue.darken-3,
.sca-light .button-nav .blue.darken-4,
.sca-light .button-nav .pink1,
.sca-light .button-nav .deep-purple.lighten-1,
.sca-light .button-nav .green.darken-1 {
    border-top: 1px #e6e6e6 solid;
    border-right: 1px #e6e6e6 solid
}
.sca-light .blue.darken-2 {
    color: #1976D2;
    background-color: transparent;
}
/*colors */

.sca-light .purple.lighten-2 {
    color: #ba68c8;
    background-color: transparent;
}
.sca-light .purple.darken-1 {
    color: #ba68c8;
    background-color: transparent;
}
.sca-light .red {
    color: #e92848;
    background-color: transparent;
}
.sca-light .blue {
    color: #00a6e5;
    background-color: transparent;
}
.sca-light .orange.darken-3 {
    color: #ef6c00;
    background-color: transparent;
}
.sca-light .light-blue {
    color: #03a9f4;
    background-color: transparent;
}
.sca-light .blue.darken-3 {
    color: #1565C0;
    background-color: transparent;
}
.sca-light .blue.darken-4 {
    color: #0D47A1;
    background-color: transparent;
}
.sca-light .yellow.darken-2 {
    color: #ffcc00;
    background-color: transparent;
}
.sca-light .deep-purple.lighten-1 {
    color: #7e57c2;
    background-color: transparent;
}
.sca-light .pink1 {
    color: #e94281;
    background-color: transparent;
}
.sca-light .green.darken-1 {
    color: #4CAF50;
    background-color: transparent;
}
.sca-light .editpanel {
    background-color: #eee
}
.sca-light .green {
    color: #4CAF50;
    background-color: transparent;
}
.sca-light .deep-purple {
    color: #673ab7;
    background-color: transparent;
}
.sca-light .blue.darken-1 {
    color: #009cd7;
    background-color: transparent;
}
.sca-light .blue.darken-1 {
    color: #009cd7;
    background-color: transparent;
}
.sca-light .navbar-default .btn-link {
    color: #474747;
}
.sca-light .navbar-default .btn-link:hover {
    background-color: #eee;
}
.sca-light .model-header h4 {
    color: #3F3F3F
}
.sca-light .editing-form .concept-headers select {
    color: #3F3F3F;
}
.sca-light .task-details .green {
    background-color: transparent;
}
.sca-light .classification-btn .btn-default:hover {
    color: #474747;
    background-color: transparent;
    border: 1px #e6e6e6 solid;
}
.sca-light .pink.darken-2 {
    color: #c2185b;
    background-color: transparent;
}
.sca-light .task-details button {
    background-color: #fff;
}
.sca-light .task-details button:hover {
    background-color: #f8f8f8;
}
.sca-light .add-buttons {
    background-color: transparent;
    color: #474747;
}
.sca-light .toggle-buttons {
    background-color: transparent;
}
/*widget buttons */

.sca-light .widget-toolbar:hover {
    background-color: #fff;
    color: #474747
}
.sca-light .classification-btn .btn-default:hover,
.sca-light .classification-btn .btn-default span:hover {
    color: #474747
}
/*edit buttons */

.sca-light .small-buttons:hover {
    color: #474747;
    background-color: transparent;
}
.sca-light .morebuttons {
    color: #00a6e5;
    background: transparent
}
.sca-light .project-icon.yellow.darken-2 {
    background-color: #ffcc00;
    color: #fff;
}
.sca-light .project-icon.deep-purple.lighten-1 {
    background-color: #7e57c2;
    color: #fff;
}
.sca-light .project-icon.green {
    background-color: #4CAF50;
    color: #fff;
}
.sca-light .project-icon.red {
    background-color: #e92848;
    color: #fff;
}
.sca-light .project-icon.blue {
    background-color: #00a6e5;
    color: #fff;
}
.sca-light .loading-merges.green {
    background-color: #4CAF50
}
.sca-light .loading-merges.blue.darken-1 {
    background-color: #009cd7
}
.sca-light .loading-merges.red {
    background-color: #d01c3e
}
.sca-light .classification-header .green.darken-4 {
    background-color: #4CAF50;
    color: #fff;
}
.sca-light .classification-header .green {
    background-color: #4CAF50;
    color: #fff;
}
/* scolll bars */

.sca-light .sca-container::-webkit-scrollbar,
.ta-scroll-window.form-control::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #fff
}
.sca-light .sca-container::-webkit-scrollbar-button,
.ta-scroll-window.form-control::-webkit-scrollbar-button {
    width: 7px;
    height: 7px;
}
.sca-light .sca-container::-webkit-scrollbar-thumb,
.ta-scroll-window.form-control::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 62px;
}
.sca-light .sca-container::-webkit-scrollbar-thumb:hover,
.ta-scroll-window.form-control::-webkit-scrollbar-thumb:hover {
    background: #57a5cc;
}
.sca-light .sca-container::-webkit-scrollbar-thumb:active,
.ta-scroll-window.form-control::-webkit-scrollbar-thumb:active {
    background: #e7e7e7;
}
.sca-light .sca-container::-webkit-scrollbar-track,
.ta-scroll-window.form-control::-webkit-scrollbar-track {
    background: #edecee;
    border: 0px none #ffffff;
    border-radius: 50px;
}
.sca-light .sca-container::-webkit-scrollbar-track:hover,
.ta-scroll-window.form-control::-webkit-scrollbar-track:hover {
    background: #e5e6e8;
}
.sca-light .sca-container::-webkit-scrollbar-track:active,
.ta-scroll-window.form-control::-webkit-scrollbar-track:active {
    background: #d8d7d9;
}
.sca-light .sca-container::-webkit-scrollbar-corner,
.ta-scroll-window.form-control::-webkit-scrollbar-corner {
    background: transparent;
}
.sca-light .validation.red {
    background-color: #FFCDD2;
    color: #474747;
}
.sca-light .validation.orange {
    background-color: #ffecb3;
    color: #474747;
}
.sca-light .btn-round.purple.lighten-1 {
    color: #ba68c8;
    background-color: transparent;
}
.sca-light .saved.green {
    background-color: #C8E6C9;
}
.sca-light .saved.blue {
    background-color: #e1f5fe;
}
.sca-light .saved.orange {
    background-color: #ffecb3;
}
.sca-light .saved.red {
    background-color: #FFCDD2;
}
.sca-light .btn-round {
    background-color: transparent
}
.sca-light .green.btn-round {
    background-color: transparent;
    color: #4CAF50
}
.sca-light .green.btn-round:hover {
    color: #2fa084;
    background-color: transparent
}
.sca-light .blue.btn-round {
    background-color: transparent;
    color: #42A5F5
}
.sca-light .blue.btn-round:hover {
    color: #2a6a9d;
    background-color: transparent
}
.sca-light .blue.green.btn-round {
    background-color: transparent;
    color: #42A5F5
}
.sca-light .blue.green.btn-round:hover {
    color: #2a6a9d;
    background-color: transparent
}
.sca-light .red.btn-round {
    background-color: transparent;
    color: #e92848
}
.sca-light .red.btn-round:hover {
    color: #8c182b;
    background-color: transparent;
}
.sca-light .amber.btn-round {
    background-color: transparent;
    color: #ffca28
}
.sca-light .amber.btn-round:hover {
    color: #d87900;
    background-color: transparent
}
.sca-light .pink.darken-1.btn-round {
    background-color: transparent;
    color: #d81b60
}
.sca-light .pink.darken-1.btn-round:hover {
    color: #9c1445;
    background-color: transparent;
}
.sca-light .pink.lighten-2.btn-round {
    background-color: transparent;
    color: #f06292
}
.sca-light .pink.lighten-2.btn-round:hover {
    color: #fff;
    background-color: #f06292
}
.sca-light .purple.lighten-1.btn-round {
    background-color: transparent;
    color: #ba68c8
}
.sca-light .purple.lighten-1.btn-round:hover {
    color: #864b90;
    background-color: transparent;
}
.sca-light .btn-default.indigo.lighten-2:hover,
.sca-light .btn-default.indigo.lighten-2:active {
    background-color: transparent;
    color: #273371;
}
.sca-light .purple.lighten-2.btn-round {
    background-color: transparent;
    color: #ba68c8
}
.sca-light .purple.lighten-2.btn-round:hover {
    background-color: transparent;
    color: #7a4483
}
.sca-light .purple.darken-1.btn-round {
    background-color: transparent;
    color: #ba68c8
}
.sca-light .purple.darken-1.btn-round:hover {
    background-color: transparent;
    color: #7a4483
}
.sca-light .btn-default.indigo.lighten-2 {
    background-color: #fff;
    color: #3f51b5;
}
.sca-light .btn.black {
    background-color: #fff;
    color: #000;
}
.sca-light .btn.black:hover {
    color: #000;
    background-color: transparent;
}
.sca-light .review-button-list {
    background-color: #f8bbd0;
}
.sca-light .sca-footer {
    background-color: #fff;
}
.sca-light .indicator_grey {
    color: #666;
    background-color: transparent;
}
.sca-light .indicator_grey:hover {
    color: #3a3a3a;
    background-color: transparent;
}
.sca-light .indicator_green {
    color: #4CAF50;
    background-color: transparent;
}
.sca-light .indicator_green:hover {
    color: #2fa084;
    background-color: transparent;
}
.sca-light .indicator_blue {
    color: #00a4e4;
    background-color: transparent;
}
.sca-light .indicator_blue:hover {
    color: #2a6a9d;
    background-color: transparent;
}
.sca-light .indicator_amber {
    color: #ffca28;
    ;
    background-color: transparent;
}
.sca-light .indicator_amber:hover {
    color: #d87900;
    ;
    background-color: transparent;
}
.sca-light .indicator_red {
    color: #EF5350;
    background-color: transparent;
}
.sca-light .indicator_red:hover {
    color: #8c182b;
    background-color: transparent;
}
.sca-light .indicator_grey.indicator_grey {
    color: #666;
    background-color: transparent;
}
.sca-light .indicator_grey.indicator_grey:hover {
    color: #3a3a3a;
    background-color: transparent;
}
.sca-light .indicator_grey.indicator_red {
    color: #666;
    background-color: transparent;
}
.sca-light .indicator_grey.indicator_red:hover {
    color: #3a3a3a;
    background-color: transparent;
}
.sca-light .indicator_grey.indicator_amber {
    color: #666;
    background-color: transparent;
}
.sca-light .indicator_grey.indicator_amber:hover {
    color: #3a3a3a;
    background-color: transparent;
}
.sca-light button[disabled] .project-icon {
    background-color: #e7e7e7;
    color: #333
}
.sca-light .feedback .switch {
    color: #424242
}
.sca-light .edits-row.color_0 .add-buttons,
.sca-light .edits-row.color_1 .add-buttons,
.sca-light .edits-row.color_2 .add-buttons,
.sca-light .edits-row.color_3 .add-buttons,
.sca-light .edits-row.color_4 .add-buttons,
.sca-light .edits-row.color_5 .add-buttons,
.sca-light .edits-row.color_6 .add-buttons {
    color: #4d4d4d
}
.sca-light .md-playlist-add.btn-round[disabled],
.sca-light .md-playlist-add.btn-round[disabled]:hover {
    color: #666;
    background-color: transparent;
}
.sca-light .nav-tabs .badge.pink.darken-1 {
    color: #fff;
    background-color: #d81b60;
}
/*tooltips */

.sca-light .tooltips-bottom span,
.sca-light .tooltips-btm span,
.sca-light .tooltips-left span,
.sca-light .tooltips-right span,
.sca-light .tooltips-top span {
    color: #474747;
    text-shadow: 0px 1px 0px #EEEEEE;
    background: #CCCCCC;
    -webkit-box-shadow: -1px 1px 15px -1px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: -1px 1px 15px -1px rgba(0, 0, 0, 0.11);
    box-shadow: -1px 1px 15px -1px rgba(0, 0, 0, 0.11);
}
.sca-light .tooltips-bottom span:after {
    border-bottom: 6px solid #CCCCCC;
}
.sca-light .tooltips-top span:after {
    border-top: 8px solid #CCCCCC;
}
.sca-light .tooltips-left span:after {
    border-left: 5px solid #CCCCCC;
}
.sca-light .tooltips-right span:after {
    border-right: 5px solid #CCCCCC;
}
.sca-light .tooltips-btm span:after {
    border-bottom: 5px solid #CCCCCC;
}
/*tooltip offsets */

.header-nav-button.indicator_green {
    background-color: #4CAF50;
    color: #fff;
}
.header-nav-button.indicator_green:hover {
    background-color: #409dc7;
    color: #fff;
}
/* bottom */

.sca-light .tealhl .grey.darken-4.title-text,
.sca-light .tealhl .grey.darken-4.btn-default {
    background-color: transparent;
}
.sca-light .bluehl {
    background-color: #e1f5fe;
    border-top: 2px solid #e1f5fe;
    border-bottom: 5px solid #e1f5fe;
}
.sca-light .bluehl .grey.darken-3 {
    background-color: #e1f5fe;
}
.sca-light .bluehl .grey.darken-3 {
    border-bottom: 5px solid #e1f5fe;
}
.sca-light .bluehl .grey.darken-3 {
    background-color: #e1f5fe;
}
.sca-light .bluehl .grey.darken-3 {
    border-bottom: 5px solid #e1f5fe
}
.sca-light .tealhl .grey.darken-3 {
    background-color: #b2e3e1
}
.sca-light .ng-scope.tealhl {
    background-color: #b2e3e1;
    border-top: 2px solid #b2e3e1;
    border-bottom: 2px solid #b2e3e1;
    margin-top: 3px;
}
.sca-light .grey.darken-4.tealhl {
    background-color: #b2e3e1;
    border-top: 2px solid #b2e3e1;
    border-bottom: 2px solid #b2e3e1;
    padding-top: 2px;
}
.sca-light .tealhl .grey.darken-3:before {
    border-top: 1px solid #b2e3e1;
}
.sca-light .redhl .grey.darken-3 {
    background-color: #FFEBEE
}
.sca-light .redlhl {
    border-top: 2px solid #FFEBEE;
    border-bottom: 2px solid #FFEBEE;
}
/*left nav */

.sca-light .snodragon-templates:hover {
    color: #fff
}
.sca-light .snodragon-templates:active,
.sca-light .snodragon-templates:hover {
    background: #0082b3
}
.sca-light .navigation-link.deep-purple.darken-2 .btn {
    color: #8b72b7
}
.sca-light .navigation-link.green.darken-1.classify .btn {
    color: #4CAF50
}
.sca-light .navigation-link.pink1.darken-2.review .btn {
    color: #e94281
}
.sca-light .snodragon-templates {
    background-color: transparent;
    color: #009cd7
}
.sca-light .snodragon-templates,
.sca-light .navigation-link.deep-purple.darken-2,
.sca-light .navigation-link.green.darken-1.classify,
.sca-light .navigation-link.pink1.darken-2.review,
.sca-light .create-new-concept {
    border-top: 1px #e6e6e6 solid;
    border-right: 1px #e6e6e6 solid;
}
/*left nav */

.sca-light .navigation-link.deep-purple.darken-2 .btn:hover,
.sca-light .navigation-link.green.darken-1.classify .btn:hover,
.sca-light .navigation-link.pink1.darken-2.review .btn:hover,
.sca-light .snodragon-templates:hover {
    color: #474747
}
.sca-light .snodragon-templates:active,
.sca-light .snodragon-templates:hover {
    background: #0082b3
}
.sca-light .navigation-link.deep-purple.darken-2 .btn {
    color: #8b72b7
}
.sca-light .navigation-link.green.darken-1.classify .btn {
    color: #4CAF50
}
.sca-light .navigation-link.pink1.darken-2.review .btn {
    color: #e94281
}
.sca-light .snodragon-templates {
    background-color: transparent;
    color: #009cd7
}
.sca-light .snodragon-templates,
.sca-light .navigation-link.deep-purple.darken-2,
.sca-light .navigation-link.green.darken-1.classify,
.sca-light .navigation-link.pink1.darken-2.review,
.sca-light .create-new-concept {
    border-top: 1px #e6e6e6 solid;
    border-right: 1px #e6e6e6 solid;
}
.sca-light .create-new-concept {
    background-color: transparent;
    color: #56b8e7;
}
.sca-light .report-header-main {
    color: #2d2d2d;
    border: 1px #ddd solid;
    background-color: #fff;
}
/*tbba*/
/* classification */

.sca-light .navigation-link.green.darken-1 {
    color: #4CAF50;
    background-color: #fff;
}
.sca-light .navigation-link.green.darken-1:hover {
    color: #474747;
    background-color: #fff;
}
.sca-light .green.darken-1.iconbase,
.sca-light ul.classification-nav .btn:hover,
.sca-light .navigation-link.green.darken-1:hover,
.sca-light .navigation-link.green.darken-1:focus,
.sca-light .navigation-link.green.darken-1:active .sca-light ul.classification-nav li ul li:focus,
.sca-light ul.classification-nav li ul li:active,
.sca-light ul.classification-nav li ul li:hover {
    color: #474747;
    background-color: #fff;
}
.sca-light ul.classification-nav li ul li {
    background-color: #fff;
    color: #4CAF50
}
/*validation*/

.sca-light .navigation-link.deep-purple.darken-2.validate {
    color: #673ab7;
    background-color: #fff;
}
.sca-light .deep-purple.darken-2.validate:hover,
.sca-light .deep-purple.darken-2.validate:focus,
.sca-light .deep-purple.darken-2.validate:active,
.sca-light ul.validation-nav .btn:hover,
.sca-light ul.validation-nav .btn:focus,
.sca-light ul.validation-nav .btn:active,
.sca-light ul.validation-nav li ul li:focus,
.sca-light ul.validation-nav li ul li:active,
.sca-light ul.validation-nav li ul li:hover {
    color: #474747;
    background-color: #fff;
}
.sca-light ul.validation-nav li ul li {
    background-color: #fff;
    color: #673ab7
}
/* review */

.sca-light .navigation-link.pink.darken-2.review > ul > li > a > div {
    border-top: 1px #e6e6e6 solid;
}
.sca-light ul.review-nav li ul li,
.sca-light div.navigation-link.pink1.darken-2.review > ul > li > ul > li,
.sca-light .pink1.darken-2 .sub-navigation-link-list .btn,
.sca-light .navigation-link.pink.darken-2.review > ul > li > a > div {
    background-color: transparent;
    color: #e91e63;
}
.sca-light .navigation-link.pink.darken-2.review > ul > li > a > div:hover,
.sca-light ul.review-nav li ul li:focus,
.sca-light ul.review-nav li ul li:active,
.sca-light ul.review-nav li ul li:hover,
.sca-light ul.review-nav .btn:hover,
.sca-light .navigation-link.pink.darken-2:hover,
.sca-light .navigation-link.pink.darken-2:active,
.sca-light .navigation-link.pink.darken-2:focus {
    background-color: #fff;
    color: #474747
}
.sca-light .alert.saved,
.sca-light .alert.saved .fa-close {
    color: #474747;
}
.sca-light .classification-btn .btn-default {
    border: 1px #e6e6e6 solid;
	background-color:#fff;
}