$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower
@import "notification.scss";
@import "ihtsdo.scss";
@import "header.scss";
@import "home.scss";
@import "colors.scss";
@import "fonts.scss";
@import "icons.scss";
@import "edit.scss";
@import "feedback.scss";
@import "glphicons.scss";
@import "grid.scss";
@import "editpanel.scss";
@import "globals.scss";
@import "models.scss";
@import "formfields.scss";
@import "tables.scss";
@import "ta.scss";
@import "tooltips.scss";
@import "typography.scss";
@import "conflicts.scss";
@import "classification.scss";
@import "badge.scss";
@import "button.scss";
@import "validation.scss";
@import "tbba.scss";
@import "responsive.scss";
@import "compact.scss";
@import "inactivation.scss";
@import "light.scss";
@import "dark.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0; margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;

	font-style: normal
}
html{ height: 100%;}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}



.navbar-default {
  background-color: #2e2d30;
  border: none;
  border-radius: 0px;
  text-shadow: none;}
  .navbar-brand {
    color: #fff;
  }
  .navbar-toggle {
    background-color: #2e2d30;}
    .icon-bar {
      background-color: #888;
    }


.navbar-brand {
  float: left;
  height: 50px;
  padding: 5px;
  font-size: 14px;
  line-height: 32px;
    float: left;
  }
  .navbar-version {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 32px;
  }




/* Added by PWG to work around fixed sidebar */
.sca-container {
  position:relative;
  padding-top: 64px;
 overflow-x:hidden;
  padding-bottom:37px;
  width:100%;
  height:100vh;

}

.sca-column {
  position: relative;

  /*overflow-y:scroll;*/
  margin-bottom:0px;
}

.navbar-fixed-bottom {
  min-height: 32px;
}

/* styling for JIRA Feedback Collector button in footer.html */
#myCustomTrigger {
  margin: 10px;
  padding: 5px 10px;
  font-size: 11px;
}

/* indent start of footer links bar */
.sca-footer {
  padding-left: 10px;
}

