/* Scss Document */

@media (max-width: 1350px) {
    .brand-logo {
        font-size: 13px;
        line-height: 64px;
    }
    .breadcrumb {
        font-size: 11px;
        padding: 10px 10px;
    }
    .nav > li > a {
        position: relative;
        display: block;
        font-size: 11px;
        padding: 5px 3px;
        line-height: 30px;
    }
    .drag-button-width {
        width: 17px;
        font-size: 12px !important;
    }
    .more-button-width {
        width: 15px;
    }
    .angular-ui-tree .badge {
        font-family: 'Roboto-Regular', sans-serif;
        font-weight: normal;
        font-size: 16px;
        padding: 0px 0px;
        width: 18px;
        text-align: center;
        margin: 0px;
        height: 18px;
        line-height: 18px;
    }
    .taxonomy-chevron {
        font-size: 10px;
    }
    .angular-ui-tree-nodes {
        font-size: 11px;
    }
}
@media (max-width: 1450px) {
    nav > li > a {
        position: relative;
        display: block;
        font-size: 10px!important;
        padding: 10px 5px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx) {
    -webkit-font-smoothing: subpixel-antialiased;
}