@media (min-width: 1350px) {
    .saved-list-buttons {
        font-size: 14px ;
    }
}
@media (min-width: 1450px) {
    .saved-list-buttons {
        font-size: 15px ;
    }
}
@media (min-width: 1520px) {
    .saved-list-buttons {
        font-size: 16px ;
    }
}
@media (max-width: 1450px) {
    nav > li > a {
        position: relative;
        display: block;
        font-size: 10px;
        padding: 10px 5px;
    }
}
@media (max-width: 1350px) {
    .brand-logo {
        font-size: 13px;
        line-height: 64px;
    }
    .breadcrumb {
        font-size: 11px;
        padding: 10px 10px;
    }
    ul.dashboard-link-list li ul {
        font-size: 13px;
    }
    .nav > li > a {
        position: relative;
        display: block;
        font-size: 11px;
        padding: 5px 3px;
        line-height: 30px;
    }
    .drag-button-width {
        width: 17px;
        font-size: 12px ;
    }
    .more-button-width {
        width: 15px;
    }
    .angular-ui-tree .badge {
        font-family: 'Roboto-Regular', sans-serif;
        font-weight: normal;
        font-size: 16px;
        padding: 0px 0px;
        width: 18px;
        text-align: center;
        margin: 0px;
        height: 18px;
        line-height: 18px;
    }
    .taxonomy-chevron {
        font-size: 10px;
    }
    .angular-ui-tree-nodes {
        font-size: 11px;
    }
    .conflicts .drag-button-width {
        width: 13px;
    }
    .conflicts .button-width {
        width: 3.5%;
    }
    .conflicts .edits button {
        text-align: center;
    }
    .conflicts .editing-form textarea,
    .conflicts .editing-form select {
        padding: 2px 2px ;
    }
    .conflicts .edits-button {
        padding: 5px 0px 5px 2px;
    }
    .conflicts .editing-form .sourcename {
        width: 47%;
        padding-left: .5%;
    }
    .conflicts .badge.alert-warning {
        font-weight: normal;
        font-size: 14px ;
        text-align: center;
        padding: 0px 0px 4px 3px;
        width: 14px;
        height: 14px;
        line-height: 14px;
        border-radius: 50%;
        margin: 0px;
    }
    .conflicts .fa.fa-power-off.green,
    .conflicts .fa.fa-power-off.red {
        font-size: 10px ;
    }
    .conflicts .button-width-plus,
    .conflicts .add-buttons {
        width: 8px;
        padding: 0px ;
        float: left;
        height: 100%;
        min-height: 30px;
        font-size: 8px ;
        margin-left: 0px;
        margin-right: 1px;
        color: #fff ;
    }
    .angular-ui-tree .badge {
        padding-left: 4px;
    }
}
@media (max-width: 1450px) {
    .conflicts .drag-button-width {
        width: 13px;
    }
    .conflicts .button-width {
        width: 3.5%;
    }
    .conflicts .edits button {
        text-align: center;
    }
    .conflicts .editing-form textarea,
    .conflicts .editing-form select {
        padding: 2px 2px ;
    }
    .conflicts .edits-button {
        padding: 5px 0px 5px 2px;
    }
    .conflicts .editing-form .sourcename {
        width: 47%;
        padding-left: .5%;
    }
    .conflicts .badge.alert-warning {
        font-weight: normal;
        font-size: 14px ;
        text-align: center;
        padding: 0px 0px 4px 3px;
        width: 14px;
        height: 14px;
        line-height: 14px;
        border-radius: 50%;
        margin: 0px;
    }
    .conflicts .fa.fa-power-off.green,
    .conflicts .fa.fa-power-off.red {
        font-size: 10px ;
    }
    .conflicts .button-width-plus,
    .conflicts .add-buttons {
        width: 8px;
        padding: 0px ;
        float: left;
        height: 100%;
        min-height: 30px;
        font-size: 8px ;
        margin-left: 0px;
        margin-right: 1px;
        color: #fff ;
    }
    .relationship-type > .dropdown-menu {
        max-height: 367px;
    }
    .relationship-target > .dropdown-menu {
        max-height: 367px;
        margin-left: -70px;
    }
    .inactivation-report.classification-report ~ .table-responsive .table-full tbody > tr > td:last-child {
        padding-right: 0px;
    }
    .editable-field input.form-control {
        width: 160px;    
    }
}
@media (max-width: 1300px) {
    .title-text {
        font-size: 11px;
        max-width: 190px;
        text-align: left;
    }
    .edits button {
        font-size: 11px;
    }
    .add-buttons {
        background-color: transparent ;
        padding: 1px 0px ;
        color: #dcdcdc ;
        font-size: 10px ;
    }
    .drag-button-width {
        width: 13px;
        font-size: 11px ;
        text-align: left;
    }
    .button-width {
        width: 3.5%;
        margin-right: .5%;
        padding: 0.5% ;
        float: left;
        height: 100%;
        min-height: 30px;
        font-size: 12px ;
        text-align: center;
    }
    .more-button-width {
        width: 12px;
        text-align: center;
    }
    .text-center {
        font-size: 10px;
    }
    .button-width-plus {
        text-align: right;
    }
}
@media (min-width: 1550px) {
    .feedback-lists .btn-round {
        width: 18px;
        height: 18px;
        font-size: 13px;
        line-height: 18px;
    }
}
@media (min-width: 1650px) {
    .feedback-lists .btn-round {
        width: 19px;
        height: 19px;
        font-size: 13px;
        line-height: 19px;
    }
}
@media (min-width: 1750px) {
    .feedback-lists .btn-round {
        width: 20px;
        height: 20px;
        font-size: 13px;
        line-height: 20px;
    }
}

/* baseline heights optimised for 1366x768 resolution - subsequent media queries override for larger screens */
/* breakpoints and heights optimised for standard screen heights: 800, 1024, 1200 */
/* and acceptable layout in each range */

.scroll-if-height { height: 535px;}
.search-scroll .scroll-if-height { height: 395px; }

@media screen and (min-height: 700px) {
  .scroll-if-height { height: 565px; }
  .search-scroll .scroll-if-height { height: 425px; }
}

@media screen and (min-height: 900px) {
  .scroll-if-height { height: 795px; }
  .search-scroll .scroll-if-height { height:655px; }
}

@media screen and (min-height: 1110px) {
  .scroll-if-height { height: 945px; }
  .search-scroll .scroll-if-height { height:805px; }
}

