.table {
  width: 100%;
  margin-bottom: 23px;
}
.table > tbody > tr > td,
.table > tbody > tr > th {
  padding: 8px;
  line-height: 1.846;
  vertical-align: top;
  border-top: 1px solid #F0F0F0;
}
.table > tfoot > tr > td,
.table > tfoot > tr > th {
  padding: 8px;
  line-height: 1.846;
  vertical-align: top;
  border-top: 1px solid #F0F0F0;
}
.table > thead > tr > td {
  padding: 8px;
  line-height: 1.846;
  vertical-align: top;
  border-top: 1px solid #F0F0F0;
}
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.846;
  vertical-align: top;
  border-top: 1px solid #F0F0F0;
  vertical-align: bottom;
  border-bottom: 2px solid #F0F0F0;
}
.table > caption + thead > tr:first-child > td,
.table > caption + thead > tr:first-child > th {
  border-top: 0;
}
.table > colgroup + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th {
  border-top: 0;
}
.table > thead:first-child > tr:first-child > td,
.table > thead:first-child > tr:first-child > th {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #F0F0F0;
}
.table .table {
  background-color: #fff;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
.table > tbody > tr.active > td,
.table > tbody > tr.active > th {
  background-color: #f5f5f5;
}
.table > tbody > tr > td.active,
.table > tbody > tr > th.active {
  background-color: #f5f5f5;
}
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active {
  background-color: #f5f5f5;
}
.table > thead > tr.active > td,
.table > thead > tr.active > th {
  background-color: #f5f5f5;
}
.table > thead > tr > td.active,
.table > thead > tr > th.active {
  background-color: #f5f5f5;
}
.table-condensed > tbody > tr > td,
.table-condensed > tbody > tr > th {
  padding: 5px;
}
.table-condensed > tfoot > tr > td,
.table-condensed > tfoot > tr > th {
  padding: 5px;
}
.table-condensed > thead > tr > td,
.table-condensed > thead > tr > th {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #F0F0F0;
}
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th {
  border: 1px solid #F0F0F0;
}
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th {
  border: 1px solid #F0F0F0;
}
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #F0F0F0;
}
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border-bottom-width: 2px;
}
table col[class*=col-] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*=col-],
table th[class*=col-] {
  position: static;
  float: none;
  display: table-cell;
}
.btn-group > .btn-group {
  float: left;
}
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
  float: left;
}
.form-control,
.has-error .input-group-addon,
.has-success .input-group-addon,
.has-warning .input-group-addon {
  background-color: transparent;
}
.table > tbody > tr.danger > td,
.table > tbody > tr.danger > th {
  background-color: transparent;
}
.table > tbody > tr.info > td,
.table > tbody > tr.info > th {
  background-color: transparent;
}
.table > tbody > tr.success > td,
.table > tbody > tr.success > th {
  background-color: transparent;
}
.table > tbody > tr.warning > td,
.table > tbody > tr.warning > th {
  background-color: transparent;
}
.table > tbody > tr > td.danger,
.table > tbody > tr > td.info,
.table > tbody > tr > td.success,
.table > tbody > tr > td.warning {
  background-color: transparent;
}
.table > tbody > tr > th.danger,
.table > tbody > tr > th.info,
.table > tbody > tr > th.success,
.table > tbody > tr > th.warning {
  background-color: transparent;
}
.table > tfoot > tr.danger > td,
.table > tfoot > tr.danger > th {
  background-color: transparent;
}
.table > tfoot > tr.info > td,
.table > tfoot > tr.info > th {
  background-color: transparent;
}
.table > tfoot > tr.success > td,
.table > tfoot > tr.success > th {
  background-color: transparent;
}
.table > tfoot > tr.warning > td,
.table > tfoot > tr.warning > th {
  background-color: transparent;
}
.table > tfoot > tr > td.danger,
.table > tfoot > tr > td.info,
.table > tfoot > tr > td.success,
.table > tfoot > tr > td.warning {
  background-color: transparent;
}
.table > tfoot > tr > th.danger,
.table > tfoot > tr > th.info,
.table > tfoot > tr > th.success,
.table > tfoot > tr > th.warning {
  background-color: transparent;
}
.table > thead > tr.danger > td,
.table > thead > tr.danger > th {
  background-color: transparent;
}
.table > thead > tr.info > td,
.table > thead > tr.info > th {
  background-color: transparent;
}
.table > thead > tr.success > td,
.table > thead > tr.success > th {
  background-color: transparent;
}
.table > thead > tr.warning > td,
.table > thead > tr.warning > th {
  background-color: transparent;
}
.table > thead > tr > td.danger,
.table > thead > tr > td.info,
.table > thead > tr > td.success,
.table > thead > tr > td.warning {
  background-color: transparent;
}
.table > thead > tr > th.danger,
.table > thead > tr > th.info,
.table > thead > tr > th.success,
.table > thead > tr > th.warning {
  background-color: transparent;
}
.table-responsive {
  overflow-x: auto;
  min-height: .01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 17.25px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #F0F0F0;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tbody > tr > th {
    white-space: nowrap;
  }
  .table-responsive > .table > tfoot > tr > td,
  .table-responsive > .table > tfoot > tr > th {
    white-space: nowrap;
  }
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > thead > tr > th {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > tfoot > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > thead > tr > th:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tfoot > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > thead > tr > th:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tbody > tr:last-child > th {
    border-bottom: 0;
  }
  .table-responsive > .table-bordered > tfoot > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th {
    border-bottom: 0;
  }
}
