.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  border-width: 0 5px 5px;
  border-bottom-color: #727272;
}
.tooltip-arrow {
  border-style: solid;
  border-color: transparent;
  position: absolute;
  width: 0;
  height: 0;
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: .9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #727272;
  border-radius: 3px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #727272;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
}
.tooltip.top-right .tooltip-arrow {
  left: 5px;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #727272;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #727272;
}
.tooltip.bottom .tooltip-arrow {
  left: 50%;
  margin-left: -5px;
}
.tooltip.bottom-left .tooltip-arrow {
  right: 5px;
  margin-top: -5px;
}
.tooltip.bottom-right .tooltip-arrow {
  left: 5px;
  margin-top: -5px;
}
.theme-box-inset-lighten-1 {
  -webkit-box-shadow: inset 0 -2px 0 #ec407a;
  box-shadow: inset 0 -2px 0 #ec407a;
}
.theme {
  color: #fff;
}
.tooltips-bottom,
.tooltips-btm,
.tooltips-left,
.tooltips-right,
.tooltips-top {
    position: relative;
    display: inline;
}
/*tooltip main span */

.tooltips-bottom span,
.tooltips-btm span,
.tooltips-left span,
.tooltips-right span,
.tooltips-top span {
	position: absolute;
	padding:5px 6px;
  color: #FFFFFF;
 text-shadow: -1px -1px 1px #4e4e4e;
  background: #616161;
  min-height: 23px;
  line-height: 13px;
  text-align: center;
  visibility: hidden;
  border-radius: 4px;
    font-size: 11.5px;
 font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;	font-weight:400;
    opacity: 1.0;
-webkit-box-shadow: -1px 1px 10px -1px rgba(0,0,0,0.2);
-moz-box-shadow: -1px 1px 10px -1px rgba(0,0,0,0.2);
box-shadow: -1px 1px 10px -1px rgba(0,0,0,0.2);
}
.tooltips-bottom span {
    width: 140px;
}
.tooltips-right span {
    min-width: 160px;
}
.tooltips-btm span {
    width: 70px;
    top: 30px;
    left: 50%;
    margin-left: -40px;
}
/* hovers */

.tooltips-bottom:hover span,
.tooltips-btm:hover span,
.tooltips-left:hover span,
.tooltips-right:hover span,
.tooltips-top:hover span {
    visibility: visible;
    opacity: 1.0;
    z-index: 10001;
}
.tooltips-bottom:hover span {
    top: 30px;
    left: 50%;
    margin-left: -70px;
}
.tooltips-top:hover span {
    bottom: 30px;
    left: 50%;
    margin-left: -76px;
}
.tooltips-top:hover span {
    bottom: 30px;
    left: 50%;
    margin-left: -76px;
}
.tooltips-left:hover span {
    right: 100%;
    top: 50%;
    margin-top: -10px;
    margin-right: 5px;
}
.tooltips-right:hover span {

    left: 100%;
    top: 50%;
    margin-top: -10px;
    margin-left: 10px;

}

/*tooltip main span afters */
.tooltips-bottom span:after,
.tooltips-btm span:after,
.tooltips-left span:after,
.tooltips-right span:after,
.tooltips-top span:after{
content: '';
    position: absolute;
   width: 0;
    height: 0;
	}
.tooltips-bottom span:after {
    bottom: 100%;
    left: 50%;
    margin-left: -6px;

    border-bottom: 6px solid #616161;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.tooltips-top span:after {

    top: 100%;
    left: 50%;
    margin-left: -8px;

    border-top: 8px solid #616161;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.tooltips-left span:after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-left: 5px solid #616161;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.tooltips-right span:after{

    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-right: 5px solid #616161;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.tooltips-btm span:after{

    bottom: 100%;
    left: 50%;

    margin-left: -5px;

    border-bottom: 5px solid #616161;
    border-right: 5px solid transparent;
    font-family: Roboto, sans-serif ;
    border-left: 5px solid transparent;
}
/*tooltip offsets */

.offset-tooltip-right.large-size-tooltip.tooltips-bottom:hover span {
    margin-left: -170px;
}
.offset-tooltip-right.large-size-tooltip.tooltips-bottom span:after {
    left: 90%;
}
.offset-tooltip-right.medium-size-tooltip.tooltips-bottom:hover span {
    margin-left: -129px;
}
.offset-tooltip-right.medium-size-tooltip.tooltips-bottom span:after {
    left: 92%;
}
.offset-tooltip-left.medium-size-tooltip.tooltips-bottom:hover span {
    margin-left: -7px;
}
.offset-tooltip-left.medium-size-tooltip.tooltips-bottom span:after {
    left: 5%;
}
.offset-tooltip-left.small-size-tooltip.tooltips-bottom:hover span {
    margin-left: -8px;
}
.offset-tooltip-left.small-size-tooltip.tooltips-bottom span:after {
    left: 9%;
}
/*custom tooptip sizes */

.md-playlist-add.small-size-tooltip.tooltips-bottom span {
    width: 100px;
}
.small-size-tooltip.tooltips-bottom span {
    width: 90px;
}
.small-size-tooltip.tooltips-bottom:hover span {
    margin-left: -45px;
}
.md-playlist-add.small-size-tooltip.tooltips-bottom:hover span {
    margin-left: -51px;
}

.tooltips-bottom .fa-info + span,
.tooltips-bottom .md-my-library-books + span,
.tooltips-btm .md-my-library-books + span {
    width: 65px;
}
.md-my-library-books.tooltips-bottom span,
.md-my-library-books.tooltips-bottom.medium-size-tooltip span {
    width: 105px;
}
.tooltips-bottom:hover .md-my-library-books + span,
.tooltips-bottom:hover .fa-info + span,
.tooltips-btm:hover .md-my-library-books + span {
    margin-left: -35px;
}
.md-my-library-books.tooltips-bottom:hover span,
.md-my-library-books.tooltips-bottom.medium-size-tooltip:hover span {
    margin-left: -53px;
}
.md-my-library-books.tooltips-bottom.medium-size-tooltip.offset-tooltip-right:hover span {
    margin-left: -96px;
}
.tooltips-bottom.medium-size-tooltip .md-content-copy + span {
    width: 107px;
}
.tooltips-bottom.medium-size-tooltip.offset-tooltip-right:hover .md-content-copy + span {
    margin-left: -98px;
}
.tooltips-bottom.small-size-tooltip .md-my-library-books + span,
.tooltips-bottom .fa-search + span,
.tooltips-bottom .fa-info-circle + span,
.tooltips-bottom .fa-list-ol + span {
    width: 80px;    
}
.tooltips-bottom:hover .fa-search + span,
.tooltips-bottom:hover .fa-info-circle + span,
.tooltips-bottom:hover .fa-list-ol + span {   
    margin-left: -40px;
}
.tooltips-bottom.small-size-tooltip:hover .md-my-library-books + span {
    margin-left: -35px;
}
.tooltips-bottom.large-size-tooltip .fa-envelope + span {
    width: 158px;
}
.tooltips-bottom.large-size-tooltip:hover .fa-envelope + span {
    margin-left: -79px;
}
.tooltips-right.medium-size-tooltip.fa-exclamation-triangle span{
    min-width: 300px;
}
.status-concept.tooltips-bottom span {
    width: 180px;
}
.status-concept.tooltips-bottom:hover span {
    margin-left: -90px;
}
.medium-size-tooltip.tooltips-bottom span {
    width: 140px;
}
.medium-size-tooltip.tooltips-bottom:hover span {
    margin-left: -69px;
}
.large-size-tooltip.tooltips-bottom span {
    width: 190px;
}
.large-size-tooltip.tooltips-bottom:hover span {
    margin-left: -93px;
}
.xlarge-size-tooltip.tooltips-bottom span {
    width: 200px;
}
.xlarge-size-tooltip.tooltips-bottom:hover span {
    margin-left: -97px;
}
.xxlarge-size-tooltip.tooltips-bottom span {
    width: 255px;
}
.xxlarge-size-tooltip.tooltips-bottom:hover span {
    margin-left: -130px;
}

.cI:before {
    content: "Only initial character case insensitive";
}
.CS:before {
    content: "Entire term case sensitive";
}
.ci:before {
    content: "Entire term case insensitive";
}
.tooltips-left.feedbacktooltips span {
    min-width: 50px;
    padding: 3px;
}
.lowercase {
    text-transform: lowercase;
    float: left;
}
.accent-2.xxlarge-size-tooltip.tooltips-bottom span {
  white-space: nowrap;
  width: auto;
}
.xxlarge-size-tooltip.tooltips-bottom:hover span.CS {
  margin-left: -70px;
}
.xxlarge-size-tooltip.tooltips-bottom:hover span.ci {
  margin-left: -75px;
}
.xxlarge-size-tooltip.tooltips-bottom:hover span.cI {
  margin-left: -99px;
}
/* bottom */
