<div class ="view-height-tall" ng-controller="sidebarCtrl">
  <ul class="no-padding">
    <li ng-click="gotoBrowser()">
      <button type="button" class="btn grey darken-3 dashboard-links">TS Browser
      </button>
    </li>
       <li ng-click="gotoHome()">
      <button type="button" class="btn grey darken-3 dashboard-links">
     My Tasks
      </button>
    </li>
    <li ng-click="gotoReviews()">
      <button type="button" class="btn grey darken-3 dashboard-links">
    Review Tasks
      </button>
    </li>
    <li ng-click="gotoMyProjects()">
      <button type="button" class="btn grey darken-3 dashboard-links">My Projects
      </button>
    </li>
    <li ng-click="gotoAllProjects()">
      <button type="button" class="btn grey darken-3 dashboard-links">All Projects
      </button>
    </li>
 
    <li>
      <button class="btn grey darken-3 dashboard-links" ng-click="openCreateTaskModal()">
    New Task
      </button>
    </li>
  </ul>
</div>