<div class ="view-height-tall" ng-controller="sidebarCtrl">
  <ul class="no-padding">
    <li ng-click="gotoBrowser()">
      <button type="button" class="btn grey darken-3 dashboard-links">TS Browser
      </button>
    </li>
    <li>
        <a ng-href="#/">
            <button type="button" class="btn grey darken-3 dashboard-links">
                My Tasks
            </button>
        </a>
    </li>
    <li>
        <a ng-href="#/review-tasks">
            <button type="button" class="btn grey darken-3 dashboard-links">
                Review Tasks
            </button>
        </a>
    </li>
    <li>
        <a ng-href="#/my-projects">
            <button type="button" class="btn grey darken-3 dashboard-links">
                My Projects
            </button>
        </a>
    </li>
    <li>
        <a ng-href="#/projects">
            <button type="button" class="btn grey darken-3 dashboard-links">
                All Projects
            </button>
        </a>
    </li>
    <li>
        <a ng-href="#/codesystems">
            <button type="button" class="btn grey darken-3 dashboard-links">
                Code Systems
            </button>
        </a>
    </li>
    <li>
      <button class="btn grey darken-3 dashboard-links" ng-click="openTaskSearchModal()">
        Search Tasks
      </button>
    </li>
    <li>
      <button class="btn grey darken-3 dashboard-links" ng-disabled="!isProjectsLoaded()" ng-click="openUploadBatchModal()">
        Upload a Batch
      </button>
    </li>
    <li>
      <button class="btn grey darken-3 dashboard-links" ng-click="openCreateTaskModal()" ng-show="!isReviewerOnly" ng-disabled="!isProjectsLoaded()">
    New Task
      </button>
    </li>    
  </ul>
</div>