node_modules
.tmp
.sass-cache
.DS_Store
.idea
dist
bower_components
/target/
npm-debug.log
/*.iml
cypress.env.json
cypress/reports/
cypress/screenshots/
cypress/videos/
node/node_modules/
node/*
cypress/downloads/
cypress/videos/*