node_modules
.tmp
.sass-cache
.DS_Store
.idea
dist
bower_components
/target/
npm-debug.log
/*.iml
node/node_modules/
node/*

# Cypress
/cypress/videos/
/cypress/reports/
/cypress/screenshots/
/cypress/downloads/
/cypress.env.json
