<div class="col-md-12 scroll-if-height no-padding taxonomy-panel" ng-controller="taxonomyPanelCtrl">
  <div class="col-md-12 filter-input m-b-5">
    <select ng-model="viewSelection" ng-init="viewSelection = 'inferred'" name="select-type" class="no-padding m-t-5">          
      <option value="inferred">Inferred View</option>
      <option value="stated">Stated View</option>
    </select>
  </div>
  <div class="row m-l-10 m-t-15 taxonomy-list" ng-if="rootConcept">
    <div class="col-md-11 no-padding" >
      <h4 class="p-l-5">{{rootConcept.preferredSynonym ? rootConcept.preferredSynonym : rootConcept.fsn}}</h4>
    </div>
    <div class="col-md-1 no-padding">
      <button class="btn btn-default md md-close light-button transparent" title="Return to SNOMEDCT hieararchy view" ng-click="clearConcept()"></button>
    </div>
  </div>
  <div class=" col-md-12 no-padding">
    <div taxonomy-tree branch="branch" concept="rootConcept" default-view="viewSelection"></div>
  </div>
  <div class=" col-md-12 no-padding">
    <div taxonomy-tree branch="branch" concept="rootConcept" ng-if="rootConcept != null && thisView === 'feedback'" default-view="'stated'"></div>
  </div>
</div>
