<style>
  .taxonomy-chevron {
    color: #428bca;
  }
</style>

<div class=" col-md-12 no-padding "  ng-controller="taxonomyPanelCtrl">


<!-- Nested node template -->
  <script type="text/ng-template" id="nodes_renderer.html">
    <div>

      <!-- collapsible control -->
      <span class="taxonomy-chevron" ng-class="getTreeNodeIcon(node, collapsed)"
            ng-click="toggleNode(node, this)"></span>

      <!-- primitive alert -->
      <span class="badge alert-warning">{{node.definitionStatus === 'PRIMITIVE' ? ' ' : '='}}&nbsp</span>

      <!-- fsn (draggable) -->
      <span ui-draggable="true" drag="{ id : node.conceptId, name : node.fsn}" drag-channel="conceptPropertiesObj">
        {{node.fsn}}
      </span>
    </div>
    <ol ui-tree-nodes="" ng-model="node.children" data-nodrop-enabled  ng-class="{hidden: collapsed}">
      <li ng-repeat="node in node.children | orderBy: 'fsn'"
          ui-tree-node collapsed="true" data-nodrag ng-include="'nodes_renderer.html'">
      </li>
    </ol>
  </script>

  <!-- instantiate the tree -->
  <div ui-tree class="col-md-12 no-padding">
    <ol ui-tree-nodes="" ng-model="terminologyTree" id="tree-root" data-nodrop-enabled>
      <li ng-repeat="node in terminologyTree | orderBy: 'fsn'"
          ui-tree-node collapsed="false" data-nodrag ng-include="'nodes_renderer.html'"></li>
    </ol>
  </div>
</div>

<hr>

{{terminologyTree}}
