<div class="navbar navbar-default navbar-fixed-bottom grey darken-3 sca-footer">

  <style>

    .sca-drag-target {
      border: 5px dashed yellow;
    }

  </style>

  <ul class="nav navbar-nav navbar-left navbar-left-no-collapse identity-services">

    <li><a href="http://www.snomed.org/" target="_blank">Copyright &copy; 2017 SNOMED International</a></li>
    <li><a href="https://confluence.ihtsdotools.org/display/ISUG/SNOMED+International+Authoring+Platform+User+Guide" target="_blank">Help</a></li>
    <li><a href="http://www.snomed.org/contact-us/" target="_blank">Contact Us</a></li>

  </ul>

  <button class="btn btn-primary navbar-right" id="myCustomTrigger">Feedback</button>

  <!--
    TODO Ashley uncomment this
    <input class="pull-right" style="margin:5px; padding:5px; font-size:10px;"  drop-channel="conceptPropertiesObj" drag-enter-class="sca-drag-target" placeholder="drop concept here" ui-on-drop>
    <button class="pull-right" style="margin:5px; padding:5px; font-size:10px;"  drop-channel="conceptPropertiesObj" drag-enter-class="sca-drag-target" placeholder="drop concept here" ui-on-drop>Drop Concept Here</button>
  -->
    <div ng-if="collectorUrl">
        <script type="text/javascript">
            window.ATL_JQ_PAGE_PROPS = {
                "triggerFunction": function(showCollectorDialog) {
                    jQuery("#myCustomTrigger").click(function(e) {
                        e.preventDefault();
                        console.log('click');
                        showCollectorDialog();
                    });
                }
            };
        </script>
    </div>
</div>
