<div class="navbar navbar-default navbar-fixed-bottom grey darken-3 sca-footer">

  <style>

    .sca-drag-target {
      border: 5px dashed yellow;
    }

  </style>

  <ul class="nav navbar-nav navbar-left navbar-left-no-collapse identity-services">

    <li><a href="https://www.ihtsdo.org/#">&copy Copyright IHTSDO 2015</a></li>
    <li><a href="https://confluence.ihtsdotools.org/display/AUTHS/User+Guide" target="_blank">Help</a></li>
    <li><a href="#" target="_blank">Terms of Service</a></li>
    <li><a href="#" target="_blank">Privacy Policy</a></li>
    <li><a href="https://www.ihtsdo.org/#" target="_blank">Contact Us</a></li>

  </ul>
  <button class="btn btn-primary navbar-right" style="margin:5px; padding:5px; font-size:10px;" id="myCustomTrigger">Feedback</button>
<!--
  TODO Ashley uncomment this
  <input class="pull-right" style="margin:5px; padding:5px; font-size:10px;"  drop-channel="conceptPropertiesObj" drag-enter-class="sca-drag-target" placeholder="drop concept here" ui-on-drop>
  <button class="pull-right" style="margin:5px; padding:5px; font-size:10px;"  drop-channel="conceptPropertiesObj" drag-enter-class="sca-drag-target" placeholder="drop concept here" ui-on-drop>Drop Concept Here</button>
-->



</div>
