<nav class="navbar navbar-default navbar-fixed-top" ng-class="{scroll: (scroll>10)}">
  <div class="container-fluid">
    <div class="navbar-header pull-left">
      <button type="button" class="navbar-toggle pull-left m-15" data-activates=".sidebar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <ul class="nav navbar-nav navbar-left navbar-left-no-collapse identity-services">

        <li style="padding-top: 11px;">

            <img style="display:inline" class="img-responsive" src="images/small_logo.png" alt="ihtsdo-logo">

            <span style="display:inline">Single Concept Editing</span>

        </li>

        <li>


          <ul class="breadcrumb">


            <li><a ng-href="#/">Dashboard</a></li>
            <li ng-bind="pageTitle" class="active">Loading..</li>
          </ul>
        </li>
      </ul>


    </div>

    <ul class="nav navbar-nav navbar-right navbar-right-no-collapse identity-services">
<!--
      <li class="dropdown pull-right">
        <button class="dropdown-toggle pointer btn btn-round-sm btn-link withoutripple" bs-dropdown
                data-template="layout/dropdown-navbar.html" data-animation="mat-grow-top-right">
          <i class="md md-more-vert f20"></i>
        </button>
      </li>
-->
<!--
      <li class="dropdown pull-right">
        <button class="dropdown-toggle pointer btn btn-round-sm btn-link withoutripple" bs-dropdown
                data-template="layout/theme-picker.html">
          <i class="md md-settings f20"></i>
        </button>
      </li>
-->


<!--      <li navbar-search class="pull-right identity-services"></li>-->
    </ul>
    <ul class="nav navbar-nav navbar-right navbar-right-no-collapse identity-services">
      <li class="pull-right" ng-show="!loggedIn">
        <a ng-href="#/login">Login</a>
      </li>
      <li class="pull-right" ng-hide="!loggedIn">
        <a ng-href="#/logout">Logout</a>
      </li>

    </ul>

  </div>
</nav>
