<nav class="navbar navbar-default navbar-fixed-top" ng-class="{scroll: (scroll>10)}">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left navbar-left-no-collapse">
      <li>
        <div class="brand-logo pull-left">
          <div id="logo">
            <img class="img-responsive" src="images/small_logo.png" alt="IHTSDO">
          </div>
          <span style="color: #fff;">Single Concept Authoring</span>
        </div>
      </li>
      <li>
        <ul class="breadcrumb" style="line-height: 2em;">
          <li><a ng-href="#/">Dashboard</a></li>
          <li ng-bind="pageTitle" class="active">Loading..</li>
        </ul>
      </li>
    </ul>


      <div class="pull-left" ng-include src="'layout/notification.html'"></div>



    <ul class="nav navbar-nav navbar-right navbar-right-no-collapse identity-services" ng-if="!loggedIn">
      <li>
        <a ng-href="#/login">Login</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right navbar-right-no-collapse identity-services" ng-if="loggedIn">
      <li>
        <a id="profile_not_active" title="display name will link to profile services in later updates">
          <span ng-if="accountDetails == null">Logged in as unknown user</span>
          <span ng-if="accountDetails != null">{{accountDetails.displayName}}</span>
        </a>
      </li>
      <li>
        <a ng-href="#/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
