<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn" ng-click="$hide()"><i class="md md-close"></i></button>
        <h4 class="modal-title">Modal Heading Sample</h4>
      </div>
      <div class="modal-body">

        <h4>Info Heading</h4>
     
       



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-success" ng-click="$hide()">Save Changes</button>
      </div>
    </div>
  </div>
</div>
