<div ng-show="notification" class="bs-component pull-left col-md-12 no-padding" style="margin-left:0px; margin-right:0px">

  <div class="alert saved" ng-class="[{'blue' : notification.type === 'MESSAGE'}, {'orange': notification.type ==='WARNING'}, {'red' : notification.type === 'ERROR'}]" style="padding-right: 8px;">

    <!-- NOTE: currently ::before 'x' icon is included on this button -->
    <button type="button" class="pull-right" ng-class="[{'blue' : notification.type === 'MESSAGE'}, {'orange': notification.type ==='WARNING'}, {'red' : notification.type === 'ERROR'}]" ng-click="clearNotification()">×</button>

    <!-- if a link is provided, show it -->
    <a ng-if="notification.url" ng-href="{{notification.url}}" class="pull-right">
      <button type="button" ng-class="[{'blue' : notification.type === 'MESSAGE'}, {'orange': notification.type ==='WARNING'}, {'red' : notification.type === 'ERROR'}]">View</button>
    </a>

    <p>{{notification.time | date: 'short'}} <strong class="green-save">{{notification.message}}</strong>
    </p>
  </div>
</div>