<aside class="sca-sidebar editpanel">
  <div>

    <div role="tabpanel">

      <!-- Style arrow -->


      <!-- Nav tabs -->
      <ul style="display: inline; border-bottom: 0px;" class="nav nav-tabs" role="tablist" ng-init="actionTab=1">
        <li><button type="button" class="btn btn-default widget-toolbar blue" title="Show Model"><span
          class="md md-chevron-right "></span></button></li>
        <li  role="presentation" class="active"><a style="margin: 0px" ng-click="actionTab=1" aria-controls="home" role="tab"
                                                  data-toggle="tab"> Taxonomy</a></li>
        <li role="presentation" class=""><a ng-click="actionTab=2" aria-controls="home" role="tab" data-toggle="tab">Search</a>
        </li>
        <li role="presentation"><a ng-click="actionTab=3" aria-controls="home" role="tab" data-toggle="tab">Saved
          List</a></li>
        <li role="presentation"><a ng-click="actionTab=4" aria-controls="home" role="tab" data-toggle="tab">Task
          Detail</a></li>
        <li role="presentation"><a ng-click="actionTab=5" aria-controls="home" role="tab" data-toggle="tab">Feedback</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content m-t-10">
        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==1}">
          <div ng-include="'shared/taxonomy/taxonomy.html'"></div>
        </div>
        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==2}">
          <div ng-include="'shared/search/search.html'"></div>
        </div>
        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==3}">
          <div ng-include="'shared/savedList/savedList.html'"></div>
        </div>
        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==4}">
          <div ng-include="'shared/task-detail/taskDetail.html'"></div>
        </div>
        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==5}">
          <div ng-include="'shared/feedback/feedback.html'"></div>
        </div>

      </div>
    </div>
  </div>
</aside>
