<div class="sca-sidebar-dashboard" style="background-color:#474747" >

  <ul ng-cloak style="padding: 0px; list-style: none;">

    <li><button type="button" class="btn grey darken-3 dashboard-links" style="width: 100%; padding:15px; font-size:15px; text-transform: none;  color:#fff;text-align:left">
     <i class="md md-format-list-numbered"></i> View My Tasks
    </button></li>
     <li><button type="button" class="btn grey darken-3 dashboard-links" style="width: 100%; padding:15px; font-size:15px; text-transform: none;  color:#fff;text-align:left">
     <i class="md md-computer"></i> My Projects
    </button></li>
    

  </ul>
</div>
