<div style="background-color:#474747;" >

  <ul ng-cloak style="padding: 0px; list-style: none;">

    <li><button type="button" class="btn grey darken-3 dashboard-links" style="width: 100%; padding:15px; font-size:15px; text-transform: none;  color:#fff;text-align:left">
     <i class="md md-format-list-numbered"></i>  <a class="dashboard-links" ng-href="#/home"> View My Tasks </a>
    </button></li>
     <li><button type="button" class="btn grey darken-3 dashboard-links" style="width: 100%; padding:15px; font-size:15px; text-transform: none;  color:#fff;text-align:left">
    <a class="dashboard-links" ng-href="#/projects"> <i class="md md-computer"></i> View My Projects</a></li>
    </button></li>
    
     <li><button type="button" class="btn grey darken-3 create-links" style="width: 100%; padding:15px; font-size:15px; text-transform: none;  color:#fff;text-align:left" ng-click="openCreateTaskModal()">
     <i class="md md-view-list"></i> Create New Task
    </button></li>
    
  </ul>
</div>
