<div class="col-md-12 no-padding">
  <div class="col-md-12 no-padding  model-header-sca darken-3 grey keep">
    <div class="col-md-8 no-padding ">
      <div class="fsn-title-button"> <span class="fsn p-t-3 p-l-5">{{concept.fsn}}</span></div>
    </div>
    <div class="col-md-4 no-padding ">
      <div class="p-4">
        <button
          class="btn btn-round md md-my-library-books tooltips-bottom medium-size-tooltip  no-padding keep   purple darken-1 m-r-5"
          ng-click="viewConceptInTaxonomy(concept)" ng-disabled="!concept.active"> <span>View in Taxonomy</span> </button>
        <button
          ng-click="openImage()"
          class="btn btn-round btn-default lighten-2 blue no-padding keep  tooltips-bottom medium-size-tooltip  md md-open-in-new keep"> <span class="keep">Open Model in new Tab</span> </button>
        <button class="btn btn-default pull-right m-r-5 model-buttons-toggle " ng-init="view = 'stated'"
                ng-class="[{'grey darken-2' : view !== 'inferred'}, {'blue' : view === 'inferred'}]"
                ng-click="view = 'inferred'">Inferred </button>
        <button class="btn btn-default pull-right model-buttons-toggle m-r-5"
                ng-class="[{'grey darken-2' : view !== 'stated'}, {'blue' : view === 'stated'}]"
                ng-click="view = 'stated'">Stated </button>
        <button ng-if="displaySnf" class="btn btn-default pull-right model-buttons-toggle m-r-5  tooltips-bottom small-size-tooltip"
                ng-class="[{'grey darken-2' : view !== 'snf'}, {'blue' : view === 'snf'}]"
                ng-click="getSNF(concept.conceptId);">AF<span>Authoring Form</span> </button>
      </div>
    </div>
  </div>
  <div class="row modelViewContainer"> 
    
    <!-- Model Before -->
    <div ng-if="loading">
      <div class="model-loader">Loading...</div>
    </div>
    <div ng-if="!loading">
      <div class="no-padding no-gutter"
             ng-class="[{'col-md-12' : !conceptAfter && !classificationSaved}, {'col-md-6' : conceptAfter || classificationSaved}]">
        <div class="zoom"><span>zoom |</span>
          <button type="button" class="btn-default small-buttons normal-case editbuttons md md-remove" ng-click="zoom('out')"></button>         
          {{zoomPercentage}}%
          <button type="button" class="btn-default small-buttons normal-case editbuttons md md-add" ng-click="zoom('in')"></button>          
        </div>    
        <div draw-model class="modelScrollBox" concept="concept" view="view" concept-snf="conceptSNF"></div>
      </div>
      
      <!-- Model After -->
      <div class="col-md-6 no-padding no-gutter">
        <div ng-if="conceptAfter && !isClassificationSaved"
               draw-model
               class="modelScrollBox"
               concept="conceptAfter"
               view="view"></div>
        <div ng-if="isClassificationSaved">
          <h4>No Model Diagram Preview Available:</h4>
          <h4>Classification Has Been Saved</h4>
        </div>
      </div>
      
      <!-- Display text showing no preview when in classify view and classification has been accepted --> 
      
    </div>
  </div>
</div>
