<div class="axiom row grey darken-4 p-t-5" 
  drop-channel="axiomObj" 
  ui-on-drop="dropAxiom($data)"
  drop-validate="!isLockedModule(axiom.moduleId)"
  drag-enter-class="sca-drag-target" 
  drag-hover-class="sca-drag-hover" 
  ng-class="getComponentStyle(axiom.axiomId, null, '', axiom) + ' ' + getComponentStyle(axiom.axiomId, null, '', null)">
  <div class="col-md-1 no-padding pull-left">
    <button
        class="btn-default md morebuttons transparent more-button-width small-size-tooltip fa-sca fa-ellipsis-v button-width tooltips-bottom tooltips-light normal-case"
        ng-click="setAxiomProperties(axiom, $event)"
        popover-template="'shared/component-more/axiomMore.html'"
        popover-placement="{{popoverDirection}}"
        popover-append-to-body="true"
        id="{{axiom.type}}-axiom-more-{{initializationTimeStamp}}-{{$index}}">
        <span>More details</span>
    </button>
    <button
      class="btn-default md morebuttons md-open-with drag-button-width small-size-tooltip tooltips-bottom concept-edit-button"
      ui-draggable-custom="true" drag="axiom" drag-channel="axiomObj" drag-image="getDragImageForAxiom(axiom)">
      <span>Drag This Row</span>
    </button>
  </div>

  <div class="col-md-6 no-padding">
    <div class="darken-4 p-t-7">
      <span class="fsn">{{axiom.title}}</span>
    </div>
  </div>

  <div class="col-md-2 no-margin edits concept-title  pull-right no-padding" ng-disabled="saving" ng-class="{'disabled': saving}">
    <div class=" p-t-3 p-r-5 pull-right ">
      <button type="button"
                  class="btn-default editbuttons small-buttons deep-purple lighten-2 md md-history tooltips-bottom medium-size-tooltip offset-tooltip-right tooltips-light"
                  ng-click="revertAxiom(axiom)"
                  ng-if="!isStatic && role === 'AUTHOR' && axiom.released === true && !axiom.effectiveTime">
            <span>Revert Axiom</span>
          </button>
      <button type="button"
              ng-click="removeAxiom(axiom,axiom.type)"
              class="btn-default red small-buttons tooltips-bottom small-size-tooltip offset-tooltip-right tooltips-light normal-case editbuttons fa-sca fa-minus axiom-staus-buttons"
              ng-if="!isStatic && !axiom.released && !template"
              ng-disabled="isLockedModule(axiom.moduleId)">
        <span>Delete Axiom</span>
      </button>
      <button type="button"
                  ng-class="[{green : axiom.active}, {red: !axiom.active}]"
                  ng-click="toggleAxiomActive(axiom)"
                  ng-if="axiom.released"
                  ng-disabled="isInactivation  || isLockedModule(axiom.moduleId) && concept.released"
                  class="btn-default editbuttons fa-sca fa-power-off small-buttons tooltips-bottom status-concept tooltips-light normal-case m-l-5">
      <button ng-if="axiom.type === 'additional' && axiom.definitionStatus === 'FULLY_DEFINED'"
              ng-disabled="isStatic || isLockedModule(axiom.moduleId) || template"
              class="white-text primitive-buttons tooltips-bottom small-size-tooltip tooltips-light offset-tooltip-right m-l-5"
              ng-class="[{'fully-defined-btn' : axiom.definitionStatus === 'FULLY_DEFINED'}]"
              ng-click="toggleAxiomDefinitionStatus(axiom)">

        <div class="badge alert-warning ng-binding">≡&nbsp; </div>
        <span>Fully Defined</span>
      </button>
      <button ng-if="axiom.type === 'additional' && axiom.definitionStatus === 'PRIMITIVE'"
              ng-disabled="isStatic || isLockedModule(axiom.moduleId) || template"
              class="primitive-buttons white-text tooltips-bottom small-size-tooltip tooltips-light offset-tooltip-right m-l-5"
              ng-class="[{'primitive-btn' : axiom.definitionStatus === 'PRIMITIVE'}]"
              ng-click="toggleAxiomDefinitionStatus(axiom)">
        <div class="badge alert-warning ng-binding">&nbsp; </div>
        <span>Primitive</span>
      </button>
    </div>
  </div>
</div>
  <div ng-repeat="(groupId, relationshipGroup) in axiom.relationshipGroups">
    <div ng-if="showAxiomRelationshipGroup(relationshipGroup)">
        <div ng-if="$index !== 0" class="axiom-group-top"></div>

        <div ng-repeat="relationship in relationshipGroup | filter:filterAxiomRelationships"
             ng-class="getComponentStyle(relationship.relationshipId, null, '', relationship)"
             class="{{((relationship.target.definitionStatus != undefined) ? relationship.target.definitionStatus : 'NONE_SPECIFIED')}}">

          <div ng-show="relationship.definitionOfChanges" class="">
            <div class="row">
              <div class="change_request_container {{relationship.definitionOfChanges.changeType}}">
                <div class=" m-l-5 fa {{relationship.definitionOfChanges.changeType}}"></div>
                <span class="change_type_{{relationship.definitionOfChanges.changeType}}"></span></div>
            </div>
            <div class="row"
                  ng-repeat="(key, val) in crsFilter(relationship.definitionOfChanges)"
                  ng-show="!relationship.hideCrsDetails">
              <div class="col-md-12" ng-show="val">
                {{key}}:{{val}}
              </div>
            </div>
          </div>
          
          <div class="row darken-3 edits-row color_{{($parent.$index%2==0)?'even':'odd'}} "
               ng-class="getComponentStyle(relationship.relationshipId, null, '')">

            <div class="col-md-11 no-padding left-of-edit {{relationship.characteristicType}}" drop-channel="axiomRelationshipObj"
                 ui-on-drop="dropAxiomRelationship(relationship, $data, axiom)" drag-enter-class="sca-drag-target"
                 drag-hover-class="sca-drag-hover"
                 drop-validate="!isLockedModule(axiom.moduleId)">

              <div>

                <button
                  class="btn-default md morebuttons md-open-with drag-button-width small-size-tooltip tooltips-bottom concept-edit-button"
                  ui-draggable-custom="true" drag="relationship" drag-channel="axiomRelationshipObj"
                  drag-image="getDragImageForRelationship(relationship)">
                  <span>Drag This Row</span>
                </button>

                <!-- attribute type' -->
                <div class="pull-left is_a is_a_bg"
                     drag-enter-class="sca-drag-target"
                     drag-hover-class="sca-drag-hover"
                     drop-channel="completeConcept"
                     ui-on-drop="dropAxiomRelationshipType(relationship, $data, axiom)"
                     drop-validate="!isLockedModule(axiom.moduleId)">

                    <textarea id="{{axiom.type}}-axiom-relationship-type-{{initializationTimeStamp}}-{{$parent.$parent.$parent.$index}}-{{relationship.groupId}}-{{$index}}"
                              custom-autofocus="true" autofocus ng-keyup="enterListener({event: $event})" type="text" ng-model="relationship.type.pt"
                              ng-readonly="relationship.effectiveTime || isStatic || template || isLockedModule(axiom.moduleId) || isBatch || relationship.deleted"
                              class="resizable-text form-control msd-elastic no-border-bottom rel"
                              typeahead="suggestion as suggestion.pt.term for suggestion in axiom.allowedAttributes | filter:$viewValue:emptyOrMatch"
                              typeahead-focus-first="false"
                              typeahead-loading="typeTypeaheadLoading"
                              typeahead-wait-ms="700"
                              typeahead-on-select="setAxiomRelationshipTypeConcept(relationship, $item, axiom.type, relationship.groupId, $parent.$parent.$parent.$index, $index)"
                              typeahead-editable="false"
                              typeahead-min-length="0"
                              typeahead-select-on-exact-no-ajax="true">
                    </textarea>

                  <div class="pull-left md drag-button-width small-size-tooltip tooltips-bottom"
                       ng-class="[{'md-open-with' : !typeTypeaheadLoading}, {'md-cached' : typeTypeaheadLoading}]"
                       ui-draggable-custom="true"
                       drag="getConceptIdNameTripleFromAttributeType(relationship)"
                       drag-channel="completeConcept"
                       drag-image="getDragImageForConcept(relationship.type.fsn)"
                       ng-dblclick="openAttributeConcept(relationship)">
                    <span>Drag this component</span>
                  </div>

                </div>

                <!-- linked concept -->
                <div class="pull-left axiom-relationship sourcename relationship-target {{getTargetSlotStyle(relationship)}}" ng-class="[{'GCI' : isGciAxiomPresent(relationship['target']['conceptId'])}]" drag-enter-class="sca-drag-target"
                     drag-hover-class="sca-drag-hover"
                     drop-channel="completeConcept" ui-on-drop="dropAxiomRelationshipTarget(relationship, $data, axiom.type, axiom)"
                     drop-validate="!isLockedModule(axiom.moduleId)"                     
                     ng-mouseover="setTooltipPosition($event)">
                  <div class="small-size-tooltip tooltips-bottom">
                      <textarea id="{{axiom.type}}-axiom-relationship-target-{{initializationTimeStamp}}-{{$parent.$parent.$parent.$index}}-{{relationship.groupId}}-{{$index}}"
                                ng-keyup="enterListener({event: $event})" type="text" ng-model="relationship.concreteValue ? relationship.concreteValue.value : relationship.target.fsn"
                                ng-readonly="relationship.effectiveTime || isStatic || (template && !relationship.targetSlot.slotName) || isLockedModule(axiom.moduleId) || relationship.deleted"
                                class="resizable-text relationship msd-elastic no-border-bottom"
                                typeahead="suggestion as suggestion.tempFsn for suggestion in getConceptsForValueTypeahead(relationship.type.conceptId, $viewValue, branch, relationship.template.targetSlot.allowableRangeECL)"
                                typeahead-loading="targetTypeaheadLoading" typeahead-focus-first="false"
                                typeahead-wait-ms="700"
                                typeahead-on-select="setAxiomRelationshipTargetConcept(relationship, $item, axiom, relationship.groupId, $parent.$parent.$parent.$index, $index)"
                                typeahead-editable="false" typeahead-min-length="3"
                                typeahead-select-on-exact-with-ajax="true">
                      </textarea>
                      <span ng-show="relationship.target.conceptId">{{relationship.target.conceptId}}</span>
                  </div>

                  <div class="pull-left drag-button-width small-size-tooltip tooltips-bottom "
                       ng-class="[{'md-open-with' : !targetTypeaheadLoading}, {'md-cached' : targetTypeaheadLoading}]"
                       ui-draggable-custom="true" drag="getConceptIdNamePairFromRelationshipTarget(relationship)"
                       drag-channel="completeConcept"
                       drag-image="getDragImageForConcept(relationship.target.fsn)"
                       ng-dblclick="openConceptTarget(relationship)">
                    <span>Drag This Component</span>
                  </div>
                </div>

    <!--
                <div ng-if="relationship.target.definitionStatus === 'FULLY_DEFINED'"
                     class="pull-left p-t-5 p-l-3 white-text primitive-buttons tooltips-bottom small-size-tooltip"
                     ng-class="[{'fully-defined-btn' : relationship.target.definitionStatus === 'FULLY_DEFINED'}]">
                  <div class="badge alert-warning ng-binding pull-left">≡&nbsp; </div>
                  <span>Fully Defined</span>
                </div>
    -->
    <!--
                <div ng-if="relationship.target.definitionStatus === 'PRIMITIVE'"
                     class="pull-left p-t-5 p-l-3 white-text primitive-buttons tooltips-bottom small-size-tooltip"
                     ng-class="[{'primitive-btn' : relationship.target.definitionStatus === 'PRIMITIVE'}]">
                  <div class="badge alert-warning ng-binding pull-left">&nbsp; </div>
                  <span>Primitive</span>
                </div>
    -->

                <div>
                  <button ng-if="axiom.active && relationship.active && !isStatic && !template && !isLockedModule(axiom.moduleId)" type="button" ng-click="addAxiomRelationship(relationship.groupId, relationship, axiom)"
                          class="btn-default add-buttons md fa-sca fa-plus button-width-plus pull-right tooltips-bottom medium-size-tooltip offset-tooltip-right">
                    <span>Add New Relationship</span>
                  </button>

                  <button type="button" ng-click="removeAxiomRelationship(relationship, axiom)"
                          ng-if="axiom.active && relationship.active && !isStatic && (!template || (template && isOptionalAttribute(relationship))) && !relationship.released && !isLockedModule(axiom.moduleId)"
                          class="btn-default add-buttons md fa-sca fa-minus button-width-minus pull-right tooltips-bottom medium-size-tooltip offset-tooltip-right">
                    <span>Remove Relationship</span>
                  </button>
                </div>
              </div>
            </div>

            <div class="col-md-1 no-padding role-group-drag p-t-5 {{relationship.characteristicType}}"
                 drop-channel="axiomRelationshipGroupObj" ui-on-drop="dropAxiomRelationshipGroup($data, axiom)"
                 drop-validate="!isLockedModule(axiom.moduleId)"
                 drag-enter-class="sca-drag-target" drag-hover-class="sca-drag-hover">
              <button ng-if="$index === 0"
                      class="btn-default md-open-with role-group-buttons tooltips-bottom medium-size-tooltip offset-tooltip-right m-t-7"
                      ui-draggable-custom="true" drag="relationshipGroup" drag-channel="axiomRelationshipGroupObj"
                      drag-image="getDragImageForRelationshipGroup(relationshipGroup)">
                <span>Drag Relationship Group</span>
              </button>
            </div>
          </div>
          <div class="row">
                <div class="validation red" ng-repeat="error in validation.errors[relationship.id]"><strong>Convention
                  Error:</strong>
                  <div ng-bind-html="error"></div>
                </div>
            </div>
            <div class="row">
                <div class="validation orange darken-1"
                     ng-repeat="warning in validation.warnings[relationship.id]">
                  <strong>Convention Warning:</strong>
                  <div ng-bind="warning"></div>
                </div>
          </div>
        </div>      
    </div>
    <div ng-if="$last && $index !== 0" class="row axiom-group-top"></div>
    <div class="row p-l-10" ng-if="$last && axiom.active && !isStatic && !template && !concept.template && !isLockedModule(axiom.moduleId)">
      <div class="col-md-9 col-s-8 col-xs-6"></div>
      <div class="col-md-3 col-s-4 col-xs-6 no-padding no-margin">
          <button class="btn-default role-group-buttons tooltips-bottom medium-size-tooltip offset-tooltip-right pull-right"
          ng-click="addAxiomRelationshipGroup(axiom)"><div class="add-group-button pull-right sans-serif line-height-20">+1 Add Group</div>
        </button>
      </div>
    </div>
  </div>
</div>
