<div class="edits editing-form ">

  <style>
    .revert-button {
      color: white;
      background-color: red;
      border-radius: 10px;
      padding: 15px;
      margin-right: 10px;
      text-transform: none;
    }

    .button-width-acceptability {
      width: 7%;
      margin-left: 0.5%;
      padding: 0% 0.5% !important;
      float: left;
      height: 100%;
      min-height: 30px;
      font-size: 14px !important;
    }

  </style>

  <!-- begin validation error -->
  <div class="alert alert-dismissible alert-danger validation" ng-show="concept.error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Validation Error!</h4>
    {{concept.error}}
  </div>
  <div class="alert alert-dismissible alert-warning validation" ng-show="concept.warning">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Warning</h4>
    {{concept.warning}}
  </div>
  <!-- end validation error -->
  <div class="row p-5 grey darken-4 concept-headers " style=" margin-right:0px;">
    <div class="pull-left">
      <button ng-init="isCollapsed = false" ng-click="collapse(concept)" type="button"
              ng-class="[btn, btn-default, darkbuttons, grey, 'darken-4', 'toggle-buttons', md, {'md-keyboard-arrow-right' : isCollapsed, 'md-keyboard-arrow-down' : !isCollapsed}]"></button>
      <button type="button" class="btn btn-default morebuttons grey darken-4 md md-more"
              popover-template="'shared/component-more/conceptMore.html'" popover-placement="left"
        ></button>
      <script type="text/ng-template" id="myPopoverTemplate.html">
        <div>{{dynamicPopover.content}}</div>
        <div class="form-group">
          <label>Popup Title:</label>
          <input type="text" ng-model="dynamicPopover.title" class="form-control">
        </div>
      </script>
    </div>

    <!-- draggable element -- concept name -->
    <div class="pull-left title-text"
         ui-draggable="true" drag="getConceptIdNamePair(concept)" drag-channel="conceptPropertiesObj" drop-channel="NA">
      <button type="button" class="btn-default  grey darken-4 title-text fsn-title-button"><span class="fsn">{{concept.fsn}}</span><span
        ng-show="!concept.fsn && !concept.effectiveTime" style="color:grey">Unsaved Concept</span></button>
    </div>

    <div class="pull-right m-l-5 m-r-5 ">
      <select name="select-primitive-choice" id="select-primitive-choice"
              ng-disabled="isStatic"
              ng-model="concept.definitionStatus"
              ng-change="saveConcept(concept)"
              class="form-control  grey darken-4 primitive"
              ng-options="definitionStatus.id as definitionStatus.name for definitionStatus in definitionStatuses">
      </select>
    </div>
    <div class="pull-right no-margin edits concept-title">

      <!-- Revert button only appears if parent is specified -->
      <button ng-if="parentBranch" type="button" class="btn btn-default revert-button" ng-click="revertConcept()">
        Revert
      </button>

      <!-- control buttons -->
      <button ng-if="!isStatic" type="button"
              class="btn-default editbuttons small-buttons orange darken-3 md md-backspace"
              title="Remove Concept" ng-click="removeConcept(concept)"></button>
      <button ng-if="!isStatic"
              type="button"
              style="vertical-align: bottom"
              ng-class="[btn-default, editbuttons, 'md-settings-power', {green : concept.active}, {red: !concept.active}]"
              title="Active/Inactive" ng-click="toggleConceptActive(concept)" class="small-buttons"></button>
      <button type="button"
              style="vertical-align: bottom"
              class="btn-default editbuttons light-blue small-buttons"
              ng-class="[{'md-flash-on' : !hideInactive}, {'md-flash-off' : hideInactive}]"
              title="Show/Hide Inactive Components" ng-click="toggleHideInactive()"></button>

      <!-- Commented out until functional
    <button type="button" class="btn-default editbuttons small-buttons amber md md-undo "
              title="Undo Changes"
              ng-if="!isStatic"></button>
      <button type="button" class="btn-default editbuttons small-buttons deep-purple lighten-1 md md-history"
              title="History"
              ng-if="!isStatic"></button>-->

      <button type="button" class="btn-default editbuttons small-buttons blue md md-keyboard-return" title="Show Model"
              ng-click="showModel()"
              ng-if="!isStatic"></button>
    </div>
  </div>

  <!-- Toggle-able collapsed concept elements -->
  <div ng-show="!isCollapsed" class="editHeightSelector">

    <!-- rows: Concept Descriptions -->
    <div ng-repeat="description in getDescriptions(true)">
      <div class="row darken-3 p-t-5 grey ">
        <div class="col-md-12 no-padding color_{{relationship.groupId}}"
             ui-draggable="isStatic" drag="description"
             drag-channel="conceptEditDescription"
             drop-channel="conceptEditDescription"
             ui-on-drop="dropDescription(concept, description, $data)">
          <button class="grey darken-3 md md-more button-width"
                  popover-template="'shared/component-more/descriptionMore.html'" popover-placement="left"></button>

          <!-- Commented out until functional
          <button ng-if="!isStatic" type="button" class="amber md md-undo button-width" title="Undo Changes"></button>


          <button ng-if="!isStatic" type="button" class=" blue accent-2 md md-history button-width"
                  title="Undo Changes"></button> -->

          <!-- Active/Inactive -->
          <button type="button"
                  style="vertical-align: bottom"
                  ng-disabled="isStatic"
                  ng-click="toggleDescriptionActive(description)"
                  ng-class="[btn-default, md, 'md-settings-power button-width', {green : description.active}, {red: !description.active}]"
                  title="Active/Inactive"></button>

          <!-- Case Significance -->

          <button type="button" class=" blue accent-2 button-width" ng-disabled="isStatic"
                  title="Case Significance " ng-click="toggleCaseSignificance(description)">

            <span class="md col-md-1 no-padding">{{getCaseSignificanceDisplayText(description)}}</span>


          </button>

          <!-- Term -->
          <div class="pull-left description no-padding">


            <textarea style="" class="msd-elastic resizable-text" ng-change="updateDescription(description)"
                      ng-model-options="{updateOn: 'blur'}"
                      ng-disabled="description.effectiveTime"
                      ng-model="description.term" class="form-control color_{{relationship.groupId}}" type="text"
                      placeholder="Description">
            </textarea>
          </div>

          <!-- TypeId -->
          <div class="pull-left typeid">
            <select ng-disabled="description.effectiveTime || isStatic"
                    ng-options="descTypeId.name as descTypeId.abbr for descTypeId in descTypeIds"
                    ng-model="description.type" ng-change="updateDescription(description)"
                    name="select-type" id="select-type-choice" class="form-control color_{{relationship.groupId}}"
                    ui-on-drop="">
            </select>
          </div>

          <!-- Dialect / Acceptability: Never displayed for FSN -->
          <div>
            <!-- en-us acceptability -->
            <button type="button"
                    class=" blue accent-2 button-width-acceptability"
                    ng-disabled="isStatic || description.effectiveTime || description.type === 'FSN'"
                    title="Case Significance " ng-click="toggleAcceptability(description, 'en-us')">us:
                                                                                                    {{getAcceptabilityDisplayText(description,
                                                                                                    'en-us')}}
            </button>

            <!-- en-gb acceptability -->
            <button type="button" class=" blue accent-2 button-width-acceptability"
                    ng-disabled="isStatic || description.effectiveTime  || description.type === 'FSN'"
                    title="Case Significance " ng-click="toggleAcceptability(description, 'en-gb')">gb:
                                                                                                    {{getAcceptabilityDisplayText(description,
                                                                                                    'en-gb')}}
            </button>
          </div>

          <button ng-if="!isStatic" type="button" ng-click="addDescription($index)"
                  class="btn-default add-buttons md md-add-circle button-width pull-right"
                  title="Add New Description"></button>

        </div>
      </div>
    </div>

    <!-- rows: Concept IsA Relationships -->
    <div ng-repeat="relationship in getIsARelationships(true)"
         ng-drag="relationship" drag-channel="conceptEditRelationship" drop-channel="conceptEditRelationship"
         ui-on-drop="dropRelationship(relationship, $data)">
      <div class="row darken-3 p-t-5 grey">
        <!-- Button controls -->
        <div class="col-md-12 no-padding color_{{relationship.groupId}}"
             ui-draggable="isStatic" drag="relationship"
             drag-channel="conceptEditRelationship"
             drop-channel="conceptEditRelationship"
             ui-on-drop="dropRelationship(concept, relationship, $data)">


          <button class="btn-default grey darken-3 md md-more button-width"
                  ng-click="showAttributeDetails = !showAttributeDetails"
                  popover-template="'shared/component-more/relationshipMore.html'" popover-placement="left"
                  title="Some title here"></button>

          <!-- Commented out until functional
          <button ng-if="!isStatic" type="button" class="btn-default amber md md-undo button-width" title="Undo Changes"></button>
          <button ng-if="!isStatic" type="button" class="btn-default blue accent-2 md md-history button-width" title="History"></button>
-->

          <!-- TODO Fix this   Note: due to weird behavior with ng-class, need to manually add bottom alignment -->
          <button type="button"
                  style="vertical-align: bottom"
                  ng-disabled="isStatic"
                  ng-click="toggleRelationshipActive(relationship)"
                  ng-class="[btn, btn-default, editbuttons, md, 'md-settings-power button-width', {green : relationship.active}, {red: !relationship.active}]"
                  title="Active/Inactive"></button>

          <!-- relationship group -->
          <div class="pull-left rolegroup">
          <textarea style="" class="msd-elastic" ng-model="relationship.groupId" ng-disabled="isStatic"
                    ng-change="updateRelationship(relationship)"
                    class="form-control color_{{relationship.groupId}}" type="text" placeholder="#"
                    ui-on-drop="dropNullOp()">
          </textarea>
          </div>

          <!-- attribute type -->
          <div class="pull-left is_a" ui-draggable="true"
               drag="getConceptIdNamePairFromAttributeType(relationship)"
               drag-channel="conceptPropertiesObj" drop-channel="conceptPropertiesObj"
               ui-on-drop="dropRelationshipType(relationship, $data)">
          <textarea style="" class="msd-elastic" disabled ng-model="relationship.type.fsn"
                    class="form-control color_{{relationship.groupId}}"
                    type="text"
                    placeholder="#">
          </textarea>
          </div>
          <!-- linked concept -->
          <div class="pull-left sourcename" ui-draggable="true"
               drag="getConceptIdNamePairFromRelationshipTarget(relationship)"
               drag-channel="conceptPropertiesObj"
               drop-channel="conceptPropertiesObj"
               ui-on-drop="dropRelationshipTarget(relationship, $data)">
          <textarea style="" ng-disabled="isStatic" class="msd-elastic" disabled ng-model="relationship.target.fsn"
                    class="form-control color_{{relationship.groupId}}"
                    type="text"
                    placeholder="#">
          </textarea>
          </div>
          <div ng-if="!isStatic" class="pull-right button-width">
            <button type="button" ng-click="addIsaRelationship($index)"
                    class="btn-default add-buttons grey  md md-add-circle"
                    title="Add New Is A Relationship"></button>
          </div>
        </div>


      </div>
    </div>

    <!-- rows: Concept Attributes (in relationships) -->
    <div ng-repeat="relationship in getAttributeRelationships(true)"
         ng-drag="relationship" drag-channel="conceptEditRelationship" drop-channel="conceptEditRelationship"
         ui-on-drop="dropRelationship(relationship, $data)">
      <div class="row darken-3 p-t-5 p-b-5 grey">

        <div class="col-md-12 no-padding form-control color_{{relationship.groupId}}"
             ui-draggable="isStatic" drag="relationship"
             drag-channel="conceptEditRelationship"
             drop-channel="conceptEditRelationship"
             ui-on-drop="dropRelationship(concept, relationship, $data)">

          <!-- Button controls -->
          <button class="btn-default grey darken-3 md md-more button-width"
                  ng-click="showAttributeDetails = !showAttributeDetails"
                  popover-template="'shared/component-more/relationshipMore.html'" popover-placement="left"

                  title="Some title here"></button>

          <!-- Commented out until functional
          <button ng-if="!isStatic" type="button" class="btn-default amber md md-undo button-width" title="Undo Changes"></button>
          <button ng-if="!isStatic" type="button" class="btn-default blue accent-2 md md-history button-width" title="History"></button>
          -->


          <!-- TODO Fix this   Note: due to weird behavior with ng-class, need to manually add bottom alignment -->
          <button type="button"
                  style="vertical-align: bottom"
                  ng-disabled="isStatic"
                  ng-click="toggleRelationshipActive(relationship)"
                  ng-class="[btn, btn-default, md, 'md-settings-power button-width', {green : relationship.active}, {red: !relationship.active}]"
                  title="Active/Inactive"></button>
          <!-- relationship group -->
          <div class="pull-left rolegroup">
          <textarea style="" class="msd-elastic" ng-disabled="isStatic" ng-model="relationship.groupId"
                    ng-change="updateRelationship(relationship)"
                    class="form-control color_{{relationship.groupId}}" type="text" placeholder="#"
                    ui-on-drop="dropNullOp()">
          </textarea>
          </div>
          <!-- attribute type -->
          <div class="pull-left attr " ui-draggable="true" drag="getConceptIdNamePairFromAttributeType(relationship)"
               drag-channel="conceptPropertiesObj" drop-channel="conceptPropertiesObj"
               ng-disabled="isStatic"
               ui-on-drop="dropRelationshipType(relationship, $data)">
          <textarea style="" class="msd-elastic" disabled ng-model="relationship.type.fsn"
                    class="form-control color_{{relationship.groupId}}"
                    type="text"
                    placeholder="#">
          </textarea>
          </div>

          <!-- linked concept -->
          <div class="pull-left relations " ui-draggable="true"
               drag="getConceptIdNamePairFromRelationshipTarget(relationship)" drag-channel="conceptPropertiesObj"
               drop-channel="conceptPropertiesObj"
               ui-on-drop="dropRelationshipTarget(relationship, $data)">
          <textarea style="" class="msd-elastic" disabled ng-model="relationship.target.fsn"
                    class="form-control color_{{relationship.groupId}}"
                    type="text"
                    placeholder="#">
          </textarea>
          </div>
          <div ng-if="!isStatic" class="pull-right button-width">
            <button type="button" ng-click="addAttributeRelationship($index)"
                    class="btn-default add-buttons grey  md md-add-circle"
                    title="Add New Attribute"></button>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
