<div class="edits">
  <div class="row p-5 grey darken-4  " style=" margin-right:0px;">
    <div class="pull-left p-t-5">
      <button ng-init="isCollapsed = false" ng-click="collapse(concept)" type="button"
              ng-class="[btn, btn-default, darkbuttons, grey, 'darken-4', 'toggle-buttons', md, {'md-keyboard-arrow-right' : isCollapsed, 'md-keyboard-arrow-down' : !isCollapsed}]"></button>
      <button type="button" class="btn btn-default morebuttons grey darken-4 md md-more"
              popover-template="'shared/component-more/conceptMore.html'" popover-placement="left"
        ></button>


      <script type="text/ng-template" id="myPopoverTemplate.html">
        <div>{{dynamicPopover.content}}</div>
        <div class="form-group">
          <label>Popup Title:</label>
          <input type="text" ng-model="dynamicPopover.title" class="form-control">
        </div>
      </script>
    </div>

    <!-- draggable element -- concept name -->
    <div class="pull-left title-text p-t-5"
         ui-draggable="true" drag="getConceptIdNamePair(concept)" drag-channel="conceptPropertiesObj" drop-channel="NA">
      <button type="button" class="btn-default darkbuttons grey darken-4 "><span class="fsn">{{concept.fsn}}</span><span
        ng-show="!concept.fsn && !concept.effectiveTime" style="color:grey">Unsaved Concept</span></button>
    </div>
    <div class="pull-right m-l-15 m-r-15 ">
      <select name="select-primitive-choice" id="select-primitive-choice"
              class="form-control  grey darken-4 primitive">
        <option value="Choice 1">Primitive</option>
        <option value="Choice 2">Fully Defined</option>
      </select>
    </div>
    <div class="pull-right p-t-5 no-margin edits">
      <button type="button" class="btn-default editbuttons orange darken-3 md md-backspace"
              title="Remove Concept" ng-click="removeConcept(concept)"></button>
      <!-- TODO Fix this. Note: due to weird behavior with ng-class, need to manually add bottom alignment -->

      <button type="button"
              style="vertical-align: bottom"
              ng-class="[btn-default, editbuttons, 'md-settings-power', {green : concept.active}, {red: !concept.active}]"
              title="Active/Inactive" ng-click="toggleConceptActive(concept)"></button>
      <button type="button" class="btn-default editbuttons amber md md-undo " title="Undo Changes"></button>
      <button type="button" class="btn-default editbuttons deep-purple lighten-1 md md-history"
              title="History"></button>
      <button type="button" class="btn-default editbuttons blue md md-keyboard-return" title="Show Model" ng-click="showModel()"></button>
      <button type="button" class="btn-default editbuttons teal md md-save" ng-click="saveConcept(concept)"
              title="Save"></button>
    </div>
  </div>

  <!-- Toggle-able collapsed concept elements -->
  <div ng-show="!isCollapsed" class="editHeightSelector">

    <!-- rows: Concept Descriptions -->
    <div ng-repeat="description in concept.descriptions | orderBy:'type'">
      <div class="row darken-3 p-5 grey">
        <div class="col-md-3 no-padding edits">
          <div class="pull-left">
            <button class="btn-default editbuttons grey darken-3 md md-more"
                    popover-template="'shared/component-more/descriptionMore.html'" popover-placement="left"></button>
            <button type="button" class="btn-default editbuttons amber md md-undo" title="Undo Changes"></button>
            <button type="button" class="btn-default editbuttons blue accent-2 md md-history"
                    title="Undo Changes"></button>
            <!-- TODO Fix this &#45;&#45; Note: due to weird behavior with ng-class, need to manually add bottom alignment -->
            <button type="button"
                    style="vertical-align: bottom"
                    ng-click="toggleDescriptionActive(description)"
                    ng-class="[btn-default, editbuttons, md, 'md-settings-power', {green : description.active}, {red: !description.active}]"
                    title="Active/Inactive">
            </button>
          </div>
        </div>
        <div class="col-md-9 no-padding">
          <div class="pull-left description no-padding">
            <input ng-blur="updateDescription(description)" ng-disabled="description.effectiveTime"
                   ng-model="description.term" class="form-control color_{{relationship.groupId}}" type="text"
                   placeholder="Description" ui-on-drop="dropNullOp()">
          </div>
          <div class="pull-left typeid">
            <select ng-disabled="description.effectiveTime"
                    ng-options="descTypeId.name as descTypeId.abbr for descTypeId in descTypeIds"
                    ng-model="description.type" ng-change="updateDescription(description)"
                    name="select-type" id="select-type-choice" class="form-control color_{{relationship.groupId}}">
            </select>
          </div>
          <div class="pull-left language">
            <select ng-disabled="description.effectiveTime"
                    ng-options="language.abbr as language.abbr for language in languages"
                    ng-model="description.lang"
                    ng-change="updateDescription(description)"
                    name="select-language" id="select-language-choice"
                    class="form-control color_{{relationship.groupId}}"></select>
          </div>
          <div class="pull-left acceptability">
            <select ng-disabled="description.effectiveTime"
                    ng-options="acceptability.id as acceptability.abbr for acceptability in acceptabilities"
                    ng-model="description.acceptabilityMap['900000000000508004']" name="select-acceptability"
                    ng-change="updateDescription(description)"
                    id="select-acceptability-choice" class="form-control color_{{relationship.groupId}}">
            </select>
          </div>
          <div style="width:4%" class="pull-left">
            <button type="button" ng-click="addDescription()" class="btn-default add-buttons md md-add-circle"
                    title="Add New Description"></button>
          </div>
        </div>
      </div>

    </div>

    <!-- rows: Concept IsA Relationships -->
    <div ng-repeat="relationship in getIsARelationships()">
      <div class="row darken-3 p-5 grey">
        <!-- Button controls -->
        <div class="col-md-3 no-padding">
          <div class="pull-left">
            <button class="btn-default editbuttons grey darken-3 md md-more"
                    ng-click="showAttributeDetails = !showAttributeDetails"
                    popover-template="'shared/component-more/relationshipMore.html'" popover-placement="left"
                    title="Some title here"></button>

            <button type="button" class="btn-default editbuttons amber md md-undo" title="Undo Changes"></button>
            <button type="button" class="btn-default editbuttons blue accent-2 md md-history" title="History"></button>
            <!-- TODO Fix this   Note: due to weird behavior with ng-class, need to manually add bottom alignment -->
            <button type="button"
                    style="vertical-align: bottom"
                    ng-click="toggleRelationshipActive(relationship)"
                    ng-class="[btn, btn-default, editbuttons, md, 'md-settings-power', {green : relationship.active}, {red: !relationship.active}]"
                    title="Active/Inactive">
            </button>
          </div>
        </div>

        <!-- relationship group, unused for isA relationships -->
        <!--<div class="pull-left rolegroup">
           <input disabled
                  class="form-control color_{{relationship.groupId}}" type="text" placeholder="-"
                  ui-on-drop="dropNullOp()">
         </div>-->

        <!-- attribute type -->
        <div class="pull-left is_a" ui-draggable="true" drag="getConceptIdNamePairFromAttributeType(relationship)"
             drag-channel="conceptPropertiesObj" drop-channel="conceptPropertiesObj"
             ui-on-drop="dropAttributeType(relationship, $data)">
          <input ng-disabled="relationship.effectiveTime" ng-model="relationship.type.fsn"
                 class="form-control color_{{relationship.groupId}}"
                 type="text"
                 placeholder="#">
        </div>

        <!-- linked concept -->
        <div class="pull-left sourcename" ui-draggable="true"
             drag="getConceptIdNamePairFromRelationshipTarget(relationship)" drag-channel="conceptPropertiesObj"
             drop-channel="conceptPropertiesObj"
             ui-on-drop="dropRelationshipTarget(relationship, $data)">
          <input ng-disabled="relationship.effectiveTime" ng-model="relationship.target.fsn"
                 class="form-control color_{{relationship.groupId}}"
                 type="text"
                 placeholder="#">
        </div>

        <div style="width:4%" class="pull-left">
          <button type="button" ng-click="addIsaRelationship()"
                  class="btn-default add-buttons grey  md md-add-circle"
                  title="Add New Attribute"></button>
        </div>
      </div>

    </div>

    <!-- rows: Concept Attributes (in relationships) -->
    <div ng-repeat="relationship in getAttributeRelationships()">
      <div class="row darken-3 p-5 grey">
        <!-- Button controls -->
        <div class="col-md-3 no-padding">
          <div class="pull-left">
            <button class="btn-default editbuttons grey darken-3 md md-more"
                    ng-click="showAttributeDetails = !showAttributeDetails"
                    popover-template="'shared/component-more/relationshipMore.html'" popover-placement="left"

                    title="Some title here"></button>

            <button type="button" class="btn-default editbuttons amber md md-undo" title="Undo Changes"></button>
            <button type="button" class="btn-default editbuttons blue accent-2 md md-history" title="History"></button>
            <!-- TODO Fix this   Note: due to weird behavior with ng-class, need to manually add bottom alignment -->
            <button type="button"
                    style="vertical-align: bottom"
                    ng-click="toggleRelationshipActive(relationship)"
                    ng-class="[btn, btn-default, editbuttons, md, 'md-settings-power', {green : relationship.active}, {red: !relationship.active}]"
                    title="Active/Inactive">
            </button>
          </div>
        </div>

        <!-- relationship group -->
        <div class="pull-left rolegroup">
          <input ng-disabled="relationship.effectiveTime" ng-model="relationship.groupId"
                 ng-change="updateRelationship(relationship)"
                 class="form-control color_{{relationship.groupId}}" type="text" placeholder="#"
                 ui-on-drop="dropNullOp()">
        </div>

        <!-- attribute type -->
        <div class="pull-left sourcename" ui-draggable="true" drag="getConceptIdNamePairFromAttributeType(relationship)"
             drag-channel="conceptPropertiesObj" drop-channel="conceptPropertiesObj"
             ui-on-drop="dropAttributeType(relationship, $data)">
          <input ng-disabled="relationship.effectiveTime" ng-model="relationship.type.fsn"
                 class="form-control color_{{relationship.groupId}}"
                 type="text"
                 placeholder="#">
        </div>

        <!-- linked concept -->
        <div class="pull-left sourcename" ui-draggable="true"
             drag="getConceptIdNamePairFromRelationshipTarget(relationship)" drag-channel="conceptPropertiesObj"
             drop-channel="conceptPropertiesObj"
             ui-on-drop="dropRelationshipTarget(relationship, $data)">
          <input ng-disabled="relationship.effectiveTime" ng-model="relationship.target.fsn"
                 class="form-control color_{{relationship.groupId}}"
                 type="text"
                 placeholder="#">
        </div>

        <div style="width:4%" class="pull-left">
          <button type="button" ng-click="addAttributeRelationship()"
                  class="btn-default add-buttons grey  md md-add-circle"
                  title="Add New Attribute"></button>
        </div>
      </div>

    </div>
  </div>
</div>
