
<div class="edits editing-form darken-3 grey">
  <i class="fa fa-exclamation-triangle tooltips-right medium-size-tooltip unpublished-concept" ng-if="getExtensionNamespace() !== ''">
     <span >Unpublished concept from {{extensionNamespace}}</span>
  </i>
  <!-- begin validation error -->
  <div class="alert alert-dismissible alert-danger validation" ng-show="errors.length > 0 || inactivatingConceptError || deletingConeceptError">
    <button class="btn btn-default md md-close pull-right white transparent" ng-click="errors = [] ; inactivatingConceptError = false; deletingConeceptError = false;"
            tabindex="0"></button>
    <h4>Error!</h4>

    <div ng-repeat="error in errors">
      <div ng-bind="error"></div>
    </div>
    <div ng-if="inactivatingConceptError">Convention Error: Inactivation is blocked as the concept is in active use as an attribute type - Click <a ng-click="searchRelevantConcepts();">here</a> to see these concepts in the ECL search and alter the relationships in which this attribute is used.
    </div>
    <div ng-if="deletingConeceptError">Convention Error: Deleting concept is blocked as the concept is in active use as an attribute type - Click <a ng-click="searchRelevantConcepts();">here</a> to see these concepts in the ECL search and alter the relationships in which this attribute is used.
    </div>
  </div>
  <div class="alert alert-dismissible alert-warning validation" ng-show="warnings.length > 0">
    <button class="btn btn-default md md-close pull-right white transparent" ng-click="warnings = []" tabindex="0"></button>
    <h4>Warning!</h4>

    <div ng-repeat="warning in warnings">
      <div ng-bind="warning"></div>
    </div>
  </div>

  <div class="alert alert-dismissible validation" ng-show="concept.templateMessages.length > 0"
       ng-repeat="message in concept.templateMessages"
       ng-class="[{ 'alert-warning' : message.type === 'Warning'}, { 'alert-danger' : message.type === 'Error' }, { 'alert-info' : message.type === 'Message'}]">
    <button class="btn btn-default md md-close pull-right white transparent" ng-click="concept.templateMessages = []"
            tabindex="0"></button>
    <h4 ng-bind="message.message"></h4>

  </div>

  <!-- end validation error -->
  <div ng-class="[{'new-concept' : componentStyles.isNew}]">


    <div class="row grey concept-headers darken-4" ng-class="[getConceptStyle(), {'conceptFocus' : hasFocus}]">

      <div class="pull-left col-md-1 no-padding" ng-disabled="saving" ng-class="{'disabled': saving}">
            <button ng-click="setConceptProperties(concept, $event)" type="button" id="component-{{concept.conceptId ? concept.conceptId : getHashkey(concept)}}"
                    class="btn btn-default morebuttons transparent md fa-sca fa-ellipsis-v more-button-width tooltips-bottom tooltips-light small-size-tooltip normal-case"
                    popover-template="'shared/component-more/conceptMore.html'"
                    popover-placement="{{popoverDirection}}"
                    popover-trigger="click: click"
                    popover-append-to-body="true">
              <span>More details</span>
            </button>
            <div class="template-controls " ng-if="template && !isMerge && !isStatic && !isBatch">
              <ul class="sub-navigation-link-list ">
                <li>
                  <a>
                    <div class="pointer btn tooltips-right tooltips-light normal-case wandbutton" ng-disabled="isStatic" ng-click="removeTemplate()"><i class=" fa fa-magic md "></i>
                    <span>Detach Template {{template.name}} v {{template.version}}</span>
                    </div>
                  </a>

                </li>

              </ul>

            </div>
            <div id="wrap">
                <div
                    popover-template="'components/edit/editTemplateSelect.html'"
                    popover-placement="left-bottom"
                    popover-trigger="click: click"
                    popover-append-to-body="true"
                    ng-if="templates.length > 0 && !concept.released && !template && !isMerge && !isStatic && !isBatch"
                    class="pointer btn btn-default tooltips-right tooltips-light transparent normal-case wandbutton">
      <i class="md fa fa-magic"></i><span>Attach Template</span></div>
            </div>

            <div class="copy-to-clipboard" ng-show="isSctid(concept.conceptId) && concept.fsn">
              <button class="btn dropdown-toggle glyphicon glyphicon-export" type="button" data-toggle="dropdown" aria-expanded="true"></button>
              <ul class="dropdown-menu">
                  <li><a ng-click="copyToClipboard(concept.conceptId)">Copy ConceptId</a></li>
                  <li><a ng-click="copyToClipboard(concept.fsn)">Copy FSN</a></li>
                  <li><a ng-click="copyToClipboard(concept.conceptId + ' |' + concept.fsn + '|')">Copy FSN and ConceptId</a></li>
                  <li><a ng-click="copyToClipboard(concept.conceptId + ' |' + getPerferredTerm() + '|')">Copy Term and ConceptId</a></li>
              </ul>
            </div>
      </div>

      <!-- concept name -->
      <div class="col-md-6 no-padding">


        <button type="button" class="btn-default grey darken-4 fsn-title-button pull-right" ng-class="[{'conceptFocus' : hasFocus}]">
          <span ng-hide="!concept.fsn && !concept.effectiveTime" class="fsn">{{concept.fsn}}   <span
            ng-show="componentStyles.isNew "><strong>-New Concept</strong></span></span>

          <span ng-show="!concept.fsn && !concept.effectiveTime" class="fsn">Unsaved Concept</span>

        </button>


      </div>

      <div class="  no-margin edits concept-title col-md-4 pull-right no-padding" ng-disabled="saving"
           ng-class="{'disabled': saving}">
        <div class=" p-t-3 p-r-5 pull-right ">

          <button type="button"
                  class="deep-purple lighten-2 btn-default md md-save tooltips-bottom editbuttons small-size-tooltip small-buttons"
                  ng-click="saveConcept()"
                  ng-if="!isMerge && isModified && !isStatic">
            <span> Save Concept </span>
          </button>


          <button type="button"
                  class="btn-default save-button small-buttons red lighten-2 md md-assignment-turned-in tooltips-bottom tooltips-light normal-case "
                  ng-click="saveConcept()" ng-if="isMerge">
            <span> Accept This Version </span>
          </button>
          <!-- Revert button only appears if parent is specified -->
          <button ng-if="parentBranch" type="button" class="btn btn-default revert-button" ng-click="revertConcept()">
            Revert
          </button>



          <!-- control buttons -->
          <button type="button"
                  ng-click="toggleConceptActive(concept, true)"
                  ng-if="!isStatic && !isInactivation && !isLockedModule(concept.moduleId) && !concept.released && isSctid(concept.conceptId)"
                  class="btn-default red small-buttons tooltips-bottom status-concept tooltips-light normal-case editbuttons fa-sca fa-minus">
            <span ng-if="!isStatic">Delete Unpublished Concept</span>
          </button>
          <button type="button"
                  class="btn-default green small-buttons green tooltips-bottom medium-size-tooltip md md-thumb-up"
                   ng-if="allowApproval"
                  ng-click="approveAndLoadNext()">              
            <span>Approve</span> 
          </button>
          <button type="button"
                  ng-class="[{green : concept.active}, {red: !concept.active}]"
                  ng-click="toggleConceptActive(concept)"
                  ng-if="concept.released"
                  ng-disabled="isInactivation  || isLockedModule(concept.moduleId) && concept.released"
                  class="btn-default editbuttons fa-sca fa-power-off small-buttons tooltips-bottom status-concept tooltips-light normal-case">

            <span ng-if="!isStatic  && !isInactivation"> Activate/ inactivate concept </span>
            <span ng-if="!isStatic && isInactivation">Inactivation in progress, cannot change active status</span>
            <span ng-if="isStatic || isLockedModule(concept.moduleId)"> {{concept.active ? 'Active Concept' : 'InactiveConcept'}} </span>
          </button>
          <button type="button"
                  ng-click="addAdditionalAxiom()"
                  ng-if="axiomSupport && role === 'AUTHOR'"
                  class="btn-default green small-buttons tooltips-bottom medium-size-tooltip tooltips-light normal-case editbuttons fa fa-plus-square-o" style="transform: inherit;">
            <span ng-if="!isStatic">Add Additional Axiom</span>
          </button>
          <button type="button"
                  ng-click="addGCIAxiom()"
                  ng-if="axiomSupport && role === 'AUTHOR'"
                  class="btn-default green small-buttons tooltips-bottom small-size-tooltip tooltips-light normal-case editbuttons fa fa-plus-square" style="transform: inherit;">
            <span ng-if="!isStatic">Add GCI Axiom</span>
          </button>
          <button type="button"
                  class="btn-default editbuttons small-buttons tooltips-bottom tooltips-light large-size-tooltip normal-case"
                  ng-class="[{'red fa-sca fa-level-down' : !hideInactive}, {'fa-sca fa-level-up green' : hideInactive}]"
                  ng-click="toggleHideInactive()"><span> Show/hide inactive components </span>
          </button>
          <button type="button"
                  class="btn-default editbuttons small-buttons tooltips-bottom tooltips-light medium-size-tooltip normal-case stated-inferred-view"
                  ng-click="toggleInferredRelationships()">{{!showInferredRels ? 'S' : 'I'}}
                  <span ng-if="!showInferredRels"> Switch to inferred view </span>
                  <span ng-if="showInferredRels"> Switch to stated view </span>
          </button>
          <button type="button"
                  class="btn-default editbuttons small-buttons amber md md-undo tooltips-bottom tooltips-light small-size-tooltip"
                  ng-click="undo()" ng-disabled="conceptHistoryPtr < 1" ng-if="!isStatic">
            <span>Undo Changes</span>
          </button>
          <button type="button"
                  class="btn-default editbuttons small-buttons amber md md-redo tooltips-bottom tooltips-light small-size-tooltip"
                  ng-click="redo()" ng-if="!isStatic" ng-disabled="conceptHistoryPtr === conceptHistory.length - 1">
            <span>Redo Changes</span>
          </button>
          <button type="button"
                  class="btn-default editbuttons small-buttons deep-purple lighten-2 md md-history tooltips-bottom medium-size-tooltip offset-tooltip-right tooltips-light"
                  ng-click="undoAll()" ng-if="!isStatic" ng-disabled="!isModified">
            <span>Revert to Saved</span>
          </button>

          <button type="button"
                  class="btn-default editbuttons small-buttons orange darken-3 md fa-sca fa-close tooltips-bottom large-size-tooltip offset-tooltip-right tooltips-light normal-case"
                  ng-click="removeConcept(concept)"><span>Remove concept from edit panel</span>
          </button>
          <div ng-repeat="field in concept.additionalFields">
                    <textarea class="msd-elastic resizable-text no-border-bottom" ng-model-options="{updateOn: 'blur'}"
                              ng-model="field.value" type="text" placeholder="{{field}}" autofocus>
                    </textarea>
          </div>

          <button ng-if="concept.definitionStatus === 'FULLY_DEFINED'"
                  ng-disabled="isStatic || isLockedModule(concept.moduleId)"
                  class="p-l-3 white-text primitive-buttons tooltips-bottom small-size-tooltip tooltips-light"
                  ng-class="[{'fully-defined-btn' : concept.definitionStatus === 'FULLY_DEFINED'}]"
                  ng-click="toggleConceptDefinitionStatus(isStatic)">

            <div class="badge alert-warning ng-binding">≡&nbsp; </div>
            <span>Fully Defined</span>
          </button>
          <button ng-if="concept.definitionStatus === 'PRIMITIVE'"
                  ng-disabled="isStatic || isLockedModule(concept.moduleId)"
                  class="p-l-3 primitive-buttons white-text tooltips-bottom small-size-tooltip tooltips-light"
                  ng-class="[{'primitive-btn' : concept.definitionStatus === 'PRIMITIVE'}]"
                  ng-click="toggleConceptDefinitionStatus(isStatic)">
            <div class="badge alert-warning ng-binding">&nbsp; </div>
            <span>Primitive</span>
          </button>


          <button ng-init="isCollapsed = false" class="btn-default editbuttons small-buttons"
                  ng-click="collapse(concept)"
                  type="button"
                  ng-class="[btn, btn-default, darkbuttons, grey, 'darken-4', 'toggle-buttons', md, {'fa-sca fa-caret-down' : isCollapsed, ' fa-sca fa-caret-up' : !isCollapsed}]"></button>

        </div>
      </div>

      <div class="no-padding edits concept-title" ng-disabled="saving" ng-class="{'disabled': saving}">
            <button type="button"
                      class="btn-default fa-sca fa-keyboard-o tooltips-bottom editbuttons small-size-tooltip small-buttons shortcutIndicator"
                      ng-show="hasFocus">
                <span> Shortcuts active</span>
            </button>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="validation red" ng-repeat="error in validation.errors[concept.conceptId]"><strong>Convention
      Error:</strong>
      <div ng-bind="error"></div>
    </div>
  </div>
  <div class="row">
    <div class="validation orange darken-1" ng-repeat="warning in validation.warnings[concept.conceptId]"><strong>Convention
      Warning:</strong>
      <div ng-bind="warning"></div>
    </div>
  </div>


  <!-- Toggle-able collapsed concept elements -->
  <div ng-show="!isCollapsed" class="editHeightSelector darken-3 grey " ng-disabled="saving" ng-class="{'disabled': saving}">
    <div ng-show="concept.definitionOfChanges" class="">

      <div class="row">
        <div class="change_request_container {{concept.definitionOfChanges.changeType}}">
          <div class=" m-l-5 fa {{concept.definitionOfChanges.changeType}}"></div>
          <span class="change_type_{{concept.definitionOfChanges.changeType}}"></span></div>
      </div>
      <div class="row">

        <div class="col-md-11">

          <div class="row"
               ng-repeat="(key, val) in crsFilter(concept.definitionOfChanges)"
               ng-show="!concept.hideCrsDetails">
            <div class="col-md-12">
              {{key}}: {{val}}
            </div>


          </div>
        </div>
      </div>


    </div>


    <!-- rows: Concept Descriptions -->
    <div ng-repeat="description in concept.descriptions"
         ng-show="isDescriptionViewable(description)"
         ng-class="getComponentStyle(description.descriptionId, null, '', description)"
         class="{{isInactivation === true && description.type === 'FSN' ? getDuplicatedRelOrCircularReferenceStyle() : ''}}">

      <div ng-show="description.definitionOfChanges" class="">

        <div class="row">
          <div class="change_request_container {{description.definitionOfChanges.changeType}}">
            <div class=" m-l-5 fa {{description.definitionOfChanges.changeType}}"></div>
            <span class="change_type_{{description.definitionOfChanges.changeType}}"></span></div>
        </div>
        <div class="row"></div>

        <div class="col-md-12">

          <div class="row"
               ng-repeat="(key, val) in crsFilter(description.definitionOfChanges)"
               ng-show="!description.hideCrsDetails">
            <div class="col-md-12" ng-show="val">
              {{key}}: {{val}}
            </div>

          </div>
        </div>


      </div>

      <div class="row darken-3 p-t-5 grey">
        <div class="col-md-12 no-padding color_ def_{{concept.definitionStatus}} "
             drop-channel="descriptionObj" ui-on-drop="dropDescription(description, $data)"
             drag-enter-class="sca-drag-target" drag-hover-class="sca-drag-hover">

          <button id="component-{{description.descriptionId ? description.descriptionId : getHashkey(description)}}" ng-click="setDescriptionProperties(description, $event)"
                  class="btn-default transparent md morebuttons fa-sca fa-ellipsis-v more-button-width small-size-tooltip tooltips-bottom tooltips-light normal-case"
                  popover-template="'shared/component-more/descriptionMore.html'"
                  popover-placement="{{popoverDirection}}"
                  popover-append-to-body="true">
            <span>More details</span>
          </button>
          <button
            class="btn-default md morebuttons md-open-with drag-button-width small-size-tooltip tooltips-bottom concept-edit-button"
            ui-draggable="true" drag="description" drag-channel="descriptionObj"
            drag-image="getDragImageForDescription(description)">
            <span>Drag this row</span>
          </button>


          <!-- Active/Inactive -->
          <button type="button"
                  ng-disabled="isStatic || !description.released || isLockedModule(description.moduleId) || showInferredRels"
                  ng-click="toggleDescriptionActive(description)"
                  ng-class="[btn-default, md, 'fa-sca fa-power-off button-width', {green : description.active}, {red: !description.active}]"
                  class="tooltips-bottom small-size-tooltip concept-edit-button btn-transparent">
            <span ng-if="isStatic">Active/Inactive</span>
            <span ng-if="!isStatic && description.released">Toggle Active/Inactive</span>
            <span ng-if="!isStatic && !description.released">Cannot inactivate unreleased description</span>
          </button>

          <!-- Case Significance -->
          <button type="button"
                  class=" blue accent-2 button-width custom-button text-center tooltips-bottom tooltips-light xxlarge-size-tooltip normal-case"
                  ng-disabled="isStatic || isLockedModule(description.moduleId) || showInferredRels"
                  ng-click="toggleCaseSignificance(description)">

            <div class="text-center">{{getCaseSignificanceDisplayText(description)}}</div>

            <span class="{{getCaseSignificanceDisplayText(description)}}"></span>
          </button>
          <div ng-if="isFeedback && innerComponentStyle[description.descriptionId + '-caseSignificance'].style !== ''"
            class="tooltips-bottom tooltips-light medium-size-tooltip custom-margin"
            ng-class="innerComponentStyle[description.descriptionId + '-caseSignificance'].style"><span>{{innerComponentStyle[description.descriptionId + '-caseSignificance'].message}}</span></div>
          <!-- Term -->
          <div class="pull-left description no-padding lang-ref-set-{{dialectLength}}"
               ng-class="getComponentStyle(description.descriptionId, 'term', null)">
              <textarea ng-keyup="enterListener({event: $event})" custom-autofocus="true" autofocus ng-if="description.type === 'FSN'" ng-change="updateDescription(description)"
                        ng-model-options="{updateOn: 'blur'}"
                        ng-readonly="isStatic || description.released || isLockedModule(description.moduleId) || showInferredRels"
                        maxlength="255"
                        ng-model="description.term"
                        class="form-control msd-elastic no-border-bottom desc"
                        ng-class="[{'template-editable' : description.template}]"
                        type="text"
                        placeholder="Description">
              </textarea>

            <textarea ng-keyup="enterListener({event: $event})" ng-if="description.type === 'SYNONYM'"
                      ng-change="updateDescription(description)" ng-model-options="{updateOn: 'blur'}"
                      ng-readonly="isStatic || description.released || isLockedModule(description.moduleId) || showInferredRels"
                      maxlength="255"
                      ng-model="description.term"
                      ng-class="[{'template-editable' : description.template}]"
                      class="form-control  msd-elastic no-border-bottom desc" type="text"
                      placeholder="Description" custom-autofocus="true">
                        </textarea>
            <textarea ng-keyup="enterListener({event: $event})" ng-if="description.type === 'TEXT_DEFINITION'"
                      maxlength="2048"
                      ng-change="updateDescription(description)"
                      ng-readonly="isStatic || description.released || isLockedModule(description.moduleId) || showInferredRels"
                      ng-model-options="{updateOn: 'blur'}"
                      ng-model="description.term" type="text" placeholder="Description"
                      ng-class="[{'template-editable' : description.template}]"
                      class="form-control msd-elastic no-border-bottom">
                        </textarea>
          </div>

          <!-- TypeId -->
          <div class="pull-left typeid">
            <select ng-disabled="description.released || isStatic || isLockedModule(description.moduleId) || showInferredRels"
                    ng-options="descTypeId.name as descTypeId.abbr for descTypeId in descTypeIds"
                    ng-model="description.type" ng-change="updateDescription(description)" name="select-type"
                    id="select-type-choice" class="form-control color_{{(relationship.groupId%2==0)?'even':'odd'}}" ui-on-drop="">
            </select>
          </div>
          <div ng-if="isFeedback && innerComponentStyle[description.descriptionId + '-type'].style !== ''"
                class="tooltips-bottom offset-tooltip-right xlarge-size-tooltip"
                ng-class="innerComponentStyle[description.descriptionId + '-type'].style"><span>{{innerComponentStyle[description.descriptionId + '-type'].message}}</span></div>
          <!-- Dialect / Acceptability -- never alterable for saved FSN -->
          <div>

            <!-- button for each dialect key -->
            <div ng-repeat="dialectId in getDialectIdsForDescription(description)">
              <div ng-if="getDialectsForDescription(description)[dialectId].indexOf(description.lang) > -1">
                  <button type="button"
                          class=" blue accent-2 button-width-acceptability custom-button tooltips-bottom small-size-tooltip"
                          ng-disabled="isStatic || (description.type === 'FSN' && !isExtensionDialect(dialectId) && description.effectiveTime) || (isLockedModule(description.moduleId) && !isExtensionDialect(dialectId)) || showInferredRels"
                          ng-click="toggleAcceptability(description, dialectId)">
                    <div class="md col-md-12 no-padding text-center">{{getAcceptabilityDisplayText(description, dialectId)}}
                    </div>
                    <span> {{getAcceptabilityTooltipText(description, dialectId)}}</span>
                  </button>
                  <div ng-if="isFeedback && innerComponentStyle[description.descriptionId + '-acceptability-' + dialectId].style !== ''"
                    class="tooltips-bottom offset-tooltip-right xxlarge-size-tooltip"
                    ng-class="innerComponentStyle[description.descriptionId + '-acceptability-' + dialectId].style"><span>{{innerComponentStyle[description.descriptionId + '-acceptability-' + dialectId].message}}</span></div>
              </div>
            </div>
          </div>


          <div ng-show="!isStatic && !showInferredRels">

            <button ng-if="!isStatic" type="button" ng-click="addDescription($index)"
                    class="btn-default add-buttons md fa-sca fa-plus plus-button-width pull-right tooltips-bottom medium-size-tooltip offset-tooltip-right">
              <span>Add New Description</span>
            </button>

            <button type="button" ng-click="removeDescription(description)"
                    ng-if="!description.effectiveTime && !description.released"
                    class="btn-default add-buttons md fa-sca fa-minus plus-button-width pull-right tooltips-bottom medium-size-tooltip offset-tooltip-right">
              <span>Remove Description</span>
            </button>

          </div>

          <div ng-if="description.additionalFields" ng-repeat="field in description.additionalFields">
                        <textarea class="resizable-text msd-elastic no-border-bottom" ng-model-options="{updateOn: 'blur'}"
                                  ng-model="field.value" type="text" placeholder="{{field}}">
                        </textarea>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="validation red" ng-repeat="error in validation.errors[description.descriptionId]"><strong>Convention
          Error:</strong>
          <div ng-bind="error"></div>
        </div>
      </div>
      <div class="row">
        <div class="validation orange darken-1" ng-repeat="warning in validation.warnings[description.descriptionId]">
          <strong>Convention Warning:</strong>
          <div ng-bind="warning"></div>
        </div>
      </div>
      <div class="row">
        <div class="validation darken-1 p-5"
             ng-class="[{ 'orange' : message.type === 'Warning'}, { 'red' : message.type === 'Error' }, { 'blue' : message.type === 'Message'}]"
             ng-repeat="message in description.templateMessages">
          <strong>Template {{message.type}}:</strong>
          <div ng-bind="message.message"></div>
        </div>
      </div>
      <div class="row p-10" ng-show="description.spellcheckSuggestions">
        <strong>Spelling Check Suggestions:</strong>
        <div class="p-b-5" ng-repeat="(word, suggestions) in description.spellcheckSuggestions">
          <div class="col-md-2">{{word}}</div>
          <div class="col-md-10"><span ng-repeat="suggestion in suggestions">[&nbsp;<a class="pointer"
            ng-click="replaceSuggestion(description, word, suggestion)">{{suggestion}}</a>&nbsp;]&nbsp;&nbsp;</span>
          </div>
        </div>
      </div>
    </div>

    <div class="p-b-3"> </div>
    <!-- rows: Relationships -->
    <div ng-repeat="(groupId, relationshipGroup) in relationshipGroups">
      <div ng-if="showRelationshipGroup(relationshipGroup)">
        <div class="role_group_divider_top_{{(groupId%2==0)?'even':'odd'}} "></div>
        <div ng-repeat="relationship in relationshipGroup | filter:filterRelationships"
             ng-class="getComponentStyle(relationship.relationshipId, null, '', relationship)"
             class="{{((relationship.target.definitionStatus != undefined) ? relationship.target.definitionStatus : 'NONE_SPECIFIED')}} {{isInactivation === true ? getDuplicatedRelOrCircularReferenceStyle(relationship) : ''}}">

          <div ng-show="relationship.definitionOfChanges" class="">

            <div class="row">
              <div class="change_request_container {{relationship.definitionOfChanges.changeType}}">
                <div class=" m-l-5 fa {{relationship.definitionOfChanges.changeType}}"></div>
                <span class="change_type_{{relationship.definitionOfChanges.changeType}}"></span></div>
            </div>


            <div class="row"
                 ng-repeat="(key, val) in crsFilter(relationship.definitionOfChanges)"
                 ng-show="!relationship.hideCrsDetails">
              <div class="col-md-12" ng-show="val">
                {{key}}:{{val}}
              </div>

            </div>


          </div>


          <div class="row darken-3 edits-row color_{{(relationship.groupId%2==0)?'even':'odd'}} "
               ng-class="getComponentStyle(relationship.relationshipId, null, '')">

            <div class="col-md-11 no-padding left-of-edit {{relationship.characteristicType}}" drop-channel="relationshipObj"
                 ui-on-drop="dropRelationship(relationship, $data)" drag-enter-class="sca-drag-target"
                 drag-hover-class="sca-drag-hover">

              <div class="">
                <button
                  id="component-{{relationship.relationshipId ? relationship.relationshipId : getHashkey(relationship)}}"
                  class="btn-default  md morebuttons transparent more-button-width small-size-tooltip fa-sca fa-ellipsis-v button-width tooltips-bottom tooltips-light normal-case"
                  ng-click="setRelationshipProperties(relationship, $event)"
                  popover-template="'shared/component-more/relationshipMore.html'"
                  popover-placement="{{popoverDirection}}"
                  popover-append-to-body="true">
                  <span>More details</span>
                </button>

                <button
                  class="btn-default md morebuttons md-open-with drag-button-width small-size-tooltip tooltips-bottom concept-edit-button"
                  ui-draggable="true" drag="relationship" drag-channel="relationshipObj"
                  drag-image="getDragImageForRelationship(relationship)"
                  ng-disabled="relationship.characteristicType === 'INFERRED_RELATIONSHIP'">
                  <span>Drag This Row</span>
                </button>

                <!-- TODO Fix this   Note: due to weird behavior with ng-class, need to manually add bottom alignment -->
                <button type="button"
                        class="tooltips-bottom small-size-tooltip concept-edit-button btn-transparent"
                        ng-disabled="isStatic || !relationship.released || isLockedModule(relationship.moduleId) || template || isBatch || relationship.characteristicType === 'INFERRED_RELATIONSHIP'"
                        ng-click="toggleRelationshipActive(relationship)"
                        ng-class="[btn, btn-default, editbuttons, md, 'fa-sca fa-power-off button-width', {green : relationship.active}, {red: !relationship.active}]">
                  <span ng-if="isStatic">Active/Inactive</span>
                  <span ng-if="!isStatic && relationship.released">Toggle Active/Inactive</span>
                  <span ng-if="!isStatic && !relationship.released">Cannot inactivate unreleased relationship</span>
                </button>

                <!-- relationship group -->
                <div class="pull-left rolegroup tooltips-bottom small-size-tooltip">
                  <textarea ng-disabled="isStatic  || isLockedModule(relationship.moduleId) || template || isBatch || relationship.characteristicType === 'INFERRED_RELATIONSHIP'"
                            ng-model="relationship.groupId" ng-model-options="{updateOn: 'blur'}"
                            ng-change="updateRelationship(relationship, true)"
                            class="form-control rg no-border-bottom"
                            type="text" placeholder="#" ui-on-drop="dropNullOp()">
                                    </textarea>
                  <span>Role Group</span>
                </div>

                <!-- attribute type' -->
                <div class="pull-left is_a is_a_bg relationship-type"
                     drag-enter-class="sca-drag-target"
                     drag-hover-class="sca-drag-hover"
                     drop-channel="completeConcept"
                     ui-on-drop="dropRelationshipType(relationship, $data)"
                     drop-validate="!relationship.effectiveTime && !isStatic">
                                    <textarea id="relationship-type-id-{{concept.conceptId}}-{{relationship.groupId}}-{{$index}}"
                                              custom-autofocus="true" autofocus ng-keyup="enterListener({event: $event})" type="text" ng-model="relationship.type.fsn"
                                              ng-readonly="relationship.effectiveTime || isStatic || isLockedModule(relationship.moduleId) || template || isBatch || relationship.characteristicType === 'INFERRED_RELATIONSHIP'"
                                              class="resizable-text form-control msd-elastic no-border-bottom rel"
                                              typeahead="suggestion as suggestion.fsn.term for suggestion in allowedAttributes | filter:$viewValue:emptyOrMatch"
                                              typeahead-focus-first="false"
                                              typeahead-loading="typeTypeaheadLoading"
                                              typeahead-wait-ms="700"
                                              typeahead-on-select="setRelationshipTypeConcept(relationship, $item, concept.conceptId, relationship.groupId, $index)"
                                              typeahead-editable="false"
                                              typeahead-min-length="0">

                                    </textarea>
                  <div class="pull-left md drag-button-width small-size-tooltip tooltips-bottom"
                       ng-class="[{'md-open-with' : !typeTypeaheadLoading}, {'md-cached' : typeTypeaheadLoading}]"
                       ui-draggable="true"
                       drag="getConceptIdNamePairFromAttributeType(relationship)"
                       drag-channel="completeConcept"
                       drag-image="getDragImageForConcept(relationship.type.fsn)"
                       ng-dblclick="openAttributeConcept(relationship)">
                    <span>Drag this component</span>
                  </div>

                </div>

                <!-- linked concept -->
                <div class="pull-left sourcename relationship-target" drag-enter-class="sca-drag-target"
                     drag-hover-class="sca-drag-hover"
                     drop-channel="completeConcept" ui-on-drop="dropRelationshipTarget(relationship, $data)"
                     drop-validate="!relationship.effectiveTime && !isStatic"
                     ng-class="getTargetSlotStyle(relationship)"
                     ng-mouseover="setTooltipPosition($event)">
                  
                  <div class="small-size-tooltip tooltips-bottom">
                    <textarea id="relationship-taget-id-{{concept.conceptId}}-{{relationship.groupId}}-{{$index}}"
                              ng-keyup="enterListener({event: $event})" type="text" ng-model="relationship.target.fsn"
                              ng-readonly="relationship.effectiveTime || isStatic  || isLockedModule(relationship.moduleId) || (template && !relationship.targetSlot.slotName) || (isBatch && !relationship.targetSlot) || relationship.characteristicType === 'INFERRED_RELATIONSHIP'"
                              class="resizable-text relationship msd-elastic no-border-bottom"
                              typeahead="suggestion as suggestion.tempFsn for suggestion in getConceptsForValueTypeahead(relationship.type.conceptId, $viewValue, branch, relationship.template.targetSlot.allowableRangeECL)"
                              typeahead-loading="targetTypeaheadLoading" typeahead-focus-first="false"
                              typeahead-wait-ms="700"
                              typeahead-on-select="setRelationshipTargetConcept(relationship, $item, concept.conceptId, relationship.groupId, $index)"
                              typeahead-editable="false" typeahead-min-length="3"></textarea>
                    <span ng-show="relationship.target.conceptId">{{relationship.target.conceptId}}</span>
                  </div>

                  <div class="pull-left drag-button-width"
                       ng-class="[{'md-open-with' : !targetTypeaheadLoading}, {'md-cached' : targetTypeaheadLoading}]"
                       ui-draggable="true" drag="getConceptIdNamePairFromRelationshipTarget(relationship)"
                       drag-channel="completeConcept"
                       drag-image="getDragImageForConcept(relationship.target.fsn)"
                       ng-dblclick="openConceptTarget(relationship)">
                  </div>
                </div>

                <div ng-if="relationship.target.definitionStatus === 'FULLY_DEFINED'"
                     class="pull-left p-t-5 p-l-3 primitive-buttons white-text tooltips-bottom small-size-tooltip"
                     ng-class="[{'fully-defined-btn' : relationship.target.definitionStatus === 'FULLY_DEFINED'}]">
                  <div class="badge alert-warning ng-binding pull-left">≡&nbsp; </div>
                  <span>Fully Defined</span>
                </div>
                <div ng-if="relationship.target.definitionStatus === 'PRIMITIVE'"
                     class="pull-left p-t-5 p-l-3 primitive-buttons white-text tooltips-bottom small-size-tooltip"
                     ng-class="[{'primitive-btn' : relationship.target.definitionStatus === 'PRIMITIVE'}]">
                  <div class="badge alert-warning ng-binding pull-left">&nbsp; </div>
                  <span>Primitive</span>
                </div>

                <div ng-if="!isStatic && !isLockedModule(relationship.moduleId) && !concept.template && relationship.characteristicType !== 'INFERRED_RELATIONSHIP'">

                  <button ng-if="!template" type="button" ng-click="addRelationship(groupId, relationship)"
                          class="btn-default add-buttons md fa-sca fa-plus button-width-plus pull-right tooltips-bottom medium-size-tooltip offset-tooltip-right">
                    <span>Add New Relationship</span>
                  </button>

                  <button type="button" ng-click="removeRelationship(relationship)"
                          ng-if="!relationship.released && (!template || !relationshipInLogicalModel(relationship, template))"
                          class="btn-default add-buttons md fa-sca fa-minus button-width-minus pull-right tooltips-bottom medium-size-tooltip offset-tooltip-right">
                    <span>Remove Relationship</span>
                  </button>


                </div>

              </div>
              <div ng-if="relationship.additionalFields" ng-repeat="field in relationship.additionalFields">
                                <textarea class="resizable-text msd-elastic no-border-bottom" ng-model-options="{updateOn: 'blur'}"
                                          ng-model="field.value" type="text" placeholder="{{field}}">
                                </textarea>
              </div>
            </div>

            <div class="col-md-1 no-padding color_{{(relationship.groupId%2==0)?'even':'odd'}} role-group-drag p-t-5 {{relationship.characteristicType}}"
                 drop-channel="relationshipGroupObj" ui-on-drop="dropRelationshipGroup($data)"
                 drag-enter-class="sca-relgroup-drag-target" drag-hover-class="sca-relgroup-drag-hover">
              <button ng-if="$index === 0"
                      class="btn-default md-open-with role-group-buttons tooltips-bottom medium-size-tooltip offset-tooltip-right  "
                      ui-draggable="true" drag="relationshipGroup" drag-channel="relationshipGroupObj"
                      drag-image="getDragImageForRelationshipGroup(relationshipGroup)"
                      ng-disabled="relationship.characteristicType === 'INFERRED_RELATIONSHIP'">
                <span>Drag Relationship Group</span>
              </button>

              <button ng-if="!isStatic &&  !isLockedModule(relationship.moduleId) && !template && !concept.template && relationship.characteristicType !== 'INFERRED_RELATIONSHIP'"
                      class="btn-default md-exposure-plus-1 role-group-buttons tooltips-bottom medium-size-tooltip offset-tooltip-right "
                      ng-click="addRelationshipGroup()"><span>Add Relationship Group</span>
              </button>
            </div>
          </div>


          <div class="row">
            <div class="validation red" ng-repeat="error in validation.errors[relationship.relationshipId]"><strong>Convention
              Error:</strong>
              <div ng-bind-html="error"></div>
            </div>
          </div>
          <div class="row">
            <div class="validation orange darken-1"
                 ng-repeat="warning in validation.warnings[relationship.relationshipId]">
              <strong>Convention Warning:</strong>
              <div ng-bind="warning"></div>
            </div>
          </div>

          <div class="row">
            <div class="validation darken-1 p-5"
                 ng-class="[{ 'orange' : message.type === 'Warning'}, { 'red' : message.type === 'Error' }, { 'blue' : message.type === 'Message'}]"
                 ng-repeat="message in relationship.templateMessages">
              <strong>Template {{message.type}}:</strong>
              <div ng-bind="message.message">
              </div>
            </div>
          </div>


        </div>
        <div class="role_group_divider_bottom_{{(groupId%2==0)?'even':'odd'}}"></div>
      </div>
    </div>

    <!-- rows: Additional axioms -->
    <div ng-if="axiomSupport" ng-repeat="axiom in concept.additionalAxioms">
      <div ng-include="'shared/concept-edit/axiomTemplate.html'"></div>
    </div>

    <!-- rows: General Concept Inclusion axioms -->
    <div ng-if="axiomSupport" ng-repeat="axiom in concept.gciAxioms">
      <div ng-include="'shared/concept-edit/axiomTemplate.html'"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

