<div class="edits editing-form">
  <div class="pop-edit concept-more description-popover row">
    <div ng-if="concept.fsn !== null" class="concept-id pull-left">

      <label class="control-label">Concept ID</label>
      <span class="fields row "> {{concept.conceptId}}</span>

    </div>
    <div ng-if="concept.fsn === null" class="concept-id pull-left" >
      <label class="control-label">Concept ID</label>
      <input ng-model="concept.conceptId" type="text" class="fields row" style="background-color:#fff"></input>
    </div>

    <div class="time pull-left">
      <label class="control-label">Eff. Time</label>
      <span class="fields row">{{concept.effectiveTime }}</span>
    </div>
    <div class="module pull-left">
      <label class="control-label">Module Id</label>
      <select class="col-md-12 no-padding dropdowns" name="select-choice" id="select-choice1"
              ng-model="concept.moduleId" ng-disabled="isStatic"
              ng-change="setConceptModule(concept)" ng-options="module.id as (module.name) for module in modules">
      </select>
    </div>
    <hr>
  </div>

  <div ng-if="!concept.active" class="pop-edit concept-more description-popover row">
    <div class="module pull-left">
      <label class="control-label">Inactivation Reason</label>
      <span class="fields row">{{concept.inactivationIndicator}}</span>
    </div>
  </div>
</div>