
<div class="pop-edit description-popover row">
  <div class="col-md-2 no-padding SCTID">
    <p class="row">SCTID</p>
    <span class="fields row"> {{description.descriptionId}}</span> </div>
  <div class="col-md-2 no-padding moduleId">
    <p class="row">Module Id</p>
    <span class="fields row"> {{description.moduleId}}</span> </div>
  <div class="col-md-2 no-padding lang">
    <p>Dialect</p>
    <select name="select-choice2" id="select-choice2" class="dropdowns"
                  ng-model="description.lang" ng-change="updateDescription(description)">
      <option>EN-GB and EN-US</option>
      <option>EN-GB</option>
      <option>EN-US</option>
    </select>
  </div>
  <div class="col-md-3 no-padding ">
    <p class="row">Effective Time</p>
    <span class="fields row"> {{description.effectiveTime}}</span> </div>
  <div class="col-md-3 no-padding case">
    <p>Case Significance</p>
    <select name="select-choice" id="select-choice3" class="dropdowns"
                ng-model="description.caseSignificance" ng-change="updateDescription(description)">
      <option value="CASE_INSENSITIVE">Case insensitive</option>
      <option value="ENTIRE_TERM_CASE_SENSITIVE">Entire term case sensitive</option>
      <option value="INITIAL_CHARACTER_CASE_INSENSITIVE" default>Only initial character case insensitive</option>
    </select>
  </div>
</div>
