<div ng-include src="'layout/header.html'"></div>
<div class="row no-gutter sca-container">
  <div ng-include style="background-color:#474747" class="sca-column col-lg-3 col-md-3 col-sm-3 dashboard-sidebar" src="'layout/sidebar.html'"></div>

  <!---->
  <div class="sca-column col-lg-9 col-md-9 col-sm-9">
  <div class="row">
   <div class="card bordered">
        <div class="card-header">
          <span class="card-title">Project Name Here</span>
        </div>
        <div class="card-content no-padding">
      <p style="padding:20px 0px 0px 10px"><strong>Project Lead</strong> Ashley Burton</p>
      <hr>
  <p style="padding:0px 0px 0px 10px"><strong>QA Results </strong> Last Completed July 19 2015 at 2:15PM</p> 
    <hr>
   <p style="padding:0px 0px 20px 10px"><strong>Classification Results </strong> Last Completed July 19 2015 at 2:15PM</p>    
        </div>
        
        <div class="card-action clearfix projecttasks">
                   <div class="p-10 pull-right">
            <button class="btn btn-disabled btn-border">Promote<div class="ripple-wrapper"></div></button>
          </div>
                  <div class="p-10 pull-right">
            <button class="btn btn-success btn-border">Classify<div class="ripple-wrapper"></div></button>
          </div>
                <div class="p-10 pull-right">
            <button class="btn btn-success btn-border">Validate<div class="ripple-wrapper"></div></button>
          </div>
        </div>
      </div>
  </div>
  </div>

</div>


</div>
