<section class="tables-data">

  <!-- for ng-table checkboxes -->
  <script type="text/ng-template" id="checkboxheader.html">
    <input ng-if="editable" type="checkbox" ng-model="selectAllActive" ng-click="selectAll(selectAllActive)">
  </script>

  <script type="text/ng-template" id="editheader.html">
    <button ng-if="editable" type="button" class="btn btn-round btn-default blue"><span class="md md-edit"></span></button>
  </script>

  <div class="card">
    <div role="tabpanel" class="m-15">
      <div class="row">

        <strong>Validation Report: </strong> {{getStatusText()}}


        <button ng-show="viewTop === false" class="btn btn-default blue pull-right" ng-click="viewTop = true">
          Back to Report
        </button>

      </div>

      <div class="table-responsive white" style="margin-right:0px;" ng-show="viewTop">


        <table
          ng-table="topTableParams" template-pagination="utilities/data-table-pager.html"
          class="table table-full table-full-small">
          <tr ng-repeat="assertion in $data">

            <td data-title="'Failed Assertions'" sortable="'assertionText'">{{assertion.assertionText}}
            </td>
            <td data-title="'# of Cases'" sortable="'failureCount'">
              {{assertion.failureCount}}
            </td>

            <td data-title="''" sortable="''">

              <button
                title="View These Failures" type="button" ng-click="viewFailures(assertion)"
                class="btn btn-default blue">Load Cases</span>
              </button>


              <div class="ripple-wrapper"></div>
              </button>

            </td>
          </tr>
        </table>

      </div>

      <div class="table-responsive white" style="margin-right:0px;" ng-show="!viewTop">

        <div class="row">
          <strong>Assertion Failure</strong>: {{assertionFailureViewed}}
        </div>


        <table
          ng-table="failureTableParams" template-pagination="utilities/data-table-pager.html"
          class="table table-full table-full-small">
          <tr ng-repeat="failure in $data">

            <td ng-if="editable" data-header="'checkboxheader.html'"><input type="checkbox" ng-model="failure.selected"</td>
            <!-- other columns here -->

            <td data-title="'Concept'" sortable="'failureText'"><span class="muted">Not yet implemented</span>
            </td>
            <td data-title="'Error Message'" sortable="'failureCount'">
              {{failure.errorMessage}}
            </td>

            <td ng-if="editable" data-header="'editheader.html'">
              <button type="button" class="btn btn-round btn-default blue" ng-click="editConcept(failure.concept)">
                <sp
                  an class="md md-edit"></span>
              </button>
            </td>

          </tr>
        </table>

      </div>

    </div>
  </div>
</section>

