<div class="clearfix add-exception-popup" id="inactivateComponentModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">{{mode == 'add' ? 'Add to Exceptions' : 'Edit Exception'}}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 no-padding" style="padding-left: 20px;">
        <div class="radio">
          <label style="margin-left: -13px;">
            <input ng-click="selectExceptionType('permanent')" type="radio" name="exceptionType" value="permanent" ng-model="exceptionType">Permanent Exception
          </label>
          <label style="margin-left: 30px;">
            <input ng-click="selectExceptionType('temporary')" type="radio" name="exceptionType" value="temporary" ng-model="exceptionType">Temporary Exception
          </label>
          <label ng-show="exceptionType == 'temporary'">
            Expiration Date
            <div class="input-group datepicker" style="display: inline;">
              <input datepicker-popup="yyyy-MM-dd" ng-model="expirationDate" is-open="datePickerOpened" datepicker-options="dateOptions" datepicker-append-to-body="true" close-text="Close" />
              <span>
                <button type="button" class="btn" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>            
          </label>
        </div>
      </div>        
      <div class="col-md-12 no-padding" style="padding-left: 20px; padding-top: 15px; padding-right: 20px;">
        <label>Reason</label>
        <br/>
        <textarea ng-model="reason" name="reason"
          class="resizable-text form-control msd-elastic"
        >
        </textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-md-4">
      <button type="button" class=" col-md-12 btn btn-warning no-margin"
              ng-click="cancel()">Cancel </button>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button type="button" class="col-md-12 btn btn-info no-margin"
              ng-click="confirm()">Save</button>
    </div>
  </div>
</div>
