<div id="transformationModal" class="clearfix">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Upload a Batch</h4>
    <div class="row">
      <div class="col-12 text-left">
          <p class="no-margin italic">The latest version of the Translation Import Template can be found&nbsp;<a href="https://confluence.ihtsdotools.org/pages/viewpage.action?spaceKey=MS&title=Useful+Documentation" target="_blank">here</a>.</p>
      </div>
  </div>
  </div>
  <div class="modal-body">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="col-md-6">
          <label class="no-margin">Task Title:</label>
          <input autofocus="true" type="text" class="form-control" ng-model="transformation.taskTitle"></input>
        </div>

        <div class="col-md-6">
          <label class="no-margin">Select Project:</label>            
          <select name="select-choice" class="form-control"
            ng-options="project.key as project.title for project in projects | orderBy: 'title'"
            ng-model="transformation.projectKey"        
            >
          </select>
        </div>

        <div class="col-md-6 p-t-20">
          <label class="no-margin">Select Assignee:</label>
          <input class="form-control" type="text" 
            ng-model="transformation.assignee"
            typeahead="user as user.displayName for user in getUsersForTypeahead(transformation.reviewer) | filter:{displayName:$viewValue}">                 
          </input>
        </div>

        <div class="col-md-6 p-t-20">
          <label class="no-margin">Select Reviewer:</label>            
          <input class="form-control" type="text" 
            ng-model="transformation.reviewer"
            typeahead="user as user.displayName for user in getUsersForTypeahead(transformation.assignee) | filter:{displayName:$viewValue}">                 
          </input>
        </div>

        <div class="col-md-6 p-t-20">
          <label class="no-margin">Number of Concepts Per Task:</label>
          <select name="select-choice" class="form-control"
            ng-options="number for number in conceptsPerTaskOptions"
            ng-model="transformation.batchSize">
          </select>
        </div>

        <div class="col-md-6 p-t-20">
          <label class="no-margin">Select Import Type:</label>            
          <select name="select-choice" class="form-control"
            ng-options="recipe.key as recipe.title for recipe in transformationRecipes"
            ng-model="transformation.recipe"        
            >
          </select>
        </div>

        <div class="col-md-12 p-t-20">
          <label class="no-margin">Enable Drools Validation</label>            
          <input class="checkbox-inline" type="checkbox" ng-click="toggleDroolsValidation()" style="margin-top: 0px; width: 15px; min-height: 0px; margin-left: 5px; outline: none;" ng-model="enableDrools">
        </div>        

        <div class="col-md-6 p-t-20">         
          <label class="btn btn-default btn-file btn-primary button-link sca-light-text" id="translation-batch-file-label">
            {{selectedFile ==  null? 'Select Batch File' : 'File Selected: ' + selectedFile.name}}
            <input type="file" name="tsvFile" accept=".tsv" onchange="angular.element(this).scope().uploadFile(this)" class="invisible">
          </label>
        </div>
    </div>

  </div>

  <!--Footer-->
  <div class="modal-footer">
    <div class="row no-padding no-gutter">           
      <!-- Cancel always appears -->
      <div class="col-md-4">
        <button type="button" class=" col-md-12 btn btn-warning no-margin"
                ng-click="cancel()">Cancel </button>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button type="button" ng-disabled="uploading || checkPrerequisites().length !== 0" class="col-md-12 btn btn-info no-margin"
                ng-click="createTasks()">Create Tasks</button>
      </div>
    </div>    
  </div>
</div>