<style>
  #taskSearchModal .table-full thead>tr>th {
    padding-left: 8px;
  }

  #taskSearchModal .checkbox {
    margin-top: unset;
    margin-bottom: unset;
  }

  #taskSearchModal .md-remove-circle {
    color: red;
    cursor: pointer;
    position: absolute;
    right: 14px;
    top: 31px;
  }

  #taskSearchModal .checkbox input[type=checkbox] {
    min-height: unset;
  }

  #taskSearchModal .table-full thead tr>th input[type=checkbox] {
    padding-top: 0px;
    padding-left: 9px;
    min-height: unset;
  }

  #taskSearchModal .table-full thead tr>th input[type=checkbox]:checked:before {
    top: 124px;
    left: 40px;
  }

  #taskSearchModal .table-full thead tr>th input[type=checkbox]:after {
    width: 16px;
    height: 16px;
    border: 1px solid #666;
  }

  #taskSearchModal .table-full thead tr>th input[type=checkbox]:focus {
    outline: none;
  }

  #taskSearchModal .caret {
    position: absolute;
    right: 0;
    top: 15px;
  }

  #taskSearchModal .dropdown-multiselect button {
    border: none;
    box-shadow: inset 0 -1px 0 #ddd;
    border-radius: unset;
    text-align: start;
  }

  #taskSearchModal .dropdown-multiselect button:focus {
    box-shadow: inset 0 -2px 0 #00a6e5;
  }

  #taskSearchModal .dropdown-multiselect.open .checkbox input[type=checkbox] {
    margin-top: 8px;
  }

  #taskSearchModal .dropdown-multiselect ul.dropdown-menu {
    height: unset !important;
    max-height: 490px !important;
  }

  #taskSearchModal .scroll-if-height {
    max-height: calc(100vh - 330px);
    height: unset;
  }

  .cssProgress {
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
    background-size: 48px 48px;
    animation: cssProgressActive 2s linear infinite;
  }

  @keyframes cssProgressActive {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 96px 0px;
    }
  }
</style>

<div id="taskSearchModal" class="clearfix">
  <script type="text/ng-template" id="ng-table/headers/checkboxHeader.html">
    <div>
      <input type="checkbox" ng-model="checkAll" ng-click="toggletAllTasks()" title="Select Tasks"
           id="select_all_tasks_checkbox"
           name="filter-checkbox"/>
    </div>
  </script>
  <div class="modal-header clearfix">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Search Tasks</h4>
  </div>
  <div class="modal-body">
    <div class="row m-t-5">
      <div class="col-md-3 no-padding">
        <div>
          <input autofocus="true" class="form-control" ng-model="criteria" type="text" ng-change="clearMessages()"
            ng-keyup="$event.keyCode == 13 && search()" placeholder="Enter task's name or ID...">
          <br>
        </div>
      </div>
      <div class="col-md-8" style="margin-top: -24px;">
        <div class="col-md-3">
          <label class="no-margin">Project:</label>
          <div ng-dropdown-multiselect="" checkboxes="true" options="projectOptions" selected-model="selectedProjects"
            extra-settings="multiselectSettings" translation-texts="multiselectTranslationTexts"></div>
        </div>        
        <div class="col-md-3">
          <label class="no-margin">Status:</label>
          <div ng-dropdown-multiselect="" checkboxes="true" options="statusOptions" selected-model="selectedStatuses"
            extra-settings="multiselectSettings" translation-texts="multiselectTranslationTexts"></div>
        </div>
        <div class="col-md-3">
          <label class="no-margin">Author:</label>
          <input class="form-control" type="text" ng-model="selecteAuthor"
            typeahead="suggestion as suggestion.displayName for suggestion in searchUsers($viewValue)"
            typeahead-focus-first="false" typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="500"
            typeahead-on-select="updateAssignee($item)" typeahead-loading="typeaheadLoading" typeahead-focus-custom>
          <i ng-show="typeaheadLoading" style="position: absolute; right: 15px; top: 32px;" class="md md-cached"></i>
          </input>
        </div>
        <div class="col-md-3">
          <label class="no-margin">Created:</label>
          <div>
            <input type="text" date-range-picker start-date="startDate" end-date="endDate"
              date-range-picker-options="dateRangeOptions" on-change="onDateRangeApply()" class="form-control"
              ng-keydown="preventTyping($event)" ng-paste="$event.preventDefault()"
              style="cursor: pointer; background-color: white;">
              <span ng-click="clearDateRange()" class="md md-remove-circle" ng-if="shouldClearDateRange()"></span>
          </div>
        </div>
      </div>
      <div class="pull-right col-md-1">
        <button type="button" class="col-md-12 btn btn-info no-margin" ng-disabled="loading"
          ng-click="search()">Search</button>
      </div>
    </div>
    <div class="alert alert-success text-center cssProgress" ng-show="searching">Searching...</div>
    <div class="alert alert-success" ng-show="message">{{message}}</div>
    <div class="row m-b-5" ng-if="!searching">
      <button ng-if="isAdmin && tasks.length !== 0" type="button" style="margin-top: -10px; margin-right: 2px;"
        class="btn btn-danger no-margin" ng-disabled="processingTasksDeletion || getSelectedRequestsCount() == 0"
        ng-click="deleteSelectedTasks()">{{processingTasksDeletion ?
        'Task Deletion In Progress...' : 'Delete Selected Tasks'}}</button>
      
      <button ng-if="tasks.length !== 0" type="button" style="margin-top: -10px;" class="btn btn-info no-margin m-l-10"
        ng-click="downloadSearchResults()">Download Results</button>
      
      <label style="font-weight: 500; float: right;" class="m-r-30" ng-if="searchDone && tasks.length > 0">Total Tasks:
        {{tasks.length}}</label>
    </div>
    <div class="table-responsive white scroll-if-height" ng-show="!searching && tasks.length != 0">
      <table ng-table="searchTasksTableParams" template-pagination="utilities/data-table-pager.html"
        class="table table-full table-full-small">
        <tr ng-repeat="task in $data" class="clickable-row">
          <td class="col-checkbox col-md-1 no-padding" ng-show="isAdmin"
            header="'ng-table/headers/checkboxHeader.html'">
            <div class="checkbox">
              <label class="filled">
                <input type="checkbox"
                  ng-if="!task.status || (task.status !== 'Promoted' && task.status !== 'Completed')"
                  ng-model="task.selected" ui-on-drop="">
              </label>
            </div>
          </td>

          <td style="padding: 10px;" data-title="'Name'" sortable="'summary'" header-class="'header-tooltips'"
            header-title="'Click to sort'" filter="{ 'summary': 'text' }">
            <a class="tooltips-right" ng-click="goToTask(task, true)">{{task.summary}}<span> Click to open editing
                view</span></a>
          </td>

          <td header-title="'Click to sort'" data-title="'Task ID'" sortable="'key'" filter="{ 'key': 'text' }">
            {{task.key}}
          </td>

          <td data-title="'Modified'" sortable="'updated'" header-title="'Click to sort'" style="min-width: 85px;">
            {{task.updated | date: "yyyy-MM-dd":"UTC"}}
          </td>

          <td data-title="'Status'" ng-style="task.status !== '' && {'padding-top':'0px', 'padding-bottom':'0px'}"
            sortable="'status'" header-title="'Click to sort'">
            <div ng-if="task.status === 'In Review' && (!task.reviewers || task.reviewers.length === 0)"
              class="badge {{task.status}}"> Ready for
              Review
            </div>
            <div ng-if="task.status === 'In Review' && task.reviewers && task.reviewers.length !== 0"
              class="badge {{task.status}}">
              {{task.status}}
            </div>
            <div ng-if="task.status !== 'In Review'" class="badge {{task.status}}"> {{task.status}}</div>
          </td>

          <td data-title="'Author'">
            <div>{{task.assignee.displayName}}</div>
          </td>

          <td data-title="'Reviewers'">
            <div>{{getReviewersDisplayName(task.reviewers)}}</div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>