<section class="tables-data upgrade">
  <div class="row no-gutter no-padding">
    <div ng-if="fiveOFour" class="loading-merges amber">
      <div class="all-done">
        <div class="md md-sync"></div>
      </div>
      <h3>Your upgarde will complete successfully but is taking longer than usual. Please navigate away and continue your work.</h3>
    </div>

    <div class="loading-merges blue darken-1" ng-if="upgradingText">
      <div class="clock">
        <svg version="1.1" id="L2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
          <circle fill="none" stroke="#fff" stroke-width="4" stroke-miterlimit="10" cx="50" cy="50" r="48"/>
          <line fill="none" stroke-linecap="round" stroke="#fff" stroke-width="4" stroke-miterlimit="10" x1="50" y1="50" x2="85" y2="50.5">
            <animatetransform attributeName="transform"
       dur="2s"
       type="rotate"
       from="0 50 50"
       to="360 50 50"
       repeatCount="indefinite" />
          </line>
          <line fill="none" stroke-linecap="round" stroke="#fff" stroke-width="4" stroke-miterlimit="10" x1="50" y1="50" x2="49.5" y2="74">
            <animatetransform attributeName="transform"
       dur="15s"
       type="rotate"
       from="0 50 50"
       to="360 50 50"
       repeatCount="indefinite" />
          </line>
        </svg>
      </div>
      <h3>{{upgradingText}}</h3>
    </div>
    <div class="loading-merges darken-1" ng-if="upgradeStatus"
      ng-class="[{green : upgradeStatus === 'COMPLETED'},
                {red : upgradeStatus === 'FAILED_UPGRADE' || upgradeStatus === 'FAILED_PRE-INTEGRITY'},
                {amber : upgradeStatus === 'COMPLETED_WITH_INTEGRITY_FAILURES'}]">      
      <div ng-if="upgradeStatus === 'COMPLETED'">
        <div class="all-done">
          <div class="md md-done"></div>
        </div>
        <h3>Upgrade was successful. Please remember to rebase your projects.</h3>
      </div>

      <h3 ng-if="upgradeStatus === 'FAILED_UPGRADE'">The upgrade failed, please contact technical support.</h3>
      <h3 ng-if="upgradeStatus === 'FAILED_PRE-INTEGRITY'">Pre-integrity check failed, please contact technical support.</h3>
      <h3 ng-if="upgradeStatus === 'COMPLETED_WITH_INTEGRITY_FAILURES'">Upgrade completed with Integrity Failures. You will now need to rebase your Master project, resolve these issues and promote them before you can continue authoring.</h3>
      
      <div class="row">
        <div class="col col-md-4"></div>
        <div class="col col-md-4" style="text-align: center;">
          <button class="btn btn-default blue" ng-click="gotBackToCodeSystem()">       
            <span ng-if="upgradeStatus === 'COMPLETED' || upgradeStatus === 'COMPLETED_WITH_INTEGRITY_FAILURES'" class="button-link">Continue</span>
            <span ng-if="upgradeStatus === 'FAILED_UPGRADE' || upgradeStatus === 'FAILED_PRE-INTEGRITY'" class="button-link">Close</span>
          </button>
        </div>
        <div class="col col-md-4"></div>        
      </div>
      
    </div>

  </div>
</section>
