<div id="transformModal" class="clearfix" ng-show="!loading">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Template Transformation</h4>
  </div>
  <div class="modal-body">
      <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 no-padding">
      <div class="col-md-12">
              <label> Select Transformation Target</label>
            </div>
      <input class="form-control m-15 search-box no-border-bottom-search transform-target" ng-model="templateTo" placeholder="Select Target Template"
                        typeahead="suggestion as suggestion.name for suggestion in getTemplateSuggestions($viewValue)"
                        typeahead-focus-first="false"
                        typeahead-loading="typeTypeaheadLoading"
                        typeahead-wait-ms="700"
                        typeahead-on-select="newSearch(false, suggestion)"
                        typeahead-editable="false"
                        typeahead-min-length="3">
    </div>
    <div class="row col-md-12 no-padding top-modal add-triangles-bottom reasonModal row transform-indicator">
        <div class="col-md-12">
          <label> Select Description Inactivation Reason </label>
        </div>
        <div class="col-md-12">
          <div ng-repeat="reason in reasons">
            <label><input type="radio" name="reason" ng-value="reason" ng-model="inactivationReason" ng-init="reason.id=='NONCONFORMANCE_TO_EDITORIAL_POLICY'?(inactivationReason=reason):''" ng-click="updateAssociations(inactivationReason)">{{reason.text}}</label>
          </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row no-padding no-gutter"> 
      <!-- If has a key, option to delete task --> 
      
      <!-- Cancel always appears -->
      <div class="col-md-4">
        <button type="button" class=" col-md-12 btn btn-warning no-margin"
                ng-click="cancel()">Cancel </button>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button type="button" ng-disabled="!templateTo" class="col-md-12 btn btn-info no-margin"
                ng-click="transform()">Transform </button>
      </div>
    </div>
  </div>
</div>
<div id="transformModal" class="clearfix loading-merges blue darken-1" style="height:700px;" ng-show="loading">
    <div class="clock">
        <svg version="1.1" id="L2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
          <circle fill="none" stroke="#fff" stroke-width="4" stroke-miterlimit="10" cx="50" cy="50" r="48"/>
          <line fill="none" stroke-linecap="round" stroke="#fff" stroke-width="4" stroke-miterlimit="10" x1="50" y1="50" x2="85" y2="50.5">
            <animatetransform attributeName="transform"
       dur="2s"
       type="rotate"
       from="0 50 50"
       to="360 50 50"
       repeatCount="indefinite" />
          </line>
          <line fill="none" stroke-linecap="round" stroke="#fff" stroke-width="4" stroke-miterlimit="10" x1="50" y1="50" x2="49.5" y2="74">
            <animatetransform attributeName="transform"
       dur="15s"
       type="rotate"
       from="0 50 50"
       to="360 50 50"
       repeatCount="indefinite" />
          </line>
        </svg>
    </div>
    <div class="loading-merges">
      <h3>Transforming concepts, please allow some time for the process to complete, you will be automatically re-routed to view the results.</h3>
    </div>
    <div></div>
</div>