<div>
  <div ng-show="getCrsConcepts().length > 0">
    <div class="row">
      <div class="p-l-5 m-t-10 m-b-10">
        <label class="control-label">CRS Concept List</label>
      </div>
    </div>
    <div class="row saved-list no-padding  " ng-repeat="item in crsConcepts">
      <div class="no-padding  col-lg-1 col-md-1 hidden-sm hidden-xs">
        <button ng-if="item.concept.conceptId && item.concept.definitionStatus === 'PRIMITIVE'"
                ng-disabled="isStatic"
                class="p-l-3 white-text primitive-buttons tooltips-bottom small-size-tooltip offset-tooltip-left"
                ng-class="[{'primitive-btn' : item.concept.definitionStatus === 'PRIMITIVE'}]">
        <div class="badge alert-warning ng-binding" ng-click="openConceptInformationModal(item)">&nbsp; </div>
        <span>Primitive</span> </button>
        <button ng-if="item.concept.conceptId && item.concept.definitionStatus !== 'PRIMITIVE'"
                ng-disabled="isStatic"
                class="p-l-3 primitive-buttons white-text  tooltips-bottom small-size-tooltip offset-tooltip-left"
                ng-class="[{'fully-defined-btn' : item.concept.definitionStatus !== 'PRIMITIVE'}]">
        <div class="badge alert-warning ng-binding" ng-click="openConceptInformationModal(item)">≡&nbsp; </div>
        <span>Fully Defined</span> </button>
      </div>
      <div ng-click="selectItem(item)" class="col-lg-8 col-md-6 col-sm-12 col-xs-12 no-padding"
           ui-draggable="true"
           drag="getConceptPropertiesObj(item)" drag-channel="conceptPropertiesObj" drop-channel=""> {{item.concept.fsn}} </div>
      <div class="no-padding  col-lg-2 col-md-2 hidden-sm hidden-xs"> <a ng-href="{{item.requestUrl}}" target="_blank">
        <button
            class="btn btn-default saved-list-buttons pull-left tooltips-bottom medium-size-tooltip offset-tooltip-right">
        <div class="fa fa-folder-open-o"></div>
        <span>View Content Request</span> </button>
        </a>
        <button ng-show="item.saved && !item.warning"
                class="btn btn-default saved-list-buttons pull-left btn-checked tooltips-bottom small-size-tooltip">
        <div class="fa fa-check"></div>
        <span>Concept Saved</span> </button>
        <button ng-show="item.warning"
                class="btn btn-default saved-list-buttons pull-left tooltips-bottom offset-tooltip-right ">
        <div class="md md-warning"></div>
        <span>Save Status Uncertain</span> </button>
        <button ng-if="!item.saved  || item.deleted"
                class="btn btn-default saved-list-buttons btn-reject pull-left tooltips-bottom small-size-tooltip"
                ng-click="rejectCrsRequest(item)">
        <div class="md md-remove-circle-outline"></div>
        <span>Reject</span> </button>
      </div>
    </div>
  </div>
  <div ng-show="getCrsEmptyRequests().length > 0">
    <div class="row">
      <div class="p-l-5 m-t-10 m-b-10">
        <label class="control-label">CRS Requests Without Proposed Concept</label>
      </div>
    </div>
    <div class="row saved-list no-padding  " ng-repeat="item in getCrsEmptyRequests()">
      <div class="no-padding  col-lg-1 col-md-1 hidden-sm hidden-xs"> </div>
      <div ng-click="selectItem(item)" class="col-lg-8 col-md-6 col-sm-12 col-xs-12 no-padding word-break"ui-draggable="true"
           drag="getConceptPropertiesObj(item)" drag-channel="conceptPropertiesObj" drop-channel=""> <a ng-href="{{item.requestUrl}}" target="_blank"> Content Request #{{item.conceptJson.issueKey}} </a> </div>
      <div class="no-padding  col-lg-2 col-md-2 hidden-sm hidden-xs"> <a ng-href="{{item.requestUrl}}" target="_blank">
        <button
            class="btn btn-default saved-list-buttons pull-left tooltips-bottom medium-size-tooltip offset-tooltip-right">
        <div class="fa fa-folder-open-o"></div>
        <span>View Content Request</span> </button>
        </a>
        <button ng-show="item.saved && !item.warning"
                class="btn btn-default saved-list-buttons pull-left tooltips-bottom medium-size-tooltip offset-tooltip-right ">
        <div class="fa fa-check"></div>
        <span>Concept Saved</span> </button>
        <button ng-show="item.warning"
                class="btn btn-default saved-list-buttons pull-left tooltips-bottom medium-size-tooltip offset-tooltip-right ">
        <div class="md md-warning"></div>
        <span>Save Status Uncertain</span> </button>
        {{item.saved}}, {{item.warning}} </div>
    </div>
  </div>
</div>
