<style>
  .badge {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    padding: 6px 10px;
    margin: 0px;
    line-height: 13px;

  }

  .Stale.badge {
    background-color: grey;
  }

  .Diverged.badge {
    background-color: orange;
  }

  .Up.To.Date.badge {
    background-color: green;
  }

  .Behind.badge {
    background-color: red;
  }

  .Forward.badge {
    background-color: blue;
  }
</style>


<div class="row no-gutter sca-container">
  <div style="background-color:#474747" class="sca-column col-lg-3 col-md-3 col-sm-3 dashboard-sidebar" ng-include
       src="'layout/sidebar.html'"></div>

  <!---->
  <div class="sca-content col-lg-9 col-md-9 col-sm-9 pull-right">
    <section class="tables-data">
      <div class="card">

        <div class="row" style="margin-right:0px;">
          <div class="col-md-6">
            <h3 class="table-title p-t-20">All Projects</h3>
          </div>
          <div class="col-md-6">
            <div class="table-search">
              <input type="text" ng-model="tableParams.filter()['search']" class="form-control"
                     placeholder="Search All Projects" autofocus/>
            </div>
          </div>

        </div>

        <div class="table-responsive white" style="margin-right:0px;">


          <table ng-table="tableParams" template-pagination="utilities/data-table-pager.html"
                 class="table table-full table-full-small">
            <tr ng-repeat="project in $data">

              <td data-title="'Project Name'" sortable="'title'" filter="{ 'title': 'text' }"><a
                ng-href="#/project/{{project.key}}">{{project.title}} </a>
              </td>
              <td data-title="'Project Lead'" sortable="'lead'" filter="{ 'lead': 'text' }">
                {{project.projectLead.displayName}}
              </td>

              <td data-title="'Classification Results'" sortable="'latestClassificationJson.status'">
                <a ng-href="#/project/{{project.key}}">
                  <button ng-show="project.latestClassificationJson != null"
                          title="{{project.latestClassificationJson.status}}" type="button"
                          ng-class="[{gray : project.latestClassificationJson.status === 'RUNNING'},
                          {red : project.latestClassificationJson.equivalentConceptsFound === true},
                           {amber : project.latestClassificationJson.redundantStatedRelationshipsFound === true},
                           {green : project.latestClassificationJson.redundantStatedRelationshipsFound === false && project.latestClassificationJson.equivalentConceptsFound === false}]"
                          class="btn btn-round btn-default lighten-2" tooltip="">
                    <span class="md md-notifications "></span>
                  </button>
                </a>

                <div class="ripple-wrapper"></div>
                </button>

              </td>
              <td data-title="'Validation Results'" sortable="'validationStatus'">
                <a ng-href="#/project/{{project.key}}">
                  <button ng-show="project.validationStatus != null"
                          title="{{project.validationStatus}}" type="button"
                          ng-class="[{gray : project.validationStatus === 'SCHEDULED'},
                          {red : project.validationStatus === 'FAILED'},
                          {gray : project.validationStatus === 'BUILDING'},
                          {green : project.validationStatus === 'COMPLETED'}]"
                          class="btn btn-round btn-default lighten-2" tooltip="">
                    <span class="md md-school"></span>
                  </button>
                </a>
                </button>

              </td>

              <td data-title="'Status'" sortable="'branchState'">
                <span class="badge" ng-class="'{{getBranchStateText(project)}}'">{{getBranchStateText(project)}}</span>
              </td>

            </tr>
          </table>
        </div>

      </div>
    </section>
  </div>

</div>

