<!doctype html>
<html class="no-js" style="height:100%">
<head>
  <meta charset="utf-8">
  <title>IHTSDO SCA (Single Concept Authoring)</title>
  <meta name="description" content="IHTSDO Tools Single Concept Authoring Services for SNOMED CT">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png"/>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16"/>
  <meta name="application-name" content="Single Concept Authoring"/>
  <meta name="msapplication-TileColor" content="#00A4E4"/>
  <meta name="msapplication-TileImage" content="mstile-144x144.png"/>
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/textAngular/dist/textAngular.css" />
  <link rel="stylesheet" href="bower_components/roboto-fontface/css/roboto-fontface.css" />
  <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
  <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css" />
  <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
  <link rel="stylesheet" href="bower_components/c3/c3.css" />
  <link rel="stylesheet" href="bower_components/bootstrap-additions/dist/bootstrap-additions.css" />
  <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->


</head>
<body ng-app="singleConceptAuthoringApp" scroll-spy id="top"
      class="theme-template-dark theme-blue" style="height:100%;">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
                                                                                                                    your
                                                                                                                    browser</a>
                       to improve your experience.</p>
<![endif]-->

<div ng-if="notProd">
  <div ng-if="development" ng-cloak="">
    <div class="development"></div>
  </div>
  <div ng-if="uat" ng-cloak="">
    <div class="uat"></div>
  </div>
</div>

<style>
  .ng-table-no-results {
    color: #fff;
    font-weight: 500;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #ffab40;
    line-height: 18px;
    background-color: #2196F3;
    margin: 20px;
    padding: 20px

  }
</style>

<main style="height:100%;">

  <div class="main-container" ng-class="globalStyleClasses">
    <div sca-header></div>
    <div ng-cloak ng-view bs-affix-target ></div>

    <div ng-include src="'layout/footer.html'"></div>
  </div>

</main>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g), r = n
      .getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a,
      r)
  }(window, document, 'script', '//www.google-analytics.com/analytics.js',
    'ga');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/rangy/rangy-core.js"></script>
<script src="bower_components/rangy/rangy-classapplier.js"></script>
<script src="bower_components/rangy/rangy-highlighter.js"></script>
<script src="bower_components/rangy/rangy-selectionsaverestore.js"></script>
<script src="bower_components/rangy/rangy-serializer.js"></script>
<script src="bower_components/rangy/rangy-textrange.js"></script>
<script src="bower_components/textAngular/dist/textAngular.js"></script>
<script src="bower_components/textAngular/dist/textAngular-sanitize.js"></script>
<script src="bower_components/textAngular/dist/textAngularSetup.js"></script>
<script src="bower_components/velocity/velocity.js"></script>
<script src="bower_components/velocity/velocity.ui.js"></script>
<script src="bower_components/ngSmoothScroll/angular-smooth-scroll.js"></script>
<script src="bower_components/ng-table/dist/ng-table.min.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="bower_components/angular-auto-validate/dist/jcs-auto-validate.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/c3/c3.js"></script>
<script src="bower_components/c3-angular/c3js-directive.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
<script src="bower_components/angular-ui-sortable/sortable.js"></script>
<script src="bower_components/angular-native-dragdrop/draganddrop.js"></script>
<script src="bower_components/angular-elastic/elastic.js"></script>
<script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="app.js"></script>

<!-- SCA AngularJS services -->
<script src="shared/accountService/accountService.js"></script>
<script src="shared/config-service/configService.js"></script>
<script src="shared/snowowl-service/snowowlService.js"></script>
<script src="shared/sca-service/scaService.js"></script>
<script src="shared/component-authoring-util/componentAuthoringUtil.js"></script>
<script src="shared/notification-service/notificationService.js"></script>
<script src="shared/metadata-service/metadataService.js"></script>
<script src="shared/promotion-service/promotionService.js"></script>
<script src="shared/inactivation/inactivationService.js"></script>
<script src="shared/validation/validationService.js"></script>
<script src="shared/crs-service/crsService.js"></script>

<!-- SCA Components / Views -->
<script src="components/header/header.js"></script>
<script src="components/about/about.js"></script>
<script src="components/home/home.js"></script>
<script src="components/projects/projects.js"></script>
<script src="components/my-projects/myProjects.js"></script>
<script src="components/review-tasks/reviewTasks.js"></script>
<script src="components/project-merge/projectMerge.js"></script>
<script src="components/project/project.js"></script>
<script src="components/edit/edit.js"></script>
<script src="components/test/test.js"></script>

<!-- SCA Shared Elements -->
<script src="shared/sidebar/sidebar.js"></script>
<script src="shared/sidebar-edit/sidebarEdit.js"></script>
<script src="shared/taxonomy/taxonomyPlugin.js"></script>
<script src="shared/taxonomy/taxonomy.js"></script>
<script src="shared/search/searchPlugin.js"></script>
<script src="shared/search/search.js"></script>
<script src="shared/search-modal/searchModal.js"></script>
<script src="shared/savedList/savedList.js"></script>
<script src="shared/task-detail/taskDetail.js"></script>
<script src="shared/concept-edit/conceptEdit.js"></script>
<script src="shared/classification/classification.js"></script>
<script src="shared/validation/validation.js"></script>
<script src="shared/inactivation/inactivation.js"></script>
<script src="shared/conflicts/conflicts.js"></script>
<script src="shared/classification-report/classificationReport.js"></script>
<script src="shared/feedback/feedback.js"></script>
<script src="shared/inactivate-component-modal/inactivateComponentModal.js"></script>
<script src="shared/model-diagramming/drawModel.js"></script>
<script src="shared/model-diagramming/drawModelSca.js"></script>
<script src="shared/task/task.js"></script>
<script src="shared/user-preferences/userPreferences.js"></script>
<script src="shared/taxonomy-tree/taxonomyTree.js"></script>
<script src="shared/concept-information/conceptInformationModal.js"></script>
<script src="shared/promote-modal/promoteModal.js"></script>
<script src="shared/crs-concept-list/crsConceptList.js"></script>

<!-- Test packages -->
<script src="shared/qa-test/qaTestPackage.js"></script>
<script src="shared/qa-test/qaTestGroupCharacterSpacing.js"></script>
<script src="shared/qa-test/qaTestGroupDescriptions.js"></script>
<script src="shared/qa-test/qaTestGroupRelationships.js"></script>

<!-- SCA Utilities -->
<script src="utilities/compileHtml.js"></script>
<script src="shared/resize/resize.js"></script>
<script src="shared/navbar/navbar-hover.js"></script>
<script src="shared/navbar/navbar-search.js"></script>
<script src="utilities/noui-slider.js"></script>
<script src="shared/menu-link/menu-link.js"></script>
<script src="shared/menu-toggle/menu-toggle.js"></script>
<script src="vendors/side-nav.js"></script>
<script src="vendors/canvg.min.js"></script>
<script src="vendors/fsm-sticky-header.js"></script>
<script src="vendors/angular-smooth-scroll.js"></script>
<script src="vendors/angular-placeholders.js"></script>
<script src="utilities/formcontrol.js"></script>
<script src="utilities/noui-slider.js"></script>
<script src="utilities/scroll-spy.js"></script>
<script src="vendors/jquery.svg.js"></script>
<script src="utilities/scaAutoExpand.js"></script>
<script src="utilities/scaInfiniteScroll.js"></script>
<script src="utilities/layoutHandler.js"></script>

<!-- endbuild -->
<script type="text/javascript" src="https://jira.ihtsdotools.org/s/f890da76f5b668bf7eb9dc26a2170e6e-T/en_US-je3gdv/64027/28/1.4.27/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=248feca3"></script>
    <script type="text/javascript">
	window.ATL_JQ_PAGE_PROPS = {
		"triggerFunction": function(showCollectorDialog) {
			jQuery("#myCustomTrigger").click(function(e) {
				e.preventDefault();
				showCollectorDialog();
			});
		}
	};
</script>
</body>
</html>
