
<div id="inactivateComponentModal" class="clearfix">
  <div ng-if="!deletion" class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Select Reason For Inactivating {{componentType}}</h4>
  </div>
  <div ng-if="deletion" class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Deleting: {{concept.fsn}}</h4>
  </div>
  <div class="modal-body">
    <div class="row classification-report">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{active : actionTab === 1}" class=""> <a
                                                                                ng-click="actionTab=1"
                                                                                aria-controls="home" role="tab"
                                                                                data-toggle="tab"> Inactivation
          Reason</a> </li>
        <li role="presentation" ng-show="conceptId" ng-class="{active : actionTab === 2}" class=""><a
        ng-click="actionTab=2" aria-controls="home"
        role="tab"
        data-toggle="tab">Children
          ({{!inboundRelationshipsLoading ?
          children.length : 'Loading'}})</a> </li>
        <li role="presentation" ng-show="conceptId" ng-class="{active : actionTab === 3}" class=""><a
        ng-click="actionTab=3" aria-controls="home"
        role="tab"
        data-toggle="tab">Descendants ({{!descendantsLoading
          ? descendants.total :
          'Loading'}})</a> </li>
        <li role="presentation" ng-show="conceptId" ng-class="{active : actionTab === 4}" class=""><a
        ng-click="actionTab=4" aria-controls="home"
        role="tab"
        data-toggle="tab">All Incoming
          ({{!inboundRelationshipsLoading
          ? inboundRelationshipsTotal :
          'Loading'}})</a> </li>
      </ul>
    </div>
    
    <!-- Tab panes -->
    <div class="tab-content row m-t-10 col-sm-12 no-padding">
      <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab === 1}"> 
        <!-- reasons select -->
        <div ng-if="!deletion" >
          <div class="row col-md-12 no-padding top-modal add-triangles-bottom">
            <div class="col-md-12 ">
              <label> Select Inactivation Reason </label>
            </div>
            <div class="col-md-12 no-padding m-l-5">
              <select id="taskProject" name="select-reason" class="form-control"
                    ng-options="reason as reason.text for reason in reasons"
                    ng-model="inactivationReason" ng-change="updateAssociations(inactivationReason)">
              <option value="disabled">- Select a reason (required) -</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12 no-padding  add-color" ng-if="(componentType === 'Concept' || (componentType === 'Description' && inactivationReason.id === 'NOT_SEMANTICALLY_EQUIVALENT')) && associationTargets.length > 0">
          <div class="col-sm-12 no-padding add-color">
            <div class="row p-t-10">
              <div class="col-md-5">
                <label> Association Type </label>
              </div>
              <div class="col-md-6">
                <label> Concept</label>
              </div>
            </div>
            <div class="row" ng-repeat="association in associations">
              <div class="col-md-5">
                <select class="form-control"
                      ng-options="type as type.text for type in associationTargets"
                      ng-model="association.type">
                  <option value="disabled">- Select an Association Type (optional) -</option>
                </select>
              </div>
              <div class="col-md-6">
              
                <textarea type="text" class="form-control"
                        ng-model="association.concept"
                        typeahead="suggestion as (suggestion.concept.fsn + ' (' + suggestion.concept.conceptId + ')') for suggestion in getConceptsForTypeahead($viewValue)"
                        typeahead-focus-first="false"
                        typeahead-wait-ms="500"
                        typeahead-editable="false" typeahead-min-length="3"
                        placeholder="Type to select an associated concept..."></textarea>
              </div>
              <div class="col-md-1">
                <button type="button" ng-click="addAssociation($index)"
                      class="btn-default add-buttons md fa fa-plus button-width-plus tooltips-left tooltips-light normal-case"> <span>Add Association</span></button>
                <button type="button" ng-click="removeAssociation($index)"
                      class="btn-default add-buttons md fa fa-minus button-width-minus  tooltips-left tooltips-light normal-case"> <span>Remove Association</span></button>
              </div>
            </div>
          </div>
        </div>
        
       </div>
        <div ng-if="deletion">
          <div class="col-sm-12 no-padding  add-color" ng-show="inboundRelationshipsLoading"> Checking inbound relationships... </div>
          <div class="col-sm-12 no-padding  add-color" ng-show="inboundRelationshipsTotal === 0"> No inbound relationships found - Concept may be deleted. </div>
          <div class="col-sm-12 no-padding  add-color" ng-show="!inboundRelationshipsLoading && inboundRelationshipsTotal !== 0"> Inbound relationships found - Please suggest a replacement target for any inbound relationships - note this will not affect the concept to be deleted but will be used to re-target existing inbound items. </div>
          <div class="row p-t-10" ng-show="!inboundRelationshipsLoading && inboundRelationshipsTotal !== 0">
            <div class="col-md-6">
              <label> Concept</label>
            </div>
          </div>
          <div class="row" ng-repeat="association in associations">
          <div class="row" ng-show="!inboundRelationshipsLoading && inboundRelationshipsTotal !== 0">
            <div class="col-md-6">
              <textarea type="text" class="form-control"
                        ng-model="association.concept"
                        typeahead="suggestion as (suggestion.concept.fsn + ' (' + suggestion.concept.conceptId + ')') for suggestion in getConceptsForTypeahead($viewValue)"
                        typeahead-focus-first="false"
                        typeahead-wait-ms="500"
                        typeahead-editable="false" typeahead-min-length="3"
                        placeholder="Type to select an associated concept..."></textarea>
            </div>
          </div>
          </div>
      </div>
        </div>
      <!-- children -->
      <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab === 2}">
        <table ng-table="tableParamsChildren" template-pagination="utilities/data-table-pager.html"
               class="table table-full-small">
          <tr ng-repeat="item in $data">
            <td data-title="'Characteristic Type'" sortable="'characteristicType'"> {{item.characteristicType === 'STATED_RELATIONSHIP' ? 'Stated' : 'Inferred'}} </td>
            <td data-title="'FSN'" sortable="'source.fsn.term'"> {{item.source.fsn.term}} </td>
          </tr>
        </table>
      </div>
      
      <!-- descendants -->
      <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab === 3}">
        <div ng-show="descendants.total > 200" class="alert alert-info">Limiting displayed results to {{tableLimit}}
          items </div>
        <table ng-table="tableParamsDescendants" template-pagination="utilities/data-table-pager.html"
               class="table table-full-small">
          <tr ng-repeat="item in $data">
            <td data-title="'ID'" sortable="'id'">{{item.id}}</td>
            <td data-title="'FSN'" sortable="'sortableName'"> {{item.sortableName}} </td>
          </tr>
        </table>
      </div>
      
      <!-- all inbound relationships -->
      <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab === 4}">
        <div ng-show="inboundRelationshipsTotal > 200" class="alert alert-info">Limiting displayed results to
          {{tableLimit}} items </div>
        <table ng-table="tableParamsInboundRelationships" template-pagination="utilities/data-table-pager.html"
               class="table table-full-small">
          <tr ng-repeat="item in $data">
            <td data-title="'Characteristic Type'" sortable="'characteristicType'"> {{item.characteristicType === 'STATED_RELATIONSHIP' ? 'Stated' : 'Inferred'}} </td>
            <td data-title="'Type'" sortable="'type.fsn.term'"> {{item.type.fsn.term}} </td>
            <td data-title="'FSN'" sortable="'source.fsn.term'"> {{item.source.fsn.term}} </td>
          </tr>
        </table>
        <div class="p-20">Note: Inactive relationships are not shown, but are included in the total count.</div>
      </div>
   
  </div>
  <div class="modal-footer" ng-if="!deletion">
    <div class="row col-md-12 no-padding top-modal">
      <style>
		.top-modal .col-md-6.left-button{padding-left:0px}
		.top-modal .col-md-6.right-button{padding-right:0px}
		</style>
      <div class=" col-md-6 left-button ">
        <button type="button"
                  class="btn btn-default col-md-12  cancel-action-btn  no-padding"
                  ng-click="cancel()"> Cancel {{componentType}} Inactivation </button>
      </div>
      <div class=" col-md-6 right-button">
        <button type="button"
                  class="btn btn-default  col-md-12  p-10 complete-action-btn no-padding"
                  ng-disabled="associationTargets.length > 0 && hasNoConceptTarget()"
                  ng-click="selectReason(inactivationReason)"> Continue with {{componentType}} Inactivation </button>
      </div>
    </div>
  </div>
  <div class="modal-footer" ng-if="deletion">
    <div class="row col-md-12 no-padding top-modal">
      <div class=" col-md-6 left-button ">
        <button type="button"
                  class="btn btn-default col-md-12  cancel-action-btn  no-padding"
                  ng-click="cancel()"> Cancel Deletion </button>
      </div>
      <div class=" col-md-6 right-button" ng-if="inboundRelationshipsTotal === 0">
        <button type="button"

                  class="btn btn-default col-md-12 p-10 complete-action-btn no-padding"
                  ng-click="delete()"> Confirm Deletion </button>
      </div>
      <div class=" col-md-6 right-button" ng-if="inboundRelationshipsTotal !== 0">
        <button type="button"

                  class="btn btn-default col-md-12 p-10 complete-action-btn no-padding"
                  ng-click="selectReason(inactivationReason)"> Continue with Deletion </button>
      </div>
    </div>
  </div>
</div>
</div>