<div id="inactivateComponentModal">

  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Select Reason For Inactivating {{componentType}}</h4>
  </div>


  <div class="modal-body">

    <select id="taskProject" name="select-reason" class="form-control"
            ng-options="reason as reason.text for reason in reasons"
            ng-model="reasonSelected">
      <option value='' disabled>- Select a reason (required) -</option>
    </select>

    <div ng-show="associationTargets.length > 0">
      <hr>

      <select id="associationTarget" name="historical-reason" class="form-control"
              ng-options="associationTarget as associationTarget.text for associationTarget in associationTargets"
              ng-model="associationTargetSelected">
        <option value='' disabled>- Select an association reference (optional) -</option>
      </select>
    </div>
  </div>

  <div class="modal-footer">

    <button type="button" class="btn btn-success"
            ng-click="selectReason(reasonSelected, associationTarget)">Select
    </button>
  </div>

</div>