<section class="tables-data">
 
  <div class="row no-padding no-gutter ">
    <div class="col-md-12 m-t-10 ">
      <div class="col-md-6" ng-if="!deletion">Inactivation: {{inactivationConcept.fsn}}, Reason: {{reasonId}} -<span
        ng-repeat="concept in histAssocTargets.concepts"> {{concept.assocName}} {{concept.fsn}} </span></div>
      <div class="col-md-6" ng-if="deletion">Deletion - Replacement: {{inactivationConcept.fsn}}<span
        ng-repeat="concept in histAssocTargets.concepts"> {{concept.assocName}} {{concept.fsn}} </span></div>

      <button ng-if="!deletion"
              class="col-md-2 btn btn-default complete-action-btn pull-right tooltips-bottom m-r-10 large-size-tooltip offset-tooltip-left"
              style="text-transform: none"
              ng-disabled="!isComplete()"
              ng-click="completeInactivation()">
        Complete Inactivation
      </button>
      <button ng-if="deletion"
              class="col-md-2 btn btn-default complete-action-btn pull-right tooltips-bottom m-r-10 large-size-tooltip offset-tooltip-left"
              style="text-transform: none"
              ng-disabled="!isComplete()"
              ng-click="completeInactivation()">
        Complete Deletion
      </button>
      <button ng-if="!deletion"
              class="btn btn-default cancel-action-btn pull-right col-md-2 m-r-10" style="text-transform: none"
              ng-click="cancelInactivation()">Cancel Inactivation
      </button>
      <button ng-if="deletion"
              class="btn btn-default cancel-action-btn pull-right col-md-2 m-r-10" style="text-transform: none"
              ng-click="cancelInactivation()">Cancel Deletion
      </button>


    </div>
  </div>
  <div class="card m-10 validation-report">

    <div class="ng-table-no-results"
         ng-show="!initializing && affectedRelationshipIds.length === 0 && affectedConceptAssocs.length === 0 && affectedDescToConceptAssocs.length === 0">
      Inactivation affects no relationships or concepts.
    </div>

    <div
      ng-show="!initializing && (affectedRelationshipIds.length > 0 || affectedConceptAssocs.length > 0 || affectedDescToConceptAssocs.length > 0)">

      <!-- Nav tabs -->
      <div class="row inactivation-report classification-report">
        <ul style="display: inline; border-bottom: 0px;" class="nav nav-tabs" role="tablist" ng-init="actionTab=1">

          <li role="presentation" class="active classification"><a style="margin: 0px" ng-click="actionTab=1"
                                                                   aria-controls="home" role="tab"
                                                                   data-toggle="tab"> Children
            Affected ({{isaRelsTableParams.total()}})</a></li>
          <li role="presentation" class="classification"><a style="margin: 0px" ng-click="actionTab=2"
                                                            aria-controls="home" role="tab"
                                                            data-toggle="tab"> Attributes Affected
            ({{attrRelsTableParams.total()}})
          </a></li>
          <li role="presentation" class="redundant"><a ng-click="actionTab=3" aria-controls="home" role="tab"
                                                       data-toggle="tab">Historical Associations Affected
            ({{assocsConceptTableParams.total() + assocsDescToConceptTableParams.total()}})</a>
          </li>
             <li>
             <div class="p-10">
            <input type="text" ng-model="tableFilter" ng-change="reloadTables()"
                   ng-model-options="{ debounce: 500 }"
                   placeholder="Search Results"/>
                   </div>
          </li>
          <li>
               <div class="p-5">
            <button class="btn btn-alert green  pull-right tooltips-bottom large-size-tooltip offset-tooltip-left"
                    style="text-transform: none"
                    ng-click="acceptAll()">
              <i class="md md-thumb-up"></i>Accept All
              </button>
            </div>
          </li>
       
        </ul>

      </div>


      <div ng-show="actionTab==1" class="table-responsive white" style="margin-right:0px;">
        <table
          ng-table="isaRelsTableParams" template-pagination="utilities/data-table-pager.html"
          class="table table-full table-full-small">
          <tr ng-repeat="rel in $data">
            <td data-title="'Concept'" sortable="'sourceFsn'">{{rel.sourceFsn}}
            </td>
            <td data-title="'Attribute'" sortable="'typeFsn'">
              <div class="tooltips-bottom small-size-tooltip offset-tooltip-left"> {{rel.typeFsn}}
                <span>Relationship type</span>
              </div>
            </td>
            <td data-title="'Value (Proposed)'" sortable="'target'">
              <div class="tooltips-bottom small-size-tooltip offset-tooltip-left">{{rel.target.fsn}}
                <span>Proposed Value</span>
              </div>
            </td>
            <td>
              <button type="button"
                      class="btn btn-round btn-default blue"
                      ng-click="editConcept(rel.sourceId)"
                      title="View/Edit Concept">
                <div class="md md-edit"></div>
              </button>
            </td>
            <td>
              <a class="btn btn-round btn-default base approve-button" ng-class="[{'green' : rel.accepted}, {'grey' : !rel.accepted}]"
                 ng-click="toggleRowAccepted(rel)">
                <div
                  class="md md-thumb-up "></div>

              </a>
            </td>
            <td>
              <button ng-disabled="rel.accepted || finalizing" class="btn btn-round btn-default red base"
                      ng-click="removeRelationship(rel)">
                <div
                  class="md fa-sca fa-minus "></div>

              </button>
            </td>
          </tr>
        </table>

      </div>
      <div ng-show="actionTab==2" class="table-responsive white" style="margin-right:0px;">
        <table
          ng-table="attrRelsTableParams" template-pagination="utilities/data-table-pager.html"
          class="table table-full table-full-small">
          <tr ng-repeat="rel in $data">
            <td data-title="'Concept'" sortable="'sourceFsn'">{{rel.sourceFsn}}
            </td>
            <td data-title="'RG'" sortable="'groupId'">{{rel.groupId}}</td>
            <td data-title="'Attribute'" sortable="'typeFsn'">
              <div class="tooltips-bottom small-size-tooltip offset-tooltip-left"> {{rel.typeFsn}}
                <span>Relationship type</span>
              </div>
            </td>
            <td data-title="'Value (Proposed)'" sortable="'target'">
              <div class="tooltips-bottom small-size-tooltip offset-tooltip-left"> {{rel.target.fsn}}
                <span>Proposed Value</span>
              </div>
            </td>
            <td>
              <button type="button"
                      class="btn btn-round btn-default blue"
                      ng-click="editConcept(rel.sourceId)"
                      title="View/Edit Concept">
                <div class="md md-edit"></div>
              </button>
            </td>
            <td>
              <a class="btn btn-round btn-default base approve-button"
                 ng-class="[{'green' : rel.accepted}, {'grey' : !rel.accepted}]"
                 ng-click="toggleRowAccepted(rel)">
                <div
                  class="md md-thumb-up "></div>

              </a>
            </td>
            <td>
              <button ng-disabled="rel.accepted || finalizing" class="btn btn-round btn-default red base"
                      ng-click="removeRelationship(rel)">
                <div
                  class="md fa-sca fa-minus "></div>

              </button>
            </td>
          </tr>
        </table>

      </div>
      <div ng-show="actionTab==3" class="table-responsive white" style="margin-right:0px;">
        <div ng-show="affectedConceptAssocs.length > 0">
          <h4>Concept Historical Associations</h4>
          <table
            ng-table="assocsConceptTableParams" template-pagination="utilities/data-table-pager.html"
            class="table table-full table-full-small">
            <tr ng-repeat="rel in $data">

              <td data-title="'SCTID'" sortable="'id'">{{rel.conceptId}}</td>

              <td data-title="'Concept FSN'" sortable="'sourceFsn'">{{rel.fsn}}
              </td>
              <td data-title="'Reason'" sortable="''">

                <select ng-model="rel.inactivationIndicator" class=""
                        ng-options="reason.id as reason.id for reason in inactivationReasons"></select>

              </td>
              <td data-title="'Association'" sortable="'refsetName'">

                <select ng-model="rel.refsetName" class=""
                        ng-options="target.id as target.id for target in getAssociationsForReason(rel.inactivationIndicator)"
                        ng-change="updateRefTarget(rel)"></select>
              </td>
              <td data-title="'Value (Proposed)'" sortable="'newTargetFsn'">
                <div drag-enter-class="sca-drag-target"
                     drag-hover-class="sca-drag-hover" drop-channel="conceptPropertiesObj"
                     ui-on-drop="dropAssociationTarget(rel, $data)">
              <textarea type="text" class="form-control" ng-model="rel.newTargetFsn"
                        typeahead="suggestion as suggestion.concept.fsn for suggestion in getTargetConceptSuggestions($viewValue)"
                        typeahead-focus-first="false"
                        typeahead-loading="typeTypeaheadLoading"
                        typeahead-wait-ms="700"
                        typeahead-on-select="setTargetConcept(rel, $item)"
                        typeahead-editable="false"
                        typeahead-min-length="3"></textarea>
                </div>
              </td>
              <td>
                <button type="button"
                        class="btn btn-round btn-default blue"
                        ng-click="viewAssociationConcept(rel.conceptId)"
                        title="View/Edit Concept">
                  <div class="md md-edit"></div>
                </button>
              </td>
              <td>
                <a class="btn btn-round btn-default base approve-button"
                   ng-class="[{'green' : rel.accepted}, {'grey' : !rel.accepted}]"
                   ng-click="toggleRowAccepted(rel)">
                  <div
                    class="md md-thumb-up "></div>

                </a>
              </td>
              <td>
                <button ng-disabled="rel.accepted || finalizing" class="btn btn-round btn-default red base"
                        ng-click="removeAssociation(rel)">
                  <div
                    class="md fa-sca fa-minus "></div>

                </button>
              </td>
            </tr>

          </table>
        </div>
        <div ng-show="affectedDescToConceptAssocs.length > 0">
          <h4>Description Historical Associations Referencing Concepts</h4>

          <table
            ng-table="assocsDescToConceptTableParams" template-pagination="utilities/data-table-pager.html"
            class="table table-full table-full-small">
            <tr ng-repeat="rel in $data">

              <td data-title="'SCTID'" sortable="'id'">{{rel.id}}</td>


              <td data-title="'Description Term'" sortable="'term'">{{rel.term}}
              </td>
              <td data-title="'Reason'" sortable="''">

                <select ng-model="rel.inactivationIndicator" class=""
                        ng-options="reason.id as reason.id for reason in inactivationReasons"></select>

              </td>
              <td data-title="'Association'" sortable="'refsetName'">

                <select ng-model="rel.refsetName" class=""
                        ng-options="target.id as target.id for target in getAssociationsForReason(rel.inactivationIndicator)"
                        ng-change="updateRefTarget(rel)"></select>
              </td>
              <td data-title="'Value (Proposed)'" sortable="'newTargetFsn'">
                <div drag-enter-class="sca-drag-target"
                     drag-hover-class="sca-drag-hover" drop-channel="conceptPropertiesObj"
                     ui-on-drop="dropAssociationTarget(rel, $data)">
              <textarea type="text" class="form-control" ng-model="rel.newTargetFsn"
                        typeahead="suggestion as suggestion.concept.fsn for suggestion in getTargetConceptSuggestions($viewValue)"
                        typeahead-focus-first="false"
                        typeahead-loading="typeTypeaheadLoading"
                        typeahead-wait-ms="700"
                        typeahead-on-select="setTargetConcept(rel, $item)"
                        typeahead-editable="false"
                        typeahead-min-length="3"></textarea>
                </div>
              </td>
              <td>
                <button type="button"
                        class="btn btn-round btn-default blue"
                        ng-click="viewAssociationConcept(rel.conceptId)"
                        title="View/Edit Concept">
                  <div class="md md-edit"></div>
                </button>
              </td>
              <td>
                <a class="btn btn-round btn-default base approve-button"
                   ng-class="[{'green' : rel.accepted}, {'grey' : !rel.accepted}]"
                   ng-click="toggleRowAccepted(rel)">
                  <div
                    class="md md-thumb-up "></div>

                </a>
              </td>
              <td>
                <button ng-disabled="rel.accepted || finalizing" class="btn btn-round btn-default red base"
                        ng-click="removeAssociation(rel)">
                  <div
                    class="md fa-sca fa-minus "></div>

                </button>
              </td>
            </tr>

          </table>
        </div>

        <!-- Removed pending further discussion
        <div ng-show="affectedDescToDescAssocs.length > 0">
          <h4>Description Historical Associations Referencing Descriptions</h4>

          <table
            ng-table="assocsDescToDescTableParams" template-pagination="utilities/data-table-pager.html"
            class="table table-full table-full-small">
            <tr ng-repeat="rel in $data">

              <td data-title="'SCTID'" sortable="'id'">{{rel.id}}</td>


              <td data-title="'Description Term'" sortable="'term'">{{rel.term}}
              </td>

              <td data-title="'Association'" sortable="'refsetName'">
                {{rel.refsetName}}
              </td>
              <td data-title="'Target ID'" sortable="'previousTargetId'">
                {{rel.previousTargetId}}
              </td>
              <td data-title="'Target Term'" sortable="'previousTargetTerm'">
                {{rel.previousTargetTerm}}
              </td>
            </tr>

          </table>
        </div>-->

        </br></br></br>
      </div>

      <!-- Taxonomy, models, and concepts -->
      <div class="row m-t-15 no-gutter" ng-if="editedConcept">

        <div concept-edit concept="editedConcept" id="height-{{concept.conceptId}}'"
             branch="branch" static="isStatic" autosave="false" show-inactive="true" inactivation-editing="true">
        </div>

        <!-- Taxonomy -->
        <!-- <div class="col-md-6">
           <div>
             <div ng-include="'shared/taxonomy/taxonomy.html'"></div>
           </div>
         </div>
         <div class="col-md-6">
           <div>
             <div ng-include="'shared/taxonomy/taxonomy.html'"></div>
           </div>
         </div>-->
      </div>
    </div>
  </div>
</section>

