<section class="tables-data">
  <!-- for ng-table checkboxes -->
  <script type="text/ng-template" id="ng-table/headers/checkboxHeader.html">
    <input type="checkbox" ng-model="checkAll" ng-change="selectAll(checkAll)" title="Select Concepts"
           id="select_all_failures"
           name="filter-checkbox" value=""/>
  </script>
  <script type="text/ng-template" id="editheader.html">
    <button ng-if="editable" type="button" ng-click="editSelectedConcepts()"
            class="btn btn-round btn-default blue" title="View/Edit Selected Concepts">
            <span
              class="md md-edit"></span>
    </button>
  </script>
  <style>

    .table > tbody > tr > td,
    .table > tbody > tr > th {
      padding: 0px;
      line-height: 1.846;
      vertical-align: top;
      border-top: 1px solid #F0F0F0;
    }

    .validation-report-header {
    }

    .case-failures, .back-button {
      border-radius: 5px
    }

    .back-button {
      background-color: transparent !important;
      border: 1px solid #00a6e5 !important;
      color: #00a6e5
    }

    .back-button:hover {
      background-color: #00a6e5 !important;
      border: 1px solid #00a6e5 !important;
    }

    .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], label input[type=checkbox] {
      margin-left: -33px;
    }
  </style>
  <div class="row red lighten-1" style="vertical-align: middle">
    <div class="col-md-12 classification-header">Inactivation: {{inactivationConcept.fsn}} (Reason: {{reasonId}})


      <button
        class="btn btn-default red darken-4 pull-right" style="text-transform: none"
        ng-click="cancelInactivation()"><i class="md md-check m-r-10"></i>Cancel Inactivation
      </button>

      <button
        class="btn btn-default green  pull-right" style="text-transform: none"
        ng-click="cancelInactivation()"><i class="md md-check m-r-10"></i>Complete Inactivation
      </button>
    </div>
  </div>
  <div class="card m-10 validation-report">

    <div class="ng-table-no-results" ng-show="!initializing && affectedRelationshipIds.length == 0">
      Inactivation affects no relationships or concepts.
    </div>

    <div ng-show="!initializing && affectedRelationshipIds.length > 0">

      <!-- Nav tabs -->
      <div class="row classification-report">
        <ul style="display: inline; border-bottom: 0px;" class="nav nav-tabs" role="tablist" ng-init="actionTab=1">

          <li role="presentation" class="active classification"><a style="margin: 0px" ng-click="actionTab=1"
                                                                   aria-controls="home" role="tab"
                                                                   data-toggle="tab"> Hierarchical Relationships
            Affected ({{isaRelsTableParams.total()}})
          <li role="presentation" class="classification"><a style="margin: 0px" ng-click="actionTab=2"
                                                            aria-controls="home" role="tab"
                                                            data-toggle="tab"> Attribute Relationships Affected
            ({{attrRelsTableParams.total()}})
          </a></li>
          <li role="presentation" class="redundant"><a ng-click="actionTab=3" aria-controls="home" role="tab"
                                                       data-toggle="tab">Previous Historical Associations
            ({{assocsTableParams.total()}})</a>
          </li>
          <li>
            <input type="text" ng-model="filter" class="form-control" ng-change="reloadTables()"
                   ng-model-options='{ debounce: 500 }'
                   placeholder="Search Results"/>
          </li>
        </ul>

      </div>


      <div ng-show="actionTab==1">
        <table
          ng-table="isaRelsTableParams" template-pagination="utilities/data-table-pager.html"
          class="table table-full table-full-small">
          <tr ng-repeat="rel in $data">
            <td class="col-checkbox" header="'ng-table/headers/checkboxHeader.html'">
              <input type="checkbox" ng-model="rel.selected" ui-on-drop="">
            </td>
            <td data-title="'Concept'" sortable="'sourceFsn'">{{rel.sourceFsn}}
            </td>
            <td data-title="'Attribute'" sortable="'typeFsn'">
              <div class="tooltips-bottom small-size-tooltip offset-tooltip-left"> {{rel.typeFsn}}
                <span>Relationship type</span>
              </div>
            </td>
            <td data-title="'Value (Proposed)'" sortable="'target'">
              <div class="tooltips-bottom small-size-tooltip offset-tooltip-left">{{rel.target.fsn}}
                <span>Proposed Value</span>
              </div>
            </td>
            <td data-header="'editheader.html'">
              <button type="button" class="btn btn-round btn-default blue"
                      ng-click="editConcept(rel.sourceId)"
                      title="View/Edit Concept">
                <span class="md md-edit"></span>
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div ng-show="actionTab==2" class="table-responsive white" style="margin-right:0px;">
        <table
          ng-table="attrRelsTableParams" template-pagination="utilities/data-table-pager.html"
          class="table table-full table-full-small">
          <tr ng-repeat="rel in $data">
            <td class="col-checkbox" header="'ng-table/headers/checkboxHeader.html'">
              <input type="checkbox" ng-model="rel.selected" ui-on-drop="">
            </td>

            <td data-title="'Concept'" sortable="'sourceFsn'">{{rel.sourceFsn}}
            </td>
            <td data-title="'RG'" sortable="'groupId'">{{rel.groupId}}</td>
            <td data-title="'Attribute'" sortable="'typeFsn'">
              <div class="tooltips-bottom small-size-tooltip offset-tooltip-left"> {{rel.typeFsn}}
                <span>Relationship type</span>
              </div>
            </td>
            <td data-title="'Value (Proposed)'" sortable="'target'">
              <div class="tooltips-bottom small-size-tooltip offset-tooltip-left"> {{rel.target.fsn}}
                <span>Proposed Value</span>
              </div>
            </td>
            <td data-header="'editheader.html'">
              <button type="button" class="btn btn-round btn-default blue"
                      ng-click="editConcept(rel.sourceId)"
                      title="View/Edit Concept">
                <span class="md md-edit"></span>
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div ng-show="actionTab==3" class="table-responsive white" style="margin-right:0px;">
        <div class="alert alert-warning">Not implemented</div>
      </div>
      <div ng-if="editedConcept" class="row no-padding no-gutter">
        <div concept-edit concept="editedConcept" branch="branch" static="false" autosave="false"
             component-styles="styles[editedConcept.conceptId]"
             save-function="conceptUpdateFunction(project, task, concept)"></div>
      </div>
      <div class="table-responsive white" style="margin-right:0px;" ng-show="actionTab==3">
      </div>
    </div>

    <!-- Taxonomy, models, and concepts -->
    <div class="row m-t-15 no-gutter" ng-show="editedConcept">
      <!-- Taxonomy -->
      <div class="col-md-6">
        <div>
          <div ng-include="'shared/taxonomy/taxonomy.html'"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <div ng-include="'shared/taxonomy/taxonomy.html'"></div>
        </div>
      </div>
    </div>
  </div>
</section>

