<!-- Simple wrapper modal for the concept information directive -->
<script type="text/ng-template" id="ng-table/characteristic-type-select.html">    
    <select ng-model="tableParamsInboundRelationships.filter()[name]">
      <option ng-repeat="option in filterCharacteristicTypes" value="{{option.id}}">{{option.title}}</option>
    </select>   
</script>
<script type="text/ng-template" id="ng-table/type-term-select.html">    
    <select ng-model="tableParamsInboundRelationships.filter()[name]">
      <option ng-repeat="option in filterTypeTerms" value="{{option.id}}">{{option.term}}</option>
    </select>   
</script>

<div id="conceptInformationModal" class="clearfix">
  <div class="modal-header">
    <div class="col-md-8">
      <h4 class="modal-title">{{fullConcept.fsn}}
        <div ng-show="!loadComplete">Loading...</div>
      </h4>
      <p ng-show="loadComplete">SCTID: {{fullConcept.conceptId}}, {{fullConcept.definitionStatus === 'PRIMITIVE' ?
        'Primitive' : 'Fully
        Defined'}},
        {{fullConcept.active
        ? 'Active' : 'Inactive'}} </p>
      <!-- Nav tabs --> 
    </div>
    <div class="col-md-4">
      <ul class="nav nav-tabs sidebar-tabs col-md-10 no-padding"
          role="tablist" ng-init="actionTab=1">
        <li role="presentation" class="no-padding active" ng-click="actionTab=1" ><a aria-controls="home"
                                                  role="tab"
                                                  data-toggle="tab" class="tooltips-bottom tooltips-light normal-case">
          <div class=" fa fa-info"></div>
          <span>Details</span> </a></li>
        <li role="presentation" class="no-padding" ng-click="actionTab=2" ><a ng-click="actionTab=2" aria-controls="home" role="tab" data-toggle="tab"
                                            class="tooltips-bottom tooltips-light normal-case">
          <div class="md md-my-library-books"></div>
          <span>Taxonomy</span></a></li>
          
        <li role="presentation" class="no-padding" ng-click="actionTab=3" ><a ng-click="actionTab=3" aria-controls="home" role="tab" data-toggle="tab"
                                            class="tooltips-bottom tooltips-light normal-case">
          <div class="md md-format-list-bulleted"></div>
          <span>All Incoming ({{inboundRelationshipsTotal}})</span>
          </a></li>
      </ul>
      <button type="button" class="close btn" ng-click="close()" ><i class="md md-close"></i></button>
    </div>
  </div>
  <div class="modal-body">
    <div class="col-md-12"> 
      
      <!-- Don't render until load complete -->
      <div ng-if="loadComplete"> 
        
        <!-- Tab panes -->
        <div class="tab-content col-md-12 no-padding m-t-10 ">
          <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab===1}">
            <div class="row grey-rounded p-l-10 p-r-10 p-b-10">
              <h4>Hierarchy</h4>
              <div class="col-md-6 no-padding concept-lists">
                <div class="col-md-3 no-padding">Parents ({{parents.length}})</div>
                <div class="col-md-9">
                  <div class="row" ng-repeat="parent in parents">
                    <p ng-click="loadConcept(parent.conceptId)"><a >{{parent.fsn}}</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 no-padding concept-lists">
                <div class="row">
                  <div class="col-md-3 no-padding">Children ({{children.length}})</div>
                  <div class="col-md-9">
                    <div class="row" ng-repeat="child in children">
                      <p><a ng-click="loadConcept(child.conceptId)">{{child.fsn}}</a></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="row grey-rounded p-l-10 p-r-10 p-b-10">
              <h4>Descriptions</h4>
              <table class="table">
                <thead>
                <th>Type</th>
                  <th>Term</th>
                  <th>ACPT (US)</th>
                  <th>ACPT (GB)</th>
                    </thead>
                <tbody>
                  <!-- TODO sorting on acceptability map second not working -->
                  <tr
                  ng-repeat="description in fullConcept.descriptions | orderBy: ['-active', 'type', '-description.acceptabilityMap[900000000000509007]', '-description.acceptabilityMap[900000000000508004]']"
                  ng-class="[{'text-muted': !description.active}]">
                    <td>{{description.type}}</td>
                    <td>{{description.term}}</td>
                    <td>{{description.acceptabilityMap['900000000000509007']}}</td>
                    <td>{{description.acceptabilityMap['900000000000508004']}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row grey-rounded p-l-10 p-r-10 p-b-10">
              <h4>Relationships</h4>
              <table class="table">
                <thead>
                <th>Group</th>
                  <th>Type</th>
                  <th>Target</th>
                  <th>CharType</th>
                    </thead>
                <tbody>
                  <tr
                  ng-repeat="relationship in fullConcept.relationships | filter:{characteristicType : 'STATED_RELATIONSHIP'} | orderBy: ['-active', 'groupId', '-characteristicType', 'type.fsn']"
                  ng-class="[{'text-muted': !relationship.active}]">
                    <td>{{relationship.groupId}}</td>
                    <td>{{relationship.type.fsn}}</td>
                    <td><a ng-click="loadConcept(relationship.target.conceptId)">{{relationship.target.fsn}}</a></td>
                    <td>{{relationship.characteristicType === 'STATED_RELATIONSHIP' ? 'Stated' : 'Inferred'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab===2}">
            <div class=" col-md-12 no-padding"> 
              
              <!-- don't render the directive until the concept has been loaded (handled above) -->
              <div taxonomy-tree branch="branch" concept="fullConcept"></div>
            </div>
          </div>
          <!-- all inbound relationships -->
          <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab === 3}">
            <div ng-show="inboundRelationshipsTotal > tableLimit" class="alert alert-info">Displayed results are limited to {{tableLimit}}</div>
            <table ng-table="tableParamsInboundRelationships" template-pagination="utilities/data-table-pager.html"
                   class="table table-full-small" show-filter="true">
              <tr ng-repeat="item in $data">
                <td data-title="'Characteristic Type'" sortable="'characteristicType'" filter="{ 'characteristicType': 'ng-table/characteristic-type-select.html' }"> {{item.characteristicType === 'STATED_RELATIONSHIP' ? 'Stated' : 'Inferred'}} </td>
                <td data-title="'Type'" sortable="'type.fsn.term'" filter="{'typeFsn': 'ng-table/type-term-select.html'}"> {{item.type.fsn.term}} </td>
                <td data-title="'FSN'" sortable="'source.fsn.term'" filter="{'sourceFsn': 'text'}"> {{item.source.fsn.term}} </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer"> 
    <!-- Intentionally left blank --> 
  </div>
</div>
