
<div class="row no-gutter sca-container ">
  <div class="sca-column col-lg-3 col-md-3 col-sm-3 dashboard-sidebar" ng-include
       src="'shared/sidebar/sidebar.html'"></div>

  <div class="sca-content dash-tables col-lg-9 col-md-9 col-sm-9 pull-right"> 

    <!-- Author Tasks -->
       <section class="tables-data row no-gutter">
      <div class="card">

        <div class="row card-title" >
          <div class="col-md-3 no-padding">
            <h3 class="table-title p-20">My Tasks</h3>
          </div>
          <div class="col-md-6">
            <div class="table-search">
              <input type="text" ng-model="tableParams.filter()['search']" class="form-control blue-underline"
                     placeholder="Search My Tasks" autofocus/>

            </div>

          </div>
          <div class="col-md-2 promoted-check-box">
            <button class="btn btn-default form-control dark-fix transparent"
                    ng-class="[{'md-check-box' : showPromotedTasks}, {'md-check-box-outline-blank' : !showPromotedTasks}]"
                    ng-click="toggleShowPromotedTasks()">
              <span class="promoted-check-box">Show Promoted</span></button>
          </div>
          <div class="col-md-1">
            <div class="pull-right p-t-20">
              <button type="button"
                      class="btn btn-round tasks-bubble  btn-info ng-scope tooltips-bottom large-size-tooltip offset-tooltip-right ">
                <div> {{tasks.length}}</div>
                <span>{{tasks.length}} tasks are assigned to you </span>

                <div class="ripple-wrapper"></div>
              </button>
              <button type="button"
                      class="btn btn-round tasks-bubble  btn-default tooltips-bottom medium-size-tooltip offset-tooltip-right "

                      ng-click="openCreateTaskModal()"
                      ng-disabled="!isProjectsLoaded()">
                <div class="md md-add"></div>
                <span ng-if="isProjectsLoaded()">Create a New Task</span>
                <span ng-if="!isProjectsLoaded()">Please wait...</span>
              </button>
              {{getProjects}}
            </div>
          </div>
        </div>

        <div class="table-responsive white">


          <table ng-table="tableParams" template-pagination="utilities/data-table-pager.html"
                 class="table table-full table-full-small">
            <tr ng-repeat="task in $data" class="clickable-row">


              <td data-title="'Name'" sortable="'summary'" header-class="'header-tooltips'"
                  header-title="'Click to sort'" filter="{ 'summary': 'text' }"><a class="tooltips-right"
                                                                                   ng-click="goToTask(task)">
                {{task.summary}}<span> Click to open editing view</span></a>
             <td header-title="'Click to sort'" data-title="'Task ID'" sortable="'key'" filter="{ 'key': 'text' }">
                {{task.key}}
              </td>
          
              <td data-title="'Modified'" sortable="'updated'" header-title="'Click to sort'">
                {{task.updated | date: "yyyy-MM-dd":"UTC"}}
              </td>

              <td data-title="'Rebase'" header-title="'Click to sort'">
                <button
                  ng-show="(task.branchState === 'DIVERGED' || task.branchState === 'BEHIND' || task.branchState === 'STALE') && task.status !== 'Promoted'"
                  type="button" ng-click="goToConflicts(task)"
                  class="btn btn-round  btn-center btn-default lighten-1 amber tooltips-left">
                  <div class="md md-sync "></div>
                  <span>Click to pull in changes from project</span>
                </button>
              </td>

              <td data-title="'Classification'" sortable="'latestClassificationJson.status'">
                <a ng-href="#/tasks/task/{{task.projectKey}}/{{task.key}}/classify">
                  <button ng-show="task.latestClassificationJson"
                          type="button"
                          ng-class="[
                          {indicator_green : task.latestClassificationJson.redundantStatedRelationshipsFound === false && task.latestClassificationJson.equivalentConceptsFound === false && task.latestClassificationJson.equivalentConceptsFound === false && task.latestClassificationJson.status !== 'STALE'},
                           {indicator_green : task.latestClassificationJson.status === 'COMPLETED' && task.latestClassificationJson.redundantStatedRelationshipsFound === false && task.latestClassificationJson.equivalentConceptsFound === false && task.latestClassificationJson.equivalentConceptsFound === false && task.latestClassificationJson.status !== 'STALE'},
                            {indicator_green : task.latestClassificationJson.status === 'SAVED' && task.latestClassificationJson.redundantStatedRelationshipsFound === false && task.latestClassificationJson.equivalentConceptsFound === false && task.latestClassificationJson.equivalentConceptsFound === false && task.latestClassificationJson.status !== 'STALE'},
                          {indicator_blue : task.latestClassificationJson.status === 'RUNNING'},
                          {indicator_red : task.latestClassificationJson.equivalentConceptsFound === true && task.latestClassificationJson.status !== 'STALE' || task.latestClassificationJson.status === 'FAILED' && task.latestClassificationJson.status !== 'STALE'},
                            {indicator_grey : task.latestClassificationJson.status === 'STALE'},
                           {indicator_amber : task.latestClassificationJson.redundantStatedRelationshipsFound === true && task.latestClassificationJson.equivalentConceptsFound === false && task.latestClassificationJson.status !== 'STALE'},
                           ]"
                          class="btn btn-round btn-default pull-left tooltips-right normalcase ">
                    <div class="md md-notifications "></div>
                    <span> <div class="message_classification_{{task.latestClassificationJson.status}}"><div
                      ng-if="task.latestClassificationJson.equivalentConceptsFound === true && task.latestClassificationJson.redundantStatedRelationshipsFound === false && task.latestClassificationJson.status !== 'STALE'"> but equivalent relationships were found </div><div
                      ng-if="task.latestClassificationJson.redundantStatedRelationshipsFound === true && task.latestClassificationJson.equivalentConceptsFound === false && task.latestClassificationJson.status !== 'STALE'"> but redundant inferred relationships were found </div><div
                      ng-if="task.latestClassificationJson.redundantStatedRelationshipsFound === true && task.latestClassificationJson.equivalentConceptsFound === true && task.latestClassificationJson.status !== 'STALE'"> but redundant inferred relationships and equivalency errors were found </div> </div></span>
                  </button>
                </a>


              </td>
              <td data-title="'Validation'" sortable="'latestValidationStatus'">
                <a class="tooltips-left" ng-href="#/tasks/task/{{task.projectKey}}/{{task.key}}/validate">
                  <button ng-show="task.latestValidationStatus && task.latestValidationStatus !== 'NOT_TRIGGERED' && task.latestValidationStatus !== 'Failed-to-retrieve'"
                          type="button"
                          ng-class="[{indicator_blue : task.latestValidationStatus === 'SCHEDULED'},
                          {indicator_red : task.latestValidationStatus === 'FAILED'},
                          {indicator_blue : task.latestValidationStatus === 'VALIDATING'},
                          {indicator_blue : task.latestValidationStatus === 'BUILDING'},
                          {indicator_green : task.latestValidationStatus === 'COMPLETED'}]"
                          class="btn btn-round   btn-default lighten-2 pull-left ">


                    <div class="md md-school "></div>
                    <span> <div class="message_validation_{{task.latestValidationStatus}}"> </div></span>
                  </button>
                </a>
              </td>

              <td data-title="'Feedback'" sortable="'feedbackMessageDate'" class="feedback-icon-link" header-title="'Click to sort'">

                <a class="tooltips-left " ng-href="#/tasks/task/{{task.projectKey}}/{{task.key}}/feedback">

                  <button ng-if="task.feedbackMessagesStatus === 'read'" type="button"
                          class="btn btn-round   btn-default  pink darken-1  "
                  >
                    <div class="md md-drafts"></div>
                    <span>View feedback</span>

                  </button>
                  <button ng-if="task.feedbackMessagesStatus === 'unread'" type="button"
                          class="btn btn-round   btn-default   pink darken-1 ">
                    <div class="md md-email"></div>
                    <span>New feedback is available </span>
                  </button>

                </a>
                <span class="feedback-message-date" ng-show="task.feedbackMessagesStatus === 'unread'">
                    &nbsp;{{task.feedbackMessageDate | date : "yyyy-MM-ddTHH:mm'Z'":"UTC"}}
                  </span>


              </td>

              <td data-title="'Status'" sortable="'status'" header-title="'Click to sort'">
                <div ng-if="task.status === 'In Review' && !task.reviewer" class="badge {{task.status}}"> Ready for
                  Review
                </div>
                <div ng-if="task.status === 'In Review' && task.reviewer" class="badge {{task.status}}">
                  {{task.status}}
                </div>
                <div ng-if="task.status !== 'In Review'" class="badge {{task.status}}"> {{task.status}}</div>
              </td>

              <td data-title="'Review'" sortable="'reviewer'" header-title="'Click to sort'">
                <div ng-show="task.status === 'Review Completed' || task.status === 'In Review'">
                  <div ng-if="task.reviewer" class="badge Claimed">Claimed</div>
                  <div ng-if="!task.reviewer" class="badge Available">Available</div>

                </div>
              </td>
</td>
            </tr>
          </table>

        </div>

      </div>
    </section>

  </div>

</div>

