

<div class="row no-gutter sca-container">
  <div class="sca-column col-lg-3 col-md-3 col-sm-3 dashboard-sidebar"
       ng-include src="'layout/sidebar.html'">
       <div class="sidebar-spacer"></div>
       </div>

  <div class="sca-column col-lg-9 col-md-9 col-sm-9 pull-right">

    <!-- Author Tasks -->
    <section class="tables-data">
      <div class="card">

        <div class="row" style="margin-right:0px;">
          <div class="col-md-4 no-padding">
            <h3 class="table-title p-20">My Tasks</h3>
          </div>
          <div class="col-md-6">
            <div class="table-search">
              <input type="text" ng-model="tableParams.filter()['search']" class="form-control"
                     placeholder="Search My Tasks" autofocus/>
            </div>
          </div>
          <div class="col-md-2">
      <span class="pull-right p-t-20">
                  <button type="button" class="btn btn-round btn-info ng-scope " title="Number of assigned tasks"
                          title="Total Task Count">
                    {{tasks.length}}
                    <div class="ripple-wrapper"></div>
                  </button>
               <button type="button" class="btn btn-round btn-default " title="Create New Task"
                       ng-click="openCreateTaskModal()"><span class="md md-add"></span>

                 <div class="ripple-wrapper"></div>
               </button> </span>
          </div>
        </div>

        <div class="table-responsive white" style="margin-right:0px;">


          <table ng-table="tableParams" template-pagination="utilities/data-table-pager.html"
                 class="table table-full table-full-small">
            <tr ng-repeat="task in $data">

              <td data-title="'Name'" sortable="'summary'" filter="{ 'summary': 'text' }"><a class="tooltips-right"
                ng-href="#/tasks/task/{{task.projectKey}}/{{task.key}}/edit"> {{task.summary}}<span> Click to open editing view</span></a>
              </td>
              <td data-title="'Project'" sortable="'projectKey'" filter="{ 'project': 'text' }">
                {{task.projectKey}}
              </td>
              <td data-title="'Last Modified'" sortable="'updated'">
                {{task.updated | date: "yyyy-MM-dd"}}
              </td>

              <td data-title="'Project Changes'" sortable="'status'">
                <a ng-href="#/tasks/task/{{task.projectKey}}/{{task.key}}/conflicts">
                  <button ng-show="task.branchState === 'DIVERGED' || task.branchState === 'BEHIND' || task.branchState === 'STALE'"
                          title="Attention Needed: {{task.branchState}}" type="button"
                          class="btn btn-round btn-default lighten-1 red" tooltip="">
                    <span class="md md-sync-problem "></span>
                  </button>
                </a>
              </td>

              <td data-title="'Classification Results'" sortable="'latestClassificationJson.status'">
                <a ng-href="#/tasks/task/{{task.projectKey}}/{{task.key}}/classify">
                  <button ng-show="task.latestClassificationJson != null"
                          title="{{task.latestClassificationJson.status}}" type="button"
                          ng-class="[{gray : task.latestClassificationJson.status === 'RUNNING'},
                          {red : task.latestClassificationJson.equivalentConceptsFound === true || task.latestClassification.status === 'FAILED'},
                           {amber : task.latestClassificationJson.redundantStatedRelationshipsFound === true},
                           {green : task.latestClassificationJson.redundantStatedRelationshipsFound === false && task.latestClassificationJson.equivalentConceptsFound === false}]"
                          class="btn btn-round btn-default lighten-2" tooltip="">
                    <span class="md md-notifications "></span>
                  </button>
                </a>

                <div class="ripple-wrapper"></div>
                </button>

              </td>

              <td data-title="'Validation Results'" sortable="'latestValidationStatus'">
                <a class="tooltips-left" ng-href="#/tasks/task/{{task.projectKey}}/{{task.key}}/validate">
                  <button ng-show="task.latestValidationStatus && task.latestValidationStatus !== 'NOT_TRIGGERED'"
                        type="button"
                          ng-class="[{gray : task.latestValidationStatus === 'SCHEDULED'},
                          {red : task.latestValidationStatus === 'FAILED'},
                          {gray : task.latestValidationStatus === 'BUILDING'},
                          {green : task.latestValidationStatus === 'COMPLETED'}]"
                          class="btn btn-round btn-default lighten-2" tooltip="">
                    <div class="md md-school "></div>  <span ng-class="[{gray : task.latestValidationStatus === 'SCHEDULED'},
                          {red : task.latestValidationStatus === 'FAILED'},
                          {gray : task.latestValidationStatus === 'BUILDING'},
                          {green : task.latestValidationStatus === 'COMPLETED'}]">Validation {{task.latestValidationStatus}}</span>
                  </button>
                   
                </a>
              </td>

              <td data-title="'Feedback'" sortable="'feedbackMessagesStatus'">
                <a ng-href="#/tasks/task/{{task.projectKey}}/{{task.key}}/feedback">

                  <button ng-if="task.feedbackMessagesStatus === 'read'" type="button"
                          class="btn btn-round btn-default pink darken-1" tooltip=""
                          title="View Feedback (All read)"><span class="md md-drafts"></span>

                    <div class="ripple-wrapper"></div>
                  </button>
                  <button ng-if="task.feedbackMessagesStatus === 'unread'" type="button"
                          class="btn btn-round btn-default pink darken-1" tooltip=""
                          title="View Feedback (Unread)"><span class="md md-email"></span>

                    <div class="ripple-wrapper"></div>
                  </button>
                </a>
              </td>
              <td data-title="'Status'" sortable="'status'">
                <span ng-if="task.status === 'IN_REVIEW' && !task.reviewer" class="badge {{task.status}}"> Ready for Review </span>
                <span ng-if="task.status === 'IN_REVIEW' && task.reviewer" class="badge {{task.status}}"> {{task.status}} </span>
                <span ng-if="task.status !== 'IN_REVIEW'" class="badge {{task.status}}"> {{task.status}} </span>
              </td>
            </tr>
          </table>

        </div>

      </div>
    </section>


    <!-- Reviewer Tasks -->
    <section class="tables-data">
      <div class="card">

        <div class="row" style="margin-right:0px;">
          <div class="col-md-4 no-padding">
            <h3 class="table-title p-20">Review Tasks</h3>
          </div>
          <div class="col-md-6">
            <div class="table-search">
              <input type="text" ng-model="reviewTableParams.filter()['search']" class="form-control"
                     placeholder="Search Available Review Tasks" autofocus/>
            </div>
          </div>
          <div class="col-md-2">
              <span class="pull-right p-t-20">
                  <button type="button" class="btn btn-round btn-info ng-scope " title="Number of assigned tasks"
                          title="Total Task Count">
                    {{reviewTasks.length}}
                    <div class="ripple-wrapper"></div>
                  </button>
              </span>
          </div>
        </div>
        <!--          Left in as a placeholder for reviewer role functionality-->
        <!--        <div class="table-responsive white" style="margin-right:0px;" ng-if="isReviewer()">-->
        <div class="table-responsive white" style="margin-right:0px;">

          <table ng-table="reviewTableParams" template-pagination="utilities/data-table-pager.html"
                 class="table table-full table-full-small">
            <tr ng-repeat="task in $data">

              <td data-title="'Name'" sortable="'summary'" filter="{ 'summary': 'text' }">
                <a class="tooltips-right"
                ng-click="viewReviewTask(task)"> {{task.summary}}<span> Click to open reviewer view</span></a>
              </td>
              <td data-title="'Project'" sortable="'projectKey'" filter="{ 'project': 'text' }">
                {{task.projectKey}}
              </td>
              <td data-title="'Author'" sortable="'authorKey'" filter="{ 'author': 'text' }">
                {{task.assignee.displayName}}
              </td>
              <td data-title="'Review Status'" sortable="'reviewer'">
                <span ng-if="task.reviewer" class="badge Claimed"> Claimed </span>
                <span ng-if="!task.reviewer" class="badge Available" >Available</span>

              </td>
              <td data-title="'Last Modified'" sortable="'updated'">
                {{task.updated | date: "yyyy-MM-dd"}}
              </td>
              <td data-title="'Classification Results'" sortable="'latestClassificationJson.status'">
                <a ng-href="#/tasks/task/{{task.projectKey}}/{{task.key}}/classify">
                  <button ng-show="task.latestClassificationJson != null"
                          title="{{task.latestClassificationJson.status}}" type="button"
                          ng-class="[{gray : task.latestClassificationJson.status === 'RUNNING'},
                          {red : task.latestClassificationJson.equivalentConceptsFound === true || task.latestClassification.status === 'FAILED'},
                           {amber : task.latestClassificationJson.redundantStatedRelationshipsFound === true},
                           {green : task.latestClassificationJson.redundantStatedRelationshipsFound === false && task.latestClassificationJson.equivalentConceptsFound === false}]"
                          class="btn btn-round btn-default lighten-2" tooltip="">
                    <span class="md md-notifications "></span>
                  </button>
                </a>

                <div class="ripple-wrapper"></div>
                </button>

              </td>

              <td data-title="'Validation Results'" sortable="'latestValidationStatus'">
               <a class="tooltips-left" ng-href="#/tasks/task/{{task.projectKey}}/{{task.key}}/validate">
                  <button ng-show="task.latestValidationStatus && task.latestValidationStatus !== 'NOT_TRIGGERED'"
                        type="button"
                          ng-class="[{gray : task.latestValidationStatus === 'SCHEDULED'},
                          {red : task.latestValidationStatus === 'FAILED'},
                          {gray : task.latestValidationStatus === 'BUILDING'},
                          {green : task.latestValidationStatus === 'COMPLETED'}]"
                          class="btn btn-round btn-default lighten-2" tooltip="">
                    <div class="md md-school "></div>  <span ng-class="[{gray : task.latestValidationStatus === 'SCHEDULED'},
                          {red : task.latestValidationStatus === 'FAILED'},
                          {gray : task.latestValidationStatus === 'BUILDING'},
                          {green : task.latestValidationStatus === 'COMPLETED'}]">Validation {{task.latestValidationStatus}}</span>
                  </button>
                   
                </a>
              </td>

              <td data-title="'Feedback'" sortable="'feedbackMessagesStatus'">
                <a ng-href="#/tasks/task/{{task.projectKey}}/{{task.key}}/feedback">

                  <button ng-if="task.feedbackMessagesStatus === 'read'" type="button"
                          class="btn btn-round btn-default pink darken-1" tooltip=""
                          title="View Feedback (All read)"><span class="md md-drafts"></span>

                    <div class="ripple-wrapper"></div>
                  </button>
                  <button ng-if="task.feedbackMessagesStatus === 'unread'" type="button"
                          class="btn btn-round btn-default pink darken-1" tooltip=""
                          title="View Feedback (Unread)"><span class="md md-email"></span>

                    <div class="ripple-wrapper"></div>
                  </button>
                </a>
              </td>
            </tr>
          </table>

        </div>

      </div>
    </section>
  </div>

</div>


</div>
