<section class="tables-data">
  <div class="row m-t-15 no-gutter table-responsive white">
    <div class="row">
      <div class="col-md-4 p-10" style="margin-top: 9px;">
          <strong>{{exceptionLoading ? 'Loading...' :
                                    (viewFullListException ?
                                    (overriddenLabels && overriddenLabels.exceptionLabel2 ? overriddenLabels.exceptionLabel2 :'Exceptions on all projects since last release') :
                                    (overriddenLabels && overriddenLabels.exceptionLabel1? overriddenLabels.exceptionLabel1 : 'Exceptions on this project since last promotion'))}}</strong>{{exceptionLoading ? '' : (': ' + exclusionsTableParams.total())}}
          <button
          ng-if="exclusionsTableParams.total() != 0"
          class="btn btn-round btn-default md md-file-download tooltips-right tooltips-light normal-case" style="background-color: #2196F3; margin-left:10px;"
          ng-click="downloadExceptions()"> <span> Download Exceptions </span> </button>
      </div>

      <div class="col-md-8 p-10">
        <div class="switch pull-right white-text">
          <label class="switch" style="margin-left:10px; margin-right:10px;"> {{overriddenLabels && overriddenLabels.exceptionLabel3 ? overriddenLabels.exceptionLabel3 : 'This Project'}}
            <input type="checkbox" ng-model="viewFullListException" ng-disabled="exceptionLoading"
                 ng-change="toggleViewFullListExceptions()">
            <span class="lever" style="margin:12px;"></span> {{overriddenLabels && overriddenLabels.exceptionLabel4 ? overriddenLabels.exceptionLabel4 : 'All Projects'}} </label>
        </div>

      </div>
    </div>
    <table ng-table="exclusionsTableParams" template-pagination="utilities/data-table-pager.html"
           class="table">
      <tr ng-repeat="failure in $data">
        <td class="col-md-1" header-title="'Click to sort'" data-title="'Concept'" sortable="'conceptId'"> {{failure.conceptId}} </td>
        <td class="col-md-3" header-title="'Click to sort'" data-title="'FSN'" sortable="'conceptFsn'"
            ng-click="editConcept(failure)">{{failure.conceptFsn}} </td>
        <td class="col-md-1" style="min-width: 120px;" header-title="'Click to sort'" data-title="'Component ID'" sortable="'componentId'"> {{failure.componentId}} </td>
        <td class="col-md-6" header-title="'Click to sort'" data-title="'Error Message'" sortable="'failureText'"> {{failure.failureText}} </td>
        <td class="col-md-1" header-title="'Click to sort'" data-title="'Date Added'" sortable="'timestamp'"> {{failure.timestamp | date : "yyyy-MM-ddTHH:mm:ss'Z'":"UTC"}} </td>
        <td class="col-md-1" header-title="'Click to sort'" data-title="'User'" sortable="'user'"> {{failure.user}} </td>
        <td class="button-column">
          <button ng-if="failure.reason"
            title="View reason"
            type="button" class="btn-round blue-grey-text darken-1"
            id="reason-more-{{failure.id}}"
            popover-template="'shared/exception-list/reasonMore.html'"
            popover-placement="left-top"
            popover-trigger="click: click"
            popover-append-to-body="true"
            style="background-color: transparent;"
          > <i class="fa fa-info-circle"></i>
          </button>
        </td>
        <td class="button-column" style="text-align: center; min-width: 52px">
          <button type="button"
            class="btn btn-round btn-default blue" title="Edit" ng-click="editException(failure.id)"
            style="display: inline-block;">
            <i class="md fa-sca fa-pencil"></i>
          </button>
          <button
            title="Remove failure from whitelist" ng-click="removeUserExclusionFromTable(failure)"
            type="button" class="btn btn-round btn-default blue"
            style="display: inline-block;">
            <i class="md md-close"></i>
          <div class="ripple-wrapper"></div>
          </button></td>
      </tr>
    </table>
  </div>
</section>
