<style>
  .no-gutter {
    padding-left: 0px;
    padding-right: 0px;
  }
</style>

<style>
  .no-gutter {
    padding-left: 0px;
    padding-right: 0px;
  }
</style>

<!-- Hide container until view is selected -->
<div class="sca-container" ng-if="thisView" style="">

  <!-- Control panel appears when elements are hidden -->
  <div class="button-nav">

    <!-- Switch to Classify View -->
    <button type="button" class="btn btn-default widget-toolbar green darken-1" title="Switch to Classify View"
            style="width: 50px; height: 50px; margin: 0; padding: 0;"
            ng-click="setView('classification')"><span
      class="md md-notifications"></span></button>

    <!-- Switch to Validate View -->
    <button type="button" class="btn btn-default widget-toolbar deep-purple lighten-1 validate"
            title="Switch to Validation View"
            style="width: 50px; height: 50px; margin: 0; padding: 0;"
            ng-click="setView('validation')"><span
      class="md md-school"></span></button>

    <!-- Switch to Conflict View -->
    <button type="button" class="btn btn-default widget-toolbar lighten-1 conflicts"
            ng-disabled="!canConflict || conflictsContainer.conflicts.concepts.length === 0"
            ng-class="[
            {'red' : conflictsContainer.conflicts.concepts.length > 0},
            {'grey' : !conflictsContainer.conflicts.concepts || conflictsContainer.conflicts.concepts.length === 0}]"
            title="Switch to Resolve Conflicts View"
            style="width: 50px; height: 50px; margin: 0; padding: 0;"
            ng-click="setView('conflicts')"><span
      class="md md-warning"></span></button>

    <!-- Rebase Task -->
    <button type="button"
            class="btn btn-default widget-toolbar yellow darken-2" title="Rebase"
            ng-disabled="!canRebase"
            style="width: 50px; height: 50px; margin: 0; padding: 0; position:fixed; bottom:38px; left:0px"
            ng-click="rebase()"> <span
      class="md md-autorenew"></span></button>
  </div>


  <!-- Main page content -->
  <div class="row no-gutter" style="padding-left: 50px;">

    <!-- Hide container until view is selected -->
    <div class="sca-container" style="">
      <!-- conflict report -->
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
        <div conflicts conflicts-container="conflictsContainer" target-branch="branch"
             source-branch="projectBranch"></div>
      </div>

      <!-- base and branch concept pairs -->
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">

        <div class="row no-gutter darken-3 grey" ng-repeat="conflictConceptPair in conflictConceptPairs">

          <!-- base concept -->
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 no-gutter">
            <div ng-if="conflictConceptPair.baseConcept" concept-edit concept="conflictConceptPair.baseConcept"
                 branch="conflictsSourceBranch" static="true">
            </div>
          </div>

          <!-- branch concept -->
          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 no-gutter">
            <div ng-if="conflictConceptPair.branchConcept" concept-edit concept="conflictConceptPair.branchConcept"
                 branch="conflictsTargetBranch" parent-branch="conflictsSourceBranch" static="false">
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>