<style>
  #taskSearchModal .table-full thead>tr>th {
    padding-left: 8px;
  }

  #taskSearchModal .checkbox {
    margin-top: unset;
    margin-bottom: unset;
  }

  #taskSearchModal .checkbox input[type=checkbox] {
    min-height: unset;
  }

  #taskSearchModal .table-full thead tr>th input[type=checkbox] {
    padding-top: 0px;
    padding-left: 9px;
    min-height: unset;
  }

  #taskSearchModal .table-full thead tr>th input[type=checkbox]:checked:before {
    top: 115px;
    left: 40px;
  }

  #taskSearchModal .table-full thead tr>th input[type=checkbox]:after {
    width: 16px;
    height: 16px;
    border: 1px solid #666;
  }

  #taskSearchModal .table-full thead tr>th input[type=checkbox]:focus {
    outline: none;
  }

  .cssProgress {
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
    background-size: 48px 48px;
    animation: cssProgressActive 2s linear infinite;
  }

  @keyframes cssProgressActive {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 96px 0px;
    }
  }
</style>

<div id="taskSearchModal" class="clearfix">
  <script type="text/ng-template" id="ng-table/headers/checkboxHeader.html">
    <div>
      <input type="checkbox" ng-model="checkAll" ng-change="selectAll(checkAll)" title="Select Concepts"
           id="select_all_failures"
           name="filter-checkbox" value=""/>
    </div>
  </script>
  <div class="modal-header clearfix">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Search Tasks</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-10 no-padding">
        <div>
          <input autofocus="true" class="form-control" ng-model="criteria" type="text" ng-change="clearMessages()"
            ng-keyup="$event.keyCode == 13 && search()" placeholder="Enter task's name or ID...">
          <br>
        </div>
      </div>
      <div class="pull-right col-md-2">
        <button type="button" class="col-md-12 btn btn-info no-margin" ng-disabled="loading"
          ng-click="search()">Search</button>
      </div>
    </div>
    <div class="alert alert-success text-center cssProgress" ng-show="searching">Searching...</div>
    <div class="alert alert-success" ng-show="message">{{message}}</div>
    <div class="row m-b-5" ng-if="tasks.length !== 0 && !searching && isAdmin">
      <button type="button" style="margin-top: -10px;" class="btn btn-danger no-margin"
        ng-disabled="processingTasksDeletion || getSelectedRequestsCount() == 0"
        ng-click="deleteSelectedTasks()">{{processingTasksDeletion ?
        'Processing Tasks Deletion...' : 'Delete Selected Tasks'}}</button>
    </div>
    <div class="table-responsive white" ng-show="!searching && tasks.length != 0">
      <table ng-table="searchTasksTableParams" template-pagination="utilities/data-table-pager.html"
        class="table table-full table-full-small">
        <tr ng-repeat="task in $data" class="clickable-row">
          <td class="col-checkbox col-md-1 no-padding" ng-show="isAdmin"
            header="'ng-table/headers/checkboxHeader.html'">
            <div class="checkbox">
              <label class="filled">
                <input type="checkbox" ng-model="task.selected" ui-on-drop="">
              </label>
            </div>
          </td>

          <td style="padding-top: 0px; padding-bottom: 0px;">
            <a ng-click="goToTask(task,true)"
              class="btn btn-round btn-center btn-default lighten-2 blue no-padding tooltips-right">
              <div class="md md-open-in-new"></div><span>Open in new Tab</span>
            </a>
          </td>

          <td style="padding: 10px;" data-title="'Name'" sortable="'summary'" header-class="'header-tooltips'"
            header-title="'Click to sort'" filter="{ 'summary': 'text' }">
            <a class="tooltips-right" ng-click="goToTask(task)">{{task.summary}}<span> Click to open editing
                view</span></a>
          </td>

          <td header-title="'Click to sort'" data-title="'Task ID'" sortable="'key'" filter="{ 'key': 'text' }">
            {{task.key}}
          </td>

          <td data-title="'Modified'" sortable="'updated'" header-title="'Click to sort'">
            {{task.updated | date: "yyyy-MM-dd":"UTC"}}
          </td>

          <td data-title="'Status'" ng-style="task.status !== '' && {'padding-top':'0px', 'padding-bottom':'0px'}"
            sortable="'status'" header-title="'Click to sort'">
            <div ng-if="task.status === 'In Review' && (!task.reviewers || task.reviewers.length === 0)"
              class="badge {{task.status}}"> Ready for
              Review
            </div>
            <div ng-if="task.status === 'In Review' && task.reviewers && task.reviewers.length !== 0"
              class="badge {{task.status}}">
              {{task.status}}
            </div>
            <div ng-if="task.status !== 'In Review'" class="badge {{task.status}}"> {{task.status}}</div>
          </td>

          <td data-title="'Author'">
            <div>{{task.assignee.displayName}}</div>
          </td>

          <td data-title="'Reviewers'">
            <div>{{getReviewersDisplayName(task.reviewers)}}</div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>