<section class="tables-data integrity-check">
  <script type="text/ng-template" id="ng-table/headers/checkboxHeader.html">
    <div class="checkbox">
      <label class="filled">
        <input type="checkbox" ng-model="checkAll" ng-change="selectAll(checkAll)"
       id="select_all_checkbox"
       name="filter-checkbox" value=""/>
      </label>
    </div>
  </script>

  <div class="row no-gutter no-padding">   
    <div class="col-md-12 no-padding no-gutter">      
      <div ng-show="!hideSidebar" class="col-md-3 no-padding no-gutter">
        <div >
          <div class="row no-padding">                                   
            <div>
              <ul class="nav nav-tabs no-padding sidebar-tabs" role="tablist">
                <li role="presentation" ng-class="{'active' : actionTab === 1}">
                  <a ng-click="setActiveTab(1)" aria-controls="home" role="tab" data-toggle="tab" class="tooltips-bottom tooltips-light small-size-tooltip normal-case">
                    <div class="md md-my-library-books"></div>
                    <span>Taxonomy</span>
                  </a>
                </li>
                <li role="presentation" ng-class="{'active' : actionTab === 2}">
                  <a ng-click="setActiveTab(2)" aria-controls="home" role="tab" data-toggle="tab" class="tooltips-bottom tooltips-light normal-case">
                    <div class="fa fa-search"></div>
                    <span>Search</span>
                  </a>
                </li>
                <li role="presentation" ng-class="{'active' : actionTab === 3}">
                  <a ng-click="setActiveTab(3)" aria-controls="home" role="tab" data-toggle="tab" class="tooltips-bottom tooltips-light normal-case">
                    <div class="md md-work"></div>
                    <span>Changes To Upgrade</span>                    
                  </a>
                </li>                
              </ul>
            </div>

            <div class="tab-content row col-sm-12 no-padding">
              <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab===1}" ng-show="actionTab === 1">
                <div ng-include="'shared/taxonomy/taxonomy.html'"></div>
              </div>
              <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab===2}" ng-show="actionTab === 2">
                <div ng-include="'shared/search/search.html'"></div>
              </div>
              <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab===3}" ng-show="actionTab === 3">
                <div>
                  <h5 class="p-l-40 p-t-5">Total Items: {{concepts.length}}</h5>
                </div>
                <table show-filter="false" ng-table="integrityCheckTableParams"
                       template-pagination="utilities/data-table-pager.html"
                       class="table">
                  <div class="col-md-12 no-padding" >
                    <div class="pull-right p-r-15">                       
                      <button
                        class="btn btn-round btn-default blue lighten-2 tooltips-bottom large-size-tooltip offset-tooltip-right"
                        ng-click="applyAutomatedContentFix()">
                        <div class="md md-assignment-turned-in"></div>
                        <span>Auto-fix content for selected</span>
                      </button>        
                    </div>
                  </div>
                  <tr ng-repeat="concept in $data"> 
                    <td class="col-checkbox col-md-1 no-padding "
                        header="'ng-table/headers/checkboxHeader.html'"><div class="checkbox">
                        <label class="filled">
                          <input type="checkbox" ng-model="concept.selected" ui-on-drop="">
                        </label>
                      </div>
                    </td>
                    <!-- Fsn -->
                    <td class="col-concept col-md-10" data-title="'Concept'"
                        sortable="'term'"> <div class="p-r-5 p-t-7 p-b-7"
                        ng-click="selectConcept(concept)">{{concept.term}}</div> </td>
                    
                    <!-- Controls -->
                    <td class="col-controls col-md-1"><button class="btn btn-round btn-default blue lighten-2 " 
                              ng-click="viewConcept(concept)" ng-disabled="selectedConcept.priorConcept.conceptId === concept.conceptId">
                      <div
                          class="md md-edit "></div>
                      </button></td>
                  </tr>
                </table>
              </div>             
            </div>
          </div>
        </div>
      </div>
      
      <!-- Conflicts Report: Content -->
      <div class="no-padding no-gutter" ng-class="[{'col-md-12' : hideSidebar}, {'col-md-9' : !hideSidebar}]">
        <div class="row no-padding no-gutter">
          <div class="col-md-6 project-header">
            <h4>
              <button ng-show="hideSidebar" ng-click="toggleSidebar()" type="button" class="md md-keyboard-arrow-right pull-left show-conflict-list" title="Show Sidebar"></button>
              <button ng-show="!hideSidebar" ng-click="toggleSidebar()" type="button" class="md md-keyboard-arrow-left pull-left show-conflict-list" title="Hide Sidebar"></button>
              Prior Version </h4>
          </div>
          <div class="col-md-6 merged-header">
            <h4>Resolution</h4>
          </div>          
        </div>
        <div class="row no-padding no-gutter" ng-if="selectedConcept.priorConcept && selectedConcept.resolutionConcept">
          <div class="col-md-6 conflict-concept-column">
            <div concept-edit
                 concept="selectedConcept.priorConcept"
                 branch="branch"
                 static="true"                 
                 autosave="false"
                 show-inactive="false"
                 component-styles="componentStyle.priorConcept"> </div>
          </div>
          <div class="col-md-6 merged-version conflict-concept-column">
            <div concept-edit
                 concept="selectedConcept.resolutionConcept"
                 branch="branch"
                 static="false"
                 autosave="false"                
                 show-inactive="false"
                 component-styles="componentStyle.resolutionConcept"
                 integrity-check-view="true"></div>
          </div>      
        </div>
      </div>

    </div>
  </div>
</section>
