<div class="row grey darken-3 p-5">
<div class="col-md-3 no-padding">
  <span class="pull-left">
    <button class="btn-default editbuttons grey darken-3"
            title="Some title here"><span
      class="md md-more"></span></button>
   
    <button type="button" class="btn-default editbuttons amber" title="Undo Changes"><span
      class="md md-undo "></span>
    </button>
      <button type="button" class="btn-default editbuttons blue accent-2" title="Undo Changes"><span
       class="md md-history"></span>
     </button>
     <button type="button" ng-class="[btn-default, editbuttons, {green : description.active}, {red: !description.active}]" title="Active/Inactive"><span
       class="md md-settings-power "></span>
     </button>

  </span>
</div>
<div class="col-md-9 no-padding">
  <span class="pull-left description no-padding">
   <input ng-model="description.term" class="form-control color_{{relationship.group}}" type="text" placeholder="Description">
   </span>
  <span class="pull-left typeid">
      <select ng-options = "typeId.id as typeId.abbr for typeId in typeIds" ng-model="description.typeId" name="select-typeId" id="select-typeId-choice" class="form-control color_{{relationship.group}}">
      </select>
      </span>
  <span class="pull-left language">
      <select ng-options = "language.id as language.abbr for language in languages" ng-model="description.languageCode" name="select-language" id="select-language-choice" class="form-control color_{{relationship.group}}"></select>

      </span>
  <span class="pull-left acceptability">
      <select ng-options = "acceptability.id as acceptability.abbr for acceptability in acceptabilities" ng-model="description.acceptabilityMap['900000000000508004']" name="select-acceptability" id="select-acceptability-choice" class="form-control color_{{relationship.group}}">
      </select>
      </span>
  <span style="width:4%" class="pull-left">
    <button type="button" class="btn-default editbuttons grey darken-3" title="Add New Description">+</button>
  </span>
</div>
</div>