
<div>
  <div class="row no-padding no-gutter p-t-5">
    <div class="col-md-10 pull-right m-t-10">

      <div ng-show="batchHasData">
          <button class="col-md-2 btn btn-default complete-action-btn pull-right m-r-15"
                  ng-click="saveAll()">Save All
          </button>
        </div>
        <div ng-show="batchHasData">
          <button class="btn btn-default cancel-action-btn pull-right col-md-2 m-r-15"
                  ng-click="removeAll()">Discard All
          </button>
        </div>


      </div>
    </div>


  <div class="card m-10" ng-show="batchHasData">
  <div class="m-t-10 sca-batch-table">

    <table ng-table="batchTableParams"
           template-pagination="utilities/data-table-pager.html"
           class="table-striped table-full">

      <tr ng-repeat="concept in $data">
        <td>
          <a class="glyphicon glyphicon-trash" title="Remove from Batch" ng-click="removeConcept(concept)"></a>
        </td>
        <td sortable="'sctid'" title="'SCTID'">
          {{concept.sctid}}
        </td>
        <td sortable="'fsn'" title="'FSN'">
          <div>
            <textarea class="editable-input form-control input-sm m-t-10"
                      type="text" ng-disabled="true" ng-model="concept.fsn" ng-change="updateFsn(concept)"></textarea>
          </div>
        </td>
        <td ng-repeat="slot in templateSlots">
          <div>
           <textarea ng-disabled="true" type="text"  ng-model="concept[slot.slotName]"
                     typeahead="suggestion as suggestion.tempFsn for suggestion in getConceptsForValueTypeahead(concept, slot.slotName, $viewValue)"
                     typeahead-loading="targetTypeaheadLoading" typeahead-focus-first="false"
                     typeahead-wait-ms="700"
                     typeahead-on-select="setTargetSlot(concept, slot.slotName, $item)"
                     typeahead-editable="false" typeahead-min-length="3" class="editable-input form-control input-sm m-t-10"
                     ng-blur="cleanTargetSlot(concept, slot.slotName)"></textarea>
          </div>
        </td>
        <td disabled="disabled">
          <button class="m-r-5 indicator_red badge" disabled="disabled" ng-show="concept.errorMsg">{{concept.errorMsg}}</button>
          <button class="m-r-5 indicator_red badge" disabled="disabled" ng-show="concept.validation.hasErrors">Errors</button>
          <button class="m-r-5 orange darken-1 badge" disabled="disabled" ng-show="concept.validation.hasWarnings && !concept.validation.hasErrors">
            Warnings
          </button>
          <button class="m-r-5 alert-success"
                  ng-show="concept.validation && !concept.validation.hasErrors && !concept.validation.hasWarnings">Valid
          </button>
        </td>
        <td>
          <div ng-show="concept.tableAction">
            <i class="md md-cached"></i>&nbsp;{{concept.tableAction}}
          </div>
          <div ng-show="!concept.tableAction" class="pull-right">
            <a class="glyphicon glyphicon-edit" title="Edit Full Concept" ng-click="editConcept(concept)"></a>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="row no-padding no-gutter" ng-repeat="concept in viewedConcepts">
    <div class="col-md-6">
      <div draw-model-sca concept="concept" snf-function="getSNF(concept.conceptId)" display-snf="true"></div>
    </div>
    <div class="col-md-6">
      <div concept-edit concept="concept" branch="branch" static="true"></div>
    </div>
  </div>
</div>
</div>
