<div>
  <script id="ngHeader" type="text/ng-template">
    <tr>
      <th ng-repeat="column in batchTableColumns" ng-show="column.visible"
          class="text-left sortable" ng-class="{
              'sort-asc': tableParams.isSortBy(column.field, 'asc'),
              'sort-desc': tableParams.isSortBy(column.field, 'desc')
            }"
          ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
        {{column.title}}
      </th>
      <!--<th>Columns:{{columns.length}}</th>-->
    </tr>
  </script>

  <h3>Batch Editing Development Sandbox</h3>


  <select ng-options="template as template.name for template in templates" ng-model="selectedTemplate"></select>
  <input ng-model="batchSize" ng-init="batchSize = 5;">
  <button class="btn btn-default btn-primary" ng-disabled="!selectedTemplate || !batchSize"
          ng-click="addBatchConceptsFromTemplate(selectedTemplate, batchSize)">Add Concepts to Batch
  </button>
  <button class="btn btn-default btn-danger" ng-click="clearConcepts()">Clear Batch</button>


  <div style="width:90%;height: 300px;">

    Total: {{batchTableParams.params.total()}}

    <table ng-table="batchTableParams" ng-show="params.total() > 0"
           template-pagination="utilities/data-table-pager.html"
           class="table table-striped table-full">

      <thead>
      <tr>
        <td></td>
        <td ng-repeat="column in batchTableColumns">{{column.title}}</td>
        <td></td>
      </tr>
      </thead>

      <tr ng-repeat="concept in $data" class="p-10">
        <td>
          <a class="glyphicon glyphicon-trash" title="Remove from Batch" ng-click="removeConcept(concept)"></a>
        </td>
        <td style="padding:1px;" ng-repeat="column in batchTableColumns" show-filter="true">
          <div ng-show="!column.editable">
            {{concept[column.field]}}
          </div>
          <div ng-show="column.editable && !column.targetSlot">
            <textarea type="text" ng-model="concept[column.field]" ng-change="updateFsn(concept)" class="editable-input form-control input-sm" required />
          </div>
          <div ng-show="column.editable && column.targetSlot">
            <textarea type="text" ng-model="concept[column.field]"
                      ng-change="updateTargetSlot(concept, column.field)"
                      drag-hover-class="sca-drag-hover" drop-channel="conceptPropertiesObj" ui-on-drop="dropRelationshipTargetInNgTable(concept, column.field, data)"
                      typeahead="suggestion as suggestion.tempFsn for suggestion in getConceptsForValueTypeahead(concept, column.field, $viewValue)"
                      typeahead-loading="targetTypeaheadLoading" typeahead-focus-first="false"
                      typeahead-wait-ms="700"
                      typeahead-on-select="setTargetSlot(concept, column.field, $item)"
                      typeahead-editable="false" typeahead-min-length="3"class="editable-input form-control input-sm" required />
          </div>
        </td>
        <td>
          <a class="glyphicon glyphicon-edit" title="Edit Full Concept" ng-click="editConcept(concept)"></a>,
          <a class="md md-save" title="Save Concept" ng-click="saveConcept(concept)"></a>,
          <a class="md md-school" title="Validate Concept" ng-click="validateConcept(concept)"></a>
        </td>
      </tr>
    </table>
  </div>

  <div class="row no-padding no-gutter" ng-repeat="concept in viewedConcepts">
    <div class="col-md-6">
      <div draw-model-sca concept="concept" snf-function="getSNF(concept.conceptId)" display-snf="true"></div>
    </div>
    <div class="col-md-6">
      <div concept-edit concept="concept" branch="branch" static="false"></div>
    </div>
  </div>
</div>
