<div>
  <h4>Batch Editing JS Testing</h4>


  <select ng-options="template as template.name for template in templates" ng-model="selectedTemplate"></select>
  <input ng-model="batchSize" ng-init="batchSize = 5;">
  <button class="btn btn-default btn-primary" ng-disabled="!selectedTemplate || !batchSize"
          ng-click="addBatchConceptsFromTemplate(selectedTemplate, batchSize)">Load Test Concepts
  </button>

  <div class="row">

    <div id="hotElem" class="hot handsontable htColumnHeaders" style="height:300px; overflow: hidden" drop-channel="conceptPropertiesObj" ui-on-drop="dropConcept($event, $data)"></div>
  </div>

  <div class="row no-padding no-gutter" ng-repeat="concept in viewedConcepts">
    <div class="col-md-6">
      <div draw-model-sca concept="concept" snf-function="getSNF(concept.conceptId)" display-snf="true"></div>
    </div>
    <div class="col-md-6">
      <div concept-edit concept="concept" branch="branch" static="false"></div>
    </div>
  </div>
</div>
