<div ng-controller="uploadBatchCtrl">
    <select ng-options="template as template.name for template in templateOptions.availableTemplates" ng-model="templateOptions.selectedTemplate" class="template-name"></select>
        <button class="btn btn-default btn-primary" ng-disabled="!templateOptions.selectedTemplate"
          ng-click="downloadTemplate(templateOptions.selectedTemplate.name)">Download .TSV for Template
  </button>
    <label class="btn btn-default btn-file"> Upload File 
        <input type="file" name="tsvFile" accept=".tsv" onchange="angular.element(this).scope().uploadFile(this.files)" style="display: none;">
    </label>
    <div ng-if="errorMessage">
        <div ng-repeat="message in errorMessages">
            <div>{{message}}</div>
        </div>
    </div>
</div>