<div class="row no-gutter sca-container">
  <div class="sca-column col-lg-3 col-md-3 col-sm-3 dashboard-sidebar" ng-include
       src="'shared/sidebar/sidebar.html'"></div>

  <div class="sca-column col-lg-9 col-md-9 col-sm-9 pull-right dash-tables ">

    <div class="page-header row p-b-5">
      <div class="col-md-4 no-padding">
        <h1 class="p-l-15">
          {{project.title}}&nbsp;&nbsp;&nbsp;<i ng-if="project.projectLocked" class="red-text fa fa-lock tooltips-bottom"><span>Project is being locked</span></i>
        </h1>
        <p class="lead p-l-15 m-b-5">
          {{project.projectLead.displayName}}
        </p>
        <div class="col-md-12 no-padding" ng-if="project.lastPromotionTimeToMain">
          <p class="p-l-15 m-b-0 promotion-box">Last promoted to MAIN: {{project.lastPromotionTimeToMain | date : "yyyy-MM-ddTHH:mm:ss'Z'":"UTC"}}</p>
        </div>
        <div class="col-md-12 no-padding" ng-if="project.lastTaskPromotionTime">
          <p class="p-l-15 m-b-0 promotion-box">Last task promotion date: {{project.lastTaskPromotionTime | date : "yyyy-MM-ddTHH:mm:ss'Z'":"UTC"}}</p>
        </div>
        <div class="col-md-12 no-padding" ng-if="project.lastRebaseTime">
          <p class="p-l-15 m-b-0 promotion-box">Last rebased date: {{project.lastRebaseTime | date : "yyyy-MM-ddTHH:mm:ss'Z'":"UTC"}}</p>
        </div>
      </div>
      <div class="col-md-8 project-main-buttons p-r-10">
        <div class="btn-group pull-right p-t-10 p-r-10">
          <button ng-disabled="lockOrUnlockTaskInProgress" class="btn btn-border tooltips-bottom xlarge-size-tooltip" ng-click="toggleTaskPromotion()">
            <div class="project-icon blue darken-1 pull-left" style="background-color: #ff9400;">
              <div class="fa {{project.taskPromotionDisabled ? 'fa-lock' : 'fa-unlock'}}"></div>
            </div>
            <div class="inline">{{project.taskPromotionDisabled ? 'Unlock' : 'Lock'}} Tasks</div>
          </button>
          <button ng-disabled="lockOrUnlockProjectInProgress" class="btn btn-border tooltips-bottom large-size-tooltip offset-tooltip-right" ng-click="toggleLockProject()">
            <div
              class="project-icon red pull-left">
              <div class="fa {{project.projectLocked ? 'fa-lock' : 'fa-unlock'}}"></div>
            </div>
            {{project.projectLocked ? 'Unlock Project' : 'Lock Project'}}
          </button>
         <button class="btn btn-border tooltips-bottom xxlarge-size-tooltip "
                  ng-click="mergeAndRebase()"
                  ng-disabled="(project.branchState !== 'DIVERGED' && project.branchState !== 'BEHIND' && project.branchState !== 'STALE') || project.projectRebaseDisabled || project.projectLocked">
            <div
              class="project-icon yellow darken-2 pull-left">
              <div class="md md-autorenew"></div>
            </div>
            Pull in Mainline Changes
            <span>Pull in changes from the mainline into this project</span>
          </button>
        <button class="btn btn-border tooltips-bottom xlarge-size-tooltip " ng-click="classify()"
            ng-disabled="project.latestClassificationJson.status && ((project.latestClassificationJson.status === 'SCHEDULED' || project.latestClassificationJson.status === 'RUNNING') && project.latestClassificationJson.status !== 'COMPLETED' && project.latestClassificationJson.status !== 'SAVED' && project.latestClassificationJson.status !== 'SAVE_FAILED')">
            <div
              class="project-icon green pull-left">
              <div class="md md-notifications"></div>
            </div>
            Classify
            <span>Run classification against this project</span>
          </button>
           <button class="btn btn-border tooltips-bottom xlarge-size-tooltip m-l-5" ng-click="validate()"
            ng-disabled="validationRunning">
            <div
              class="project-icon deep-purple lighten-1 pull-left">
              <div class="md md-school"></div>
            </div>
            Validate
            <span>Run validation against this project</span>
          </button>          
          <button class="btn btn-border tooltips-bottom xlarge-size-tooltip "
                  ng-click="promote()"
                  ng-disabled="project.projectLocked || project.branchState !== 'FORWARD' || project.projectPromotionDisabled || project.projectMrcmDisabled || !sacSignedOff()">
            <div
              class="project-icon blue darken-1 pull-left ">
              <div class="md md-call-merge"></div>
            </div>
            <div ng-if="!project.projectLocked && !project.projectPromotionDisabled && !project.projectMrcmDisabled" class="inline">Promote</div>
            <div ng-if="project.projectLocked || project.projectPromotionDisabled || project.projectMrcmDisabled" class="inline">Project Promotion Disabled</div>
          </button>
        </div>
        <div class="col-md-12 p-t-10 p-r-10 sca-scheduled-rebase" ng-if="project.projectScheduledRebaseDisabled !== undefined">
          <div><button class="btn btn-default transparent pull-right no-padding"
            ng-class="[{'md-check-box' : !project.projectScheduledRebaseDisabled}, {'md-check-box-outline-blank' : project.projectScheduledRebaseDisabled}]"
            ng-click="toggleProjectScheduledRebase()" />
          </div>
          <div><p class="pull-right">Automated rebase enabled</p></div>
        </div>
        <div class="col-md-12 p-t-10 p-r-10 sca-scheduled-rebase" ng-if="project.projectDroolsValidationDisabled !== undefined" style="margin-top: 15px; margin-bottom: 15px;">
          <div><button class="btn btn-default transparent pull-right no-padding"
            ng-disabled="!userRoles.includes('ADMIN')"
            ng-class="[{'md-check-box' : !project.projectDroolsValidationDisabled}, {'md-check-box-outline-blank' : project.projectDroolsValidationDisabled}]"
            ng-click="toggleProjectDroolsValidation()" />
          </div>
          <div><p class="pull-right">Drools validation in RVF enabled</p></div>
        </div>
      </div>
</div>
    <div class="row project-page">

      <!-- Acceptance Criteria -->
      <div class="card ">
        <div class="card-header">
          <div class="card-title">
            <button
              ng-init="criteriaCollapsed = false"
              ng-click="criteriaCollapsed = !criteriaCollapsed"
              type="button"
              ng-class="[btn, btn-default, darkbuttons, grey, 'darken-4', 'project-buttons', md, {'md-keyboard-arrow-right' : criteriaCollapsed, 'md-keyboard-arrow-down' : !criteriaCollapsed}]">
              <span class="project-subtitle">Acceptance Criteria <i ng-if="userRoles.includes('PROJECT_MANAGER')" class="md md-settings f20" style="color: #00acc1" ng-click="openSACConfigModal(); $event.stopPropagation()"></i></span>
            </button>
            <span class="project-icon pull-right"><span class="fa fa-tasks" style="font-size: 24px;
    text-align: center;
    line-height: 60px; border-radius: 0px 4px 4px 0px;
    width: 100%;
    float: left;
    background-color: #00acc1; color:#fff"></span></span>
            <span class="arrow-cyan pull-right"></span>
            <div class="clearfix"></div>
          </div>
        </div>
        <div ng-show="criteriaCollapsed === false">
          <div class="card-content clearfix">
              <div class="col-md-4">
                      <div class="row" style="display:inline-flex; width:100%;">
                          <div style="font-size: 16px; margin-left: 10px;">
                              Automated Criteria
                          </div>
                      </div>
                      <div ng-repeat="criteria in sac | filter: { manual: 'false' }" class="row" style="display:inline-flex; width:100%;">
                          <div ng-if="criteria.complete" class="fa fa-check pull-right" style="color: green; font-size:28px; padding:10px;"></div>
                          <div ng-if="!criteria.complete" class="fa fa-exclamation-triangle pull-right" style="color: grey; font-size:28px; padding:9px;"></div>
                          <div style="margin-top: 12px; font-size: 14px;">
                              {{criteria.label}}
                          </div>
                      </div>
              </div>
              <div class="col-md-8">
                      <div class="row" style="display:inline-flex; width:100%;">
                          <div style="font-size: 16px; margin-left: 10px;">
                              Manual Criteria
                          </div>
                      </div>
                      <div class="col-md-6" style="padding-left: 0px;">
                          <div ng-repeat="criteria in firstHalfManualSac | filter: { manual: 'true' } | orderBy : ['order','label']" style="display:inline-flex; padding-left:0px; padding-top: 0px; padding-bottom: 0px; width:100%;">
                              <div ng-if="criteria.complete && userRoles.includes(criteria.requiredRole)" ng-click="unacceptManualSac(criteria.id)" class="fa fa-check-square pull-right" style="color: green; font-size:28px; padding:10px;"></div>
                              <div ng-if="criteria.complete && !userRoles.includes(criteria.requiredRole)" class="fa fa-check-square pull-right" style="color: grey; font-size:28px; padding:10px;"></div>
                              <div ng-if="!criteria.complete && userRoles.includes(criteria.requiredRole)" ng-click="acceptManualSac(criteria.id)" class="md-check-box-outline-blank pull-right" style="color: grey; font-size:28px; padding:10px; margin-left: -1px;"></div>
                              <div ng-if="!criteria.complete && !userRoles.includes(criteria.requiredRole)" class="md-check-box-outline-blank pull-right" style="color: grey; font-size:28px; padding:10px; margin-left: -1px;"></div>
                              <div style="margin-top: 12px; font-size: 14px;">
                                  <span ng-if="!criteria.reportName">{{criteria.label}}</span>
                                  <a ng-if="criteria.reportName" href="{{'/reporting/' + branch + '?report=' + criteria.reportName}}" target="_blank">{{criteria.label}}</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6" style="padding-left: 0px;">
                          <div ng-repeat="criteria in secondHalfManualSac | filter: { manual: 'true' } | orderBy : ['order','label']" style="display:inline-flex; padding-left:0px; padding-top: 0px; padding-bottom: 0px; width:100%;">
                              <div ng-if="criteria.complete && userRoles.includes(criteria.requiredRole)" ng-click="unacceptManualSac(criteria.id)" class="fa fa-check-square pull-right" style="color: green; font-size:28px; padding:10px;"></div>
                              <div ng-if="criteria.complete && !userRoles.includes(criteria.requiredRole)" class="fa fa-check-square pull-right" style="color: grey; font-size:28px; padding:10px;"></div>
                              <div ng-if="!criteria.complete && userRoles.includes(criteria.requiredRole)" ng-click="acceptManualSac(criteria.id)" class="md-check-box-outline-blank pull-right" style="color: grey; font-size:28px; padding:10px; margin-left: -1px;"></div>
                              <div ng-if="!criteria.complete && !userRoles.includes(criteria.requiredRole)" class="md-check-box-outline-blank pull-right" style="color: grey; font-size:28px; padding:10px; margin-left: -1px;"></div>
                              <div style="margin-top: 12px; font-size: 14px;">
                                  <span ng-if="!criteria.reportName">{{criteria.label}}</span>
                                  <a ng-if="criteria.reportName" href="{{'/reporting/' + branch + '?report=' + criteria.reportName}}" target="_blank">{{criteria.label}}</a>
                              </div>
                          </div>
                      </div>
              </div>
              <div class="col-md-4">
<!--
                      <div class="row" style="display:inline-flex; width:100%;">
                          <div style="margin-left: 10px; font-size: 16px;">
                              Further Information
                          </div>
                      </div>
-->
<!--
                      <div class="row" style="display:inline-flex; width:100%;">
                          <div class="fa fa-info pull-right" style="color: #fbc02d; font-size:28px; padding:10px;"></div>
                          <div style="margin-top: 12px; font-size: 14px;">
                              Mapping Estimate: 12 days.
                          </div>
                      </div>
                      <div class="row" style="display:inline-flex; width:100%;">
                          <div class="fa fa-info pull-right" style="color: #fbc02d; font-size:28px; padding:10px;"></div>
                          <div style="margin-top: 12px; font-size: 14px;">
                              Component Changes: 387.
                          </div>
                      </div>
-->
              </div>
          </div>
        </div>
      </div>



      <!-- Classification Results -->
      <div class="card ">
        <div class="card-header">
          <div class="card-title">
            <button
              ng-disabled="!project.latestClassificationJson.status"
              ng-click="classificationCollapsed = !classificationCollapsed" type="button"
              ng-class="[btn, btn-default, darkbuttons, grey, 'darken-4', 'project-buttons', md, {'md-keyboard-arrow-right' : classificationCollapsed, 'md-keyboard-arrow-down' : !classificationCollapsed}]">
              <span class="project-subtitle"
                ng-class="{'report-text' : project.latestClassificationJson.status === 'COMPLETED'}">Classification Results</span>
            </button>
            <span class="project-icon green pull-right"><span class="md md-notifications"></span></span>
            <span class="arrow-green pull-right"></span>

            <div class="clearfix"></div>

          </div>
        </div>


        <div ng-show="classificationCollapsed === false">
          <div class="card-content clearfix">
            <div classification classification-container="project.latestClassificationJson" branch="branch"
                 editable="true"></div>
          </div>

        </div>

      </div>
      <!--- Validation Results -->
      <div class="card">

        <div class="card-header">
          <div class="card-title">
            <button ng-disabled="!project.validationStatus"
                    ng-click="validationCollapsed = !validationCollapsed"
                    type="button"
                    ng-class="[btn, btn-default, darkbuttons, grey, 'darken-4', 'project-buttons', md, {'md-keyboard-arrow-down' : !validationCollapsed, 'md-keyboard-arrow-right' : validationCollapsed}]">
              <span class="project-subtitle" ng-class="{'report-text' : project.validationStatus && project.validationStatus === 'COMPLETED'}">Validation Results</span>
            </button>

            <span class="project-icon deep-purple lighten-1 pull-right"><span class="md md-school"></span></span>
            <span class="arrow-purple pull-right"></span>

            <div class="clearfix"></div>
          </div>
        </div>

        <div ng-show="!validationCollapsed">
          <div class="card-content clearfix">
            <div validation validation-container="validationContainer" branch="branch"
                 editable="true" show-title="false" lastPromotion="project.lastPromotion"
                 allow-whitelist-warning="true" allow-whitelist-error="{{userRoles.includes('ADMIN')}}"
                 ></div>
          </div>
        </div>
      </div>


      <div class="card">
        <!-- Tasks in project -->

        <div class="card-header">
          <div class="card-title">
            <button
              ng-disabled="!tasks.length || tasks.length === 0"
              ng-init="tasksCollapsed = true"
              ng-click="tasksCollapsed = !tasksCollapsed" type="button"
              ng-class="[btn, btn-default, darkbuttons, grey, 'darken-4', 'project-buttons', md, {'md-keyboard-arrow-right' : tasksCollapsed, 'md-keyboard-arrow-down' : !tasksCollapsed}]">
              <span class="project-subtitle"
                ng-class="{'report-text' : tasks.length > 0}">Project Tasks</span>
            </button>

            <span class="project-icon blue pull-right"><span class="md md-folder-open"></span></span>
            <span class="arrow-blue pull-right"></span>

            <div class="clearfix"></div>
          </div>
        </div>

        <div class="table-responsive white m-b-40" ng-show="!tasksCollapsed">

          <table ng-table="taskTableParams" template-pagination="utilities/data-table-pager.html"
                 class="table table-full table-full-small">
            <tr ng-repeat="task in $data">

              <td header-title="'Click to sort'" data-title="'Name'" sortable="'summary'" filter="{ 'summary': 'text' }">
                <a class="tooltips-right"
                   ng-click="viewTask(task)"> {{task.summary}}<span>Open Task</span></a>
              </td>
               <td header-title="'Click to sort'" data-title="'Task ID'" sortable="'key'" filter="{ 'key': 'text' }">
                {{task.key}}
              </td>
              <td header-title="'Click to sort'" data-title="'Author'" sortable="'authorKey'" filter="{ 'author': 'text' }">
                {{task.assignee.displayName}}
              </td>
              <td header-title="'Click to sort'" data-title="'Reviewers'" filter="{ 'reviewer' : 'text' }">
                {{convertReviewersToText(task.reviewers,'displayName')}}

              </td>
              <td header-title="'Click to sort'" data-title="'Modified'" sortable="'updated'">
                {{task.updated | date: "yyyy-MM-dd":"UTC"}}
              </td>
              <td header-title="'Click to sort'" data-title="'Classification'" sortable="'latestClassificationJson.status'">
                 <a ng-href="#/tasks/task/{{task.projectKey}}/{{task.key}}/classify">
                    <button ng-show="task.latestClassificationJson"
                        type="button"
                        ng-class="[
                          {indicator_green : task.latestClassificationJson.equivalentConceptsFound === false && task.latestClassificationJson.status !== 'STALE'},
                          {indicator_green : task.latestClassificationJson.status === 'COMPLETED' && task.latestClassificationJson.equivalentConceptsFound === false && task.latestClassificationJson.status !== 'STALE'},
                          {indicator_green : task.latestClassificationJson.status === 'SAVED' && task.latestClassificationJson.equivalentConceptsFound === false && task.latestClassificationJson.status !== 'STALE'},
                          {indicator_blue : task.latestClassificationJson.status === 'RUNNING'},
                          {indicator_blue : task.latestClassificationJson.status === 'SCHEDULED'},
                          {indicator_red : task.latestClassificationJson.equivalentConceptsFound === true && task.latestClassificationJson.status !== 'STALE' || task.latestClassificationJson.status === 'FAILED' && task.latestClassificationJson.status !== 'STALE'},
                          {indicator_grey : task.latestClassificationJson.status === 'STALE'},
                          ]"
                        class="btn btn-round btn-default pull-left tooltips-right normalcase ">
                      <div class="md md-notifications "></div>
                      <span>
                        <div class="message_classification_{{task.latestClassificationJson.status}}">
                          <div ng-if="task.latestClassificationJson.equivalentConceptsFound === true && task.latestClassificationJson.redundantStatedRelationshipsFound === false && task.latestClassificationJson.status !== 'STALE'"> but equivalent relationships were found </div>
                          <div ng-if="task.latestClassificationJson.redundantStatedRelationshipsFound === true && task.latestClassificationJson.equivalentConceptsFound === false && task.latestClassificationJson.status !== 'STALE'"> but redundant inferred relationships were found </div>
                          <div ng-if="task.latestClassificationJson.redundantStatedRelationshipsFound === true && task.latestClassificationJson.equivalentConceptsFound === true && task.latestClassificationJson.status !== 'STALE'"> but redundant inferred relationships and equivalency errors were found </div>
                          <div ng-if="task.latestClassificationJson.status === 'COMPLETED' && task.latestClassificationJson.equivalentConceptsFound === false && task.latestClassificationJson.inferredRelationshipChangesFound === false && task.latestClassificationJson.status !== 'STALE'"> - no results </div>
                        </div>
                      </span>
                    </button>
                  </a>
              </td>
              <td header-title="'Click to sort'" data-title="'Validation'" sortable="'latestValidationStatus'">
                 <a class="tooltips-left" ng-href="#/tasks/task/{{task.projectKey}}/{{task.key}}/validate">
                   <button ng-show="task.latestValidationStatus && task.latestValidationStatus !== 'NOT_TRIGGERED'"
                          type="button"
                          ng-class="[
                          {indicator_blue : task.latestValidationStatus === 'SCHEDULED'},
                          {indicator_blue : task.latestValidationStatus === 'QUEUED'},
                          {indicator_blue : task.latestValidationStatus === 'RUNNING'},
                          {indicator_red : task.latestValidationStatus === 'FAILED'},
                          {indicator_green : task.latestValidationStatus === 'COMPLETED'},
                          {indicator_grey : task.latestValidationStatus === 'STALE'}]"
                          class="btn btn-round btn-default lighten-2 pull-left ">
                    <div class="md md-school "></div>    <span > <div class="message_validation_{{task.latestValidationStatus}}"> </div></span>
                  </button>
                  </a>
              </td>
              <td header-title="'Click to sort'" data-title="'Status'" sortable="'status'">
                    <span ng-if="task.status !== 'IN_REVIEW'" class="badge {{task.status}}"> {{task.status}} </span>
              </td>
              <td header-title="'Click to sort'" data-title="''" sortable="''">
                <button class="btn btn-default btn-round md md-settings blue  tooltips-light normal-case" ng-click="editTask(task)"></button>
              </td>
            </tr>
          </table>

        </div>
      </div>

<!--
      <div class="card ">
        <div class="card-header">
          <div class="card-title">
            <button
              ng-init="releaseNotesCollapsed = true"
              ng-click="releaseNotesCollapsed = !releaseNotesCollapsed" type="button"
              ng-class="[btn, btn-default, darkbuttons, grey, 'darken-4', 'project-buttons', md, {'md-keyboard-arrow-right' : releaseNotesCollapsed, 'md-keyboard-arrow-down' : !releaseNotesCollapsed}]">
              <span class="project-subtitle">Release Notes</span>
            </button>
            <span class="project-icon pull-right"><span class="fa fa-clipboard" style="font-size: 24px;
    text-align: center;
    line-height: 60px; border-radius: 0px 4px 4px 0px;
    width: 100%;
    float: left;
    background-color: #e91e63; color:#fff"></span></span>
            <span class="arrow-pink pull-right"></span>
            <div class="clearfix"></div>
          </div>
        </div>
        <div ng-show="releaseNotesCollapsed === false">
            <table ng-table="taskTableParams" template-pagination="utilities/data-table-pager.html"
                 class="table table-full table-full-small">
            <tr ng-repeat="task in $data">

              <td header-title="'Click to sort'" data-title="'Title'" sortable="'summary'" filter="{ 'summary': 'text' }">
                <a class="tooltips-right"
                   ng-click="viewTask(task)">Line Item Title</a>
              </td>
               <td header-title="'Click to sort'" data-title="'Last Edited By'" sortable="'key'" filter="{ 'key': 'text' }">
                {{task.assignee.displayName}}
              </td>
              <td header-title="'Click to sort'" data-title="'Last Edited In'" sortable="'authorKey'" filter="{ 'author': 'text' }">
                {{task.key}}
              </td>
              <td header-title="'Click to sort'" data-title="'Modified'" sortable="'updated'">
                {{task.updated | date: "yyyy-MM-dd":"UTC"}}
              </td>
              <td header-title="'Click to sort'" data-title="''" sortable="''">
                <button class="btn btn-default btn-round md md-edit green  tooltips-light normal-case" ng-click="editTask(task)"></button>
              </td>
            </tr>
          </table>
        </div>
      </div>
-->

      <div class="card" ng-if="!releaseNotesDisabled">
        <div class="card-header">
          <div class="card-title">
            <button
              ng-init="releaseNotesCollapsed = true"
              ng-click="releaseNotesCollapsed = !releaseNotesCollapsed" type="button"
              ng-class="[btn, btn-default, darkbuttons, grey, 'darken-4', 'project-buttons', md, {'md-keyboard-arrow-right' : releaseNotesCollapsed, 'md-keyboard-arrow-down' : !releaseNotesCollapsed}]">
                <span class="project-subtitle">Release Notes
                    <div class="btn btn-default btn-round m-l-10 tooltips-bottom large-size-tooltip" style="background-color: #6bb86b;"  ng-click="openLineItemModal(); $event.stopPropagation()">
                        <i class="md fa-sca fa-plus"></i>
                        <span>Add New Line Item</span>
                    </div>
                    <div class="btn btn-default btn-round m-l-10 tooltips-bottom large-size-tooltip" style="background-color: #00a4e4;"  ng-click="openLineItemModal(null, true); $event.stopPropagation()">
                        <i class="md fa-sca fa-info"></i>
                        <span>View all Line Items</span>
                    </div>
                </span>
            </button>
            <span class="project-icon pull-right"><span class="fa fa-clipboard" style="font-size: 24px;
    text-align: center;
    line-height: 60px; border-radius: 0px 4px 4px 0px;
    width: 100%;
    float: left;
    background-color: #e91e63; color:#fff"></span></span>
            <span class="arrow-pink pull-right"></span>
            <div class="clearfix"></div>
          </div>
        </div>
        <div ng-show="releaseNotesCollapsed === false">
            <div class="card-content clearfix">
                <div class="row task-details project-main-buttons">
                    <div ng-repeat="lineItem in lineItems | orderBy : 'title'"class="col-md-3">
                    <button ng-click="openLineItemModal(lineItem.id)" class="btn btn-border editingtask" style="color: #666">
                        <span class="md fa-sca fa-clipboard iconbase" style="border-radius: 4px 0 0 4px; height: 46px;
font-size: 22px; padding: 8px 13px;"></span> <span class="button-link">{{lineItem.title}}</span>
                    </button>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="card " ng-show="!$root.managedServiceUser && (userRoles.includes('ADMIN') || userRoles.includes('PROJECT_LEAD'))">
        <div class="card-header">
          <div class="card-title">
            <button
              ng-init="refsetsCollapsed = true"
              ng-click="refsetsCollapsed = !refsetsCollapsed" type="button"
              ng-class="[btn, btn-default, darkbuttons, grey, 'darken-4', 'project-buttons', md, {'md-keyboard-arrow-right' : refsetsCollapsed, 'md-keyboard-arrow-down' : !refsetsCollapsed}]">
              <span class="project-subtitle">Refset Updates</span>
            </button>
            <span class="project-icon pull-right"><span class="md fa-sca fa-edit" style="font-size: 24px;
    text-align: center;
    line-height: 60px; border-radius: 0px 4px 4px 0px;
    width: 100%;
    float: left;
    background-color: #8e24aa; color:#fff"></span></span>
            <span class="arrow-dark-purple pull-right"></span>
            <div class="clearfix"></div>
          </div>
        </div>
        <div ng-show="refsetsCollapsed === false">
            <div class="card-content clearfix">
                <div class="row task-details project-main-buttons">
                    <div class="col-md-3">
                        <button ng-click="refsetUpdate('Update SEP Refsets')" class="btn btn-border cyan darken-1 editingtask">
                            <span class="md fa-sca fa-edit cyan darken-2 iconbase" style="border-radius: 4px 0 0 4px; height: 46px;
    font-size: 22px; padding: 8px 13px;"></span> <span class="button-link">Update SEP Refsets</span>
                        </button>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <button ng-click="refsetUpdate('Update Lateralizable Refset')" class="btn btn-border green darken-1 editingtask">
                            <span class="md fa-sca fa-edit iconbase" style="border-radius: 4px 0 0 4px; height: 46px;
    font-size: 22px; padding: 8px 13px; background-color: #2d7130"></span> <span class="button-link">Update Lateralizable Refset</span>
                        </button>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>

