<div class="row no-gutter sca-container">
  <div ng-include style="background-color:#474747" class="sca-column col-lg-3 col-md-3 col-sm-3 dashboard-sidebar"
       src="'shared/sidebar/sidebar.html'"></div>

  <div class="sca-column col-lg-9 col-md-9 col-sm-9 pull-right ">
    <div class="page-header row ">
      <div class=" col-md-3 no-padding">
        <h1 class="p-l-15">

          {{project.title}}
        </h1>

        <p class="lead">
          {{project.projectLead.displayName}}
        </p>
   </div>
      <div class="col-md-9  project-main-buttons">

        <div class="p-10 pull-right">
          <button class="btn btn-border tooltips-left normal-case"
                  ng-click="promote()"
                  ng-disabled="project.branchState !== 'FORWARD'">
            <div
              class="project-icon blue darken-1 pull-left ">
              <div class="md md-call-merge"></div>
            </div>
            Promote This Project to the Mainline
            <span>Promote this project</span>
          </button>
        </div>
        <div class="p-10 pull-right">
          <button class="btn btn-success btn-border tooltips-left normal-case"
                  ng-click="rebase()"
                  ng-disabled="project.branchState !== 'DIVERGED' && project.branchState !== 'BEHIND'">
            <div
              class="project-icon yellow darken-2 pull-left">
              <div class="md md-autorenew"></div>
            </div>
            Pull in Mainline Changes
            <span>Pull in changes from the mainline into this project</span>
          </button>
        </div>
      
        <div class="p-10 pull-right ">
          <button class="btn btn-success btn-border tooltips-left normal-case" ng-click="classify()"
            ng-disabled="project.latestClassificationJson.status && project.latestClassificationJson.status !== 'COMPLETED'">
            <div
              class="project-icon green pull-left">
              <div class="md md-notifications"></div>
            </div>
            Classify
            <span>Run classification against this project</span>
          </button>
        </div>
        <div class="p-10 pull-right ">
          <button class="btn btn-success btn-border tooltips-left normal-case" ng-click="validate()"
            ng-disabled="validationRunning">
            <div
              class="project-icon deep-purple lighten-1 pull-left">
              <div class="md md-school"></div>
            </div>
            Validate
            <span>Run validation against this project</span>
          </button>
        </div>
      </div>
</div>
    
    
    <div class="row project-page">

      <!--- Validation Results -->
      <div class="card">

        <div class="card-header">
          <div class="card-title">
            <button ng-disabled="project.validationStatus && project.validationStatus !== 'COMPLETED'  || !project.validationStatus"
                    ng-init="validationCollapsed = false"
                    ng-click="validationCollapsed = !validationCollapsed"
                    type="button"
                    ng-class="[btn, btn-default, darkbuttons, grey, 'darken-4', 'project-buttons', md, {'md-keyboard-arrow-down' : validationCollapsed, 'md-keyboard-arrow-right' : !validationCollapsed}]">
              <span class="project-subtitle" ng-class="{'report-text' : project.validationStatus && project.validationStatus === 'COMPLETED'}">Validation Results</span>
            </button>

            <span class="project-icon deep-purple lighten-1 pull-right"><span class="md md-school"></span></span>
            <span class="arrow-purple pull-right"></span>

            <div class="clearfix"></div>
          </div>
        </div>
        <div ng-show="validationCollapsed === true">
          <!-- TODO ng-if here because the damn two-way binding IS NOT WORKING -->
          <div class="card-content clearfix">
            <div validation validation-container="validationContainer" branch="branch"
                 editable="false" show-title="false"></div>
          </div>
        </div>
      </div>


      <!-- Classification Results -->
      <div class="card ">
        <div class="card-header">
          <div class="card-title">
            <button
              ng-disabled="project.latestClassificationJson.status && project.latestClassificationJson.status !== 'COMPLETED'"
              ng-init="classificationCollapsed = true"
              ng-click="classificationCollapsed = !classificationCollapsed" type="button"
              ng-class="[btn, btn-default, darkbuttons, grey, 'darken-4', 'project-buttons', md, {'md-keyboard-arrow-right' : classificationCollapsed, 'md-keyboard-arrow-down' : !classificationCollapsed}]">
              <span class="project-subtitle"
                ng-class="{'report-text' : project.latestClassificationJson.status === 'COMPLETED'}">Classification Results</span>
            </button>
            <span class="project-icon green pull-right"><span class="md md-notifications"></span></span>
            <span class="arrow-green pull-right"></span>

            <div class="clearfix"></div>

          </div>
        </div>


        <div ng-show="classificationCollapsed === false">
          <div class="card-content clearfix">
            <div classification classification-container="classificationContainer" branch="branch"
                 editable="false"></div>
          </div>

        </div>

      </div>

      <!-- Conflict Report Results -->
      <div class="card ">
        <div class="card-header">
          <div class="card-title">
            <!--ng-disabled="project.branchState !== 'DIVERGED' && project.branchState !== 'BEHIND' && project.branchState !== 'STALE'" -->
            <a ng-href="#/projects/project/{{project.key}}/conflicts">
            <button
              ng-disabled="project.branchState !== 'DIVERGED' && project.branchState !== 'BEHIND' && project.branchState !== 'STALE'"
              ng-init="conflictsCollapsed = true"
              type="button"
              ng-class="[btn, btn-default, darkbuttons, grey, 'darken-4', 'project-buttons', md, {'md-keyboard-arrow-right' : conflictsCollapsed, 'md-keyboard-arrow-down' : !conflictsCollapsed}]">
              <span class="project-subtitle"
                ng-class="{'report-text' : project.branchState === 'DIVERGED' || project.branchState === 'BEHIND' || project.branchState === 'STALE'}">Pull changes from Mainline Content</span>
            </button>
            </a>

            <span class="project-icon red pull-right"><span class="md md-sync-problem"></span></span>
            <span class="arrow-red pull-right"></span>

            <div class="clearfix"></div>

          </div>
        </div>

      </div>

      <div class="card">
        <!-- Tasks in project -->

        <div class="card-header">
          <div class="card-title">
            <button
              ng-disabled="!tasks.length || tasks.length === 0"
              ng-init="tasksCollapsed = true"
              ng-click="tasksCollapsed = !tasksCollapsed" type="button"
              ng-class="[btn, btn-default, darkbuttons, grey, 'darken-4', 'project-buttons', md, {'md-keyboard-arrow-right' : tasksCollapsed, 'md-keyboard-arrow-down' : !tasksCollapsed}]">
              <span class="project-subtitle"
                ng-class="{'report-text' : tasks.length > 0}">Project Tasks</span>
            </button>

            <span class="project-icon blue pull-right"><span class="md md-folder-open"></span></span>
            <span class="arrow-blue pull-right"></span>

            <div class="clearfix"></div>
          </div>
        </div>

        <div class="table-responsive white m-b-40" style="margin-right:0px;" ng-show="!tasksCollapsed">

          <table ng-table="taskTableParams" template-pagination="utilities/data-table-pager.html"
                 class="table table-full table-full-small">
            <tr ng-repeat="task in $data">

              <td data-title="'Name'" sortable="'summary'" filter="{ 'summary': 'text' }">
                <a class="tooltips-right"
                   ng-click="viewTask(task)"> {{task.summary}}<span>Open Task</span></a>
              </td>
              <td data-title="'Author'" sortable="'authorKey'" filter="{ 'author': 'text' }">
                {{task.assignee.displayName}}
              </td>
              <td data-title="'Reviewer'" sortable="'reviewerKey'" filter="{ 'reviewer' : 'text' }">
                {{task.reviewer.displayName}}

              </td>
              <td data-title="'Modified'" sortable="'updated'">
                {{task.updated | date: "yyyy-MM-dd"}}
              </td>
              <td data-title="'Classification'" sortable="'latestClassificationJson.status'">
                <a ng-href="#/tasks/task/{{task.projectKey}}/{{task.key}}/classify">
                  <button ng-show="task.latestClassificationJson != null"
                          title="{{task.latestClassificationJson.status}}" type="button"
                          ng-class="[{gray : task.latestClassificationJson.status === 'RUNNING'},
                          {red : task.latestClassificationJson.equivalentConceptsFound === true || task.latestClassification.status === 'FAILED'},
                           {amber : task.latestClassificationJson.redundantStatedRelationshipsFound === true},
                           {green : task.latestClassificationJson.redundantStatedRelationshipsFound === false && task.latestClassificationJson.equivalentConceptsFound === false}]"
                          class="btn btn-round btn-default lighten-2" tooltip="">
                    <span class="md md-notifications "></span>
                  </button>
                </a>

                <div class="ripple-wrapper"></div>
                </button>

              </td>

              <td data-title="'Validation'" sortable="'latestValidationStatus'">
                <a class="tooltips-left" ng-href="#/tasks/task/{{task.projectKey}}/{{task.key}}/validate">
                  <button ng-show="task.latestValidationStatus && task.latestValidationStatus !== 'NOT_TRIGGERED'"
                          type="button"
                          ng-class="[{hidden : project.validationStatus === 'NOT_TRIGGERED'},
                          {gray : task.latestValidationStatus === 'SCHEDULED'},
                          {red : task.latestValidationStatus === 'FAILED'},
                          {gray : task.latestValidationStatus === 'BUILDING'},
                          {green : task.latestValidationStatus === 'COMPLETED'}]"
                          class="btn btn-round btn-default lighten-2" tooltip="">
                    <div class="md md-school "></div>  <span ng-class="[
                          {hidden : project.validationStatus === 'NOT_TRIGGERED'},
                          {gray : task.latestValidationStatus === 'SCHEDULED'},
                          {red : task.latestValidationStatus === 'FAILED'},
                          {gray : task.latestValidationStatus === 'BUILDING'},
                          {green : task.latestValidationStatus === 'COMPLETED'}]">Validation {{task.latestValidationStatus}}</span>
                  </button>

                </a>
              </td>

              <td data-title="'Feedback'" sortable="'feedbackMessagesStatus'">
                <a ng-href="#/tasks/task/{{task.projectKey}}/{{task.key}}/feedback">

                  <button ng-if="task.feedbackMessagesStatus === 'read'" type="button"
                          class="btn btn-round btn-default pink darken-1" tooltip=""
                          title="View Feedback (All read)"><span class="md md-drafts"></span>

                    <div class="ripple-wrapper"></div>
                  </button>
                  <button ng-if="task.feedbackMessagesStatus === 'unread'" type="button"
                          class="btn btn-round btn-default pink darken-1" tooltip=""
                          title="View Feedback (Unread)"><span class="md md-email"></span>

                    <div class="ripple-wrapper"></div>
                  </button>
                </a>
              </td>
              <td data-title="'Status'" sortable="'status'">
                <span ng-if="task.status !== 'IN_REVIEW'" class="badge {{task.status}}"> {{task.status}} </span>
              </td>
              <td data-title="''" sortable="''">
                <button class="btn btn-default btn-round md md-edit blue tooltips-left tooltips-light normal-case" ng-click="editTask(task)"><span>Edit Task</span></button>
              </td>
            </tr>
          </table>

        </div>
      </div>

    </div>
  </div>
</div>

