<div ng-include src="'layout/header.html'"></div>
<div class="row no-gutter sca-container">
  <div ng-include style="background-color:#474747" class="sca-column col-lg-3 col-md-3 col-sm-3 dashboard-sidebar"
       src="'layout/sidebar.html'"></div>

  <div class="sca-column col-lg-9 col-md-9 col-sm-9">
    <div class="row">
      <div class="card bordered">
        <div class="card-header">
          <span class="card-title"><strong style="margin-right: 15px">{{project.title}}</strong> Lead: <span
            color="orange">Not yet implemented</span></span></span>
        </div>
        <div class="card-content">

          <!--- Validation Results -->
          <div class="card-title">
            <button ng-init="validationCollapsed = false" ng-click="validationCollapsed = !validationCollapsed"
                    type="button"
                    ng-class="[btn, btn-default, darkbuttons, grey, 'darken-4', 'toggle-buttons', md, {'md-keyboard-arrow-right' : validationCollapsed, 'md-keyboard-arrow-down' : !validationCollapsed}]"></button>
            Validation Results
          </div>

          <div ng-show="validationCollapsed === false">
            <div validation editable="false" show-title="false"></div>
          </div>

          <!-- Classification Results -->
         <div class="card-title">
            <button ng-init="classificationCollapsed = false"
                    ng-click="classificationCollapsed = !classificationCollapsed" type="button"
                    ng-class="[btn, btn-default, darkbuttons, grey, 'darken-4', 'toggle-buttons', md, {'md-keyboard-arrow-right' : classificationCollapsed, 'md-keyboard-arrow-down' : !classificationCollapsed}]"></button>
            Classification Results
          </div>

          <div class="card-title p-20" ng-show="classificationCollapsed === false">Not yet implemented.</div>

          <!-- Action Buttons -->
          <div class="card-action clearfix projecttasks">
            <div class="p-10 pull-right">
              <button class="btn btn-disabled btn-border" ng-click="promote()">Promote
                <div class="ripple-wrapper"></div>
              </button>
            </div>
            <div class="p-10 pull-right">
              <button class="btn btn-success btn-border" ng-click="classify()">Classify
                <div class="ripple-wrapper"></div>
              </button>
            </div>
            <div class="p-10 pull-right">
              <button class="btn btn-success btn-border" ng-click="validate()">Validate
                <div class="ripple-wrapper"></div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

