<section class="tables-data conflicts">

  <!-- for ng-table checkboxes -->

  <style>

  </style>


  <script type="text/ng-template" id="ng-table/headers/checkboxHeader.html">
    <input type="checkbox" ng-model="checkAll" ng-change="selectAll(checkAll)"
           id="select_all_to_review"
           name="filter-checkbox" value=""/>
  </script>

  <div class="row no-gutter no-padding">

    <div class="col-md-12 no-padding no-gutter">

      <!-- Conflicts Report: Sidebar -->
      <div ng-if="!hideSidebar" class="col-md-3 no-padding no-gutter">

        <div ng-if="!conflicts" class="alert alert-warning">Loading conflicts...</div>

        <div ng-if="conflicts" class="row no-padding no-gutter" style="text-align: center">
          <div class="col-md-12 conflicts-list-header no-padding">

            <!-- Hide sidebar control -->

            <h4>Conflicts <button type="button" ng-click="toggleSidebar()" class="md md-keyboard-arrow-left pull-right " title="Hide Sidebar"></button></h4></div>
        </div>

        <table show-filter="false" ng-table="conflictsTableParams" ng-if="conflicts"
               template-pagination="utilities/data-table-pager.html"
               class="table table-full table-full-small concepts-in-conflict" drop-channel="feedbackConcept">


          <tr ng-repeat="conflict in conflicts">

            <!-- Checkbox control -->
            <td class="col-checkbox conflist-list-check col-md-1" header="'ng-table/headers/checkboxHeader.html'">
              <input type="checkbox" ng-model="conflict.selected" ui-on-drop="">
            </td>

            <!-- Fsn -->
            <td class="col-concept col-md-10" data-title="'Concept'" sortable="'fsn'">
              {{conflict.fsn}}
            </td>

            <!-- Controls -->
            <td class="col-controls col-md-1">
              <button class="btn btn-round btn-default blue lighten-2" title=""
                      ng-disabled="conflict.viewed"
                      ng-click="viewConflict(conflict)"><span
                class="md md-edit "></span>
              </button>
            </td>


          </tr>
        </table>
      </div>
      <div class="no-padding no-gutter" ng-class="[{'col-md-12' : hideSidebar}, {'col-md-9' : !hideSidebar}]" ng-show="viewedMerges.length > 0">

        <div class="row no-padding no-gutter" style="text-align: center">
          <div class="col-md-4 project-header"><h4><button ng-show="hideSidebar" ng-click = "toggleSidebar()" type="button" class="md md-keyboard-arrow-right pull-left show-conflict-list " title="Show Sidebar"></button>Project Version</h4></div>
          <div class="col-md-4 merged-header"><h4>Merged Version</h4></div>
          <div class="col-md-4 task-header"><h4>Task Version</h4></div>
        </div>

        <div class="row no-padding no-gutter" ng-repeat="merge in viewedMerges">
          <div class="col-md-4">
            <div concept-edit concept="viewedMerges[$index].source"
                 branch="targetBranch" static="true" component-styles="merge.styles.source">
            </div>
          </div>

          <div class="col-md-4 merged-version">
            <div concept-edit concept="viewedMerges[$index].merged" branch="sourceBranch" static="false"
              component-styles="merge.styles.merged" save-function="conceptUpdateFunction(project, task, concept)"></div>

          </div>
          <div class="col-md-4 task-version">
            <div concept-edit concept="viewedMerges[$index].target"
                 branch="sourceBranch" static="true"
              component-styles="merge.styles.target">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>

