<div style="padding: 0px 15px 0px 15px" ng-controller="savedListCtrl">

  <div ng-show="savedList.items.length > 0">

    <div class="row no-gutter" style="margin-bottom: 15px;">

      <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><strong>Term</strong></div>
      <div class="col-lg-5 col-md-4 col-sm-12 col-xs-8"><strong>FSN</strong></div>
      <div class="col-lg-2 col-md-3 col-sm-12 col-xs-4"></div>
    </div>

    <div class="row no-gutter" ng-repeat="item in savedList.items" style="margin-bottom: 15px;">
      <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">{{$index +1}}</div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 saved-list-title no-padding" ui-draggable="true"
           drag="getConceptPropertiesObj(item)" drag-channel="conceptPropertiesObj" drop-channel=""
           style="word-wrap: break-word"> {{item.term}}
      </div>
      <div class="col-lg-5 col-md-4 col-sm-12 col-xs-8" style="word-wrap: break-word">{{item.concept.fsn}}</div>
      <div class="col-lg-2 col-md-3 col-sm-12 col-xs-4">
        <div class="savedlist-buttons">
          <button type="button" class="btn btn-default saved-list-buttons pull-left tooltips-left tooltips-light normal-case" title="Edit"
                  ng-click="selectItem(item)"
                  ng-disabled="item.editing"><i class="md md-add-circle"></i><span>Load into edit panel </span>
          </button>
          <button type="button" class="btn btn-default btn-default saved-list-buttons pull-left tooltips-left tooltips-light normal-case"
                  
                  ng-click="clone(item)" ><i class="md md-content-copy"></i> <span> Clone this concept </span>
          </button>
          <button type="button" class="btn btn-default btn-default saved-list-buttons pull-left tooltips-left tooltips-light normal-case"
                  title="Remove"
                  ng-click="removeItem(item)"><i class="md md-delete"></i><span> Remove from saved list </span>
          </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


