<div class="row no-gutter sca-container">
  <div class="sca-column col-lg-3 col-md-3 col-sm-3 dashboard-sidebar" ng-include
       src="'shared/sidebar/sidebar.html'"></div>
  
  <!---->
  <div class="sca-content col-lg-9 col-md-9 col-sm-9 dash-tables pull-right">
    <section class="tables-data">
      <div class="card">
        <div class="row card-title" style="margin-right:0px;">
          <div class="col-md-6">
            <h3 class="table-title p-t-20">My Projects</h3>
          </div>
          <div class="col-md-6">
            <div class="table-search">
              <input type="text" ng-model="tableParams.filter()['search']" class="form-control"
                     placeholder="Search My Projects" autofocus/>
            </div>
          </div>
        </div>
        <div class="table-responsive white" style="margin-right:0px;">
          <table ng-table="tableParams" template-pagination="utilities/data-table-pager.html"
                 class="table table-full table-full-small">
            <tr ng-repeat="project in $data" class="clickable-row">
              <td data-title="'Project Name'" sortable="'title'" filter="{ 'title': 'text' }"><a class="tooltips-right"
                ng-href="#/project/{{project.key}}">{{project.title}} <span>View Project Details</span></a></td>
              <td data-title="'Project Key'" sortable="'key'" filter="{ 'project': 'text' }"> {{project.key}} </td>
              <td data-title="'Project Lead'" sortable="'lead'" filter="{ 'lead': 'text' }"> {{project.projectLead.displayName}} </td>
              <td data-title="'Classification Results'" sortable="'latestClassificationJson.status'"><a ng-href="#/project/{{project.key}}">
                <button ng-show="project.latestClassificationJson"
                          type="button"
                          ng-class="[
                          {indicator_green : project.latestClassificationJson.redundantStatedRelationshipsFound === false && project.latestClassificationJson.equivalentConceptsFound === false && project.latestClassificationJson.equivalentConceptsFound === false && project.latestClassificationJson.status !== 'STALE'},
                           {indicator_green : project.latestClassificationJson.status === 'COMPLETED' && project.latestClassificationJson.redundantStatedRelationshipsFound === false && project.latestClassificationJson.equivalentConceptsFound === false && project.latestClassificationJson.equivalentConceptsFound === false && project.latestClassificationJson.status !== 'STALE'},
                            {indicator_green : project.latestClassificationJson.status === 'SAVED' && project.latestClassificationJson.redundantStatedRelationshipsFound === false && project.latestClassificationJson.equivalentConceptsFound === false && project.latestClassificationJson.equivalentConceptsFound === false && project.latestClassificationJson.status !== 'STALE'},
                          {indicator_blue : project.latestClassificationJson.status === 'RUNNING'},
                          {indicator_red : project.latestClassificationJson.equivalentConceptsFound === true && project.latestClassificationJson.status !== 'STALE' || project.latestClassification.status === 'FAILED' && project.latestClassificationJson.status !== 'STALE'},
                            {indicator_grey : project.latestClassificationJson.status === 'STALE'},
                           {indicator_amber : project.latestClassificationJson.redundantStatedRelationshipsFound === true && project.latestClassificationJson.status !== 'STALE'},
                           ]"
  class="btn btn-round btn-default pull-left tooltips-right normalcase ">
                <div class="md md-notifications "></div>
                <span >
                <div class="message_classification_{{project.latestClassificationJson.status}}">
                  <div ng-if="project.latestClassificationJson.equivalentConceptsFound === true && project.latestClassificationJson.redundantStatedRelationshipsFound === false && project.latestClassificationJson.status !== 'STALE'"> but equivalent relationships were found </div>
                  <div ng-if="project.latestClassificationJson.redundantStatedRelationshipsFound === true && project.latestClassificationJson.equivalentConceptsFound === false && project.latestClassificationJson.status !== 'STALE'"> but redundant stated relationships were found </div>
                  <div ng-if="project.latestClassificationJson.redundantStatedRelationshipsFound === true && project.latestClassificationJson.equivalentConceptsFound === true && project.latestClassificationJson.status !== 'STALE'"> but redundant stated relationships and equivalency errors were found </div>
                </div>
                </span> </button>
                </a></td>
              <td data-title="'Validation Results'" sortable="'validationStatus'"><a ng-href="#/project/{{project.key}}">
                <button ng-show="project.validationStatus && project.validationStatus !== 'Failed-to-retrieve'"
                       type="button"
                          ng-class="[{hidden : project.validationStatus === 'NOT_TRIGGERED'},
                          {indicator_blue : project.validationStatus === 'SCHEDULED'},
                          {indicator_blue : project.validationStatus === 'VALIDATING'},
                          {indicator_blue : project.validationStatus === 'BUILDING'},
                          {indicator_green : project.validationStatus === 'COMPLETED'},
                          {indicator_red : project.validationStatus === 'FAILED'}]"
                          class="btn btn-round btn-default pull-left lighten-1 tooltips-right">
                <div class="md md-school "></div>
                <span >
                <div class="message_validation_{{project.validationStatus}}"> </div>
                </span> </button>
                </a></td>
              <td data-title="'Status'" sortable="'branchState'"><span class="badge {{getBranchStateText(project)}}" ng-class="[{hideme : getBranchStateText(project) === '??'}]">{{getBranchStateText(project)}}</span></td>
            </tr>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>
