<div>
  <div role="tabpanel" class="m-15">
    <div class="row">
      <div class="pull-left p-5"><strong>Classification Report: </strong> {{getStatusText()}}</div>
<style>
.classification-report {border-bottom: #ddd solid 2px; background-color:#fafafa; margin-top:5px; border-top: 1px solid #F0F0F0;}
.classification-report .nav-tabs li a {padding:10px 15px; }
.nav-tabs li.redundant a:focus:hover, .nav-tabs li.redundant a:hover, .nav-tabs li.redundant.active a {color:#b3168c;    box-shadow: inset 0 -2px 0 #b3168c;     }
.nav-tabs li.ienp a:focus:hover, .nav-tabs li.ienp a:hover, .nav-tabs li.ienp.active a {color:#ef9800;    box-shadow: inset 0 -2px 0 #ef9800;     }
.nav-tabs li.equivalency a:focus:hover, .nav-tabs li.equivalency a:hover, .nav-tabs li.equivalency.active a {color:#ce394a;    box-shadow: inset 0 -2px 0 #ce394a;     }
</style>
      <div class="pull-right ">
        <button disabled class="btn btn-default green classify-buttons accept-classification" style="text-transform: none" ng-click="saveClassification()">Accept Classification Results</button>
        <button class="btn btn-default green classify-buttons download-classification" ng-click="downloadClassification()" style="text-transform: none">Download</button>

        <!-- if not editable, do not display validate and submit buttons. NOTE: Editable is a string, not a boolean -->
        <button ng-if="editable !== 'false'" class="btn btn-default green classify-buttons submit-validation" ng-click="startValidation()" style="text-transform: none">Validate</button>
        <button ng-if="editable !== 'false'" class="btn btn-default grey classify-buttons submit-review" style="text-transform: none">Submit For Review</button>
      </div>
    </div>

    <!-- Nav tabs -->
    <div class="row classification-report ">
      <ul style="display: inline; border-bottom: 0px;" class="nav nav-tabs" role="tablist" ng-init="actionTab=1">

        <li role="presentation" class="active classification"><a style="margin: 0px" ng-click="actionTab=1"
                                                                 aria-controls="home" role="tab"
                                                                 data-toggle="tab"> Classification Results</a></li>
        <li role="presentation" class="redundant"><a ng-click="actionTab=2" aria-controls="home" role="tab"
                                                     data-toggle="tab">Redundant Stated Relationships</a>
        </li>
        <li role="presentation" class="ienp"><a ng-click="actionTab=3" aria-controls="home" role="tab"
                                                data-toggle="tab">Inferred
                                                                  Not
                                                                  Previously
                                                                  Stated</a>
        </li>
        <li role="presentation" class="equivalency"><a ng-click="actionTab=4" aria-controls="home" role="tab"
                                                       data-toggle="tab">Equivalency Errors</a></li>
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="tab-content row m-t-10 col-sm-12 no-padding">

      <!-- changed relationships -->
      <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==1}">
        <div classification-report items="relationshipChanges" type="'changes'" editable="editable"></div>
      </div>

      <!-- redundant stated relationships -->
      <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==2}">
        <div classification-report items="redundantStatedRelationships" type="'redundant'" editable="editable"></div>
      </div>

      <!-- inferred not previously stated -->
      <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==3}">
        <div classification-report items="inferredNotPreviouslyStated" type="'inferred'" editable="editable"></div>
      </div>

      <!-- equivalent concept errors -->
      <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==4}">
        <div classification-report items="equivalentConcepts" type="'equivalence'" editable="editable"></div>
      </div>

    </div>
  </div>
  <div ng-if="displayModels" class="tab-content row m-t-10 col-sm-12 no-padding">
    <div class="col-md-6">
        <h6>Prior Inferred Form</h6>
        <div draw-model concept="modelConcept"></div>
    </div>
    <div class="col-md-6">
        <h6>Proposed Inferred Form ({{classificationContainer.completionDate | date: 'medium'}})</h6>
        <div draw-model concept="modelConceptAfter"></div>
    </div>
  </div>
</div>
