
<div class="no-padding col-md-12 sidebar-grey p-b-40">

  <!-- Nested node template -->
  <script type="text/ng-template" id="nodes_renderer.html">

    <div class="clearfix"> </div>
    <div class="m-t-3">

      <!-- collapsible control -->
      <span class="taxonomy-chevron" ng-class="getTreeNodeIcon(node, collapsed, node.focusParent)"
            ng-click="toggleNode(node, this, node.focusParent)"></span>

      <!-- primitive alert -->

	  <button ng-show="node.definitionStatus !== 'PRIMITIVE'"
              ng-disabled="isStatic"
              class="p-l-3 white-text primitive-buttons tooltips-bottom small-size-tooltip offset-tooltip-left"
              ng-class="[{'fully-defined-btn' : node.definitionStatus !== 'PRIMITIVE'}]">
        <div class="badge alert-warning ng-binding" ng-click="openConceptInformationModal(node)">≡&nbsp; </div>
        <span>Fully Defined</span></button>
      <button  ng-show="node.definitionStatus === 'PRIMITIVE'"
              ng-disabled="isStatic"
              class="p-l-3 primitive-buttons white-text tooltips-bottom small-size-tooltip offset-tooltip-left"
              ng-class="[{'primitive-btn' : node.definitionStatus === 'PRIMITIVE'}]">
        <div class="badge alert-warning ng-binding" ng-click="openConceptInformationModal(node)">&nbsp; </div>
        <span>Primitive</span></button>

      <!-- fsn (draggable) -->
      <span ui-draggable="true" ng-click="clickNode(node)" drag="getCompleteConcept(node)" drag-channel="completeConcept" ng-class="[{'highlight' : node.conceptId === concept.conceptId}]" drag-image="node.fsn">
        {{getTerm(node)}}
      </span>
    </div>
    <div>
      <ol ui-tree-nodes="" ng-model="node.children" data-nodrop-enabled  ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.children | orderBy: 'fsn'"
            ui-tree-node collapsed="{{node.conceptId === concept.conceptId ? false : node.isCollapsed}}" data-nodrag ng-include="'nodes_renderer.html'">
        </li>
      </ol>
    </div>

  </script>

  <!-- Loading progress bar -->
  <div ng-if="terminologyTree.length === 0 && !loadComplete" class="m-10"> Loading hierarchy...
    <div progressbar value="getProgress()" type="success" > </div>
  </div>
  <div ng-if="terminologyTree.length === 0 && loadComplete" class="m-10"> No hierarchy to display. </div>

  <!-- instantiate the tree -->
  <div ui-tree class="col-md-12 p-10 m-b-40" ng-if="terminologyTree.length > 0">
    <div class="clearfix"> </div>
    <ol ui-tree-nodes="" ng-model="terminologyTree" id="tree-root" data-nodrop-enabled>
      <li ng-repeat="node in terminologyTree | orderBy: 'fsn'"
          ui-tree-node collapsed="false" data-nodrag ng-include="'nodes_renderer.html'"></li>
    </ol>
  </div>
</div>
