<div id="configModal" class="clearfix sac-modal">    
  <div class="modal-header">
    <div ng-if="!new" class="col-md-8">
      <h4 class="modal-title" style="margin-left: -15px;">{{lineItem.title}}</h4>
    </div>
    <div ng-if="new" class="col-md-8" style="margin-left: -10px;">
      <h4 class="modal-title">Line Item:</h4>
      <select ng-if="!globalLineItems" name="select-choice" class="form-control"
                ng-options="lineItem.title for lineItem in lineItems"
                ng-model="lineItem"
                ng-change="selectLineItem(lineItem)"
                style="margin-top:10px;">
          <option value="" disabled selected>Please select a category</option>
      </select>
      <select ng-if="globalLineItems" name="select-choice" class="form-control"
                ng-options="lineItem.title for lineItem in globalLineItems"
                ng-model="lineItem"
                ng-change="selectLineItem(lineItem)"
                style="margin-top:10px;">
          <option value="" disabled selected>Please select a category</option>
      </select>
    </div>
    <div class="col-md-4">
      <button type="button" style="margin-right: -20px;" class="close btn" ng-click="close()" ><i class="md md-close"></i></button>
    </div>
  </div>
  <div class="modal-body">  
    <div class="col-md-12 no-padding release-notes">
        <div id="editor">
        </div>
    </div>
  </div>
  <div class="modal-footer clearfix" ng-style="readOnly && {'padding-top': '0px'}">    
    <div class="col-md-12 no-padding" ng-if="!readOnly">
      <div class="col-md-4">
        <button type="button" class=" col-md-12 btn btn-warning no-margin" ng-click="close()">Cancel </button>
      </div>
      <div ng-if="!lineItem.id" class="col-md-4">
      </div>
      <div ng-if="lineItem.id" class="col-md-4">
        <button type="button" class="col-md-12 btn btn-danger no-margin" ng-click="delete()">Delete</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="col-md-12 btn btn-info no-margin" ng-disabled="lineItemContentUnChanged || !lineItem.title" ng-click="save()">Save </button>
      </div>
    </div>
  </div>
</div>