<div id="configModal" class="clearfix sac-modal">    
  <div class="modal-header">
    <div class="col-md-8">
      <h4 class="modal-title">Release Notes Configuration</h4>
    </div>
    <div class="col-md-4">
      <button type="button" class="close btn" ng-click="close()" ><i class="md md-close"></i></button>
    </div>
  </div>
  <div class="modal-body scroll-if-height">
    <div class="col-md-12 no-padding">
      <!-- Tab panes -->
      <div class="tab-content col-md-12 no-padding m-t-10 ">
          <div class=" col-md-12 no-padding">
            <div class="form-group">              
              <div class="col-md-12">
                  <div ng-repeat="item in lineItems">
                        <div class="row" style="display:inline-flex; width:100%;">
                          <div style="margin-top: 10px; font-size: 16px; margin-left: 10px;">
                              {{item.title}}
                          </div>
                        </div>
                        <div ng-repeat="lineItem in item.children" class="col-md-6 no-padding" style="padding-left: 10px;">
                          <div class="row" style="display:inline-flex; width:100%;">
                            <div ng-click="toggleSac(criteria.id)" class="fa fa-check-square pull-right" style="color: grey; font-size:20px; padding-top:8px; padding-bottom:8px; padding-right:10px; cursor: default;"></div>
                            <div style="margin-top: 7px; font-size: 12px;">
                                {{lineItem.title}}
                            </div>
                          </div>
                        </div>
                    </div>
                  
                </div>
              </div>
          </div>
        </div>
      </div>      
    </div>
  <div class="modal-footer clearfix">
  <div class="card-action clearfix" ng-show="task.status === 'Promoted' || task.status === 'Completed'">
  <hr>
          <div class="pull-right">
            <button type="button" ng-disabled="disabled" class=" col-md-12 btn btn-info no-margin"
                ng-click="close()">Close Task Details </button>
          </div>
        </div>
      </br> </br>
    <div class="col-md-12 no-padding"> 
      <!-- Display create only if no task supplied -->
      <div class="col-md-4">
        <button type="button" class="col-md-12 btn btn-info no-margin"
                ng-click="saveSac()">Save </button>
      </div>
        <div class="col-md-4"></div>
      
      <!-- Cancel always appears -->
      <div class="col-md-4">
        <button type="button" ng-disabled="disabled" class=" col-md-12 btn btn-warning no-margin"
                ng-click="close()">Cancel </button>
      </div>
    </div>
  </div>
</div>
