<div class="row no-gutter sca-container ">
  <div style="background-color:#474747" class="sca-column col-lg-3 col-md-3 col-sm-3 dashboard-sidebar" ng-include
       src="'shared/sidebar/sidebar.html'"></div>

  <div class="sca-content col-lg-9 col-md-9 col-sm-9 pull-right no-gutter">

    <div class="row">
      <h3 class="table-title p-20">Template Manipulation</h3>
    </div>

    <div class="row">
      <select class="p-5" ng-model="templateMode" style="min-width:100px;">
        <option>Get</option>
        <option>Create</option>
        <option>Update</option>
      </select>

      <select ng-options="template.name as template.name for template in templates"
              style="min-width:300px;"
              ng-change="performAction()"
              ng-show="templateMode != 'Create'" class="p-5" ng-model="name"></select>

      <button class="p-5" class="btn btn-default btn-primary"
              ng-click="performAction()">Perform Action
      </button>
    </div>

    <div class="row p-t-10">
      <div class="col-md-4 m-r-10">
        <h4>Raw Text</h4>
        <textarea style="min-height:500px !important; max-height: 1500px !important;min-width:200px;width:100%"
                  ng-model="templateRaw"></textarea>
      </div>

      <div class="col-md-7">
        <h4>Formatted Text</h4>
        <textarea disabled id="prettyJson"
                  style="min-height:500px !important; max-height: 1500px !important;min-width:200px;width:100%"></textarea>
      </div>
    </div>

  </div>
</div>
