<div class="row no-gutter sca-container ">
  <div style="background-color:#474747" class="sca-column col-lg-3 col-md-3 col-sm-3 dashboard-sidebar" ng-include
       src="'shared/sidebar/sidebar.html'"></div>

  <div class="col-md-9">
    <h4>Template creation and update</h4>

    <select ng-model="templateMode">
      <option>Create</option>
      <option>Update</option>
    </select>

    <button class="btn btn-default btn-primary">Perform Action</button>

    <textarea style="min-height: 500px;" ng-model="templateJson"></textarea>

  </div>

</div>
