<section class="tables-data feedback">

  <!-- for ng-table checkboxes -->
  <!-- TODO:  Weird styling issues where nav navbar nav-header classes are getting drawn in
  resulting in elements being placed outside of the table (i.e. position: fixed)
  -->
  <script type="text/ng-template" id="checkboxheader.html">
    <input type="checkbox" ng-model="selectAllActive" ng-click="selectAll(selectAllActive)">
  </script>

  <script type="text/ng-template" id="filterHeader.html">
    <input type="text" ng-model="filter">

  </script>

  <script type="text/ng-template" id="ng-table/filters/hasFeedback.html">
    <input type="checkbox" ng-model="params.filter()[messages]" name="filter-age" value=""/> None
    <br/>
    <input type="radio" ng-model="params.filter()[name]" name="filter-age" value="50"/> 50 years
  </script>

  <style>
    .feedback-report-header {
    }

    .feedback-report .checkbox input[type=checkbox]:after, .feedback-report .checkbox-inline input[type=checkbox]:after, .feedback-report input[type=checkbox]:after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      margin-top: -2px;
      margin-right: 5px;
      border: 1px solid #DBDBDB;
      border-radius: 2px;
      transition: 240ms;
    }

    .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], label input[type=checkbox] {
      margin-left: -33px;
    }

    .col-checkbox {
      width: 10%;
    }

    .col-concept {
      width: 80%;
    }

    .col-controls {
      width: 10%;
      padding-right: 0px;
    }

    .h-45 {
      height: 45px;
    }

    .feedback table {
      min-height: 300px;
    }

    .add-shadow {
      box-shadow: inset 12px 0px 22px -14px #ABABAB;
      -webkit-box-shadow: inset 12px 0px 22px -14px #ABABAB;
      -moz-box-shadow: inset 12px 0px 22px -14px #ABABAB;
      -o-box-shadow: inset 12px 0px 22px -14px #ABABAB;
      background-color: #fff;
      padding: 5px !important;
    }

    input.feedback-search {
      margin: 0px 4%;
      padding: 5px 0px;
      width: 92%;
    }

    .feedback .btn-group, .feedback .btn-toolbar {
      margin-left: 0px;
    }

    .feedback .ta-scroll-window {
      margin-left: 0px;
    }
  </style>

  <!-- Concept Review -->

  <div class="col-md-12 clearfix">

    <div class="pull-left h-45">
      Reviewer: {{task.reviewer.displayName}}
    </div>

    <div class="switch pull-right p-r-10 h-45">
      <label>
        Review in Progress
        <input ng-disabled="role != 'REVIEWER'" type="checkbox" ng-model="reviewComplete"
               ng-change="changeReviewStatus(reviewComplete)">
        <span class="lever"></span>
        Review Complete
      </label>
    </div>
  </div>

  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 no-padding">

    <ul style="display: inline; border-bottom: 0px;" class="nav nav-tabs" role="tablist" ng-init="actionTab=1">

      <li role="presentation" class="active">
        <a style="margin: 0"
           ng-click="actionTab=1"
           aria-controls="home"
           role="tab"
           data-toggle="tab"> Concepts <span ng-show="role === 'REVIEWER'">to Review</span><span
          ng-show="role === 'AUTHOR'">with Feedback</span></a>
      </li>
      <li role="presentation" class="" ng-show="role === 'REVIEWER'"
        ><a style="margin: 0"
            ng-click="actionTab=2"
            aria-controls="home"
            role="tab"
            data-toggle="tab">Concepts Reviewed</a>
      </li>

      <!-- only appears if author row -->
      <div class="pull-right p-r-20" ng-if="role === 'AUTHOR'">
        <button class="btn btn-round btn-default pink lighten-2" title="Hide/show concepts without feedback"
                ng-click="toggleViewOnlyConceptsWithFeedback()"><span class="md md-email "></span>
        </button>
      </div>


      <!-- Only appears if reviewer role -->
      <div class="pull-right p-r-20" ng-if="role === 'REVIEWER'">
        <button class="btn btn-round btn-default black" title="Group selected concepts"
                ng-click="groupSelectedConcepts(actionTab)"><span class="md md-layers "></span>
        </button>
        <button class="btn btn-round btn-default pink lighten-2" title="Add feedback to selected concepts"
                ng-click="selectConceptsForFeedback()"><span class="md md-forum "></span>
        </button>
        <button class="btn btn-round btn-default green lighten-2" title="Mark selected as reviewed"
                ng-click="moveMultipleToOtherList(actionTab)"><span
          class="md md-playlist-add "></span></button>
        <button class="btn btn-round btn-default blue lighten-2" title="Show selected in edit panel"
                ng-click="addMultipleToEdit(actionTab)"><span class="md md-edit "></span>
        </button>
      </div>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content row m-t-10 col-sm-12 no-padding">

      <!-- Concepts To Review -->
      <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==1}">
        <table show-filter="true" ng-table="conceptsToReviewTableParams"
               template-pagination="utilities/data-table-pager.html"
               class="table table-full table-full-small clearfix">

          <tr ng-repeat="concept in conceptsToReviewViewed">

            <td class="col-checkbox" header="'ng-table/headers/checkboxToReview.html'">
              <input type="checkbox" ng-model="concept.selected">
            </td>

            <td class="col-concept" data-title="'Concept'" sortable="'term'"
                filter="{ 'term': 'text' }"
                ui-draggable="true" drag="concept"
                drag-channel="feedbackConcept" drop-channel="feedbackConcept"
                ui-on-drop="dropConcept(concept, $data, actionTab)">
              {{concept.term}}
            </td>

            <!-- Author Controls -->
            <td ng-if="role === 'AUTHOR'" class=" col-controls"
                data-title="'Read/Unread'" sortable="'read'">
              <div class="pull-right">

                <button class="btn btn-round btn-default purple lighten-2" title="Flagged for follow-up"
                        ng-show="concept.requestFollowup"><span
                  class="md md-flag"></span></button>
                <button ng-show="concept.messages.length > 0" class="btn btn-round btn-default pink lighten-2"
                        title="View/submit feedback for concept"
                        ng-click="selectConceptForFeedback(concept)"><span
                  ng-class="['md', {'md-email' : !concept.read}, {'md-drafts' : concept.read}] "></span>
                </button>
                <button class="btn btn-round btn-default blue lighten-2" title="" ng-click="addToEdit(concept.id)"><span
                  class="md md-edit "></span>
                </button>
              </div>
            </td>

            <!-- Reviewer Controls -->
            <td ng-if="role === 'REVIEWER'" class="col-controls">
              <button class="btn btn-round btn-default pink lighten-2" title="View/submit feedback for concept"
                      ng-click="selectConceptForFeedback(concept)"><span class="md md-forum "></span>
              </button>
              <button class="btn btn-round btn-default green lighten-2" title=""
                      ng-click="addToReviewed(concept)"><span
                class="md md-playlist-add "></span></button>
              <button class="btn btn-round btn-default blue lighten-2" title="" ng-click="addToEdit(concept.id)"><span
                class="md md-edit "></span>
              </button>
            </td>
          </tr>
        </table>
        <script type="text/ng-template" id="ng-table/headers/checkboxToReview.html">
          <input type="checkbox" ng-model="checkedToReview" ng-change="selectAll(actionTab, checkedToReview)"
                 id="select_all_to_review"
                 name="filter-checkbox" value=""/>
        </script>

      </div>

      <!-- Concepts Reviewed -->
      <div role="tabpanel" class="tab-pane"
           ng-class="{active: actionTab==2}"
           ng-show="role === 'REVIEWER'">

        <table show-filter="true" ng-table="conceptsReviewedTableParams"
               template-pagination="utilities/data-table-pager.html"
               class="table table-full table-full-small">
          <tr ng-repeat="concept in conceptsReviewedViewed">

            <td class="col-checkbox" header="'ng-table/headers/checkboxReviewed.html'">
              <input type="checkbox" ng-model="concept.selected">
            </td>

            <td class="col-concept" data-title="'Concept'" sortable="'term'" filter="{ 'term': 'text' }"
                ui-draggable="true" drag="concept"
                drag-channel="feedbackConcept" drop-channel="feedbackConcept"
                ui-on-drop="dropConcept(concept, $data, actionTab)">
              {{concept.term}}
            </td>

            <td class="col-controls">
              <button class="btn btn-round btn-default pink lighten-2" title=""><span class="md md-forum "></span>
              </button>
              <button class="btn btn-round btn-default green lighten-2" title="Return to Review"
                      ng-click="returnToReview(concept)"><span
                class="md md-playlist-add "></span></button>
              <button class="btn btn-round btn-default blue lighten-2" title="Show in edit panel"
                      ng-click="addToEdit(concept.id)"><span class="md md-edit "></span>
              </button>
            </td>
          </tr>
        </table>
        <script type="text/ng-template" id="ng-table/headers/checkboxReviewed.html">
          <input type="checkbox" ng-model="checkedReviewed" ng-change="selectAll(actionTab, checkedReviewed)"
                 id="select_all_reviewed"
                 name="filter-checkbox" value=""/>
        </script>
        <script type="text/ng-template" id="ng-table/headers/searchReviewed.html">
          <input type="text" ng-model="conceptsReviewedTableParams.filter()['search']" class="form-control"
                 placeholder="Search" autofocus/>
        </script>
      </div>
    </div>

  </div>

  <!-- Feedback List Panel -->
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 add-shadow" ng-show="subjectConcepts.length > 0">
    <div class="row  ">
      <ul style="display: inline; border-bottom: 0px;" class="nav nav-tabs" role="tablist" ng-init="actionTab=1">

        <li role="presentation" class="active"><a style="margin: 0px" ng-click="actionTab=1"
                                                  aria-controls="home" role="tab"
                                                  data-toggle="tab">Feedback</a></li>

      </ul>
    </div>

    <!-- Tab panes -->
    <div class="tab-content row m-t-10 col-sm-12 no-padding">

      <!-- Concepts To Review -->
      <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==1}">

        <div ng-repeat="feedback in viewedFeedback | orderBy: getDateFromFeedback : true">
          <button class="btn btn-round btn-default purple lighten-2" title="Reviewer requested follow-up"
                  ng-show="feedback.feedbackRequested"><span
            class="md md-flag"></span></button>
          Feedback received {{feedback.creationDate | date : 'short'}} from {{feedback.fromUsername}}:
          <p compile-html="feedback.messageHtml"></p>

          <hr>
        </div>
      </div>
    </div>
  </div>


  <!-- Feedback Editor Panel -->
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 no-padding add-shadow"
       ng-show="subjectConcepts.length > 0">


    <div class="col-md-12 no-padding">
      <input type='text' class="feedback-search " placeholder='Search concepts...'
             ng-model='conceptFilter'
             ng-model-options='{ debounce: 1000 }'
             ng-change='openSearchModal(conceptFilter)'>
    </div>


    <text-angular ui-on-drop="dropConceptIntoEditor($data)" drop-channel="feedbackConcept"
                  ng-model="htmlVariable"
                  ta-toolbar="[['bold','italics', 'ul', 'ol', 'redo', 'undo', 'taxonomy']]"></text-angular>

    <div class="col-md-12 no-padding p-10">
      <div class="pull-left" ng-show="role === 'REVIEWER'">
        Request follow-up <input type="checkbox" ng-model="requestFollowup">
      </div>

      <div class="pull-right ">
        <button class="btn btn-default grey classify-buttons submit-review" ng-click="submitFeedback(requestFollowup)"
                style="text-transform: none">Submit Feedback
        </button>
        <button class="btn btn-default amber classify-buttons submit-validation" ng-click="startValidation()"
                style="text-transform: none">Clear
        </button>

      </div>
    </div>


    <div class="row" ng-show="subjectConcepts.length > 0">
      <div class="col-12">
        Feedback will be submitted for concepts:
        <ul>
          <li ng-repeat="subjectConcept in subjectConcepts">{{subjectConcept.term}}</li>
        </ul>
      </div>
    </div>

    <hr>
    <input ng-model="htmlVariable" class="" style="width: 100%; height: 800px">
  </div>
</section>

