<section class="tables-data">

  <!-- for ng-table checkboxes -->
  <!-- TODO:  Weird styling issues where nav navbar nav-header classes are getting drawn in
  resulting in elements being placed outside of the table (i.e. position: fixed)
  -->
  <script type="text/ng-template" id="checkboxheader.html">
    <input type="checkbox" ng-model="selectAllActive" ng-click="selectAll(selectAllActive)">
  </script>

  <script type="text/ng-template" id="filterHeader.html">
    <input type="text" ng-model="filter">

  </script>

  <style>
    .feedback-report-header {
    }

    .feedback-report .checkbox input[type=checkbox]:after, .feedback-report .checkbox-inline input[type=checkbox]:after, .feedback-report input[type=checkbox]:after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      margin-top: -2px;
      margin-right: 5px;
      border: 1px solid #DBDBDB;
      border-radius: 2px;
      transition: 240ms;
    }

    .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], label input[type=checkbox] {
      margin-left: -33px;
    }

    .col-checkbox {
      width: 10%;
    }

    .col-concept {
      width: 80%;
    }

    .col-controls {
      width: 10%;
      padding-right: 0px;
    }

    .h-45 {
      height: 45px;
    }

  </style>
  <div class="row no-gutter">


    <!-- Concept Review -->
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12 no-padding">

      <div class="row classification-report ">
        <ul style="display: inline; border-bottom: 0px;" class="nav nav-tabs" role="tablist" ng-init="actionTab=1">

          <li role="presentation" class="active"><a style="margin: 0px" ng-click="actionTab=1"
                                                    aria-controls="home" role="tab"
                                                    data-toggle="tab"> Concepts To Review</a></li>
          <li role="presentation" class=""><a ng-click="actionTab=2" aria-controls="home" role="tab"
                                              data-toggle="tab">Concepts Reviewed</a>
          </li>


          <div class="pull-right p-r-20">
            <button class="btn btn-round btn-default black" title="Group selected concepts" ng-click="groupSelectedConcepts(actionTab)"><span class="md md-layers "></span>
            </button>
            <button class="btn btn-round btn-default pink lighten-2" title=""><span class="md md-forum "></span>
            </button>
            <button class="btn btn-round btn-default green lighten-2" title="Mark Selected as Reviewed" ng-click="addMultipleToReviewed()"><span
              class="md md-playlist-add "></span></button>
            <button class="btn btn-round btn-default blue lighten-2" title="Show selected in edit panel" ng-click="addMultipleToEdit()"><span class="md md-edit "></span>
            </button>
          </div>
        </ul>
      </div>

      <!-- Tab panes -->
      <div class="tab-content row m-t-10 col-sm-12 no-padding">

        <!-- Concepts To Review -->
        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==1}">

          <table show-filter="true" ng-table="conceptsToReviewTableParams" template-pagination="utilities/data-table-pager.html"
                 class="table table-full table-full-small">

            <tr ng-repeat="concept in conceptsToReviewViewed">
              <td class="col-checkbox" header="'ng-table/headers/checkbox.html'">
                <input type="checkbox" ng-model="concept.selected">
              </td>

              <td class="col-concept" data-title="'Concept'" sortable="'term'"
                  ui-draggable="true" drag="concept"
                  drag-channel="feedbackConcept" drop-channel="feedbackConcept"
                  ui-on-drop="dropConcept(concept, $data, actionTab)">
                {{concept.term}}
              </td>

              <td class="col-controls" header="'ng-table/headers/search.html'">
                <button class="btn btn-round btn-default pink lighten-2" title=""><span class="md md-forum "></span>
                </button>
                <button class="btn btn-round btn-default green lighten-2" title="" ng-click="addToReviewed(concept)"><span
                  class="md md-playlist-add "></span></button>
                <button class="btn btn-round btn-default blue lighten-2" title="" ng-click="addToEdit(concept)"><span class="md md-edit "></span>
                </button>
              </td>
            </tr>
          </table>
          <script type="text/ng-template" id="ng-table/headers/checkbox.html">
            <input type="checkbox" ng-model="checkboxes.checked" ng-change="checkAll()" id="select_all" name="filter-checkbox" value="" />
          </script>
          <script type="text/ng-template" id="ng-table/headers/search.html">
            <input type="text" ng-model="conceptsToReviewTableParams.filter()['search']" class="form-control"
                     placeholder="Search" autofocus/>
          </script>
        </div>

        <!-- Concepts Reviewed -->
        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==2}">

          <table show-filter="true" ng-table="conceptsReviewedTableParams" template-pagination="utilities/data-table-pager.html"
                 class="table table-full table-full-small">
            <tr ng-repeat="concept in conceptsReviewedViewed">

              <td class="col-checkbox" header="'ng-table/headers/checkbox.html'">
                <input type="checkbox" ng-model="concept.selected">
              </td>

              <td class="col-concept" data-title="'Concept'" sortable="'term'"
                  ui-draggable="true" drag="concept"
                  drag-channel="feedbackConcept" drop-channel="feedbackConcept"
                  ui-on-drop="dropConcept(concept, $data, actionTab)">
                {{concept.term}}
              </td>

              <td class="col-controls" header="'ng-table/headers/search.html'">
                <button class="btn btn-round btn-default pink lighten-2" title=""><span class="md md-forum "></span>
                </button>
                <button class="btn btn-round btn-default green lighten-2" title="Add to feedback" ng-click="addToReviewed()"><span
                  class="md md-playlist-add " ng-click="addToReviewed()"></span></button>
                <button class="btn btn-round btn-default blue lighten-2" title="Show in edit panel" ng-click="addToEdit(concept)"><span class="md md-edit "></span>
                </button>
              </td>
            </tr>
          </table>
          <script type="text/ng-template" id="ng-table/headers/searchReviewed.html">
            <input type="text" ng-model="conceptsReviewedTableParams.filter()['search']" class="form-control"
                     placeholder="Search" autofocus/>
          </script>
        </div>
      </div>

    </div>


    <!-- Feedback Panel -->
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 no-padding">
      <div class="row classification-report h-45">

        <div class="switch pull-right p-t-5 p-r-10">
          <label>
            Review in Progress
            <input type="checkbox" ng-model="reviewComplete" ng-change="changeReviewStatus(reviewComplete)">
            <span class="lever"></span>
            Review Complete
          </label>
        </div>
      </div>

      <div class="m-t-20" style="width:100%">
        <input type='text' style="width:90%" placeholder='Search concepts...'
               ng-model='conceptFilter'
               ng-model-options='{ debounce: 1000 }'
               ng-change='openSearchModal(conceptFilter)'>
      </div>


      <text-angular ng-model="htmlVariable" ta-toolbar="[['bold','italics', 'ul', 'ol', 'redo', 'undo', 'taxonomy']]"></text-angular>
    </div>
  </div>
</section>

