<div id="configModal" class="clearfix sac-modal">    
  <div class="modal-header">
    <div class="col-md-8">
      <h4 class="modal-title">Service Acceptance Configuration</h4>
    </div>
    <div class="col-md-4">
      <ul class="nav nav-tabs sidebar-tabs col-md-10 no-padding" role="tablist" ng-init="actionTab=1">
        <li role="presentation" class="no-padding active" ng-click="actionTab=1" >
          <a ng-click="actionTab=1" aria-controls="home" role="tab" data-toggle="tab" class="tooltips-bottom tooltips-light normal-case">
          <div class="md md-event-note"></div>
          <span>Project Criteria</span>
          </a>
        </li>
        <li role="presentation" class="no-padding" ng-click="actionTab=2" >
          <a ng-click="actionTab=2" aria-controls="home" role="tab" data-toggle="tab" class="tooltips-bottom tooltips-light large-size-tooltip normal-case">
          <div class="md md-format-list-bulleted"></div>
          <span>Task Criteria</span>
          </a>
        </li>
      </ul>
      <button type="button" class="close btn" ng-click="close()" ><i class="md md-close"></i></button>
    </div>
  </div>
  <div class="modal-body scroll-if-height">
    <div class="col-md-12 no-padding">
      <!-- Tab panes -->
      <div class="tab-content col-md-12 no-padding m-t-10 ">
        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab===1}">
          <div class=" col-md-12 no-padding">
            <div class="form-group">              
              <div class="col-md-12">
                <div class="row" style="display:inline-flex; width:100%;">
                    <div>
                      <h4>Project Criteria</h4>
                    </div>
                </div>
                <div class="col-md-6 no-padding">
                  <div class="row" style="display:inline-flex; width:100%;">                    
                    <div style="margin-top: 10px; font-size: 16px;">
                        Automated Criteria
                    </div>
                  </div>
                  <div ng-repeat="criteria in criteriaConfig | filter: { authoringLevel: 'PROJECT', manual: false } | orderBy : ['order','label']" class="row" style="display:inline-flex; width:100%;">
                    <div ng-if="criteria.mandatory" ng-click="toggleSac(criteria.id)" class="fa fa-check-square pull-right" style="color: grey; font-size:18px; padding-top:8px; padding-bottom:8px; padding-right:10px; cursor: default;" disabled></div>
                    <div ng-if="!criteria.mandatory && criteria.selected" ng-click="toggleSac(criteria.id)" class="fa fa-check-square pull-right" style="color: green; font-size:18px; padding-top:8px; padding-bottom:8px; padding-right:10px;"></div>
                    <div ng-if="!criteria.mandatory && !criteria.selected" ng-click="toggleSac(criteria.id)" class="md-check-box-outline-blank pull-right" style="color: grey; font-size:18px; padding-top:8px; padding-bottom:8px; padding-right:10px; margin-left: -1px;"></div>
                    <div style="margin-top: 7px; font-size: 12px;">
                        {{criteria.label}}
                    </div>
                </div>
                </div>
                <div class="col-md-6 no-padding" style="padding-left: 10px;">
                  <div class="row" style="display:inline-flex; width:100%;">                    
                    <div style="margin-top: 10px; font-size: 16px;">
                        Manual Criteria
                    </div>
                  </div>
                  <div ng-repeat="criteria in criteriaConfig | filter: { authoringLevel: 'PROJECT', manual: true } | orderBy : ['order','label']" class="row" style="display:inline-flex; width:100%;">
                    <div ng-if="criteria.mandatory" ng-click="toggleSac(criteria.id)" class="fa fa-check-square pull-right" style="color: grey; font-size:20px; padding-top:8px; padding-bottom:8px; padding-right:10px; cursor: default;" disabled></div>
                    <div ng-if="!criteria.mandatory && criteria.selected" ng-click="toggleSac(criteria.id)" class="fa fa-check-square pull-right" style="color: green; font-size:18px; padding-top:8px; padding-bottom:8px; padding-right:10px;"></div>
                    <div ng-if="!criteria.mandatory && !criteria.selected" ng-click="toggleSac(criteria.id)" class="md-check-box-outline-blank pull-right" style="color: grey; font-size:18px; padding-top:8px; padding-bottom:8px; padding-right:10px; margin-left: -1px;"></div>
                    <div style="margin-top: 7px; font-size: 12px;">
                        {{criteria.label}}
                    </div>
                  </div>
                </div>
              </div>              
          </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab===2}">
          <div class=" col-md-12 no-padding">
            <div class="form-group">              
              <div class="col-md-12">
                  <div class="row" style="display:inline-flex; width:100%;">
                      <div>
                        <h4>Task Criteria</h4>
                      </div>
                  </div>
                  <div class="col-md-6 no-padding">
                    <div class="row" style="display:inline-flex; width:100%;">                      
                      <div style="margin-top: 10px; font-size: 16px;">
                          Automated Criteria
                      </div>
                    </div>
                    <div ng-repeat="criteria in criteriaConfig | orderBy : ['order','label']" class="row" style="display:inline-flex; width:100%;" ng-if="criteria.authoringLevel == 'TASK' && (!criteria.manual || criteria.id.includes('task-review-changes')) && !criteria.id.includes('task-validation-clean')">
                      <div ng-if="criteria.mandatory" ng-click="toggleSac(criteria.id)" class="fa fa-check-square pull-right" style="color: grey; font-size:18px; padding-top:8px; padding-bottom:8px; padding-right:10px; cursor: default;" disabled></div>
                      <div ng-if="!criteria.mandatory && criteria.selected" ng-click="toggleSac(criteria.id)" class="fa fa-check-square pull-right" style="color: green; font-size:18px; padding-top:8px; padding-bottom:8px; padding-right:10px;"></div>
                      <div ng-if="!criteria.mandatory && !criteria.selected" ng-click="toggleSac(criteria.id)" class="md-check-box-outline-blank pull-right" style="color: grey; font-size:18px; padding-top:8px; padding-bottom:8px; padding-right:10px; margin-left: -1px;"></div>
                      <div style="margin-top: 7px; font-size: 12px;">
                          {{criteria.label}}
                      </div>
                  </div>
                  </div>
                  <div class="col-md-6 no-padding" style="padding-left: 10px;">
                    <div class="row" style="display:inline-flex; width:100%;">                      
                      <div style="margin-top: 10px; font-size: 16px;">
                          Manual Criteria
                      </div>
                    </div>
                    <div ng-repeat="criteria in criteriaConfig | orderBy : ['order','label']" class="row" style="display:inline-flex; width:100%;" ng-if="criteria.authoringLevel == 'TASK' && (criteria.manual && !criteria.id.includes('task-review-changes'))">
                      <div ng-if="criteria.mandatory" ng-click="toggleSac(criteria.id)" class="fa fa-check-square pull-right" style="color: grey; font-size:18px; padding-top:8px; padding-bottom:8px; padding-right:10px; cursor: default;" disabled></div>
                      <div ng-if="!criteria.mandatory && criteria.selected" ng-click="toggleSac(criteria.id)" class="fa fa-check-square pull-right" style="color: green; font-size:18px; padding-top:8px; padding-bottom:8px; padding-right:10px;"></div>
                      <div ng-if="!criteria.mandatory && !criteria.selected" ng-click="toggleSac(criteria.id)" class="md-check-box-outline-blank pull-right" style="color: grey; font-size:18px; padding-top:8px; padding-bottom:8px; padding-right:10px; margin-left: -1px;"></div>
                      <div style="margin-top: 7px; font-size: 12px;">
                          {{criteria.label}}
                      </div>
                    </div>
                  </div>                      
              </div>
          </div>
          </div>
        </div>
        
      </div>      
    </div>
  </div>
  <div class="modal-footer clearfix">
  <div class="card-action clearfix" ng-show="task.status === 'Promoted' || task.status === 'Completed'">
  <hr>
          <div class="pull-right">
            <button type="button" ng-disabled="disabled" class=" col-md-12 btn btn-info no-margin"
                ng-click="close()">Close Task Details </button>
          </div>
        </div>
      </br> </br>
    <div class="col-md-12 no-padding"> 
      <!-- Display create only if no task supplied -->
      <div class="col-md-4">
        <button type="button" class="col-md-12 btn btn-info no-margin"
                ng-click="saveSac()">Save </button>
      </div>
        <div class="col-md-4"></div>
      
      <!-- Cancel always appears -->
      <div class="col-md-4">
        <button type="button" ng-disabled="disabled" class=" col-md-12 btn btn-warning no-margin"
                ng-click="close()">Cancel </button>
      </div>
    </div>
  </div>
</div>
