<div class="editpanel sca-column fixed-height" ng-class="getLayoutWidths('sidebar')">
<aside class="sidebar-bg col-md-12 no-padding" ng-controller="sidebarEditCtrl">

  <!-- show if sidebar not hidden -->
  <div role="tabpanel no-padding">

    <!-- Nav tabs -->
      <ul class="nav nav-tabs sidebar-tabs col-md-12 no-padding"
        role="tablist">
      <li role="presentation" ng-class="{'active' : actionTab === 1}"><a ng-click="setActiveTab(1)" aria-controls="home"
                                 role="tab"
                                 data-toggle="tab" class="tooltips-bottom tooltips-light small-size-tooltip normal-case">
        <div class="md md-my-library-books"></div>
        <span>Taxonomy</span></a></li>
      <li role="presentation" ng-class="{'active' : actionTab === 2}"><a ng-click="setActiveTab(2)" aria-controls="home" role="tab" data-toggle="tab"
                                          class="tooltips-bottom tooltips-light normal-case">
        <div class="fa fa-search"></div>
        <span>Search</span>
      </a></li>
      <li role="presentation" ng-class="{'active' : actionTab === 3}"><a ng-click="setActiveTab(3)" aria-controls="home" role="tab" data-toggle="tab" ui-on-drop="dropConcept($data)" drop-channel="completeConcept"
                                 class="tooltips-bottom tooltips-bottom normal-case">
        <div class="fa fa-list-ol"></div>
        <span>Saved List</span></a></li>

         <li role="presentation"  ng-class="{'active' : actionTab === 6}"><a ng-click="setActiveTab(6); viewReview()"  ng-hide="task.status === 'New'"
                                   class="tooltips-bottom tooltips-light large-size-tooltip normal-case">

        <div class="fa fa-envelope"></div>
        <span ng-if="actionTab !== 6">Switch to Feedback View</span>
        <span ng-if="actionTab === 6">Feedback list</span></a>
        <a ng-show="task.status === 'New'" class="tooltips-bottom tooltips-light normal-case">

        <div class="fa fa-envelope"></div>
        <span>Review Not Available </span></a></li>

        <li role="presentation"  ng-class="{'active' : actionTab === 5}" ng-if="!hideBatch && templates.length > 0 && $parent.isOwnTask"><a ng-click="setActiveTab(5);viewBatch();" aria-controls="home" role="tab" data-toggle="tab"
                                                class="tooltips-btm tooltips-light normal-case">

        <div class="fa fa-file-excel-o"></div>
        <span>Create Batch</span></a></li>

      <li role="presentation" ng-class="{'active' : actionTab === 4}"><a ng-click="setActiveTab(4)" aria-controls="home" role="tab" data-toggle="tab"
                                                class="tooltips-bottom tooltips-light normal-case">
        <div class="fa fa-info-circle"></div>
        <span>Task Details</span></a></li>





    </ul>
    <!-- Tab panes -->
    <div class="tab-content col-md-12 no-padding  ">
      <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab===1}" ng-show="actionTab === 1">
        <div ng-include="'shared/taxonomy/taxonomy.html'"></div>
      </div>
      <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab===2}" ng-show="actionTab === 2">
        <div ng-include="'shared/search/search.html'"></div>
      </div>
      <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab===3}" ng-show="actionTab === 3">
        <div ng-include="'shared/savedList/savedList.html'"></div>
      </div>
      <div role="tabpanel" class="tab-pane " ng-class="{active: actionTab===4}" ng-show="actionTab === 4">
        <div ng-include="'shared/task-detail/taskDetail.html'"></div>
      </div>
      <div role="tabpanel" class="tab-pane " ng-if="!hideBatch" ng-class="{active: actionTab===5}" ng-show="actionTab === 5">
        <div ng-include="'shared/batch-editing/upload-batch.html'"></div>
      </div>
      <div role="tabpanel" class="tab-pane"  ng-class="{active: actionTab===6}" ng-show="actionTab === 6">
        <div ng-include="'shared/feedback/feedback-list.html'"></div>
      </div>

    </div>
  </div>

  <div class="edit-bar"></div>
</aside>
</div>
